<template>
  <div v-loading="productCreating" class="form-container">
    <el-form
      ref="productForm"
      :rules="rules"
      :model="product"
      label-position="left"
      label-width="150px"
      style="max-width: 500px"
    >
      <el-form-item :label="$t('product.name')" prop="name">
        <el-input v-model="product.name" placeholder="Enter Product Name" />
      </el-form-item>
      <el-form-item :label="$t('product.category_id')" prop="category_id">
        <el-select v-model="product.category_id" placeholder="Select">
          <el-option
            v-for="category in categories"
            :key="category.id"
            :label="category.name"
            :value="category.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('product.brand_id')" prop="brand_id">
        <el-select v-model="product.brand_id" placeholder="Select">
          <el-option
            v-for="brand in brands"
            :key="brand.id"
            :label="brand.name"
            :value="brand.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('product.unit_id')" prop="unit_id">
        <el-select v-model="product.unit_id" placeholder="Select">
          <el-option
            v-for="unit in units"
            :key="unit.id"
            :label="unit.name"
            :value="unit.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item :label="$t('product.code')" prop="code">
        <el-input v-model="product.code" placeholder="Type or generate code" />
        <el-button @click="generate">Generate Code</el-button>
      </el-form-item>
      <el-form-item :label="$t('product.sku')" prop="sku">
        <el-input v-model="product.sku" placeholder="Enter SKU" />
      </el-form-item>
      <el-form-item label="Purchase Price" prop="purchase_price">
        <el-input v-model="product.purchase_price" placeholder="Purchase Price" />
      </el-form-item>
      <el-form-item label="Sale Price" prop="price">
        <el-input
          v-model.number="product.price"
          placeholder="Please enter product price"
          type="text"
        />
      </el-form-item>
      <el-form-item label="Discount Price" prop="discount_price">
        <el-input v-model="product.discount_price" placeholder="Enter Discount Price" />
      </el-form-item>
      <el-form-item :label="$t('product.alert_quantity')" prop="alert_quantity">
        <el-input v-model="product.alert_quantity" placeholder="Enter Alert Quantity" />
      </el-form-item>
      <el-form-item :label="$t('product.description')" prop="description">
        <el-input
          v-model="product.description"
          placeholder="Please Enter Description"
        />
      </el-form-item>
      <el-form-item :label="$t('product.image')" prop="image">
        <input type="file" @change="imageChanged($event)" />
      </el-form-item>

      <el-form-item v-if="!imgurl" :label="$t('product.selected_image')">
        <img
          :src="imgURL + product.image"
          height="200px"
          width="200px"
          @click="copySRC"
        />
      </el-form-item>
      <el-form-item
        v-if="imgurl"
        class="preview"
        :label="$t('product.selected_image')"
      >
        <img :src="imgurl" />
      </el-form-item>
    </el-form>

    <div slot="footer" class="dialog-footer">
      <el-button @click="closeDialogModal">
        {{ $t('table.cancel') }}
      </el-button>
      <el-button type="primary" @click="createProduct()">
        {{ $t('table.confirm') }}
      </el-button>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const productResource = new Resource('products');
export default {
  props: ['product', 'dialogFormVisible'],
  data() {
    return {
      productCreating: false,
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      categories: [],
      brands: [],
      units: [],
      image: '',
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        code: [
          {
            required: true,
            message: 'Product Code is required',
            trigger: 'blur',
          },
        ],
        price: [
          {
            required: true,
            message: 'Price is required',
            trigger: 'blur',
          },
          { type: 'number', message: 'price must be a number' },
        ],

        category_id: [
          {
            required: true,
            message: 'Category Number is required',
            trigger: 'blur',
          },
        ],
        brand_id: [
          {
            required: true,
            message: 'Brand Number is required',
            trigger: 'blur',
          },
        ],
        unit_id: [
          {
            required: true,
            message: 'Unit Number is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  
  created() {
    this.getModelData();
  },
  methods: {
    async getModelData() {
      const models = [
        { name: 'category', model: 'Category' },
        { name: 'brand', model: 'Brand' },
        { name: 'unit', model: 'Unit' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.categories = response.data[0].category;
        this.brands = response.data[1].brand;
        this.units = response.data[2].unit;
      });
    },
    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },

    generate() {
      this.product.code = Date.now();
    },
    closeDialogModal(){
      this.$emit('closeModal');
    },
    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/products/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },

    createProduct() {
      this.$refs['productForm'].validate((valid) => {
        if (valid) {
          this.product.image = this.image;
          this.productCreating = true;
          productResource
            .store(this.product)
            .then((response) => {
              this.$message({
                message: 'New product has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewProduct();
              this.closeDialogModal();
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.productCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleFilter() {
      this.$emit('handleFilter');
    },
    resetNewProduct() {
      this.product.name = '';
      this.product.image = '';
      this.product.code = '';
      this.product.sku = '';
      this.product.category_id = '';
      this.product.brand_id = '';
      this.product.unit_id = '';
      this.product.price = '';
      this.product.purchase_price = '';
      this.product.discount_price = '';
      this.product.alert_quantity = '';
      this.product.description = '';
    },
  },
};
</script>

<style>
</style>