<template>
  <div>
    <el-form-item :label="$t('product.meta')">
      <el-row
        :gutter="20"
      >
        <el-col :span="9">
          <el-input v-model="pmeta.key" placeholder="Meta Name" />
        </el-col>
        <el-col :span="9">
          <el-input v-model="pmeta.value" placeholder="Meta Value" />
        </el-col>
        <el-col :span="2">
          <el-button
            type="danger"
            icon="el-icon-delete"
            class="el-button--small"
            @click.prevent="removeMeta(pmeta, pmeta.id)"
          />
        </el-col>
      </el-row>
    </el-form-item>
  </div>
</template>
<script>
export default {
  props: ['pmeta', 'productMetas'],
  methods: {
    removeMeta(item, id) {
      var index = this.productMetas.indexOf(item);
      if (index > 0) {
        this.productMetas.splice(index, 1);
        this.deleteProductMeta(id);
      }
    },
    deleteProductMeta(id){
      axios.delete('/api/product-meta/delete/' + id)
        .then(response => {
          this.$message({
            type: 'success',
            message: 'Project Type Meta Deleted',
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
  },
};
</script>
