<template>
  <el-card v-if="product.id" class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <el-tabs v-model="activeActivity" @tab-click="handleClick">

      <el-tab-pane id="view" v-loading="updating" label="View" name="first">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="product.name" />
          </el-form-item>
          <el-form-item label="Category">
            <el-select
              v-model="product.category_id"
              class="filter-item el-select el-select--medium"
            >
              <el-option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
                class="el-input__inner"
                :label="category.name"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Brand">
            <el-select
              v-model="product.brand_id"
              class="filter-item el-select el-select--medium"
            >
              <el-option
                v-for="brand in brands"
                :key="brand.id"
                :value="brand.id"
                class="el-input__inner"
                :label="brand.name"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Unit">
            <el-select
              v-model="product.unit_id"
              class="filter-item el-select el-select--medium"
            >
              <el-option
                v-for="unit in units"
                :key="unit.id"
                :value="unit.id"
                class="el-input__inner"
                :label="unit.name"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="product.code" />
          </el-form-item>
          <el-form-item label="SKU">
            <el-input v-model="product.sku" />
          </el-form-item>
          <el-form-item label="Purchase Price">
            <el-input v-model="product.purchase_price" />
          </el-form-item>
          <el-form-item label="Sale Price">
            <el-input v-model="product.price" />
          </el-form-item>
          <el-form-item label="Discount Price">
            <el-input v-model="product.discount_price" />
          </el-form-item>
          <el-form-item label="Description">
            <el-input v-model="product.description" />
          </el-form-item>

          <el-form-item :label="$t('product.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>

          <el-form-item v-if="!imgurl" :label="$t('product.selected_image')">
            <img
              :src="imgURL + product.image"
              height="200px"
              width="200px"
              @click="copySRC"
            >
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('product.selected_image')">
            <img :src="imgurl">
          </el-form-item>
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="product.name" />
          </el-form-item>
          <el-form-item label="Category">
            <el-select
              v-model="product.category_id"
            >
              <el-option
                v-for="category in categories"
                :key="category.id"
                :value="category.id"
                :label="category.name"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Brand">
            <el-select
              v-model="product.brand_id"
            >
              <el-option
                v-for="brand in brands"
                :key="brand.id"
                :value="brand.id"
                :label="brand.name"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Unit">
            <el-select
              v-model="product.unit_id"
            >
              <el-option
                v-for="unit in units"
                :key="unit.id"
                :value="unit.id"
                :label="unit.name"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="product.code" />
            <el-button @click="generate">Generate Code</el-button>
          </el-form-item>
          <el-form-item label="SKU">
            <el-input v-model="product.sku" />
          </el-form-item>
          <el-form-item label="Purchase Price">
            <el-input v-model.number="product.purchase_price" />
          </el-form-item>
          <el-form-item label="Sale Price">
            <el-input v-model.number="product.price" />
          </el-form-item>
          <el-form-item label="Discount Price">
            <el-input v-model.number="product.discount_price" />
          </el-form-item>
          <el-form-item label="Alert Quantity">
            <el-input v-model.number="product.alert_quantity" />
          </el-form-item>
          <el-form-item label="Description">
            <el-input v-model="product.description" />
          </el-form-item>
          <el-form-item :label="$t('product.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>

          <el-form-item v-if="!imgurl" :label="$t('product.selected_image')">
            <img
              :src="imgURL + product.image"
              height="200px"
              width="200px"
              @click="copySRC"
            >
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('product.selected_image')">
            <img :src="imgurl">
          </el-form-item>

          <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>

import axios from 'axios';
import { fetchProduct } from '@/api/product';
import Resource from '@/api/resource';
const productResource = new Resource('products');
import MetaAddForm from './MetaAddForm';
export default {
  components: { MetaAddForm },
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      newProductImage: '',
      categories: [],
      brands: [],
      units: [],
      product: {},
      image: '',
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
    this.getModelData();
  },

  methods: {

    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },

    fetchData(id) {
      fetchProduct(id)
        .then(response => {
          this.product = response.data;
          // console.log(this.product);
        })
        .catch(err => {
          console.log(err);
        });
    },
    generate() {
      this.product.code = Date.now();
    },

    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },

    async getModelData() {
      const models = [
        { name: 'category', model: 'Category' },
        { name: 'brand', model: 'Brand' },
        { name: 'unit', model: 'Unit' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.categories = response.data[0].category;
        this.brands = response.data[1].brand;
        this.units = response.data[2].unit;
      });
    },

    imageChanged(e){
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/products/get-image', data).then(res => {
        this.image = res.data.imageName;
        // console.log(this.image);
      });
    },
    onSubmit() {
      this.updating = true;
      this.product.image = this.image;
      productResource
        .update(this.product.id, this.product)
        .then((response) => {
          this.updating = false;
          // this.$router.push({name: 'ProductList'});
          this.$message({
            message: 'product information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.product-activity {
  .product-block {
    .productname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .product-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

img {
  cursor: pointer;
}
</style>
