<template>
  <div class="app-container">
    <div v-loading="workOrderCreating" class="form-container">
      <h3 style="text-align: center">Create Work Order</h3>
      <el-form
        ref="workOrderForm"
        :rules="rules"
        :model="newWorkOrder"
        label-position="left"
        label-width="150px"
      >
        <el-row :gutter="20" class="p-hide">
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item :label="$t('projectSubcontract.order_no')" prop="order_no">
                <el-input v-if="mood === 'edit'" readonly v-model="newWorkOrder.order_no" />
                <p v-else>{{ newWorkOrder.order_no }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item label="Ref Number" prop="contract_ref">
                <el-input placeholder="Enter Ref Number" v-model="newWorkOrder.contract_ref" />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item :label="$t('projectSubcontract.department_id')" prop="department_id">
                <el-select
                  v-if="mood === 'edit'"
                  v-model="newWorkOrder.department_id"
                  placeholder="Select"
                >
                  <el-option
                    v-for="item in departments"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
                <p v-else>
                  <span v-if="newWorkOrder.department">{{ newWorkOrder.department.name }}</span>
                </p>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-row :gutter="20" class="p-hide">
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item :label="$t('projectSubcontract.issue_date')" prop="issue_date">
                <el-date-picker
                  v-if="mood === 'edit'"
                  v-model="newWorkOrder.issue_date"
                  type="date"
                  placeholder="Pick a day"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <p v-else>{{ newWorkOrder.issue_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item :label="$t('projectSubcontract.deadline')" prop="deadline">
                <el-date-picker
                  v-if="mood === 'edit'"
                  v-model="newWorkOrder.deadline"
                  type="date"
                  placeholder="Pick a day"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <p v-else>{{ newWorkOrder.deadline }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item label="PO Issuance Date" prop="finished_date">
                <el-date-picker
                  v-if="mood === 'edit'"
                  v-model="newWorkOrder.po_issuance_date"
                  type="date"
                  placeholder="Pick a day"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <p v-else>{{ newWorkOrder.po_issuance_date }}</p>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-row id="info" :gutter="20">
          <el-col :span="12">
            <div class="grid-content">
              <h3>Subcontractor / Supplier</h3>
              <el-form-item label="Work Order For" class="p-hide" v-if="mood === 'edit'">
                <template>
                  <el-radio border v-model="newWorkOrder.work_order_for" label="Supplier">Supplier</el-radio>
                  <el-radio
                    border
                    v-model="newWorkOrder.work_order_for"
                    label="Subcontractor"
                  >Subcontractor</el-radio>
                </template>
              </el-form-item>
              <template
                v-if="newWorkOrder.work_order_for && newWorkOrder.work_order_for === 'Supplier'"
              >
                <el-form-item label="Company">
                  <el-select
                    v-if="mood === 'edit'"
                    @change="getAddress(newWorkOrder.supplier_id)"
                    v-model="newWorkOrder.supplier_id"
                    placeholder="Select Supplier"
                  >
                    <el-option
                      v-for="item in suppliers"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                  <p v-else>
                    <span v-if="newWorkOrder.person">{{ newWorkOrder.person.company }}</span>
                  </p>
                </el-form-item>
              </template>
              <template
                v-if="newWorkOrder.work_order_for && newWorkOrder.work_order_for === 'Subcontractor'"
              >
                <el-form-item label="Company">
                  <el-select
                    v-model="newWorkOrder.subcontractor_id"
                    placeholder="Select Subcontractor"
                    @change="getAddress(newWorkOrder.subcontractor_id)"
                  >
                    <el-option
                      v-for="item in subcontractors"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </template>
              <template
                v-if="newWorkOrder.work_order_for && newWorkOrder.work_order_for === 'Subcontractor' && newProjectAssigns.length > 0"
              >
                <el-form-item label="Referance">
                  <el-select
                    multiple
                    v-model="newWorkOrder.npals"
                    placeholder="Select Subcontractor"
                    @change="getNPALS"
                  >
                    <el-option
                      v-for="item in newProjectAssigns"
                      :key="item.id"
                      :label="item.reference_number"
                      :value="item.reference_number"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </template>
              <template v-if="newWorkOrder.person !== null">
                <el-form-item label="Name" prop="name" style>
                  <el-input
                    v-if="newWorkOrder.person && mood == 'create'"
                    v-model="newWorkOrder.person.name"
                  ></el-input>
                  <span v-else>
                    <span v-if="newWorkOrder.person">{{ newWorkOrder.person.name }}</span>
                  </span>
                </el-form-item>
                <el-form-item label="Address" prop="address">
                  <el-input
                    type="textarea"
                    :rows="2"
                    v-if="newWorkOrder.person && mood === 'edit'"
                    v-model="newWorkOrder.person.street"
                  ></el-input>
                  <p v-else>
                    <span v-if="newWorkOrder.person">{{ newWorkOrder.person.street }}</span>
                  </p>
                </el-form-item>
                <el-form-item label="Phone" prop="phone">
                  <el-input
                    v-if="newWorkOrder.person && mood === 'edit'"
                    v-model="newWorkOrder.person.phone"
                  ></el-input>
                  <p v-else>
                    <span v-if="newWorkOrder.person">{{ newWorkOrder.person.phone }}</span>
                  </p>
                </el-form-item>
                <el-form-item label="Email" prop="email">
                  <el-input
                    v-if="newWorkOrder.person && mood === 'edit'"
                    v-model="newWorkOrder.person.email"
                  ></el-input>
                  <p v-else>
                    <span v-if="newWorkOrder.person">{{ newWorkOrder.person.email }}</span>
                  </p>
                </el-form-item>
              </template>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <h3>Delivery Address</h3>
              <div style="padding-left: 20px;">
                <template>
                  <el-form-item label="Delivery Point" prop="delivery_point">
                    <el-input
                      v-if="mood === 'edit'"
                      type="textarea"
                      :rows="4"
                      v-model="newWorkOrder.delivery_point"
                    ></el-input>
                    <p v-else>{{ newWorkOrder.delivery_point }}</p>
                  </el-form-item>
                  <el-form-item label="Address" prop="address">
                    <el-input
                      v-if="mood === 'edit'"
                      type="textarea"
                      :rows="4"
                      v-model="newWorkOrder.delivery_address"
                    ></el-input>
                    <p v-else>{{ newWorkOrder.delivery_address }}</p>
                  </el-form-item>
                  <el-form-item label="Contract Referance" prop="contract_referance">
                    <el-input v-if="mood === 'edit'" v-model="newWorkOrder.contract_referance"></el-input>
                    <p v-else>{{ newWorkOrder.contract_referance }}</p>
                  </el-form-item>
                  <el-form-item label="Contract Number" prop="contract_number">
                    <el-input
                      v-if="mood === 'edit'"
                      v-model="newWorkOrder.delivery_contract_number"
                    ></el-input>
                    <p v-else>{{ newWorkOrder.delivery_address }}</p>
                  </el-form-item>
                  <el-form-item label="Remarks" prop="remarks">
                    <el-input type="textarea" v-if="mood === 'edit'" v-model="newWorkOrder.remarks"></el-input>
                    <span v-else>{{ newWorkOrder.remarks }}</span>
                  </el-form-item>
                </template>
              </div>
            </div>
          </el-col>
          <el-col :span="24">
            <tinymce v-if="mood === 'edit'" v-model="newWorkOrder.supply_item" :height="50" />
            <p v-else v-html="newWorkOrder.supply_item"></p>
          </el-col>
          <el-col :span="24">
            <table class="item_table" style="margin-top: 20px">
              <thead class="thead">
                <tr class="thead_row">
                  <th width="15%">Site Code</th>
                  <th width="10%">Site Location</th>
                  <th width="40%">Description</th>
                  <th width="5%">Quantity</th>
                  <th width="10%">Unit</th>
                  <th width="10%">Unit Price</th>
                  <th width="10%">Amount</th>
                  <th width="5%" class="p-hide">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(itemRow, index) in newWorkOrder.ItemRows">
                  <item-info
                    :showMenuBar="showMenuBar"
                    :key="index"
                    :ItemRows="newWorkOrder.ItemRows"
                    :itemRow="itemRow"
                    :index="index"
                    @checkChange="checkChange"
                    @productSearch="productSearch"
                    :mood="mood"
                    :units="units"
                  />
                </template>
                <el-button @click="addNew">Add New</el-button>
              </tbody>
              <tfoot class="tfoot">
                <tr>
                  <td colspan="6">Total Work Oder Amount (BDT)</td>
                  <td v-if="this.newWorkOrder.ItemRows">{{ totalAmount }}</td>
                  <td class="p-hide" />
                </tr>
                <tr>
                  <td colspan="8" style="text-align:center">
                    <p style="text-transform: capitalize;">In Word: {{ totalAmountWord }} Taka Only</p>
                  </td>
                </tr>
              </tfoot>
            </table>
          </el-col>
          <el-col :span="12">
            <div class="grid-content" style="margin-right: 20px">
              <h3>Payment Terms</h3>
              <tinymce v-if="mood === 'edit'" v-model="newWorkOrder.payment_terms" :height="50" />
              <p v-else v-html="newWorkOrder.payment_terms"></p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content" style="margin-left: 20px">
              <h3>Payment Methos</h3>
              <tinymce v-if="mood === 'edit'" v-model="newWorkOrder.payment_methods" :height="150" />
              <p v-else v-html="newWorkOrder.payment_methods"></p>
            </div>
          </el-col>

          <el-col :span="8">
            <div class="grid-content">
              <h3 style="text-align:center">Warranty</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="newWorkOrder.warranty_terms"
                :height="250"
              />
              <p v-else v-html="newWorkOrder.warranty_terms"></p>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <h3 style="text-align:center">Delay</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="newWorkOrder.delay_terms"
                :height="250"
              />
              <p v-else v-html="newWorkOrder.delay_terms"></p>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <h3 style="text-align:center">Others</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="newWorkOrder.other_terms"
                :height="250"
              />
              <p v-else v-html="newWorkOrder.other_terms"></p>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="grid-content">
              <h3 style="text-align:center">Scope Of Work</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="newWorkOrder.scope_of_work"
                :height="250"
              />
              <p v-else v-html="newWorkOrder.scope_of_work"></p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <h3 style="text-align:center">Service Scope</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="newWorkOrder.service_scope"
                :height="250"
              />
              <p v-else v-html="newWorkOrder.service_scope"></p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <h3 style="text-align:center">Equipment Scope</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="newWorkOrder.equipment_scope"
                :height="250"
              />
              <p v-else v-html="newWorkOrder.equipment_scope"></p>
            </div>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer" style="margin-left: 35%; margin-top: 20px">
        <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
        <el-button type="primary" @click="createWorkOrder()">{{ $t('table.confirm') }}</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import ItemInfo from './component/ItemInfo.vue';
import Resource from '@/api/resource';
const workOrderResource = new Resource('work-order');
import Tinymce from './component/Tinymce';
const converter = require('@kushalst/numbers-to-words-converter');
const projectResource = new Resource('projects');
const newProjectAssignResource = new Resource('new-project-assign');
import { initTinymce } from './component/Tinymce/index.vue';
export default {
  components: { ItemInfo, Tinymce },
  data() {
    return {
      workOrderCreating: false,
      newWorkOrder: {
        person: null,
        ItemRows: [
          {
            site_code: '',
            details: '',
            remarks: '',
            project_amount: 0,
            work_order_amount: 0,
            quantity: 0,
            unit_price: 0,
            site_location: '',
            project_stage_id: '',
          },
        ],
      },
      totalAmountWord: '',
      subcontractors: [],
      subcontractor: {},
      departments: [],
      suppliers: [],
      supplier: {},
      units: [],
      person: {},
      SlNo: null,
      mood: 'edit',
      totalAmount: 0,
      showMenuBar: true,
      officeInfo: {},
      newProjectAssigns: [],
      subconAssigned: [],
      rules: {
        subcontractor_id: [
          {
            required: true,
            message: 'Subcontractor Name is required',
            trigger: 'blur',
          },
        ],
        task_details: [
          {
            required: true,
            message: 'Task Details is required',
            trigger: 'blur',
          },
        ],

        order_no: [
          { required: true, message: 'Order No is required', trigger: 'blur' },
        ],
        contract_ref: [
          {
            required: true,
            message: 'Contract Ref. is required',
            trigger: 'blur',
          },
        ],
        department_id: [
          {
            required: true,
            message: 'Department is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getModelData();
    this.getItemLastId();
  },
  methods: {
    async getModelData() {
      const models = [
        { name: 'subcontractor', model: 'Subcontractor' },
        { name: 'department', model: 'Department' },
        { name: 'supplier', model: 'Supplier' },
        {name: 'unit', model: 'Unit'}
      ];
      await axios
        .post('/api/get-model-data', models)
        .then((response) => {
          this.subcontractors = response.data[0].subcontractor;
          this.departments = response.data[1].department;
          this.suppliers = response.data[2].supplier;
          this.units = response.data[3].unit;
        })
        .catch((error) => console.log(error));

      this.checkChange();
    },

    getItemLastId() {
      axios.get('/api/get-table-last-id/WorkOrder').then((res) => {
        this.SlNo = res.data + 1;
        this.newWorkOrder.order_no = 'WO-' + this.SlNo;
      });
    },
    setData() {
      this.newWorkOrder.payment_terms = `
        <p><b># Project Completion Time: 10 days</b> upon getting the final approval of the Purchaser.</p>
        <p># We will receive <b>12 (Twelve) </b> month's/year of free of the cast after sells service from supplier/vendor / implementer initially after project/servicing / installation completion.</p>
      `;
      this.newWorkOrder.payment_methods = `
        <p>#<b>65%</b> payment after signing the contract.</p>
        <p>#<b>15%</b> payment after receiving all the accessories at the site.</p>
        <p>#<b>10%</b> payment after 100% work done.</p>
        <p>#<b>10%</b> after 3 months from 100% work done.</p>
      `;
      
    },
    addNew() {
      this.newWorkOrder.ItemRows.push({
        site_code: '',
        details: '',
        remarks: '',
        project_amount: 0,
        work_order_amount: 0,
        quantity: 0,
        unit_price: 0,
        site_location: '',
        project_stage_id: '',
      });
    },
    getAddress(id) {
      if (this.newWorkOrder.work_order_for === 'Supplier') {
        this.newWorkOrder.person = this.suppliers.find((s) => s.id === id);
      } else if (this.newWorkOrder.work_order_for === 'Subcontractor') {
        this.newWorkOrder.person = this.subcontractors.find((s) => s.id === id);
      }
      this.setData();
      this.getnewProjectAssigns();
    },
    checkChange() {
      let total = 0;
      this.newWorkOrder.ItemRows.forEach((item) => {
        total += parseFloat(item.work_order_amount);
      });
      this.totalAmount = total;
      this.newWorkOrder.payable_amount = this.totalAmount;
      this.totalAmountWord = converter.toWords(
        this.newWorkOrder.payable_amount,
        'IN'
      );
    },
    async getnewProjectAssigns() {
      let query = {
        subcontractor_id: this.newWorkOrder.subcontractor_id,
      };
      const newAssignResponse = await newProjectAssignResource.list(query);
      this.newProjectAssigns = newAssignResponse.data;
      
    },
    getNPALS(){
      this.newWorkOrder.contract_ref = this.newWorkOrder.npals.toString();
      let subconAssigned = [];
      this.newWorkOrder.npals.forEach(npal => {
        let newProAss = this.newProjectAssigns.find(np => np.reference_number === npal);
        subconAssigned.push(newProAss);
      });
      this.subconAssigned = subconAssigned;
    },

    async productSearch(queryString, cb) {
      let projects = [];
      if (this.newWorkOrder.subcontractor_id) {
        this.subconAssigned.forEach((element) => {
          element.projects.forEach((project) => {
            if (project.site_code) {
              this.$set(project, 'work_order_amount', 0);
              projects.push(project);
            }
          });
        });
      } else {
        let query = {
          keyword: queryString,
        };
        const projectResponse = await projectResource.list(query);
        projects = projectResponse.data;
      }
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : '';
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    async createWorkOrder() {
      this.$refs['workOrderForm'].validate((valid) => {
        if (valid) {
          this.workOrderCreating = true;
          workOrderResource
            .store(this.newWorkOrder)
            .then((response) => {
              this.newWorkOrder = response.data;
              this.print(this.newWorkOrder.id);
              this.$message({
                showClose: true,
                message: 'New Work Oder has benn created',
                type: 'success',
              });
              this.workOrderCreating = false;
              // this.resetWorkOrderForm();
              this.getItemLastId();
            })
            .catch((error) => {
              console.log(error);
              this.workOrderCreating = false;
            });
        }
      });
    },
    print(id) {
      this.$router.push('/projects/work-order/view/'+ id)
    },
    resetWorkOrderForm() {
      this.newWorkOrder = {
        subcontractor_id: null,
        department_id: null,
        contract_ref: null,
        task_details: null,
        payable_amount: null,
        ItemRows: [
          {
            site_code: '',
            details: '',
            remarks: '',
            project_amount: 0,
            site_location: '',
            work_order_amount: 0,
          },
        ],
      };
    },
  },
};
</script>

<style scoped>
table,
td,
th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}

.el-form-item.is-required.el-form-item--medium {
  width: 92% !important;
}

.grid-content h3 {
  background-color: #555;
  padding: 10px;
  color: #fff;
}
#info .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
</style>