<template>
  <div class="app-container">
    <div id="project_list_top" class="filter-container">
      <el-input

        id="project_search"
        v-model="query.keyword"
        placeholder="Search"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      />

      <el-date-picker
        id="search_date"
        v-model="query.date"
        type="date"
        placeholder="Search By Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        @change="handleFilter"
      />

      <el-select
        id="primary_select_subcontractor"
        v-model="query.subcontractor"
        v-waves
        placeholder="Subcontractor Name"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="subcontractor in subcontractors"
          :key="subcontractor.id"
          :label="subcontractor.company"
          :value="subcontractor.id"
        />
      </el-select>
      <el-select
        id="primary_select_subcontractor"
        v-model="query.supplier"
        v-waves
        placeholder="Supplier Name"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="supplier in suppliers"
          :key="supplier.id"
          :label="supplier.company"
          :value="supplier.id"
        />
      </el-select>
      
      <router-link to="/projects/work-order/create">
        <el-button class="filter-item" v-permission="['add work order']" icon="el-icon-plus" type="primary">Create New</el-button>
      </router-link>
    </div>
    <!-- project subcontract list -->
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%; margin: auto"
      :row-class-name="tableRowClassName"
    >
      <el-table-column align="center" label="ID" :min-width="5" type="index" />

      <el-table-column align="center" label="Work Order No." :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.order_no }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Contract Ref" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.contract_ref }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Subcontractor/Supplier" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.person.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Payable Amount" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.payable_amount }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Deadline" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.deadline }}</span>
          <!-- <countdown :date="scope.row.deadline" :finished_date="scope.row.finished_date" /> -->
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" :min-width="10">
        <template slot-scope="scope">
          <router-link :to="'/projects/work-order/view/' + scope.row.id">
            <el-tooltip class="item" effect="dark" content="View" placement="top-start">
              <el-button
                v-permission="['view work order']"
                size="mini"
                class="filter-item"
                type="primary"
                icon="el-icon-view"
              >
                <span />
              </el-button>
            </el-tooltip>
          </router-link>
          <!-- <router-link :to="'/projects/work-order/view/' + scope.row.id">
            <el-tooltip class="item" effect="dark" content="Generate Work Order" placement="top-start">
              <el-button
                v-permission="['generate work order']"
                size="mini"
                class="filter-item"
                type="primary"
                icon="el-icon-document-copy"
              >
                <span />
              </el-button>
            </el-tooltip>
          </router-link> -->
        </template>
      </el-table-column>
    </el-table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
    />
  </div>
</template>

<script>
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
// import Countdown from '../components/Countdown';
import Resource from '@/api/resource';
import Pagination from '@/components/Pagination';
const workorderResource = new Resource('work-order');
import axios from 'axios';
// import List from '../components/subcontract/List';

export default {
  name: 'ProjectList',
  components: { Pagination },
  directives: { permission, waves },

  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      projectSubcontractCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      projectSubcontractId: '',
      subcontractors: [],
      suppliers: [],
      departments: {},
      status: {},
      clients: [],
      projects: [],
      
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      rules: {
        status: [
          { required: true, message: 'Status is required', trigger: 'blur' },
        ],

        amount: [
          { required: true, message: 'Amount is required', trigger: 'blur' },
          { type: 'number', message: 'Amount must be a number', trigger: 'blur' },
        ],
        date: [
          { required: true, message: 'Date is required', trigger: 'blur' },
        ],
        due_date: [
          { required: true, message: 'Due Date is required', trigger: 'blur' },
        ],
        payment_method: [
          {
            required: true,
            message: 'Payment Method is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },

  created() {
    this.getList();
    this.getActiveItems();
  },

  methods: {
    async getList() {
      this.loading = true;
      const response = await workorderResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },

    async getActiveItems() {
      axios
        .get('/api/active/items')
        .then(({ data }) => {
          this.subcontractors = data.subcontractors;
          this.suppliers = data.suppliers;
          this.projects = data.projects;
        })
        .catch((error) => console.log(error));
    },
    tableRowClassName({ row }) {
      if (row.status === 1) {
        return 'success-row';
      } else if (new Date(row.deadline) < new Date()) {
        return 'warning-row';
      }
      return '';
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}
.filter-container {
  text-align: center;
}

#subcontract-edit {
  margin: 10px 0px;
}
.filter-container {
  text-align:left !important;
}
button#btn-add {
    display: none;
}
</style>

