<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane el-tab-pane label="View" name="first">
        <view-component mood="view" v-if="workOrder" :workOrder="workOrder" :subcontractors="subcontractors" :units="units" :departments="departments" :suppliers="suppliers" :officeInfo="officeInfo" />
      </el-tab-pane>
      <el-tab-pane label="Edit" name="second">
        <view-component mood="edit" v-if="workOrder" :workOrder="workOrder" :subcontractors="subcontractors" :units="units" :departments="departments" :suppliers="suppliers" :officeInfo="officeInfo" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const workorderResource = new Resource('work-order');
import ViewComponent from './component/ViewComponent.vue';
export default {
  components: { ViewComponent },
  data() {
    return {
      activeName: 'first',
      workOrder: null,
      subcontractors: [],
      departments: [],
      suppliers: [],
      units: [],
      officeInfo: {},
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.getModelData();
    this.fetchData(id);
    
  },
  methods: {
    async getModelData() {
      this.$store.dispatch('getOfficeInfo').then((res) => {
        this.officeInfo = res;
      });
      const models = [
        { name: 'subcontractor', model: 'Subcontractor' },
        { name: 'department', model: 'Department' },
        { name: 'supplier', model: 'Supplier' },
        {name: 'unit', model: 'Unit'}
      ];
      await axios
        .post('/api/get-model-data', models)
        .then((response) => {
          this.subcontractors = response.data[0].subcontractor;
          this.departments = response.data[1].department;
          this.suppliers = response.data[2].supplier;
          this.units = response.data[3].unit;
        })
        .catch((error) => console.log(error));
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    async fetchData(id) {
      await workorderResource.get(id).then(({ data }) => {
        this.workOrder = data;
      });
    },
  },
};
</script>

<style>
</style>