<template>
  <div class="app-container">
    <div class="filter-container">
        <el-form
          ref="projectTypeForm"
          :rules="rules"
          :model="newProjectAssign"
          label-position="left"
          label-width="150px"
        >
          <!-- Department Name  -->
          <h2 style="text-align:center">Assaign New Project</h2>
          <el-row :gutter="20">
            <el-col :span="4">
              <el-form-item label="Referance Number:">
                {{newProjectAssign.reference_number}}
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Select A Department" prop="department_id">
                <el-select v-model="newProjectAssign.department_id" placeholder="Select">
                  <el-option
                    v-for="item in departments"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="Subcontractor Company" prop="subcontractor_id">
                <el-select v-model="newProjectAssign.subcontractor_id" placeholder="Select">
                  <el-option
                    v-for="item in subcontractors"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-form-item label="Assaign Date">
                {{newProjectAssign.prepared_date}}
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <table style="overflow-x: auto; max-width: 100%; margin-bottom: 30px">
                <thead class="thead">
                  <tr class="thead_row">
                    <th style="width: 50px">SI.</th>
                    <th>Site Code</th>
                    <th>Client Name</th>
                    <th>Project Type</th>
                    <th>Bill Details</th>
                    <th style="width: 100px">Quantity</th>
                    <th>Remarks</th>
                    <th width="50">Action</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <template v-for="(project, index) in newProjectAssign.newProjects">
                    <item-info mood="edit" :clients="clients" :projectTypes="projectTypes" :project="project" :index="index" :projects="newProjectAssign.newProjects" :key="index" />
                  </template>
                </tbody>
              </table>
              <el-button @click.prevent="addNew" type="info" size="small">Add New</el-button>
              <el-input v-model.number="ItemNeed" @blur="bulkAddNew" style="width: 100px"></el-input>
            </el-col>
          </el-row>
          <el-button
            type="primary"
            style="margin-left: 25%"
            @click="createProjectType()"
          >{{ $t('table.confirm') }}</el-button>
        </el-form>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
const projectResource = new Resource('projects');
const clientResource = new Resource('clients');
const subcontractorResource = new Resource('subcontractors');
const departmentResource = new Resource('departments');
const newProjectAssignResource = new Resource('new-project-assign');
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import ItemInfo from  './ItemInfo.vue';
import { EventBus } from '@/app';

export default {
  name: 'ProjectTypeList',
  directives: { waves, permission },
  components: { ItemInfo },
  data() {
    return {
      links: [],
      state1: '',
      loading: true,
      downloading: false,
      projectTypes: [],
      clients: [],
      subcontractors: [],
      departments: [],
      dialogFormVisible: false,
      ItemNeed: 0,
      newProjectAssign: {
        reference_number: '',
        newProjects: [
          {
            site_code: '',
            client_id: '',
            project_type: '',
            details: '',
            subcontractor_id: '',
            quantity: 1,
            remark: '',
          }
        ]
      },
      rules: {
        
      },
      stages: '',
    };
  },
  created() {
    this.getItemLastId();
    this.getCurrentDate();
    if(this.$route.query.projects){
      this.newProjectAssign.newProjects = this.$route.query.projects;
    }
  },
  mounted(){
    
  },
  methods: {
    async loadAll() {
      const clientResponse = await clientResource.list();
      this.clients = clientResponse.data;
      const subcontractorResponse = await subcontractorResource.list();
      this.subcontractors = subcontractorResponse.data;
      const projectTypeResponse = await projectTypeResource.list();
      this.projectTypes = projectTypeResponse.data;
      const departmentResponse = await departmentResource.list();
      this.departments = departmentResponse.data;
    },
    addNew(){
      this.newProjectAssign.newProjects.push(
        {
          site_code: '',
          client_id: '',
          project_type_id: '',
          details: '',
          quantity: 1,
          remark: '',
        }
      )
    },
    bulkAddNew(){
      if(this.ItemNeed && this.ItemNeed > 0){
        for (let index = 1; index < this.ItemNeed; index++) {
          this.addNew();
        }
      }
    },
    async getItemLastId() {
      await axios.get('/api/get-table-last-id/NewProjectAssign').then((res) => {
        this.SlNo = res.data + 1;
        this.newProjectAssign.reference_number = 'NPAL-' + this.SlNo;
      });
    },
    
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}-${
        current.getMonth() + 1
      }-${current.getDate()}`;
      this.newProjectAssign.prepared_date = this.currentDate;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    createProjectType() {
      this.$refs['projectTypeForm'].validate((valid) => {
        if (valid) {
            this.projectTypeCreating = true;
            newProjectAssignResource
              .store(this.newProjectAssign)
              .then((response) => {
                this.$message({
                  message:
                    'New project assigned created successfully.',
                  type: 'success',
                  duration: 5 * 1000,
                });
                // this.resetNewProjectType();
                this.dialogFormVisible = false;
                this.handleFilter();
              })
              .catch((error) => {
                console.log(error);
              })
              .finally(() => {
                this.projectTypeCreating = false;
              });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'status'];
        const filterVal = ['id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'projectType-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
  mounted() {
    this.links = this.loadAll();
  },
};
</script>
<style scoped>
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}
</style>
