<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="View" name="first">
        <view-component :clients="clients" :subcontractors="subcontractors" :departments="departments" :projectTypes="projectTypes" :assaignedProject="assaignedProject" mood="view" />
      </el-tab-pane>
      <el-tab-pane label="Edit" name="second">
        <view-component :clients="clients" :subcontractors="subcontractors" :departments="departments" :projectTypes="projectTypes" :assaignedProject="assaignedProject" mood="edit" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import axios from 'axios';
import ViewComponent from './ViewComponent.vue';
import { fetchdata } from '@/api/newProjectAssignList';
import Resource from '@/api/resource';
const dataResource = new Resource('new-project-assign');
const projectTypeResource = new Resource('project-type');
const clientResource = new Resource('clients');
const subcontractorResource = new Resource('subcontractors');
const departmentResource = new Resource('departments');
export default {
  components: { ViewComponent },
  data() {
    return {
      activeName: 'first',
      updating: false,
      newdataImage: '',
      assaignedProject: {},
      image: '',
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      clients: [],
      subcontractors: [],
      projectTypes: [],
      departments: [],
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id); // fetch the requested data data
    this.loadAll();
  },

  methods: {
    
    // fetch the requested data data
    fetchData(id) {
      fetchdata(id)
        .then((response) => {
          this.assaignedProject = response.data;
          // console.log(this.assaignedProject);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // tab click
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    async loadAll() {
      const clientResponse = await clientResource.list();
      this.clients = clientResponse.data;
      const subcontractorResponse = await subcontractorResource.list();
      this.subcontractors = subcontractorResponse.data;
      const projectTypeResponse = await projectTypeResource.list();
      this.projectTypes = projectTypeResponse.data;
      const departmentResponse = await departmentResource.list();
      this.departments = departmentResponse.data;
    },
    
  },
};
</script>

<style lang="scss" scoped>
.data-activity {
  .data-block {
    .dataname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .data-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
img {
  cursor: pointer;
}
</style>
