<template>
  <tr>
    <td>{{ index+1 }}</td>
    <td>
      <span v-if="mood === 'view'">{{ project.site_code }}</span>
      <el-autocomplete
        v-else
        class="inline-input"
        v-model="project.site_code"
        :fetch-suggestions="querySearch"
        placeholder="Please Input"
        :trigger-on-focus="false"
        @select="handleSelect"
      >
      <template slot-scope="{ item }">
        <div class="value">{{ item.site_code }}</div>
      </template>
      </el-autocomplete>
    </td>
    <td>
      <span v-if="mood === 'view' || project.site_code">
        <span>{{ project.client_name }}</span>
      </span>
      <el-select v-else v-model="project.client_id" placeholder="Select">
        <el-option v-for="item in clients" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>
    </td>
    <td>
      <span v-if="mood === 'view' || project.site_code">{{ project.project_type_name }}</span>
      <el-select v-else v-model="project.project_type_id" placeholder="Select">
        <el-option v-for="item in projectTypes" :key="item.id" :label="item.name" :value="item.id"></el-option>
      </el-select>
    </td>
    <td>
      <span v-if="mood === 'view'">{{ project.details}}</span>
      <el-input v-else placeholder="Please input" v-model="project.details"></el-input>
    </td>
    <td>
      <span v-if="mood === 'view'">{{ project.quantity}}</span>
      <el-input v-else placeholder="Please input" v-model="project.quantity"></el-input>
    </td>
    <td>
      <span v-if="mood === 'view'">{{ project.remark }}</span>
      <el-input v-else placeholder="Please input" v-model="project.remark"></el-input>
    </td>

    <td v-if="mood !== 'view'">
      <el-button @click="remove(index, project.id)" type="danger" size="mini">X</el-button>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
const projectResource = new Resource('projects');
export default {
  props: ['index', 'project', 'projects', 'projectTypes', 'clients', 'mood'],
  mounted() {
    // console.log(this.project);
  },
  methods: {
    async querySearch(queryString, cb) {
      const projectResponse = await projectResource.list(queryString);
      const projects = projectResponse.data;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    handleSelect(item) {
      if(item.new_project_assign_id){
        this.$message({
          type: 'error',
          message: 'Project has already assaigned',
        });
      } else {;
        this.project.project_id = item.id;
        this.project.site_code = item.site_code;
        this.project.client_id = item.client_id;
        this.project.client_name = item.client_name;
        this.project.project_type_id = item.project_type;
        this.project.project_type_name = item.project_type_name;
        this.project.details = item.details;
        this.project.quantity = item.quantity;
        this.project.remark = item.remark;
      }
    },
    remove(index, id) {
      if (id !== undefined) {
        this.$confirm(
          'Are you sure to delete this project . Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            axios.put('/api/assaigned-project/remove/' +id)
              .then((response) => {
                this.$message({
                  type: 'success',
                  message: 'Project has been deleted Successfully',
                });
                this.projects.splice(index, 1);
              })
              .catch((error) => {
                console.log(error);
              });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled',
            });
          });
      } else {
        this.$confirm(
          'Are you sure to delete this project . Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            this.projects.splice(index, 1);
            this.$message({
              type: 'success',
              message: 'Project has been deleted Successfully',
            });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled',
            });
          });
      }
      
    },
  },
};
</script>

<style>
table,
td,
th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
</style>