<template>
  <div>
      <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="left" sortable prop="reference_number" label="Reference">
        <template slot-scope="scope">
          <span>{{ scope.row.reference_number }}</span>
        </template>
      </el-table-column>
      <el-table-column align="left" label="Subcontractor">
        <template slot-scope="scope">
          <span>{{ scope.row.subcontractor.company }}</span>
        </template>
      </el-table-column>
      <el-table-column align="left" label="Department">
        <template slot-scope="scope">
          <span>{{ scope.row.department.name }}</span>
        </template>
      </el-table-column>
  
      <el-table-column align="center" label="Actions" width="auto">
        <template slot-scope="scope">
          <router-link :to="'/projects/new-project-assign/edit/' + scope.row.id">
            <el-button
              v-permission="['update assigned project']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >View</el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
    directives: { waves, permission },
    props: ['loading', 'list'],
    data(){
        return {

        }
    }
}
</script>

<style>

</style>