<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form
        ref="projectTypeForm"
        :rules="rules"
        :model="assaignedProject"
        label-position="left"
        label-width="150px"
      >
        <!-- Department Name  -->
        <h2 style="text-align:center">Assaign New Project</h2>
        <el-row :gutter="20">
          <el-col :span="4">
            <el-form-item label="Referance Number:">{{assaignedProject.reference_number}}</el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Select A Department" prop="department_id">
              <span
                v-if="mood === 'view' && assaignedProject.department"
              >{{ assaignedProject.department.name }}</span>
              <el-select v-else v-model="assaignedProject.department_id" placeholder="Select">
                <el-option
                  v-for="item in departments"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Subcontractor Company" prop="subcontractor_id">
              <span v-if="assaignedProject.subcontractor">{{ assaignedProject.subcontractor.name }}</span>
              <!-- <el-select v-model="assaignedProject.subcontractor_id" placeholder="Select">
                <el-option
                  v-for="item in subcontractors"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>-->
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Assaign Date">{{assaignedProject.prepared_date}}</el-form-item>
          </el-col>
          <el-col :span="24">
            <table style="overflow-x: auto; max-width: 100%; margin-bottom: 30px">
              <thead class="thead">
                <tr class="thead_row">
                  <th style="width: 50px">SI.</th>
                  <th>Site Code</th>
                  <th>Client Name</th>
                  <th>Project Type</th>
                  <th>Bill Details</th>
                  <th style="width: 100px">Quantity</th>
                  <th>Remarks</th>
                  <th v-if="mood !== 'view'" width="50">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(project, index) in assaignedProject.projects">
                  <item-info
                    :clients="clients"
                    :projectTypes="projectTypes"
                    :project="project"
                    :index="index"
                    :projects="assaignedProject.projects"
                    :key="index"
                    :mood="mood"
                  />
                </template>
              </tbody>
            </table>
            <button v-if="mood !== 'view'" @click.prevent="addNew" type="info" size="mini">Add New</button>
            
          </el-col>
        </el-row>
        <div style="margin-left: 35%">
          <el-button @click="print" type="info">Print</el-button>
          <el-button
            v-if="mood === 'edit'"
            type="primary"
            @click="onSubmit"
          >{{ $t('table.confirm') }}</el-button>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const dataResource = new Resource('new-project-assign');
import ItemInfo from './ItemInfo.vue';

export default {
  props: [
    'mood',
    'assaignedProject',
    'clients',
    'departments',
    'projectTypes',
    'subcontractors',
  ],
  components: { ItemInfo },
  data() {
    return {
      rules: {},
      updating: false,
    };
  },
  created() {},
  mounted() {},
  methods: {
    addNew() {
      this.assaignedProject.projects.push({
        site_code: '',
        client_id: '',
        project_type_id: '',
        details: '',
        quantity: '',
        remark: '',
      });
    },
    print() {
      window.print();
    },
    // update data data
    onSubmit() {
      this.updating = true;
      dataResource
        .update(this.assaignedProject.id, this.assaignedProject)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'data information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style>
</style>