<template>
  <tr :class="`tbody_row ${itemRow.status === 'canceled' ? 'warning-color':''}`" id="work-order-item">
    <td>
      <template>
        <el-form-item prop="site_code">
          <el-autocomplete
            v-if="mood === 'edit' && !itemRow.status"
            v-model="itemRow.site_code"
            class="inline-input"
            :fetch-suggestions="querySearch"
            placeholder="Please Search By Site Code"
            :trigger-on-focus="false"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.site_code }}</div>
            </template>
          </el-autocomplete>
          <span v-else>
            <p v-if="itemRow.site_code">{{ itemRow.site_code }}</p>
          </span>
        </el-form-item>
      </template>
    </td>
    <td>
      <p>{{ itemRow.site_location }}</p>
    </td>
    <td>
      <el-form-item prop="details">
        <tinymce :height="80" v-if="mood === 'edit' && itemRow.status !== 'canceled'" v-model="itemRow.details" />
        <p v-else v-html="itemRow.details"></p>
      </el-form-item>
    </td>
    <td class="numaric_td" style="width: 150px">
      <el-form-item prop="quantity">
        <el-input v-if="mood === 'edit' && itemRow.status !== 'canceled'" v-model="itemRow.quantity" class="numaric_td" placeholder="Please Enter Bill Amount" @blur="checkChange" />
        <p v-else>{{ itemRow.quantity }}</p>
      </el-form-item>
    </td>
    <td style="width: 150px">
      <el-form-item prop="unit_id">
          <el-select
            v-if="mood === 'edit'"
            v-model="itemRow.unit_id"
            placeholder="Select Unit"
          >
            <el-option
              v-for="item in units"
              :key="item.id"
              :label="item.name"
              :value="item.id"
            ></el-option>
          </el-select>
        <p v-else>
          <span v-if="itemRow.unit">{{ itemRow.unit.name }}</span>
        </p>
      </el-form-item>
    </td>
    <td class="numaric_td" style="width: 150px">
      <el-form-item prop="unit_price">
        <el-input v-if="mood === 'edit' && itemRow.status !== 'canceled'" v-model="itemRow.unit_price" class="numaric_td" placeholder="Please Enter Bill Amount" @blur="checkChange" />
        <p v-else>{{ itemRow.unit_price }}</p>
      </el-form-item>
    </td>
    <td class="numaric_td" style="width: 150px">
      <el-form-item prop="work_order_amount">
        <el-input v-if="mood === 'edit' && itemRow.status !== 'canceled'" readonly="" v-model="itemRow.work_order_amount" class="numaric_td" placeholder="Please Enter Bill Amount" @blur="checkChange" />
        <p v-else>{{ itemRow.work_order_amount }}</p>
      </el-form-item>
    </td>
    <td class="p-hide">
      <el-button :disabled=" mood === 'view' || itemRow.status === 'canceled'" size="mini" type="danger" @click="remove(index, itemRow.id)">X</el-button>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
import Tinymce from '../component/Tinymce'
const workorderItemResource = new Resource('work-order-item');

export default {
  props: ['ItemRows', 'itemRow', 'index', 'mood', 'showMenuBar', 'units'],
  components: { Tinymce },
  data() {
    return {
      projectTypeName: '',
      state: null,
      results: null,
      links: null,
      projectTypes: null,
    };
  },
  created() {
    this.setData();
  },
  
  methods: {

    setData(){
      if(this.itemRow.project){
        this.itemRow.site_code = this.itemRow.project.site_code;
        this.itemRow.project_amount = this.itemRow.project.project_amount;
        this.itemRow.project_stage_id = this.itemRow.project.stage_id;
      }
    },
    async querySearch(queryString, cb) {
      await this.$emit('productSearch', queryString, cb);
    },
    
    handleSelect(item) {
      const bill = this.ItemRows.find(i => i.site_code == item.site_code);
      if (bill){
        alert('Already Selected');
      } else {
        if(item.client_id){
          this.itemRow.project_id = item.id;
          this.itemRow.project_stage_id = item.stage_id;
        } else {
          this.itemRow.project_id = item.project_id;
          this.itemRow.project_stage_id = item.project_stage_id;
        };
        this.itemRow.site_code = item.site_code;
        this.itemRow.project_amount = item.project_amount;
        this.itemRow.quantity = item.quantity;
        this.itemRow.unit_price = item.unit_price;
        this.itemRow.work_order_amount = 0;
        this.itemRow.site_location = item.site_location;
        this.checkChange();
      }
    },

    checkChange(){
      this.itemRow.work_order_amount = parseFloat(this.itemRow.quantity) * parseFloat(this.itemRow.unit_price)
      this.$emit('checkChange');
    },
    changeMood(){
      this.mood = 'print';
    },
    remove(index, id) {
      if (id !== undefined) {
        this.$confirm(
          'Are you sure to cancel this bill item . Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            workorderItemResource.destroy(id).then(response => {
             this.$message({
                  type: 'success',
                  message: 'Bill item deleted Successfully',
                });
                this.ItemRows.splice(index, 1);
                this.checkChange();
              })
              .catch((error) => {
                console.log(error);
              });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled',
            });
          });
      } else {
        this.$confirm(
          'Are you sure to cancel this bill item . Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            this.ItemRows.splice(index, 1);
            this.checkChange();
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled',
            });
          });
      }
    },
  },
  watch: {
    'mood': function(){
      this.changeMood();
    }
  }
};
</script>

<style scoped>
table,
td,
th {
  border: 1px solid #555;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17,
div#mceu_54-body {
  display: none !important;
}
.el-form-item.is-required.el-form-item--medium {
  width: 92% !important;
}
.grid-content h3 {
  background-color: #555;
  padding: 10px;
  color: #fff;
}
#info .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.el-radio__input.is-disabled + span.el-radio__label {
  color: #000 !important;
  cursor: not-allowed;
}
.sign {
  border-top: 1px solid #444;
  display: inline-block;
}
.office_info {
  line-height: 2.5;
}
.main-sign {
  display: block;
  width: 50%;
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
}
.main-sign .sign {
  margin-top: 60px;
}
.el-checkbox__input.is-checked + .el-checkbox__label{
  color: #000 !important;
}
.warning-color {
  background-color: rgb(247, 143, 143) !important;
}

</style>
