<template>
  <div class="app-container">
    <div v-loading="workOrderCreating" class="form-container" id="work-order">
      <el-form
        ref="workOrderForm"
        :rules="rules"
        :model="workOrder"
        label-position="left"
        label-width="150px"
      >
        <el-row :gutter="20">
          <template v-if="mood === 'view'">
            <el-col :span="12" v-if="officeInfo">
              <h2>{{ officeInfo.company_name }}</h2>
              <div class="office_info">
                <span v-html="officeInfo.office_address"></span>
                <span>Tel: {{ officeInfo.telephone }}</span>
                <br />
                <span>Cell: {{ officeInfo.phone }}</span>
                <br />
                <span>Email: {{ officeInfo.email }}</span>
              </div>
            </el-col>
            <el-col :span="12">
              <h2 style="text-align: right; cursor: pointer;" @dblclick="changeType">{{ type }}</h2>
              <table>
                <tr>
                  <td>W.O Number</td>
                  <td>{{ workOrder.order_no}}</td>
                </tr>
                <tr>
                  <td>Ref Number</td>
                  <td>{{ workOrder.contract_ref}}</td>
                </tr>
                <tr>
                  <td>P.O Issuance Date</td>
                  <td>{{ workOrder.po_issuance_date }}</td>
                </tr>
                <tr>
                  <td>Vendor ID</td>
                  <td v-if="workOrder.person">
                    <span
                      v-if="workOrder.person.type === 'subcontractor'"
                    >#Subcon -{{ workOrder.person.id }}</span>
                    <span
                      v-if="workOrder.person.type === 'supplier'"
                    >#Sup -{{ workOrder.person.id }}</span>
                  </td>
                </tr>
                <tr>
                  <td>Site Start Date</td>
                  <td>{{ workOrder.issue_date }}</td>
                </tr>
                <tr>
                  <td>Site Deadline</td>
                  <td>{{ workOrder.deadline }}</td>
                </tr>
              </table>
            </el-col>
          </template>
          <template v-else>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('projectSubcontract.order_no')" prop="order_no">
                  <el-input v-if="mood=== 'edit'" readonly v-model="workOrder.order_no" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('projectSubcontract.contract_ref')" prop="contract_ref">
                  <el-input @blur="checkChange" v-model="workOrder.contract_ref" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('projectSubcontract.department_id')" prop="department_id">
                  <el-select v-model="workOrder.department_id" placeholder="Select">
                    <el-option
                      v-for="item in departments"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('projectSubcontract.issue_date')" prop="issue_date">
                  <el-date-picker
                    v-model="workOrder.issue_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('projectSubcontract.deadline')" prop="deadline">
                  <el-date-picker
                    v-model="workOrder.deadline"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item label="PO Issuance Date" prop="finished_date">
                  <el-date-picker
                    v-if="mood === 'edit'"
                    v-model="workOrder.po_issuance_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                  <p v-else>{{ workOrder.po_issuance_date }}</p>
                </el-form-item>
              </div>
            </el-col>
          </template>
        </el-row>
        <el-row id="info" :gutter="20">
          <el-col :span="12">
            <div class="grid-content">
              <h3>Supplier / Vendor / Implementer</h3>
              <div class="infos">
                <div class="p-hide">
                  <el-form-item label="Work Order For">
                    <template>
                      <el-radio disabled border v-model="workOrder.work_order_for" label="Supplier"></el-radio>
                      <el-radio
                        disabled
                        border
                        v-model="workOrder.work_order_for"
                        label="Subcontractor"
                      ></el-radio>
                    </template>
                  </el-form-item>
                </div>
                <template
                  v-if="workOrder.work_order_for && workOrder.work_order_for === 'Supplier'"
                >
                  <el-form-item label="Company">
                    <span v-if="workOrder.person">{{ workOrder.person.company }}</span>
                  </el-form-item>
                </template>
                <template
                  v-if="workOrder.work_order_for && workOrder.work_order_for === 'Subcontractor'"
                >
                  <el-form-item label="Company">
                    <span v-if="workOrder.person">{{ workOrder.person.company }}</span>
                  </el-form-item>
                </template>
                <template v-if="workOrder.person !== null">
                  <el-form-item label="Name" prop="name" style>
                    <span v-if="workOrder.person">{{ workOrder.person.name }}</span>
                  </el-form-item>
                  <el-form-item label="Address" prop="address">
                    <span v-if="workOrder.person">{{ workOrder.person.street }}</span>
                  </el-form-item>
                  <el-form-item label="Phone" prop="phone">
                    <span v-if="workOrder.person">{{ workOrder.person.phone }}</span>
                  </el-form-item>
                  <el-form-item label="Email" prop="email">
                    <span v-if="workOrder.person">{{ workOrder.person.email }}</span>
                  </el-form-item>
                </template>
              </div>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <h3>Delivery Information</h3>
              <div style="padding-left: 20px">
                <template>
                  <el-form-item label="Delivery Point" prop="deliverY_point">
                    <el-input
                      v-if="mood === 'edit'"
                      type="textarea"
                      :rows="4"
                      v-model="workOrder.delivery_point"
                    ></el-input>
                    <span v-else>{{ workOrder.delivery_point }}</span>
                  </el-form-item>
                  <el-form-item label="Address" prop="address">
                    <el-input
                      v-if="mood === 'edit'"
                      type="textarea"
                      :rows="4"
                      v-model="workOrder.delivery_address"
                    ></el-input>
                    <span v-else>{{ workOrder.delivery_address }}</span>
                  </el-form-item>
                  <el-form-item label="Contract Referance" prop="contract_referance">
                    <el-input v-if="mood === 'edit'" v-model="workOrder.contract_referance"></el-input>
                    <span v-else>{{ workOrder.contract_referance }}</span>
                  </el-form-item>
                  <el-form-item label="Contract Number" prop="contract_number">
                    <el-input v-if="mood === 'edit'" v-model="workOrder.delivery_contract_number"></el-input>
                    <span v-else>{{ workOrder.delivery_contract_number }}</span>
                  </el-form-item>
                  <el-form-item label="Remarks" prop="remarks">
                    <el-input type="textarea" v-if="mood === 'edit'" v-model="workOrder.remarks"></el-input>
                    <span v-else>{{ workOrder.remarks }}</span>
                  </el-form-item>
                </template>
              </div>
            </div>
          </el-col>
          <el-col :span="24">
            <tinymce v-if="mood === 'edit'" v-model="workOrder.supply_item" :height="50" />
            <span v-else v-html="workOrder.supply_item"></span>
          </el-col>
          <el-col :span="24">
            <table class="item_table" style="margin-top: 20px">
              <thead class="thead">
                <tr class="thead_row">
                  <th width="15%">Site Code</th>
                  <th width="10%">Site Location</th>
                  <th width="40%">Description</th>
                  <th width="5%">Quantity</th>
                  <th width="10%">Unit</th>
                  <th width="10%">Unit Price</th>
                  <th width="10%">Amount</th>
                  <th width="5%" class="p-hide">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(itemRow, index) in workOrder.ItemRows">
                  <item-info
                    :showMenuBar="showMenuBar"
                    :key="index"
                    :ItemRows="workOrder.ItemRows"
                    :itemRow="itemRow"
                    :index="index"
                    @checkChange="checkChange"
                    @productSearch="productSearch"
                    :mood="mood"
                    :units="units"
                  />
                </template>
                <el-button :disabled="mood==='view'" @click="addNew">Add New</el-button>
              </tbody>
              <tfoot class="tfoot">
                <tr>
                  <td colspan="6">Total Work Oder Amount (BDT)</td>
                  <td v-if="workOrder.ItemRows">{{ totalAmount }}</td>
                  <td class="p-hide" />
                </tr>
                <tr>
                  <td colspan="8" style="text-align:center">
                    <p
                      v-if="workOrder.ItemRows"
                      style="text-transform: capitalize;"
                    >In Word: {{ totalAmountWord }} Taka Only</p>
                  </td>
                </tr>
              </tfoot>
            </table>
          </el-col>
          <el-col :span="12">
            <div class="grid-content" style="margin-right: 20px">
              <h3>Payment Terms</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.payment_terms"
                :height="50"
              />
              <p v-else v-html="workOrder.payment_terms"></p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content" style="margin-left: 20px">
              <h3>Payment Methos</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.payment_methods"
                :height="150"
              />
              <p v-else v-html="workOrder.payment_methods"></p>
            </div>
          </el-col>

          <el-col :span="8">
            <div class="grid-content">
              <h3 style="text-align:center">Warranty</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.warranty_terms"
                :height="250"
              />
              <p v-else v-html="workOrder.warranty_terms"></p>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <h3 style="text-align:center">Delay</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.delay_terms"
                :height="250"
              />
              <p v-else v-html="workOrder.delay_terms"></p>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <h3 style="text-align:center">Others</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.other_terms"
                :height="250"
              />
              <p v-else v-html="workOrder.other_terms"></p>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="grid-content">
              <h3 style="text-align:center">Scope Of Work</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.scope_of_work"
                :height="250"
              />
              <p v-else v-html="workOrder.scope_of_work"></p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <h3 style="text-align:center">Service Scope</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.service_scope"
                :height="250"
              />
              <p v-else v-html="workOrder.service_scope"></p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <h3 style="text-align:center">Equipment Scope</h3>
              <tinymce
                :menubar="showMenuBar"
                v-if="mood === 'edit'"
                v-model="workOrder.equipment_scope"
                :height="250"
              />
              <p v-else v-html="workOrder.equipment_scope"></p>
            </div>
          </el-col>
          <el-col :span="12" style="margin-top: 50px;">
            <div class="grid-content">
              <el-checkbox
                v-model="checked"
              >I have read and accepted all the terms & conditions above.</el-checkbox>
              <br />
              <span style="margin-top: 100px;" class="sign">Implementer</span>
            </div>
          </el-col>
          <el-col :span="24" style="margin-top: 150px">
            <el-row :gutter="20">
              <el-col :span="6">
                <span class="sign">Prepared By</span>
              </el-col>
              <el-col :span="6">
                <span class="sign">Checked By (PM)</span>
              </el-col>
              <el-col :span="6">
                <span class="sign">Approved By (CEO)</span>
              </el-col>
              <el-col :span="6">
                <span class="sign">Accounts By (Manager)</span>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
        <div class="main-sign">
          <span class="sign">{{ officeInfo.name }}</span>
          <br />
          <span>{{ officeInfo.designation }}</span>
        </div>
      </el-form>

      <div class="grid-content p-footer" ref="p-footer">
        <span style="margin-top: 100px;" class="sign">Implementer</span>
        <br />
        <el-checkbox v-model="checked">I have read and accepted all the terms & conditions above.</el-checkbox>
      </div>
      <div slot="footer" class="dialog-footer" style="margin-left: 45%; margin-top: 20px">
        <el-button
          v-if="mood === 'edit'"
          @click="dialogFormVisible = false"
        >{{ $t('table.cancel') }}</el-button>
        <el-button
          v-if="mood === 'edit'"
          type="primary"
          @click="updateWorkOrder()"
        >{{ $t('table.confirm') }}</el-button>
        <el-button type="info" @click="print()">Print</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import ItemInfo from './ItemInfo.vue';
import Resource from '@/api/resource';
const workOrderResource = new Resource('work-order');
import Tinymce from '../component/Tinymce';
const converter = require('@kushalst/numbers-to-words-converter');
const projectResource = new Resource('projects');
const newProjectAssignResource = new Resource('new-project-assign');
export default {
  props: [
    'workOrder',
    'mood',
    'officeInfo',
    'subcontractors',
    'departments',
    'suppliers',
    'units',
  ],
  components: { ItemInfo, Tinymce },
  data() {
    return {
      workOrderCreating: false,
      SlNo: null,
      totalAmount: 0,
      totalAmountWord: '',
      signatures: '',
      showMenuBar: true,
      newProjectAssigns: [],
      subconAssigned: [],
      checked: true,
      type: 'Work Order',
      rules: {
        subcontractor_id: [
          {
            required: true,
            message: 'Subcontractor Name is required',
            trigger: 'blur',
          },
        ],
        task_details: [
          {
            required: true,
            message: 'Task Details is required',
            trigger: 'blur',
          },
        ],

        order_no: [
          { required: true, message: 'Order No is required', trigger: 'blur' },
        ],
        contract_ref: [
          {
            required: true,
            message: 'Contract Ref. is required',
            trigger: 'blur',
          },
        ],
        department_id: [
          {
            required: true,
            message: 'Department is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.checkChange();
    this.getnewProjectAssigns();
  },
  methods: {
    async getnewProjectAssigns() {
      let query = {
        subcontractor_id: this.workOrder.subcontractor_id,
      };
      const newAssignResponse = await newProjectAssignResource.list(query);
      this.newProjectAssigns = newAssignResponse.data;

      this.getNPALS();
    },
    async getNPALS() {
      let data = this.workOrder.contract_ref.split(',');
      let subconAssigned = [];
      data.forEach((npal) => {
        let newProAss = this.newProjectAssigns.find(
          (np) => np.reference_number === npal
        );
        subconAssigned.push(newProAss);
      });
      this.subconAssigned = subconAssigned;
    },
    async productSearch(queryString, cb) {
      let projects = [];
      if (this.workOrder.subcontractor_id) {
        this.subconAssigned.forEach((element) => {
          element.projects.forEach((project) => {
            if (project.site_code) {
              this.$set(project, 'work_order_amount', 0);
              projects.push(project);
            }
          });
        });
      } else {
        let query = {
          keyword: queryString,
        };
        const projectResponse = await projectResource.list(query);
        projects = projectResponse.data;
      }
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : '';
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },

    addNew() {
      this.workOrder.ItemRows.push({
        site_code: '',
        details: '',
        remarks: '',
        project_amount: 0,
        work_order_amount: 0,
        quantity: 0,
        unit_price: 0,
      });
    },
    checkChange() {
      if (this.workOrder.ItemRows) {
        let total = 0;
        this.workOrder.ItemRows.forEach((item) => {
          total += parseFloat(item.work_order_amount);
        });
        this.totalAmount = total;
        this.workOrder.payable_amount = this.totalAmount;
        this.totalAmountWord = converter.toWords(this.totalAmount, 'IN');
      }
    },
    print() {
      let p_footer = this.$refs['p-footer'];
      console.log(p_footer);
      window.print();
      
    },
    updateWorkOrder() {
      this.$refs['workOrderForm'].validate((valid) => {
        if (valid) {
          this.workOrderCreating = true;
          workOrderResource
            .update(this.workOrder.id, this.workOrder)
            .then((response) => {
              this.$message({
                showClose: true,
                message: 'New Work Oder has benn created',
                type: 'success',
              });
              this.workOrderCreating = false;
            })
            .catch((error) => {
              console.log(error);
              this.workOrderCreating = false;
            });
        }
      });
    },
    changeType() {
      if (this.type === 'Work Order') {
        this.type = 'Project Budget';
      } else {
        this.type = 'Work Order';
      }
    },
  },
};
</script>

<style scoped>
table,
td,
th {
  border: 1px solid #555;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17,
div#mceu_54-body {
  display: none !important;
}
.el-form-item.is-required.el-form-item--medium {
  width: 92% !important;
}
.grid-content h3 {
  background-color: #555;
  padding: 10px;
  color: #fff;
}
#info .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.el-radio__input.is-disabled + span.el-radio__label {
  color: #000 !important;
  cursor: not-allowed;
}
.sign {
  border-top: 1px solid #444;
  display: inline-block;
}
.office_info {
  line-height: 2.5;
}
.main-sign {
  display: block;
  width: 50%;
  text-align: center;
  border: 1px solid #000;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
}
.main-sign .sign {
  margin-top: 60px;
}
.el-form-item.el-form-item--medium {
  margin-bottom: 5px !important;
}
.p-footer {
  display: none;
}




@media print {
  .p-footer {
    position: fixed;
    bottom: 0;
    display: block;
  }
  .p-footer:last-child{
    display: none;
  }
}

</style>