<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="" />
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add client']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <!-- <el-table-column align="center" label="ID" width="80" type="index">
      </el-table-column> -->
      <el-table-column align="center" label="Client ID" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Company">
        <template slot-scope="scope">
          <span>{{ scope.row.company }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Tax Number">
        <template slot-scope="scope">
          <span>{{ scope.row.tax_number }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Image">
        <template slot-scope="scope">
          <img
            v-if="scope.row.image"
            :src="imgURL + scope.row.image"
            height="70px"
            width="70px"
            @click="copySRC"
          />
          <img
            v-else
            height="70px"
            width="70px"
            src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
          />
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <router-link :to="'/sales/clients/edit/' + scope.row.id">
            <el-button
              v-permission="['update client']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.is_active == 'active'"
            v-permission="['manage client']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleEditInActive(scope.row.id)"
          >
            Block
          </el-button>
          <el-button
            v-if="scope.row.is_active == 'inactive'"
            v-permission="['manage client']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleEditActive(scope.row.id)"
          >
            Unblock
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new client'" :visible.sync="dialogFormVisible">
      <div v-loading="clientCreating" class="form-container">
        <el-form
          ref="clientForm"
          :rules="rules"
          :model="newClient"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
          enctype="multipart/form-data"
        >
          <el-form-item :label="$t('client.name')" prop="name">
            <el-input v-model="newClient.name" placeholder="Enter Customer Name" />
          </el-form-item>

          <el-form-item :label="$t('client.company')" prop="company">
            <el-input v-model="newClient.company" placeholder="Enter Customer Company Name" />
          </el-form-item>

          <el-form-item :label="$t('client.email')" prop="email">
            <el-input v-model="newClient.email" placeholder="Enter Customer Email Address" />
          </el-form-item>
          <el-form-item :label="$t('client.phone')" prop="phone">
            <el-input v-model="newClient.phone" placeholder="Enter Customer Phone Number"/>
          </el-form-item>
          <el-form-item label="Tax Number" prop="tax_number">
            <el-input v-model="newClient.tax_number" placeholder="Enter Customer Tax Number" />
          </el-form-item>

          <el-form-item :label="$t('client.street')" prop="street">
            <el-input v-model="newClient.street" placeholder="Enter Customer Street Address" />
          </el-form-item>

          <el-form-item :label="$t('client.country')" prop="country">
            <el-select
              v-model="newClient.country"
              class="filter-item"
              placeholder="Please select Country"
              @change="getState(newClient.country)"
            >
              <el-option
                v-for="country in countries"
                :key="country.id"
                :label="country.name | uppercaseFirst"
                :value="country.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('client.state')" prop="state">
            <el-select
              v-model="newClient.state"
              class="filter-item"
              placeholder="Please select State"
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :label="state.name | uppercaseFirst"
                :value="state.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('client.city')" prop="city">
            <el-input v-model="newClient.city" placeholder="Enter Customer City Name" />
          </el-form-item>

          <el-form-item :label="$t('client.zip_code')" prop="zip_code">
            <el-input v-model="newClient.zip_code" placeholder="Enter Customer Zip Code" />
          </el-form-item>

          <el-form-item :label="$t('client.image')" prop="image">
            <input type="file" @change="imageChanged($event)" />
          </el-form-item>

          <el-form-item
            v-if="imgurl"
            class="preview"
            :label="$t('client.selected_image')"
          >
            <img :src="imgurl" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createClient()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import { inActive, active } from '@/api/client';

export default {
  name: 'ClientList',
  components: { Pagination },

  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      clientCreating: false,
      imgurl: null,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newClient: {},
      newClientImage: '',
      dialogFormVisible: false,
      countries: [],
      states: [],
      image: '',
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
        email: [
          { required: false, message: 'Email is required', trigger: 'blur' },
          {
            type: 'email',
            message: 'Please input correct email address',
            trigger: ['blur', 'change'],
          },
        ],
      },
    };
  },
  created() {
    this.getList(); // get all the client list
    this.getCountries();
  },

  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },

    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/clients/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },
    // get all the country list
     async getCountries() {
      await axios.get('/api/countries').then(({ data }) => {
        this.countries = data.data;
      });
    },

    // get state according to the country id
    getState(cid) {
      axios.get('/api/states/' + cid).then(({ data }) => {
        this.states = data.states;
      });
    },

    async getList() {
      this.loading = true;
      const response = await clientResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    // load the client create form
    handleCreate() {
      // this.resetNewClient();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['clientForm'].clearValidate();
      });
    },
    // inactive client
    handleEditInActive(id, name) {
      this.$confirm(
        'Do you want to block client ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          inActive(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Blocked',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Block canceled',
          });
        });
    },
    // active client
    handleEditActive(id, name) {
      this.$confirm(
        'Do you want to Unblock client ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          active(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unblocked',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unblocked canceled',
          });
        });
    },
    // store client data
    createClient() {
      this.$refs['clientForm'].validate((valid) => {
        if (valid) {
          // console.log(this.newClient);
          this.newClient.image = this.image;
          this.clientCreating = true;
          this.newClient.country = 19;
          clientResource
            .store(this.newClient)
            .then((response) => {
              this.$message({
                message:
                  'New client ' +
                  this.newClient.name +
                  '(' +
                  this.newClient.email +
                  ') has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewClient();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },

    // reset client crate form
    resetNewClient() {
      this.newClient = {
        name: '',
        email: '',
        phone: '',
        country: '',
        state: '',
        city: '',
        zip_code: '',
        street: '',
        image: '',
        company: '',
        tax_number: '',
      };
    },
    // export client list
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = [
          'index',
          'client_id',
          'name',
          'email',
          'company',
          'phone',
          'country',
          'state',
          'district',
          'city',
          'zip_code',
          'street',
          'is_active',
          'tax_number',
        ];
        const filterVal = [
          'index',
          'id',
          'name',
          'email',
          'company',
          'phone',
          'country_name',
          'state_name',
          'city',
          'zip_code',
          'street',
          'is_active',
          'tax_number',
        ];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'client-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}

img {
  cursor: pointer;
}
</style>
