<template>
  <div v-loading="requisitionCreating" class="form-container">
    <el-form
      ref="requisitionForm"
      :model="purchaseRequisition"
      label-position="left"
      label-width="150px"
    >
      <h3 style="text-align:center">Create New Purchase Requisition</h3>
      <el-row :gutter="10">
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Requisition Date" prop="requisition_date">
              <p v-if="mood === 'view'">{{ purchaseRequisition.requisition_date }}</p>
              <el-date-picker
                v-else
                v-model="purchaseRequisition.requisition_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Requisition By" prop="requisition_by">
              <p v-if="mood === 'view'">{{ purchaseRequisition.requisition_by }}</p>
              <el-input placeholder="Requisition By" v-else v-model="purchaseRequisition.requisition_by" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="PRN" prop="prn">
              <p v-if="mood === 'view'">{{ purchaseRequisition.prn }}</p>
              <el-input placeholder="PRN" v-else v-model="purchaseRequisition.prn" />
            </el-form-item>
          </div>
        </el-col>
      </el-row>


      <el-row :gutter="10">
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Delivery Date" prop="delivery_date">
              <p v-if="mood === 'view'">{{ purchaseRequisition.delivery_date }}</p>
              <el-date-picker
                v-else
                v-model="purchaseRequisition.delivery_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Requisition Type" prop="requisition_type">
              <el-select
                v-model="purchaseRequisition.requisition_type"
                placeholder="Select Purchase Requisition Type"
                @change="getPurchaseRequisitionRoutes"
              >
                <el-option
                  v-for="(val, index) in requisitionTypes"
                  :key="index"
                  :label="val.text"
                  :value="val.value"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="From">
              <el-select
                v-model="purchaseRequisition.selectedFromId"
                filterable
                placeholder="Select From"
                @change="changeFromId"
              >
                <el-option
                  v-for="(val, index) in froms"
                  :key="index"
                  :label="val.site_code ? val.site_code : val.name"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>
      </el-row>


      <el-row :gutter="10">
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Note" prop="note">
              <p v-if="mood === 'view'">{{ purchaseRequisition.note }}</p>
              <el-input placeholder="Note" v-else v-model="purchaseRequisition.note" />
            </el-form-item>
          </div>
        </el-col>

      </el-row>


      
      <el-row :gutter="10">
        <el-col :span="24">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th width="40%">Product</th>
                <th width="25%">Quantity</th>
                <th width="25%">Unit</th>
                <th width="10%">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(itemRow, index) in purchaseRequisition.ItemRows">
                <purchase-requisition-item-component
                  :ItemRows="purchaseRequisition.ItemRows"
                  :itemRow="itemRow"
                  :key="index"
                  :mood="mood"
                  :index="index"
                  :purchaseRequisition="purchaseRequisition"
                  :products="products"
                  :units="units"
                />
              </template>
            </tbody>
          </table>
        </el-col>
      </el-row>
    </el-form>

    <div style="justify-content: center;">
      <el-button type="primary" icon="el-icon-plus" @click="addItem">
        {{ $t('table.add') }}
      </el-button>
      <el-button
        type="primary"
        v-if="mood === 'create'"
        @click="checkValidation"
      >{{ $t('table.confirm') }}</el-button>
      <el-button type="primary" v-if="mood === 'edit'" @click="checkValidation">Update</el-button>
      <el-button
        v-if="purchaseRequisition.status == 'created'"
        type="primary"
        icon="el-icon-check"
        @click="checkPurchaseRequisition"
      >{{ $t('table.check') }}</el-button>
      <el-button
        v-else-if="purchaseRequisition.status == 'checked'"
        type="primary"
        icon="el-icon-check"
        @click="approvePurchaseRequisition"
      >{{ $t('table.approve') }}</el-button>
    </div>
  </div>
</template>

<script>
import PurchaseRequisitionItemComponent from './PurchaseRequisitionItemComponent.vue';
import Resource from '@/api/resource';
const purchaseRequisitionResource = new Resource('purchaseRequisitions');
import { getItemLastId } from '@/utils/helper.js';
import { getCurrentDate } from '@/utils/helper.js';
export default {
  props: ['purchaseRequisition', 'mood'],
  components: { PurchaseRequisitionItemComponent },
  created() {
    this.purchaseRequisition.requisition_type = 1;
    this.getModelData();
  },
  data() {
    return {
      requisitionCreating: false,
      requisitionTypes: [
        { text: 'From Warehouse', value: 1 },
        { text: 'From Project', value: 2 },
      ],
      projects: [],
      warehouses: [],
      units: [],
      froms: [],
      products: [],
      index: 0,
    };
  },
  mounted() {},
  methods: {
    addItem(){
      var item = {
            product_id: '',
            product_name: '',
            quantity: '',
            unit_id: '',
      };
      this.purchaseRequisition.ItemRows.push(item);
      console.log('Create', this.purchaseRequisition.ItemRows);
    },
    checkPurchaseRequisition(){

    },
    approvePurchaseRequisition(){

    },
    getPurchaseRequisitionRoutes(){
      switch(this.purchaseRequisition.requisition_type)
      {
        case 1:      //if requisition_type = 1
          this.froms = this.warehouses;
          break;
        case 2:      //if requisition_type = 2
          this.froms = this.projects;
          break;
        default:    //if day doesn't match any of above
          console.log("Invalid");
      }
      this.purchaseRequisition.selectedFromId = '';
      console.log("Type -- ",this.purchaseRequisition.requisition_type, this.froms);
    },
    changeFromId(){
      if(this.purchaseRequisition.requisition_type == 1){
        axios.get('/api/warehouse/get-inventory-products/' + this.purchaseRequisition.selectedFromId).then(({ data }) => {
          this.products = data;
          console.log(data);
        })
      } else {
        axios.get('/api/project/get-inventory-products/' + this.purchaseRequisition.selectedFromId).then(({ data }) => {
          this.products = data;
          console.log(data);
        });
      }
    },
    async getModelData(){
      const models = [{name: 'project', model: 'Project'}, {name: 'warehouse', model: 'Warehouse'}, {name: 'unit', model: 'Unit'}];
      await axios.post('/api/get-model-data', models).then(response => {
        this.projects = response.data[0].project;
        this.warehouses = response.data[1].warehouse;
        this.units = response.data[2].unit;
        this.froms = this.warehouses;
        // getTableLastID(Project);
      })
    },
    checkValidation() {
      let valid = true;
      let multipleProduct = false;
      let unavalailableProducts = '';
      console.log('checkValidation');
      // this.purchaseRequisition.ItemRows.forEach((item) => {
      //   console.log(item);
      //   if(item.quantity > item.availability){
      //     if(multipleProduct) unavalailableProducts += ', '+item.product_name;
      //     else unavalailableProducts += item.product_name;
      //     multipleProduct = true;
      //     valid = false;
      //   }
      // });
      // console.log(unavalailableProducts);
      // if(unavalailableProducts){
      //   this.$message.error('Not enough '+unavalailableProducts+' avalailable');
      // }
      if (valid === true) {
        if (this.mood === 'create') {
          this.createPurchaseRequisition();
        } else if (this.mood === 'edit') {
          this.updatePurchaseRequisition();
        }
      } else {
        this.$message.error('Not enough '+unavalailableProducts+' avalailable');
      }
    },
    createPurchaseRequisition() {
      purchaseRequisitionResource
        .store(this.purchaseRequisition)
        .then((res) => {
          // this.resetPurchaseRequisitionForm();
          console.log(res.error)
          this.$message({
            message: 'Purchase Requisition Has been created successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    async resetPurchaseRequisitionForm() {
      let prn = '';
      await getItemLastId('PurchaseRequisition').then((res) => {
        prn = 'PNR#' + res;
      });
      this.purchaseRequisition = {
        prn: '',
        requisition_date: getCurrentDate(),
        delivery_date: '',
        requisition_by: '',
        requisition_type: '',
        selectedFromId: '',
        requisition_by: '',
        froms: [],
        note: '',
        ItemRows: [
          {
            product_id: '',
            product_name: '',
            quantity: '',
            unit_id: '',
          },
        ],
      };
    },
  },
};
</script>

<style scoped>
.inline .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
.el-dialog {
  width: 70% !important;
}
</style>