<template>
  <div class="dashboard-editor-container app-container">
    <el-row :gutter="20">
      <el-col :span="24">
        <panel-group />
      </el-col>
      <el-col :span="24">
        <div class="scope-of-work">
          <h1>
            Total 160 Projects Running in 3 Zones
          </h1>
          <el-row :gutter="20" style="margin-top: 50px">
            <el-col :span="8" v-for="(zone, index) in zones" :key="index">
              <span @click="showProjects(zone.id, zone.name)">
                <el-progress
                  type="circle"
                  :width="200"
                  :color="zone.name"
                  :stroke-width="30"
                  :percentage="parseInt(zone.totalWorkDone/zone.projects.length)"
                >{{ zone.name }}</el-progress>
              </span>
            </el-col>
          </el-row>
        </div>

        <div style="width: 90%; margin: 50px auto" v-if="show">
          <el-container>
            <el-header style="text-align: center">
              <h3>{{ zoneName }} Zone Projects</h3>
              <h3>Total Projects - {{ tableData.length }}</h3>
            </el-header>

            <el-main style="padding: 0">
              <el-table :data="tableData" style="font-size: 18px" stripe>
                <el-table-column prop="name" label="Project Name" width="150"></el-table-column>
                <el-table-column prop="site_code" label="Site Code" width="150"></el-table-column>
                <el-table-column prop="site_location" label="Address" width="200"></el-table-column>
                <el-table-column align="center" sortable prop="code" label="Work Done" width="200">
                  <template slot-scope="scope">
                    <el-progress
                      :text-inside="true"
                      :stroke-width="26"
                      :percentage="parseInt(scope.row.totalWorkDone)"
                      status="success"
                    ></el-progress>
                  </template>
                </el-table-column>
              </el-table>
            </el-main>
          </el-container>
        </div>
      </el-col>
      <!-- <el-col :span="8">
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/1.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/1.jpg" style="width: 100%" />
        </a>
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/2.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/2.jpg" style="width: 100%" />
        </a>
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/3.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/3.jpg" style="width: 100%" />
        </a>
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/4.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/4.jpg" style="width: 100%" />
        </a>
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/5.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/5.jpg" style="width: 100%" />
        </a>
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/6.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/6.jpg" style="width: 100%" />
        </a>
        <a href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/7.jpg" target="_blank">
          <img src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/7.jpg" style="width: 100%" />
        </a>
      </el-col> -->
    </el-row>
  </div>
</template>


<script>
import Resource from '@/api/resource';
const projectResource = new Resource('projects');
const zoneResource = new Resource('zones');
import PanelGroup from './components/PanelGroup';
export default {
  components: {
    PanelGroup
  },
  data() {
    return {
      show: false,
      loading: false,
      zone: '',
      zoneName: '',
      tableData: [],
      zones: [],
      query: {
        page: 1,
        limit: 10,
      },
      zoneTotalDone: 0,
    };
  },
  created() {
    this.getZones();
  },
  methods: {
    showProjects(zone, name) {
      this.show = true;
      this.query.zone_id = zone;
      this.zoneName = name;
      this.getList();
    },
    async getList() {
      this.loading = true;
      await projectResource
        .list(this.query)
        .then((response) => {
          const data = response.data;
          this.tableData = data;
        })
        .catch((error) => {
          console.log(error.response);
          this.$message({
            message: error.response.data.message,
            type: 'error',
            duration: 5 * 1000,
          });
        });

      this.loading = false;
    },
    async handleFilter() {
      await this.getList();
    },
    async getZones() {
      await zoneResource
        .list({})
        .then((response) => {
          const data = response.data;
          this.zones = data;
          this.calcZoneTotalDone();
        })
        .catch((error) => {
          console.log(error.response);
          this.$message({
            message: error.response.data.message,
            type: 'error',
            duration: 5 * 1000,
          });
        });
    },
    calcZoneTotalDone() {
      let total = 0;
      this.zones.forEach((zone) => {
        zone.projects.forEach((element) => {
          total += element.totalWorkDone;
        });
        this.$set(zone, 'totalWorkDone', total);
      });
    },
  },
};
</script>

<style scoped>
.scope-of-work {
  text-align: center;
  margin: 100px 0px;
}
span {
  cursor: pointer;
}
.el-header {
  background-color: #b3c0d1;
  color: #333;
  height: 100px !important;
}

.el-aside {
  color: #333;
}
</style>
