<template>
  <div v-if="subcontractor.id">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <el-row :gutter="20">
      <el-col :span="6">
        <el-card>
          <div class="subcontractor-profile">
            <div class="subcontractor-avatar box-center">
              <img
                v-if="subcontractor.image"
                :src="imgURL + subcontractor.image"
                height="90px"
                width="90px"
              >
              <img
                v-else
                height="90px"
                width="90px"
                src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
              >
            </div>
            <div class="box-center">
              <div class="text-center subcontractor-name">
                {{ subcontractor.name }}
              </div>
              <div class="text-center subcontractor-role text-muted">
                {{ subcontractor.email }}
              </div>
              <div class="text-center subcontractor-role text-muted">
                {{ subcontractor.phone }}
              </div>
            </div>
            <!-- <div class="subcontractor-follow">
              <el-button type="primary" style="width: 100%;">
                Follow
              </el-button>
            </div> -->
          </div>
        </el-card>
      </el-col>
      <el-col :span="18">
        <el-tabs v-model="activeActivity" @tab-click="handleClick">
          <el-tab-pane id="view" v-loading="updating" label="View" name="first">
            <el-form>
              <el-form-item label="Company">
                <el-input v-model="subcontractor.company" />
              </el-form-item>
              <el-form-item label="Name">
                <el-input v-model="subcontractor.name" />
              </el-form-item>

              <el-form-item label="Email">
                <el-input v-model="subcontractor.email" />
              </el-form-item>
              <el-form-item label="Phone">
                <el-input v-model="subcontractor.phone" />
              </el-form-item>

              <el-form-item :label="$t('subcontractor.street')" prop="street">
                <el-input v-model="subcontractor.street" />
              </el-form-item>

              <el-form-item :label="$t('subcontractor.country')" prop="country">
                <el-select
                  v-model="country.name"
                  class="filter-item el-select el-select--medium"
                  prop="country"
                >
                  <el-option
                    :key="country.id"
                    :value="country.id"
                    :label="country.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.state')" prop="state">
                <el-select
                  v-model="subcontractor.state"
                  class="filter-item el-select el-select--medium"
                  placeholder="Please select State"
                >
                  <el-option
                    v-for="state in states"
                    :key="state.id"
                    :value="state.id"
                    :label="state.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.district')" prop="district">
                <el-select
                  v-model="subcontractor.district"
                  class="filter-item el-select el-select--medium"
                >
                  <el-option
                    v-for="district in districts"
                    :key="district.id"
                    :value="district.id"
                    :label="district.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.city')" prop="city">
                <el-select
                  v-model="subcontractor.city"
                  placeholder="Please select City"
                >
                  <el-option
                    v-for="city in cities"
                    :key="city.id"
                    :value="city.id"
                    :label="city.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.zip_code')" prop="zip_code">
                <el-input v-model="subcontractor.zip_code" />
              </el-form-item>

              <el-form-item :label="$t('subcontractor.image')" prop="image">
                <input type="file" @change="imageChanged($event)">
              </el-form-item>
              <el-form-item :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.image"
                  :src="imgURL + subcontractor.image"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item :label="$t('subcontractor.trade_licence')" prop="trade_licence">
                <input type="file" @change="tradeLicenced($event)">
              </el-form-item>
              <el-form-item :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.trade_licence"
                  :src="imgURL + subcontractor.trade_licence"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item :label="$t('subcontractor.TIN')" prop="TIN">
                <input type="file" @change="tinChanged($event)">
              </el-form-item>
              <el-form-item :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.TIN"
                  :src="imgURL + subcontractor.TIN"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item :label="$t('subcontractor.BIN')" prop="BIN">
                <input type="file" @change="binChanged($event)">
              </el-form-item>
              <el-form-item :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.BIN"
                  :src="imgURL + subcontractor.BIN"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item :label="$t('subcontractor.NID')" prop="NID">
                <input type="file" @change="nidChanged($event)">
              </el-form-item>
              <el-form-item :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.NID"
                  :src="imgURL + subcontractor.NID"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

            </el-form>
          </el-tab-pane>

          <el-tab-pane v-loading="updating" label="Edit" name="second">
            <el-form>
              <el-form-item label="Company">
                <el-input v-model="subcontractor.company" />
              </el-form-item>
              <el-form-item label="Name">
                <el-input v-model="subcontractor.name" />
              </el-form-item>

              <el-form-item label="Email">
                <el-input v-model="subcontractor.email" />
              </el-form-item>
              <el-form-item label="Phone">
                <el-input v-model="subcontractor.phone" />
              </el-form-item>
              <el-form-item :label="$t('subcontractor.street')" prop="street">
                <el-input v-model="subcontractor.street" />
              </el-form-item>

              <el-form-item :label="$t('subcontractor.state')" prop="state">
                <el-select
                  v-model="subcontractor.state"
                  class="filter-item el-select el-select--medium"
                  @change="getDistrict(subcontractor.state)"
                >
                  <el-option
                    v-for="state in states"
                    :key="state.id"
                    :value="state.id"
                    :label="state.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.district')" prop="district">
                <el-select
                  v-model="subcontractor.district"
                  @change="getCities(subcontractor.district)"
                >
                  <el-option
                    v-for="district in districts"
                    :key="district.id"
                    :value="district.id"
                    :label="district.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.city')" prop="city">
                <el-select
                  v-model="subcontractor.city"
                  placeholder="Please select City"
                >
                  <el-option
                    v-for="city in cities"
                    :key="city.id"
                    :value="city.id"
                    :label="city.name"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('subcontractor.zip_code')" prop="zip_code">
                <el-input v-model="subcontractor.zip_code" />
              </el-form-item>

              <el-form-item :label="$t('subcontractor.image')" prop="image">
                <input type="file" @change="imageChanged($event)">
              </el-form-item>
              <el-form-item v-if="!imgurl" :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.image"
                  :src="imgURL + subcontractor.image"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item v-if="imgurl" class="preview" :label="$t('subcontractor.selected_image')">
                <img :src="imgurl">
              </el-form-item>

              <el-form-item :label="$t('subcontractor.trade_licence')" prop="trade_licence">
                <input type="file" @change="tradeLicenced($event)">
              </el-form-item>
              <el-form-item v-if="!tradeurl" :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.trade_licence"
                  :src="imgURL + subcontractor.trade_licence"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item v-if="tradeurl" class="preview" :label="$t('subcontractor.selected_image')">
                <img :src="tradeurl">
              </el-form-item>

              <el-form-item :label="$t('subcontractor.TIN')" prop="TIN">
                <input type="file" @change="tinChanged($event)">
              </el-form-item>
              <el-form-item v-if="!tinurl" :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.TIN"
                  :src="imgURL + subcontractor.TIN"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item v-if="tinurl" class="preview" :label="$t('subcontractor.selected_image')">
                <img :src="tinurl">
              </el-form-item>

              <el-form-item :label="$t('subcontractor.BIN')" prop="BIN">
                <input type="file" @change="binChanged($event)">
              </el-form-item>
              <el-form-item v-if="!binurl" :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.BIN"
                  :src="imgURL + subcontractor.BIN"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item v-if="binurl" class="preview" :label="$t('subcontractor.selected_image')">
                <img :src="binurl">
              </el-form-item>

              <el-form-item :label="$t('subcontractor.NID')" prop="NID">
                <input type="file" @change="nidChanged($event)">
              </el-form-item>
              <el-form-item v-if="!nidurl" :label="$t('subcontractor.selected_image')">
                <img
                  v-if="subcontractor.NID"
                  :src="imgURL + subcontractor.NID"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                >
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                >
              </el-form-item>

              <el-form-item v-if="nidurl" class="preview" :label="$t('subcontractor.selected_image')">
                <img :src="nidurl">
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="onSubmit"> Update </el-button>
              </el-form-item>
            </el-form>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </div>
</template>

<script>

import axios from 'axios';
import { fetchSubcontractor } from '@/api/subcontractor';
import Resource from '@/api/resource';
const subcontractorResource = new Resource('subcontractors');

export default {

  data() {
    return {

      headers: {
        'Content-Type': 'multipart/form-data',
      },

      activeActivity: 'first',
      updating: false,
      countries: [],
      states: [],
      districts: [],
      newsubcontractorImage: '',
      subcontractor: {},
      image: '',
      trade_licence: '',
      TIN: '',
      BIN: '',
      NID: '',
      country: {
        'name': 'Bangladesh',
      },
      cities: [],
      imgurl: null,
      tradeurl: null,
      binurl: null,
      tinurl: null,
      nidurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
    };
  },
  watch: {
    subcontractor: function(nv, ov) {
      this.getState(this.subcontractor.country);
      this.getDistrict(this.subcontractor.state);
      this.getCities(this.subcontractor.district);
    },
  },
  created() {
    this.getCountries();
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {

    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    fetchData(id) {
      fetchSubcontractor(id)
        .then(response => {
          this.subcontractor = response.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    getCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getState(cid) {
      const country_id = cid;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
        this.getDistrict(this.subcontractor.state);
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },
    getDistrict(sid) {
      const state_id = sid;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCurrentImage(img) {
      return 'images/subcontractor/' + img;
    },

    getNidImage(event){
      this.subcontractor.NID = event;
    },
    getLicenceImage(event){
      this.subcontractor.Licence = event;
    },
    getBinImage(event){
      this.subcontractor.BIN = event;
    },
    getTinImage(event){
      this.subcontractor.TIN = event;
    },

    imageChanged(e){
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/subcontractors/get-image', data).then(res => {
        this.image = res.data.imageName;
        // console.log(this.image);
      });
    },

    tradeLicenced(e) {
      const trade_licence = e.target.files[0];
      this.tradeurl = URL.createObjectURL(trade_licence);
      const data = new FormData();
      data.append('photo', trade_licence);
      axios.post('/api/subcontractors/trade-licence', data).then(res => {
        this.trade_licence = res.data.tradeLicence;
      });
    },

    tinChanged(e) {
      const TIN = e.target.files[0];
      this.tinurl = URL.createObjectURL(TIN);
      const data = new FormData();
      data.append('photo', TIN);
      axios.post('/api/subcontractors/tin', data).then(res => {
        this.TIN = res.data.tin;
      });
    },

    binChanged(e) {
      const BIN = e.target.files[0];
      this.binurl = URL.createObjectURL(BIN);
      const data = new FormData();
      data.append('photo', BIN);
      axios.post('/api/subcontractors/bin', data).then(res => {
        this.BIN = res.data.bin;
      });
    },

    nidChanged(e) {
      const NID = e.target.files[0];
      this.nidurl = URL.createObjectURL(NID);
      const data = new FormData();
      data.append('photo', NID);
      axios.post('/api/subcontractors/nid', data).then(res => {
        this.NID = res.data.nid;
      });
    },
    onSubmit() {
      this.subcontractor.image = this.image;
      this.subcontractor.trade_licence = this.trade_licence;
      this.subcontractor.TIN = this.TIN;
      this.subcontractor.BIN = this.BIN;
      this.subcontractor.NID = this.NID;
      this.updating = true;
      subcontractorResource
        .update(this.subcontractor.id, this.subcontractor)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'subcontractor information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
          // EventBus.$emit('newSubcontractor', response);
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.subcontractor-activity {
  .subcontractor-block {
    .subcontractorname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .subcontractor-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
.subcontractor-profile {
  .subcontractor-name {
    font-weight: bold;
  }
  .box-center {
    padding-top: 10px;
  }
  .subcontractor-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  .box-social {
    padding-top: 30px;
    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }
  .subcontractor-follow {
    padding-top: 20px;
  }
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

img {
  cursor: pointer;
}
</style>
