<template>
  <div id="bill_print" class="app-container">
    <el-card>
      <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
      <el-form
        ref="clientBillForm"
        :rules="rules"
        :model="newClientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <!-- <el-col :span="12">'</el-col>
          <el-col :span="12">
            <div class="logo" style="display:block">
              <h3 style="visibility: hidden;">Comapny Logo</h3>
              <el-image
                style="width: 150px; height: 120px;display:block;margin-bottom:20px;margin-left: auto"
                :src="url + logo"
              />
            </div>
          </el-col>-->
          <el-col :span="6" class="p-hide">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <el-input v-model="newClientBill.bill_id" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="6" class="p-hide">
            <el-form-item label="Supervised By Name" prop="supervised_by">
              <el-select v-model="newClientBill.supervised_by" placeholder="Select">
                <el-option
                  v-for="item in users"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="6" class="p-hide">
            <el-form-item label="Submite Date" prop="send_date">
              <el-date-picker
                v-model="newClientBill.send_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col>-->
          <!-- <el-col :span="8" class="p-hide">
            <el-form-item label="Payment Details" prop="payment_details">
              <el-input
                type="textarea"
                :rows="1"
                placeholder="Please input"
                v-model="newClientBill.payment_details"
              ></el-input>
            </el-form-item>
          </el-col>-->
          <!-- <el-col :span="6" class="p-hide">
            <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
              <el-date-picker
                v-model="newClientBill.estimated_payment_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col>-->
          <el-col :span="12" class="p-hide">
            <div>
              <!-- <h3>Create Client Bill For</h3> -->
              <el-form-item label="Client Company" prop="client_id">
                <template>
                  <el-select
                    v-model="newClientBill.client_id"
                    placeholder="Select"
                    @change="getClientProjects(newClientBill.client_id)"
                  >
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    />
                  </el-select>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="bill-info">
              <div>
                <h3>Project Name #</h3>
                <el-input
                  v-if="newClientBill.site_code"
                  v-model="newClientBill.project_name"
                  placeholder="Please input"
                />
              </div>
              <div>
                <h3>Contract #</h3>
                <el-input
                  v-if="newClientBill.site_code"
                  v-model="newClientBill.work_order_id"
                  placeholder="Please input"
                />
              </div>
              <div>
                <h3>Code #</h3>
                <el-input
                  v-if="newClientBill.site_code"
                  v-model="newClientBill.site_code"
                  placeholder="Please input"
                />
              </div>
              <div>
                <h3>Bill #</h3>
                <el-input
                  type="textarea"
                  :rows="2"
                  v-model="newClientBill.payment_details"
                  placeholder="Please input"
                />
              </div>
            </div>
          </el-col>
          <el-col :span="24">
            <h4>To</h4>
            <template v-if="client">
              <tinymce v-model="newClientBill.to" :height="190" placeholder="Please input" />
            </template>
          </el-col>

          <br />
          <el-col :span="24" style="margin-top: 20px">
            <span />
            <template>
              <tinymce v-if="newClientBill.subject" v-model="newClientBill.subject" :height="20" />
            </template>
          </el-col>

          <el-col :span="24" style="margin-top: 20px">
            <template>
              <tinymce v-if="newClientBill.msg1" v-model="newClientBill.msg1" :height="20" />
            </template>
          </el-col>
          <el-col :span="24" style="margin-top: 20px" class="p-hide">
            <table class="item_table">
              <thead class="thead">
                <tr valign="top">
                  <th rowspan="2">SI No.</th>
                  <th rowspan="2">Item</th>
                  <th rowspan="2">Description</th>
                  <th colspan="6">Bill Amount</th>
                </tr>
                <tr valign="top">
                  <th>Quantity</th>
                  <th>Unit Price (with VAT)</th>
                  <th>Total Bill Amount</th>
                  <th>Submited Amount</th>
                  <th>Remarks</th>
                  <th class="p-hide">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in newClientBill.BillRows">
                  <edotco-bill-info
                    v-if="client.projects"
                    :key="index"
                    :BillRows="newClientBill.BillRows"
                    :projects="client.projects"
                    :billRow="billRow"
                    :index="index"
                    @checkChange="checkChange"
                  />
                </template>
                <el-button @click="addNew">Add New</el-button>
              </tbody>
              <tfoot class="tfoot">
                <tr valign="top">
                  <td colspan="3">Total</td>
                  <td>{{ totalQuantity }}</td>
                  <td colspan="2" />
                  <td>{{ totalAmount }}</td>
                  <td />
                  <td class="p-hide" />
                </tr>
              </tfoot>
            </table>
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <h4>Total Estimated cost TK = {{ singleProjectAmount }} x {{ totalBillItem }} = {{ totalAmount }}</h4>
            <h4>As par payment schedule of project TK = {{ totalAmount }}</h4>
            <h4>Payable net Amount TK = {{ totalAmount }} ({{ totalAmountWord }})</h4>
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <tinymce v-model="newClientBill.msg2" />
          </el-col>
        </el-row>
      </el-form>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button type="info" @click="resetBillForm">Clear</el-button>
        <el-button type="primary" @click="saveAsDraft">Save As Draft</el-button>
        <el-button type="success" @click="createClientBill()">{{ $t('table.confirm') }}</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
import BillInfo from '../components/BillInfo.vue';
const converter = require('number-to-words');
import EdotcoBillInfo from '../components/EdotcoBillInfo.vue';
export default {
  components: { Tinymce, EdotcoBillInfo },
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      newClientBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
            project_name: '',
            work_order_id: '',
            vat: 0,
            tax: 0,
            sd: 0,
            deduction: 0,
            cheque_amount: 0,
          },
        ],

        subject: '',
        date: '',
        bill_received_number: '',
        msg1: '',
        attached: '',
        msg2: '',
        work_order_id: '',
        bill_format: 'ksr-format',
        site_code: '',
        project_name: '',
      },
      state: '',
      rules: {
        client_id: [
          {
            required: true,
            message: 'Client company name is required',
            trigger: 'blur',
          },
        ],
      },
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      margedDetails: '',
      margedSiteCode: '',
      to: null,
      referance: '',
      totalAmount: 0,
      totalAmountWord: '',
      totalQuantity: 0,
      totalBillItem: 0,
      singleProjectAmount: 0,
      firstItemCode: '',
      lastItemCode: '',
    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
  },
  mounted() {
    let bills = Object.entries(this.$route.query);
    if (this.$route.query[0]) {
      let BillRows = [];
      Object(bills).map(([key, value]) => {
        this.newClientBill.client_id = value.client_id;
        let billRow = {
          project_id : value.id,
          stage_id: value.stage_id,
          site_code: value.site_code,
          project_type: value.project_type,
          details: value.details,
          quantity: value.quantity,
          unit_price: value.unit_price,
          project_amount:  value.project_amount,
          remarks: '',
          amount: 0,
          project_name: value.name,
          work_order_id: '',
          vat: 0,
          tax: 0,
          sd: 0,
          deduction: 0,
          cheque_amount: 0,
        };
        BillRows.push(billRow);
      });
      this.newClientBill.BillRows = BillRows;
      this.getClientProjects(this.newClientBill.client_id);
      this.checkChange();
    }
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
    },
    async getClientProjects(cid) {
      const clientRes = await clientResource.get(cid);
      this.client = clientRes.data;
      this.setSendToAddress(this.client);
    },
    querySearch(queryString, cb) {
      const projects = this.client.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },

    checkChange() {
      let amount = 0;
      let quantity = 0;
      let margedDetails = '';
      this.newClientBill.BillRows.forEach((element) => {
        margedDetails = margedDetails + ', ' + element.details;
        amount = amount += parseInt(element.amount) || 0;
        quantity = quantity += element.quantity;
      });
      this.newClientBill.work_order_id =
        this.newClientBill.BillRows[0].work_order_id;
      this.singleProjectAmount = this.newClientBill.BillRows[0].project_amount;
      this.totalAmount = amount;
      this.totalQuantity = quantity;
      this.margedDetails = margedDetails;
      this.totalBillItem = this.newClientBill.BillRows.length + ' Nos';
      this.firstItemCode = this.newClientBill.BillRows[0].site_code;
      this.newClientBill.project_name =
        this.newClientBill.BillRows[0].project_name;
      this.lastItemCode =
        this.newClientBill.BillRows[
          this.newClientBill.BillRows.length - 1
        ].site_code;
      this.separentSiteCode(this.firstItemCode, this.lastItemCode);
      this.setData();
    },
    separentSiteCode(first, last) {
      const [word1, digits1] = first.match(/\D+|\d+/g);
      const [word2, digits2] = last.match(/\D+|\d+/g);
      this.margedSiteCode = word1 + '(' + digits1 + '-' + digits2 + ')';
      this.newClientBill.site_code =
        this.margedSiteCode + ' = ' + this.totalBillItem;
    },
    remove(index) {
      this.newClientBill.BillRows.splice(index, 1);
      this.checkChange();
    },
    setData() {
      this.totalAmountWord = converter.toWords(this.totalAmount);
      this.newClientBill.subject = `Subject: <b>Application for ${this.newClientBill.payment_details} Bill for ${this.totalBillItem} ${this.newClientBill.project_name}  ${this.margedSiteCode}</b> `;
      this.newClientBill.msg1 = `
        <b>Muhtaram, Assalamu Alaikum</b>
        <p>I am pleased to inform you that, I have completed the installation of  ${this.totalBillItem} ${this.newClientBill.project_name} works in above mentioned area photograph enclosed thereby. As per agreement and payment schedule. I am requesting you to pay respected allowable amount which is given below: </p>
      `;
      this.newClientBill.msg2 = `
        <p>Sincerely</p>


        <p>Mohammad Ziaur Rahman Mithu</p>
        <p>Implementer</p>
        `;
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/ClientBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newClientBill.bill_id = 'CSB-' + this.SlNo;
      });
    },
    setSendToAddress(client) {
      this.newClientBill.to = `
        <h4>${client.name}</h4>
        <p>Country Director</p>
        <p>${client.company}</p>
        <p>Bangladesh Office</p>
        <p>${client.street}</p>
      `;
    },
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}/${
        current.getMonth() + 1
      }/${current.getDate()}`;
      this.newClientBill.prepared_date = 'date: ' + this.currentDate;
    },
    addNew() {
      this.newClientBill.BillRows.push({
        site_code: '',
        project_type: '',
        details: '',
        remarks: '',
        amount: 0,
        vat: 0,
        tax: 0,
        sd: 0,
        deduction: 0,
        cheque_amount: 0,
      });
    },
    createClientBill() {
      this.newClientBill.total_bill_amount = this.totalAmount;
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          clientBillResource
            .store(this.newClientBill)
            .then((response) => {
              this.printBill();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    saveAsDraft() {
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          this.newClientBill.total_bill_amount = this.totalAmount;
          axios
            .post('/api/client-bill/save-draft', this.newClientBill)
            .then((res) => {
              this.$message({
                message: 'Successfully saved as Draft',
                type: 'success',
              });
              this.resetBillForm();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
              this.clientBillCreating = false;
            });
        }
      });
    },
    printBill() {
      this.$confirm('Do you like to print this bill. Continue?', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      })
        .then(() => {
          window.print();
          this.resetBillForm();
        })
        .catch(() => {
          this.resetBillForm();
          this.$message({
            type: 'info',
            message: 'canceled',
          });
        });
    },
    resetBillForm() {
      this.newClientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
        to: '',
        subject: '',
        date: '',
        bill_received_number: '',
        msg1: '',
        attached: '',
        msg2: '',
        work_order_id: '',
        site_code: '',
        project_name: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
      this.margedSiteCode = '';
      this.firstItemCode = '';
      this.lastItemCode = '';
      this.totalAmountWord = 0;
      this.totalAmount = 0;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
<<<<<<< HEAD
table, td, th {
  border: 1px solid #c1eaf3;
=======
table,
td,
th {
  border: 1px solid #ddd;
>>>>>>> 4a296d1e6a60514ab0d41ee850abe0db92af1305
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}
<<<<<<< HEAD
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
=======
.tbody tr:nth-child(even) {
  background-color: #ddd;
>>>>>>> 4a296d1e6a60514ab0d41ee850abe0db92af1305
}
.thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17 {
  display: none;
}
#referance .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.bill-info div {
  display: flex;
  align-items: center;
}
.bill-info h3 {
  width: 170px;
}
</style>
