<template>
  <div id="bill_print" class="app-container">
      <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
      <el-form
        ref="clientBillForm"
        :rules="rules"
        :model="clientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <el-col :span="6" class="p-hide">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <el-input v-model="clientBill.bill_id" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="6" class="p-hide">
            <el-form-item label="Supervised By Name" prop="supervised_by">
              <el-select :disabled="mood === 'view' || mood === 'receive'" v-model="clientBill.supervised_by" placeholder="Select">
                <el-option v-for="item in users" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6" v-if="clientBill.bill_submission_date" class="p-hide">
          <el-form-item label="Bill Submission Date" prop="bill_submission_date">
            <el-date-picker
              v-model="clientBill.bill_submission_date"
              v-if="mood === 'edit'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.bill_submission_date }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_submission_number" class="p-hide">
          <el-form-item label="Bill Submission Number" prop="bill_submission_number">
            <el-input v-if="clientBill.bill_submission_number && mood === 'edit'" v-model="clientBill.bill_submission_number"  placeholder="Please input" />
            <span v-else>{{ clientBill.bill_submission_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.estimated_payment_date" class="p-hide">
          <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
            <el-date-picker
              v-model="clientBill.estimated_payment_date"
              v-if="mood === 'edit'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.estimated_payment_date }}</span>
          </el-form-item>
        </el-col>

        <el-col :span="6" v-if="clientBill.bill_received_date || mood === 'receive'" class="p-hide">
          <el-form-item label="Bill Receive Date" prop="bill_received_date">
            <el-date-picker
              v-model="clientBill.bill_received_date"
              v-if="mood === 'receive' && clientBill.bill_status === 'pending'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.bill_received_date }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_received_number || mood === 'receive'" class="p-hide">
          <el-form-item label="Bill Receive Number" prop="bill_received_number">
            <el-input
              v-model="clientBill.bill_received_number"
              v-if="mood === 'receive' && clientBill.bill_status === 'pending'"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.bill_received_number }}</span>
          </el-form-item>
        </el-col>
          <el-col :span="24" class="p-hide">
            <div style="width: 50%">
              <!-- <h3>Create Client Bill For</h3> -->
              <el-form-item label="Client Company" prop="client_id">
                <template>
                  <el-select
                    disabled
                    v-model="clientBill.client_id"
                    placeholder="Select"
                    @change="getClientProjects(clientBill.client_id)"
                  >
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    />
                  </el-select>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="bill-info">
              <div>
                <h3>Project Name #</h3>
                <el-input v-if="clientBill.site_code && mood === 'edit'" v-model="clientBill.project_name" placeholder="Please input" />
                <p v-else>{{ clientBill.project_name}}</p>
              </div>
              <div>
                <h3>Contract # </h3>
                <el-input v-if="clientBill.site_code && mood === 'edit'" v-model="clientBill.work_order_id" placeholder="Please input" />
                <p v-else>{{ clientBill.work_order_id}}</p>
              </div>
              <div>
                <h3>Code # </h3>
                <el-input v-if="clientBill.site_code && mood === 'edit'" v-model="clientBill.site_code" placeholder="Please input" />
                <p v-else>{{ clientBill.site_code}}</p>
              </div>
              <div>
                <h3>Bill # </h3>
                <el-input type="textarea" :rows="2" v-if="mood === 'edit'" v-model="clientBill.payment_details" placeholder="Please input" />
                <p v-else>{{ clientBill.payment_details}}</p>
              </div>
            </div>
          </el-col>
          <el-col :span="24">
            <h4>To</h4>
            <template v-if="client">
              <tinymce v-if="mood === 'edit'" v-model="clientBill.to" :height="190" placeholder="Please input" />
              <span v-else v-html="clientBill.to"></span>
            </template>
          </el-col>

          <br>
          <el-col :span="24" style="margin-top: 20px">
            <span />
            <template>
              <tinymce  v-if="clientBill.subject && mood === 'edit'" v-model="clientBill.subject" :height="20" />
              <span v-else v-html="clientBill.subject"></span>
            </template>
          </el-col>

          <el-col :span="24" style="margin-top: 20px">
            <template>
              <tinymce v-if="clientBill.msg1 && mood === 'edit'" v-model="clientBill.msg1" :height="20" />
              <span v-else v-html="clientBill.msg1"></span>
            </template>
          </el-col>
          <el-col :span="24" style="margin-top: 20px" class="p-hide">
            <table class="item_table" ref="itemTable">
              <thead class="thead">
                <tr valign="top">
                  <th rowspan="2">SI No.</th>
                  <th rowspan="2">Item</th>
                  <!-- <th rowspan="2">Description</th> -->
                  <th rowspan="2">Submited Amount</th>
                  <th colspan="8">Bill Amount</th>
                </tr>
                <tr valign="top">
                  <template v-if="mood !== 'receive'">
                    <th>Quantity</th>
                    <th>Unit Price (with VAT)</th>
                    <th>Project Amount</th>
                  </template>
                  <template v-if="mood === 'receive'">
                    <th>Vat</th>
                    <th>Tax</th>
                    <th>SD</th>
                    <th>Deduction</th>
                    <th>Cheque Amount</th>
                  </template>
                  
                  <th>Remarks</th>
                  <th class="p-hide">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in clientBill.BillRows">
                  <ksr-bill-info-view :mood="mood" v-if="client.projects" :key="index" :BillRows="clientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" @checkChange="checkChange" />
                </template>
                <el-button :disabled="mood === 'view'" @click="addNew">Add New</el-button>
              </tbody>
              <tfoot class="tfoot" v-if="mood !== 'receive'">
                <tr valign="top">
                  <td colspan="3">Total</td>
                  <template v-if="mood !== 'receive'">
                    <td>{{ totalQuantity }}</td>
                    <td colspan="1" />
                  </template>
                  <td>{{ totalAmount }}</td>
                  <td />
                  <td class="p-hide" />
                </tr>
              </tfoot>
              <tfoot class="tfoot" v-if="mood === 'receive'">
                <tr valign="top">
                  <td colspan="7">Total</td>
                  <td>{{ totalAmount }}</td>
                  <td colspan="2" class="p-hide" />
                </tr>
                <tr>
                <td colspan="7">Total Vat</td>
                <td v-if="clientBill.BillRows">{{ totalVat }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total Tax</td>
                <td v-if="clientBill.BillRows">{{ totalTax }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total SD</td>
                <td v-if="clientBill.BillRows">{{ totalSD }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total Deduction</td>
                <td v-if="clientBill.BillRows">{{ totalDeduction }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total Cheque Amount</td>
                <td v-if="clientBill.BillRows">{{ totalChequeAmount }}</td>
                <td colspan="2" />
              </tr>
              </tfoot>
            </table>
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <h4>Total Estimated cost TK = {{ singleProjectAmount }} x {{ totalBillItem }} = {{ totalAmount }} </h4>
            <h4>As par payment schedule of project TK = {{ totalAmount }} </h4>
            <h4>Payable net Amount TK = {{ totalAmount }} ({{ totalAmountWord }})</h4>
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <tinymce
              v-model="clientBill.msg2"
              v-if="mood === 'edit'"
            />
            <span v-else v-html="clientBill.msg2"></span>
          </el-col>
        </el-row>
      </el-form>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button v-if="mood === 'edit'" type="info" @click="resetBillForm"> Clear </el-button>
        <el-button v-if="mood === 'view'" type="info" @click="printBill"> Print </el-button>
        <el-button v-if="mood === 'edit' || mood === 'receive'" type="primary" @click="updateClientBill()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
const converter = require('number-to-words');
import KsrBillInfoView from './KsrBillInfoView.vue';
export default {
  props: ['clientBill', 'mood'],  
  components: { Tinymce, KsrBillInfoView },
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      state: '',
      rules: {},
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      margedDetails: '',
      margedSiteCode: '',
      to: null,
      referance: '',
      totalAmount: 0,
      totalAmountWord: '',
      totalQuantity: 0,
      totalBillItem: 0,
      singleProjectAmount: 0,
      firstItemCode: '',
      lastItemCode: '',
      tableRows: 0,
      totalVat: 0,
      totalTax: 0,
      totalSD: 0,
      totalDeduction: 0,
      totalChequeAmount: 0,
    };
  },
  created() {
    this.getData();
  },
  mounted(){
    this.countTableRows();
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.getClientProjects(this.clientBill.client_id);
      this.loading = false;
    },
    async getClientProjects(cid) {
      this.client = this.clients.find((c) => c.id === cid);
    },
    countTableRows(){
      let item = this.$refs.itemTable.rows;
      this.tableRows = item;
      console.log(this.tableRows);
    },
    checkChange() {
      if (this.clientBill.BillRows){
        let amount = 0;
        let quantity = 0;
        let margedDetails = '';
        let totalVat = 0;
        let totalTax = 0;
        let totalSD = 0;
        let totalDeduction = 0;
        this.clientBill.BillRows.forEach((element) => {
          margedDetails = margedDetails + ', ' + element.details;
          amount = amount += parseInt(element.amount) || 0;
          quantity = quantity += element.quantity;
          totalVat = totalVat + parseFloat(element.vat);
          totalTax = totalTax + parseFloat(element.tax);
          totalSD = totalSD + parseFloat(element.sd);
          totalDeduction = totalDeduction + parseFloat(element.deduction);
        });
        this.clientBill.work_order_id = this.clientBill.BillRows[0].work_order_id;
        this.singleProjectAmount = this.clientBill.BillRows[0].project_amount;
        this.totalAmount = amount;
        this.totalQuantity = quantity;
        this.totalVat = totalVat;
        this.totalTax = totalTax;
        this.totalSD = totalSD;
        this.totalDeduction = totalDeduction;
        this.margedDetails = margedDetails;
        this.totalBillItem = this.clientBill.BillRows.length + ' Nos';
        this.firstItemCode = this.clientBill.BillRows[0].site_code;
        this.clientBill.project_name = this.clientBill.BillRows[0].project_name;
        this.lastItemCode = this.clientBill.BillRows[this.clientBill.BillRows.length - 1].site_code;
        this.separentSiteCode(this.firstItemCode, this.lastItemCode);
        this.totalAmountWord = converter.toWords(this.totalAmount);
        
        this.totalChequeAmount = this.totalAmount - (totalVat + totalTax + totalSD + totalDeduction);
        this.clientBill.total_cheque_amount = this.totalChequeAmount;
      }
    },
    separentSiteCode(first, last){
      console.log(first, last);
      if(first && last){
        const [word1, digits1] = first.match(/\D+|\d+/g);
      
        const [word2, digits2] = last.match(/\D+|\d+/g);
        this.margedSiteCode = word1 + '(' + digits1 + '-' + digits2 + ')';
        this.clientBill.site_code = this.margedSiteCode + ' = ' + this.totalBillItem;
      }
      
    },
    remove(index) {
      this.clientBill.BillRows.splice(index, 1);
      this.checkChange();
    },
    
    addNew() {
      this.clientBill.BillRows.push({
        site_code: '',
        project_type: '',
        details: '',
        remarks: '',
        amount: 0,
        vat: 0,
        tax: 0,
        deduction: 0,
        cheque_amount: 0,
      });
    },
    updateClientBill() {
      this.clientBill.total_cheque_amount = this.totalChequeAmount;
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          this.clientBill.mood = this.mood;
          clientBillResource
            .update(this.clientBill.id,this.clientBill)
            .then((response) => {
              this.$message({
                message: 'New client bill has been saved successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              // this.printBill();
              // this.resetBillForm();
              this.clientBillCreating = false;
              this.$router.push('/accounts/client-bill/list');
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    printBill() {
      window.print();
    },
    resetBillForm() {
      this.clientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17 {
    display: none;
}
#referance .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.bill-info div{
    display: flex;
    align-items: center;
}
.bill-info h3 {
    width: 170px;
}

.el-input.is-disabled .el-input__inner {
    color: #606266 !important;
}
.el-textarea.is-disabled .el-textarea__inner {
    color: #606266 !important;
}
</style>
