<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="code" label="Code">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Address">
        <template slot-scope="scope">
          <span>{{ scope.row.address }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Status">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 1">Muted</span>
          <span v-if="scope.row.status == 0">Active</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="250">
        <template slot-scope="scope">
          <router-link :to="'/inventory/warehouses/edit/' + scope.row.id">
            <el-button
              v-permission="['manage warehouse']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.status == '0'"
            v-permission="['manage warehouse']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleMute(scope.row.id)"
          >
            Mute
          </el-button>
          <el-button
            v-if="scope.row.status == '1'"
            v-permission="['manage warehouse']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleUnmute(scope.row.id)"
          >
            Unmute
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog
      :title="'Create new warehouse'"
      :visible.sync="dialogFormVisible"
    >
      <div v-loading="warehouseCreating" class="form-container">
        <el-form
          ref="warehouseForm"
          :rules="rules"
          :model="newWarehouse"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item :label="$t('warehouse.name')" prop="name">
            <el-input v-model="newWarehouse.name" placeholder="Please Enter warehouse name" />
          </el-form-item>
          <el-form-item :label="$t('warehouse.code')" prop="code">
            <el-input v-model="newWarehouse.code" placeholder="Please Enter warehouse code" />
          </el-form-item>
          <el-form-item :label="$t('warehouse.email')" prop="email">
            <el-input v-model="newWarehouse.email" placeholder="Please Enter warehouse email" />
          </el-form-item>
          <el-form-item :label="$t('warehouse.phone')" prop="phone">
            <el-input v-model="newWarehouse.phone" placeholder="Please Enter warehouse phone" />
          </el-form-item>

          <el-form-item :label="$t('warehouse.address')" prop="address">
            <el-input v-model="newWarehouse.address" placeholder="Please Enter warehouse address" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createWarehouse()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const warehouseResource = new Resource('warehouses');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import { mute, unmute } from '@/api/warehouse';

export default {
  name: 'WarehouseList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      warehouseCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newWarehouse: {},
      dialogFormVisible: false,

      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        // code: [
        //   {
        //     required: true,
        //     message: 'Code Number is required',
        //     trigger: 'blur',
        //   },
        // ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
        email: [
          {
            required: false,
            message: 'Email Number is required',
            trigger: 'blur',
          },
          {
            type: 'email',
            message: 'Please input correct email address',
            trigger: ['blur', 'change'],
          },
        ],
        address: [
          {
            required: true,
            message: 'Address Number is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const { data } = await warehouseResource.list({});
      this.list = data;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewWarehouse();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['warehouseForm'].clearValidate();
      });
    },
    handleMute(id, name) {
      this.$confirm(
        'Do you want to mute warehouse ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          mute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Muted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          this.$message({
            type: 'info',
            message: 'mute canceled',
          });
          console.log(error);
        });
    },
    handleUnmute(id, name) {
      this.$confirm(
        'Do you want to unmute warehouse ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          unmute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unmuted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unmuted canceled',
          });
        });
    },
    handleDelete(id, name) {
      this.$confirm(
        'This will permanently delete warehouse ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          warehouseResource
            .destroy(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Delete completed',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled',
          });
        });
    },
    createWarehouse() {
      this.$refs['warehouseForm'].validate((valid) => {
        if (valid) {
          this.warehouseCreating = true;
          warehouseResource
            .store(this.newWarehouse)
            .then((response) => {
              this.$message({
                message:
                  'New warehouse ' +
                  this.newWarehouse.name +
                  ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewWarehouse();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.warehouseCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewWarehouse() {
      this.newWarehouse = {
        name: '',
        image: '',
        code: '',
        description: '',
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'description'];
        const filterVal = ['index', 'name', 'code', 'description'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'warehouse-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
