<template>
  <div class="app-container">
    <div v-loading="dialogLoading" class="form-container">
      <div class="permissions-container">
        <el-row>
          <el-col v-for="(childPermission, index) in parentPermission" :key="index" :span="8">
            <el-form v-if="currentUser" :model="currentUser" label-width="80px" label-position="top">
              <fieldset>
                <legend>{{ childPermission.name | uppercaseFirst }}</legend>
                <el-tree ref="allPermissions" :data="childPermission.permission" :default-checked-keys="permissionKeys(currentUser.userPermissions)" :props="permissionProps" show-checkbox node-key="id" class="permission-tree" @check-change="getPermissions" />
              </fieldset>
            </el-form>
          </el-col>
        </el-row>
        <div class="clear-left" />
      </div>
      <div style="text-align: center">
        <el-button type="danger" @click="dialogVisible = false">
          {{ $t('permission.cancel') }}
        </el-button>
        <el-button type="primary" @click="confirmPermission">
          {{ $t('permission.confirm') }}
        </el-button>
      </div>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
import UserResource from '@/api/user';
const userResource = new UserResource();
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive (v-permission)
import checkPermission from '@/utils/permission'; // Permission checking
import axios from 'axios';
import { fetchPermisionPrefix } from '@/api/permissionPrefix';

const permissionResource = new Resource('permissions');
const PermisionPrefixResource = new Resource('permission-prefix');

export default {
  name: 'RoleList',
  directives: { waves, permission },
  data() {
    return {
      currentRoleId: 1,
      currentUser: {},
      list: [],
      loading: true,
      roleId: '',
      dialogLoading: false,
      dialogVisible: false,
      permissions: [],
      menuPermissions: [],
      rolePermissions: [],
      parentPermission: [],

      permissionProps: {
        children: 'children',
        label: 'name',
        disabled: 'disabled',
      },
    };
  },
  computed: {

  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.getCurrentUser(id);
    this.getPermissionPrefix();
  },

  methods: {
    checkPermission,
    async getCurrentUser(id) {
      this.currentUserId = id;
      const user = await userResource.get(id);
      const found = user.data;
      const { data } = await userResource.permissions(id);

      this.currentUser = found;
      this.getCurrentPermissions(this.currentUser.userPermissions);
    },
    async getPermissionPrefix(){
      axios.get('/api/permission-prefix').then(({ data }) => {
        this.parentPermission = data.data;
      });
    },
    getCurrentPermissions(permissions){
      permissions.forEach(permission => {
        this.rolePermissions.push(permission.id);
      });
    },

    permissionKeys(permissions){
      return permissions.map(permssion => permssion.id);
    },

    getPermissions(checked){
      if (this.rolePermissions.includes(checked.id)){
        const index = this.rolePermissions.indexOf(checked.id);
        this.rolePermissions.splice(index, 1);
      } else {
        this.rolePermissions.push(checked.id);
      }
    },

    confirmPermission() {
      this.dialogLoading = true;
      userResource
        .updatePermission(this.currentUserId, { permissions: this.rolePermissions })
        .then((response) => {
          this.$message({
            message: 'Permissions has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
          this.dialogLoading = false;
          this.dialogVisible = false;
        });
    },
  },
};
</script>
<style scoped>
fieldset {
    margin: 10px;
}
legend{
  padding: 5px;
  background: #ccc;
}
</style>
