<template>
  <el-card v-if="user.id">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt />
      </div>
    </div>
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane id="view" label="View" name="first" icon="el-icon-view">
        <el-form-item
          :label="$t('user.role')"
          v-permission="['update user information']"
          prop="role"
        >
          <el-select
            v-model="user.roles[0]"
            readonly
            class="filter-item"
            placeholder="Please select role"
          >
            <el-option
              v-for="item in nonAdminRoles"
              :key="item"
              :label="item | uppercaseFirst"
              :value="item"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="Name">
          <el-input v-model="user.name" readonly />
        </el-form-item>
        <el-form-item label="Email">
          <el-input v-model="user.email" readonly />
        </el-form-item>
        <div :label="$t('user.selected_image')">
          <img
            v-if="user.image"
            :src="imgURL + user.image"
            height="200px"
            width="200px"
            @click="copySRC"
          />
          <img
            v-else
            height="70px"
            width="70px"
            src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
          />
        </div>
      </el-tab-pane>

      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form-item
          :label="$t('user.role')"
          v-permission="['update user information']"
          prop="role"
          v-if="user.roles[0] !== 'super_user'"
        >
          <el-select
            v-model="user.roles[0]"
            class="filter-item"
            placeholder="Please select role"
          >
            <el-option
              v-for="item in nonAdminRoles"
              :key="item"
              :label="item | uppercaseFirst"
              :value="item"
            />
          </el-select>
        </el-form-item>
        <el-form-item v-permission="['update user information']" label="Name">
          <el-input v-model="user.name" />
        </el-form-item>
        <el-form-item v-permission="['update user information']" label="Email">
          <el-input v-model="user.email" />
        </el-form-item>

        <el-form-item :label="$t('user.password')" prop="password">
          <el-input v-model="user.password" show-password />
        </el-form-item>

        <el-form-item :label="$t('user.image')" prop="image">
          <input type="file" @change="imageChanged($event)" />
        </el-form-item>
        <el-form-item v-if="!imgurl" :label="$t('user.selected_image')">
          <img
            v-if="user.image"
            :src="imgURL + user.image"
            height="200px"
            width="200px"
            @click="copySRC"
          />
          <img
            v-else
            height="200px"
            width="200px"
            src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
          />
        </el-form-item>
        <el-form-item
          v-if="imgurl"
          class="preview"
          :label="$t('user.selected_image')"
        >
          <img :src="imgurl" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSubmit">Update</el-button>
        </el-form-item>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const userResource = new Resource('users');
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import checkPermission from '@/utils/permission'; // Permission checking
import { UploadImage } from '@/utils/image';
import { removeUnsavedImage } from '@/utils/image';
export default {
  directives: { waves, permission },
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: '',
          email: '',
          roles: [],
          password: '',
          image: '',
        };
      },
    },
  },
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      authUser: '',
      newUserImage: '',
      image: '',
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      nonAdminRoles: ['admin', 'manager', 'accounts', 'procurements', 'staff'],
    };
  },

  created() {
    this.authUser = this.$authUser;
  },

  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },
    closeModal() {
      this.imageSrc = '';
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },

    imageChanged(e) {
      if(this.image) {
        removeUnsavedImage(this.image);
      }
      if(e){
       UploadImage('user', e).then(res => {
          this.user.image = res;
          this.image = res;
        });
      }
    },

    onSubmit() {
      this.updating = true;
      this.user.image = this.image;
      userResource
        .update(this.user.id, this.user)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'User information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.user-activity {
  .user-block {
    .username,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .user-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

img {
  cursor: pointer;
}
</style>
