<template>
  <el-card v-if="user.id">
    <div class="user-profile">
      <div class="user-avatar box-center">
        <img
          :src="imgURL + user.image"
          height="90px"
          width="90px"
        >
      </div>
      <div class="box-center">
        <div class="text-center user-name">
          {{ user.name }}
        </div>
        <div class="text-center user-role text-muted">
          {{ getRole() }}
        </div>
      </div>
      <!-- <div class="user-follow">
        <el-button type="primary" style="width: 100%;">
          Follow
        </el-button>
      </div> -->
    </div>
  </el-card>
</template>

<script>
import PanThumb from '@/components/PanThumb';

export default {
  components: { PanThumb },
  props: {
    user: {
      type: Object,
      default: () => {
        return {
          name: '',
          email: '',
          avatar: '',
          roles: [],
        };
      },
    },
  },
  data() {
    return {
      imgURL: process.env.MIX_AWS_IMAGE_URL,
    };
  },
  methods: {
    getRole() {
      const roles = this.user.roles.map(value =>
        this.$options.filters.uppercaseFirst(value)
      );
      return roles.join(' | ');
    },

  },
};
</script>

<style lang="scss" scoped>
.user-profile {
  .user-name {
    font-weight: bold;
  }
  .box-center {
    padding-top: 10px;
  }
  .user-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  .box-social {
    padding-top: 30px;
    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }
  .user-follow {
    padding-top: 20px;
  }

  .user-avatar img {
  border-radius:50%;
  object-fit: contain;
}
}
</style>
