<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-select
        v-model="query.user"
        v-waves
        :placeholder="$t('table.user')"
        clearable
        style="width: 120px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="user in users"
          :key="user.id"
          :label="user.name | uppercaseFirst"
          :value="user.id"
        />
      </el-select>
      <el-date-picker
        v-model="query.date"
        type="daterange"
        align="right"
        start-placeholder="Start Date"
        end-placeholder="End Date"
        @change="handleFilter"
      />
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="Date" width="200">
        <template slot-scope="scope">
          <el-date-picker
            v-model="scope.row.updated_at"
            placeholder="Pick a Date"
            format="dd/MMMM/yyyy"
            value-format="yyyy-MM-dd"
            style="color: #000;cursor: not-allowed;"
            readonly
            sortable
          />
        </template>
      </el-table-column>

      <el-table-column align="center" sortable label="Name" width="200" prop="name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column sortable align="center" label="Description" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.description }}</span>
        </template>
      </el-table-column>

      <!-- <el-table-column align="center" label="Subject Type" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.subject_type }}</span>
        </template>
      </el-table-column> -->
      <!-- <el-table-column align="center" label="Subject ID" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.subject_id }}</span>
        </template>
      </el-table-column> -->
      <!-- <el-table-column align="center" label="Causer Type" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.causer_type }}</span>
        </template>
      </el-table-column> -->
      <el-table-column sortable align="center" label="Causer ID" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.causer_name }}</span>
        </template>
      </el-table-column>
      <el-table-column sortable align="center" label="New Data" width="480">
        <template slot-scope="scope">
          <ul>
            <li v-for="(value, name) in scope.row.properties.attributes" :key="name">{{ name }} : {{ value }}</li>
          </ul>
        </template>
      </el-table-column>
      <el-table-column sortable align="center" label="Old Data" width="480">
        <template slot-scope="scope">
          <ul>
            <li v-for="(value, name) in scope.row.properties.old" :key="name">{{ name }} : {{ value }}</li>
          </ul>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const activityResource = new Resource('activity-log');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import permission from '@/directive/permission'; // Permission directive
import checkPermission from '@/utils/permission'; // Permission checking
import axios from 'axios';
import waves from '@/directive/waves';

export default {
  name: 'ActivityList',
  components: { Pagination },
  directives: { permission, waves },
  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
        user: '',
        date: '',
      },
      users: [],
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
    };
  },
  created() {
    this.getList(); // get all acitivity list
    this.getUserList(); // get all user's acitivity list
  },
  methods: {
    // get all activity list
    async getList() {
      this.loading = true;
      const response = await activityResource.list(this.query);
      const data = response.data;
      this.list = data;
      this.total = response.meta.total;
      this.loading = false;
    },
    // get all user's acitivity list
    getUserList(){
      axios.get('/api/users').then(({ data }) => {
        this.users = data.data;
      });
    },

    handleFilter() {
      this.query.page = 1;
      this.getList();
      console.log(this.query);
    },
    // export acitivity list
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'user_id', 'name', 'email', 'role', 'phone'];
        const filterVal = ['index', 'id', 'name', 'email', 'role', 'phone'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'activity-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}

</style>

