<template>
  <div>
    <h4>Project Quick Search</h4>
    <el-input
      id="project_search"
      v-model="query.keyword"
      placeholder="WO ID, Code & Location"
      style="width: 200px"
      class="filter-item"
      @keyup.enter.native="handleFilter"
    />
  </div>
</template>
<script>
import { EventBus } from '@/app';
export default {

  data(){
    return {
      query: {
        keyword: '',
      },
    };
  },
  methods: {
    handleFilter(){
      // EventBus.$emit('search_query', this.query.keyword);
      this.$router.push({ name: 'projectList', query: { search: this.query.keyword }});
      // this.$router.push({ name: 'projectList' });
    },
  },
};
</script>
<style scoped>
div {
  background-color: rgb(240, 242, 245);
}
</style>
