<template>
  <div v-loading="orderCreating" class="form-container">
    <el-form
      ref="orderForm"
      :model="purchaseOrder"
      label-position="left"
      label-width="150px"
    >
      <h3 style="text-align:center" v-if="mood === 'create'">Create New Purchase Order</h3>
      <h3 style="text-align:center" v-else>Edit Purchase Order</h3>
      <el-row :gutter="10">
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Order Date" prop="order_date">
              <p v-if="mood === 'view'">{{ purchaseOrder.order_date }}</p>
              <el-date-picker
                v-else
                v-model="purchaseOrder.order_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                :disabled="mood === 'edit' ? true: null"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="PRN">
              <el-select
                v-model="selectedRequisitionId"
                filterable
                placeholder="Select PRN"
                @change="changePrnId"
                :disabled="mood === 'edit' ? true: null"
              >
                <el-option
                  v-for="(val, index) in prns"
                  :key="index"
                  :label="val.prn"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="PON" prop="pon">
              <p v-if="mood === 'view'">{{ purchaseOrder.pon }}</p>
              <el-input placeholder="PON" v-else v-model="purchaseOrder.pon" :disabled="mood === 'edit' ? true: null" />
            </el-form-item>
          </div>
        </el-col>
      </el-row>


      <el-row :gutter="10">
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Order By" prop="order_by">
              <p v-if="mood === 'view'">{{ purchaseOrder.order_by }}</p>
              <el-input placeholder="Order By" v-else v-model="purchaseOrder.order_by" 
                :disabled="mood === 'edit' ? true: null"/>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Order Type" prop="order_type">
              <el-select
                v-model="purchaseOrder.order_type"
                placeholder="Select Purchase Order Type"
                @change="changePurchaseOrderType()"
                :disabled="mood === 'edit' || (mood==='create' && purchaseOrder.purchase_requisition_id) ? true: null"
              >
                <el-option
                  v-for="(val, index) in orderTypes"
                  :key="index"
                  :label="val.text"
                  :value="val.value"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="From">
              <el-select
                v-model="selectedFromId"
                filterable
                placeholder="Select From"
                @change="changeFromId"
                :disabled="mood === 'edit' ? true: null  || (mood==='create' && purchaseOrder.purchase_requisition_id)"
              >
                <el-option
                  v-for="(val, index) in froms"
                  :key="index"
                  :label="val.site_code ? val.site_code : val.name"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>
      </el-row>


      <el-row :gutter="10">

        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Delivery Date" prop="delivery_date">
              <p v-if="mood === 'view'">{{ purchaseOrder.delivery_date }}</p>
              <el-date-picker
                v-else
                v-model="purchaseOrder.delivery_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
                :disabled="mood === 'edit' ? true: null"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>

        
        <el-col :span="14" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Note" prop="note">
              <p v-if="mood === 'view'">{{ purchaseOrder.note }}</p>
              <el-input placeholder="Note" v-model="purchaseOrder.note" :disabled="mood === 'edit' ? true: null" />
            </el-form-item>
          </div>
        </el-col>

      </el-row>


      
      <el-row :gutter="10">
        <el-col :span="24">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th width="40%">Product</th>
                <th width="25%">Quantity</th>
                <th width="25%">Unit</th>
                <!-- <th width="10%">Action</th> -->
                <th width="10%" v-if="(mood === 'create') && !(purchaseOrder.order_type == 2 && selectedFromId)">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
            <!-- {{purchaseOrder.ItemRows}}
            {{'babab'}} -->
              <template v-for="(itemRow, index) in purchaseOrder.ItemRows">
                <purchase-order-item-component
                  :ItemRows="purchaseOrder.ItemRows"
                  :itemRow="itemRow"
                  :key="index"
                  :mood="mood"
                  :index="index"
                  :purchaseOrder="purchaseOrder"
                  :selectedFromId="selectedFromId"
                  :products="products"
                  :units="units"
                />
              </template>
            </tbody>
          </table>
        </el-col>
      </el-row>
    </el-form>

    <div style="justify-content: center;">
      <el-button type="primary" icon="el-icon-plus" v-if="(mood === 'create') && !(purchaseOrder.order_type == 2 && selectedFromId)" @click="addItem">
        {{ $t('table.add') }}
      </el-button>
      <el-button
        type="primary"
        v-if="mood === 'create'"
        @click="checkValidation"
      >{{ $t('table.confirm') }}</el-button>
      <el-button type="primary" 
        v-permission="['check purchase order']"
        v-if="mood === 'edit'" 
        @click="checkValidation"
      >Update</el-button>
      <template v-if="purchaseOrder.status == 'created'">
        <el-button
          v-permission="['check purchase order']"
          type="primary"
          icon="el-icon-check"
          @click="checkPurchaseOrder"
        >{{ $t('table.check') }}</el-button>
      </template>
      <template v-if="purchaseOrder.status == 'checked'">
        <el-button
          v-permission="['approve purchase order']"
          type="primary"
          icon="el-icon-check"
          @click="approvePurchaseOrder"
        >{{ $t('table.approve') }}</el-button>
      </template>
    </div>
  </div>
</template>



<script>
import PurchaseOrderItemComponent from './PurchaseOrderItemComponent.vue';
import Resource from '@/api/resource';
const purchaseOrderResource = new Resource('purchaseOrders');
import { getItemLastId } from '@/utils/helper.js';
import { getCurrentDate } from '@/utils/helper.js';
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import { EventBus } from '@/app';
export default {
  props: ['purchaseOrder', 'mood'],
  components: { PurchaseOrderItemComponent },
  directives: { waves, permission },
  data() {
    return {
      orderCreating: false,
      orderTypes: [
        { text: 'From Warehouse', value: 1 },
        { text: 'From Project', value: 2 },
      ],
      projects: [],
      warehouses: [],
      units: [],
      froms: [],
      prns: [],
      products: [],
      index: 0,
      selectedFromId: '',
      selectedRequisitionId: '',
    };
  },
  mounted() {
    // console.log('hello',this.purchaseOrder);
    setTimeout(() => {
      console.log('hello =>',this.purchaseOrder);
      this.selectedRequisitionId = this.purchaseOrder.purchase_requisition_id;
      this.getModelData();
      this.changePurchaseOrderType();
      axios.get('/api/products').then(({data}) => {
        this.products = data.data;
        console.log('products: ', this.products, data);
      });

      // if (this.mood === 'edit') {
      //     axios.get('/api/purchase/order-items/' + this.purchaseOrder.id).then((response) => {
      //       // this.products = data.data;
      //       // this.purchaseOrder.ItemRows = data.data;
      //       console.log('purchase-order-items: ', response);
      //     });
      // }
    }, 200);    
  },

  methods: {
    addItem(){
      var item = {
            product_id: '',
            product_name: '',
            quantity: '',
            unit_id: '',
      };
      this.purchaseOrder.ItemRows.push(item);
      // console.log('Create', this.purchaseOrder.ItemRows);
    },
    checkPurchaseOrder(){
      axios.post('/api/purchase/check-order/' + this.purchaseOrder.id)
        .then((data) => {
          this.purchaseOrder.status = 'checked';
          this.$message({
            message: 'Purchase Order has been Checked successfully.',
            type: 'success',
          });
        });
    },
    approvePurchaseOrder(){
      axios.post('/api/purchase/approve-order/' + this.purchaseOrder.id)
        .then((data) => {
          this.purchaseOrder.status = 'approved';
          this.$message({
            message: 'Purchase Order has been Approved successfully.',
            type: 'success',
          });
        });
    },
    changePurchaseOrderType(val = null){
      console.log('changePurchaseOrderType: ',val);
      switch(this.purchaseOrder.order_type)
      {
        case 1:
          this.froms = this.warehouses;
          break;
        case 2:
          this.froms = this.projects;
          break;
      }
      // console.log('Froms: ',this.froms, this.selectedFromId);
      if(this.mood == "edit") {
        if(this.purchaseOrder.order_type == 1) {
          this.selectedFromId = this.purchaseOrder.warehouse_id;
        }
        else {
          this.selectedFromId = this.purchaseOrder.project_id;
        }
      } else {
        if(val =='by-prn'){
          this.changeFromId('by-prn');
        } else {
          this.selectedFromId = '';
        }
      }
    },

    changeFromId(val = null){
      console.log('changeFromId: ',val);
      if(this.purchaseOrder.order_type == 1){
        axios.get('/api/warehouse/get-inventory-products/' + this.selectedFromId).then(({ data }) => {
          // this.products = data;
          console.log(data);
        })
      } else {
        if(val == 'by-prn'){
          axios.get('/api/purchase/requisition/' + this.selectedRequisitionId).then(({ data }) => {
            this.purchaseOrder.ItemRows = data.data.ItemRows;
            console.log('requisition-items by-prn: ',this.products, data);
          });
        } else {
          axios.get('/api/get/project-estimate/' + this.selectedFromId).then(({ data }) => {
            this.purchaseOrder.ItemRows = data.data;
            console.log('project-estimate: ',this.products, data.data);
          });
        }
      }
    },
    changePrnId(){
      axios.get('/api/purchase/requisition/' + this.selectedRequisitionId)
        .then(response => {
          console.log('response: ',response.data, this.purchaseOrder);
          var data = response.data.data;
          this.purchaseOrder.purchase_requisition_id = this.selectedRequisitionId;
          this.purchaseOrder.delivery_date = data.delivery_date;
          this.purchaseOrder.order_type = data.requisition_type;
          this.purchaseOrder.note = data.note;
          this.purchaseOrder.project_id = data.project_id;
          this.purchaseOrder.warehouse_id = data.warehouse_id;
          this.purchaseOrder.status = data.status;
          this.purchaseOrder.ItemRows = data.ItemRows;
          // this.purchaseOrder.order_type == 1 ? this.selectedFromId = this.purchaseOrder.warehouse_id : this.selectedFromId = this.purchaseOrder.project_id;
          if(this.purchaseOrder.order_type == 1) {
            this.selectedFromId = this.purchaseOrder.warehouse_id;
          } else {
            this.selectedFromId = this.purchaseOrder.project_id;
          }
          this.changePurchaseOrderType('by-prn');
          console.log(data, this.purchaseOrder);
        });
    },
    async getModelData(){
      // console.log('PurchaseOrder at beginning: ',this.purchaseOrder);
      const models = [{name: 'project', model: 'Project'}, {name: 'warehouse', model: 'Warehouse'}, {name: 'unit', model: 'Unit'}];
      await axios.post('/api/get-model-data', models).then(response => {
        this.projects = response.data[0].project;
        this.warehouses = response.data[1].warehouse;
        this.units = response.data[2].unit;
        this.froms = this.warehouses;
      })
      axios.get('/api/purchase/active-requisitions').then(response => {
        // console.log('active-requisitions: ',response)
        this.prns = response.data;
      })
      // console.log('PurchaseOrder: ',this.purchaseOrder);
      if(this.purchaseOrder.order_type == 2) this.froms = this.projects;
    },

    getActiveItems() {
      axios
        .get('/api/active/items')
        .then(({ data }) => {
          this.categories = data.categories;
          this.brands = data.brands;
          this.units = data.units;
        })
        .catch((error) => console.log(error));
    },
    checkValidation() {
      if (this.mood === 'create') {
        this.createPurchaseOrder();
      } else if (this.mood === 'edit') {
        this.updatePurchaseOrder();
      }
    },
    createPurchaseOrder() {
      if(this.purchaseOrder.order_type == 1) {
        this.purchaseOrder.warehouse_id = this.selectedFromId;
        this.purchaseOrder.project_id = null;
      } else {
        this.purchaseOrder.project_id = this.selectedFromId;
        this.purchaseOrder.warehouse_id = null;
      }
      purchaseOrderResource
        .store(this.purchaseOrder)
        .then((res) => {
          // this.resetPurchaseOrderForm();
          console.log(res.error)
          this.$message({
            message: 'Purchase Order Has been created successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    updatePurchaseOrder() {
      purchaseOrderResource
        .update(this.purchaseOrder.id, this.purchaseOrder)
        .then((res) => {
          this.$router.push('/purchase/orders/list');
          this.$message({
            message: 'Purchase Order Has been updated successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    async resetPurchaseOrderForm() {
      let pon = '';
      await getItemLastId('PurchaseOrder').then((res) => {
        pon = 'PON#' + res;
      });
      this.purchaseOrder = {
        pon: pon,
        purchase_requisition_id: null,
        order_date: getCurrentDate(),
        delivery_date: '',
        order_by: '',
        order_type: null,
        order_by: '',
        froms: [],
        note: '',
        ItemRows: [
          {
            product_id: '',
            product_name: '',
            quantity: '',
            unit_id: '',
          },
        ],
      };
      this.selectedFromId = null;
    },
  },
};
</script>

<style scoped>
.inline .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #ddd;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
.el-dialog {
  width: 70% !important;
}
/* el-input:read-only, el-textarea:read-only {
  background-color: grey;
} */
/* .input[readonly] { 
    background-color: rgba(240, 240, 254, 0.788) !important;
} */
</style>