<template>
  <tr>
    <td>
      <el-form-item prop="product_id">
        <el-select
          v-model="itemRow.product_id"
          filterable
          placeholder="Select Product"
          @change="checkValidation(itemRow.product_id)"
          :disabled="mood === 'edit' || (mood==='create' && purchaseOrder.purchase_requisition_id) ? true: null"
        >
          <el-option v-for="item in products" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
    </td>
    <td>
      <el-form-item prop="quantity">
        <p v-if="mood === 'view'">{{ itemRow.quantity }}</p>
        <el-input placeholder="Quantity" v-else v-model="itemRow.quantity" />
      </el-form-item>
    </td>
    <td>
      <el-form-item prop="unit_id">
        <el-select
          v-model="itemRow.unit_id"
          filterable
          placeholder="Select Unit"
          :disabled="mood === 'edit' ? true: null"
        >
          <el-option v-for="item in units" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
      </el-form-item>
    </td>
    <td v-if="(mood === 'create') && !(purchaseOrder.order_type == 2 && selectedFromId)">
      <p @click="remove(index, itemRow.id)" style="color:red; cursor: pointer;text-align:center">X</p>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
export default {
  props: ['itemRow', 'ItemRows', 'index', 'mood', 'units', 'products', 'purchaseOrder', 'selectedFromId'],
  data() {
    return {
      
    };
  },
  created() {  },
  methods: {
    remove(index, id) {
      console.log(id);
      if (this.ItemRows.length > 1) {
        this.$confirm(
          'This will permanently delete the file. Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            if (id === undefined) {
              this.ItemRows.splice(index, 1);
            } else {
              axios.delete('/api/delete-delivery-item/' + id).then((res) => {
                console.log(res);
              });
            }

            this.$message({
              type: 'success',
              message: 'Delete completed',
            });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Delete canceled',
            });
          });
      }
    },
    checkValidation(product_id){
      var item =  this.products.find( p => p.id == product_id );
      console.log('');
      this.itemRow["product_name"] = item.name;
    }
  },
};
</script>

<style scoped>
.el-autocomplete.inline-input {
  width: 100;
  width: 100%;
}
td {
  vertical-align: top;
}
</style>