<template>
  <div class="app-container">
    <div v-loading="ledgerCreating" class="form-container">
      <el-form
        ref="ledgerForm"
        :rules="rules"
        :model="ledger"
        label-position="left"
        label-width="150px"
      >
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="Ledger Name">
              <p v-if="mood === 'view'">{{ ledger.name }}</p>
              <el-autocomplete
                popper-class="inline-input"
                v-model="ledger.name"
                :fetch-suggestions="querySearch"
                placeholder="Please input"
                :trigger-on-focus="false"
                @select="handleSelect"
                v-else>
                <template slot-scope="{ item }">
                  <div class="value">{{ item.company ? item.company : item.name }}</div>
                  <!-- <span class="link">{{ item.link }}</span> -->
                </template>
              </el-autocomplete>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Group Name" prop="group_name">
              <p v-if="mood === 'view' && ledger.group">{{ ledger.group.name }}</p>
              <el-autocomplete
                popper-class="inline-input"
                v-model="ledger.group_name"
                :fetch-suggestions="groupSearch"
                placeholder="Please input"
                :trigger-on-focus="false"
                @select="groupSelect"
                v-else>
                <template slot-scope="{ item }">
                  <div class="value">{{ item.name }}</div>
                  <!-- <span class="link">{{ item.link }}</span> -->
                </template>
              </el-autocomplete>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Cost Center" prop="cost_center">
              <p v-if="mood === 'view'">
                <span v-if="ledger.cost_center === 0">No</span>
                <span v-if="ledger.cost_center === 1">Yes</span>
              </p>
              <el-select v-else v-model="ledger.cost_center" placeholder="Select Cost Center">
                <el-option label="No" value="0" ></el-option>
                <el-option label="Yes" value="1" ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Currency" prop="currency">
              <p v-if="mood === 'view'">{{ ledger.currency }}</p>
              <el-input readonly v-else v-model="ledger.currency" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Address" prop="address">
              <p v-if="mood === 'view'">{{ ledger.address }}</p>
              <el-input v-else v-model="ledger.address" placeholder="Enter Address"/>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="City" prop="city">
              <p v-if="mood === 'view'">{{ ledger.city }}</p>
              <el-input v-else v-model="ledger.city" placeholder="Enter City" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Post Code" prop="post_code">
              <p v-if="mood === 'view'">{{ ledger.post_code }}</p>
              <el-input v-else v-model="ledger.post_code" placeholder="Enter Post Code" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Phone" prop="phone">
              <p v-if="mood === 'view'">{{ ledger.phone }}</p>
              <el-input v-else v-model="ledger.phone" placeholder="Enter Phone Number" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Email" prop="email">
              <p v-if="mood === 'view'">{{ ledger.email }}</p>
              <el-input v-else v-model="ledger.email" placeholder="Enter Email Address" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Comments" prop="comments">
              <p v-if="mood === 'view'">{{ ledger.comments }}</p>
              <el-input type="textarea" :rows="2" v-else v-model="ledger.comments" placeholder="Enter Comments" />
            </el-form-item>
          </el-col>
          
          <el-col :span="6">
            <el-form-item label="Inactive" prop="inactive">
              <p v-if="mood === 'view'">{{ ledger.inactive }}</p>
              <el-select v-else v-model="ledger.inactive" placeholder="Select Status">
                <el-option label="Yes" value="1" ></el-option>
                <el-option label="No" value="0" ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetNewLedger" type="info" v-if="mood === 'create'">Clear</el-button>
        <el-button
          type="primary"
          v-if="mood === 'create'"
          @click="createLedger"
        >{{ $t('table.confirm') }}</el-button>
        <el-button type="primary" v-if="mood === 'edit'" @click="updateLedger">Update</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const groupResource = new Resource('groups');
const ledgerResource = new Resource('ledgers');
export default {
  props: ['ledger', 'mood'],
  data() {
    return {
      ledgerCreating: false,
      groups: [],
      suppliers: [],
      subcontractors: [],
      clients: [],
      banks: [],
      ladgerNames: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        group_name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created(){
    this.getModelData();
  },
  methods: {
    async getModelData(){
      const models = [{name: 'group', model: 'Group'}, {name: 'supplier', model: 'Supplier'}, {name: 'subcontractor', model: 'Subcontractor' }, {name: 'client', model: 'Client'}, {name: 'bank', model: 'Bank'}];
      await axios.post('/api/get-model-data', models).then(response => {
        this.groups = response.data[0].group;
        this.suppliers = response.data[1].supplier;
        this.subcontractors = response.data[2].subcontractor;
        this.clients = response.data[3].client;
        this.banks = response.data[4].bank;
      })
      this.ladgerNames = ([...this.suppliers, ...this.subcontractors, ...this.clients, ...this.banks]);
    },  
    querySearch(queryString, cb) {
      let links = this.ladgerNames;
      let results = queryString ? links.filter(this.createFilter(queryString)) : links;
      // call callback function to return suggestion objects
      cb(results);
    },
    createFilter(queryString) {
      return (link) => {
        return ((link.company ? link.company : link.name).toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    handleSelect(item) {
      if(item.company){
        this.ledger.name = item.company;
      } else {
        this.ledger.name = item.name;
      }
      
      this.ledger.relation_id = item.id;
      this.ledger.type = item.type;
    },
    groupSearch(queryString, cb) {
      let groups = this.groups
      let results = queryString ? groups.filter(this.groupFilter(queryString)) : groups;
      // call callback function to return suggestion objects
      cb(results);
    },
    groupFilter(queryString) {
      return (group) => {
        return (group.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    groupSelect(item) {
      this.ledger.group_name = item.name;
      this.ledger.group_id = item.id;
    },
    createLedger() {
      this.$refs['ledgerForm'].validate((valid) => {
        if (valid) {
          this.ledgerCreating = true;
          ledgerResource
            .store(this.ledger)
            .then((response) => {
              this.$message({
                message:
                  'New ledger has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewLedger();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.ledgerCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    updateLedger() {
      this.$refs['ledgerForm'].validate((valid) => {
        if (valid) {
          this.ledgerCreating = true;
          ledgerResource.update(this.ledger.id, this.ledger).then((res) => {
            this.dialogFormVisible = false;
            this.$router.push('/accounts/ledgers/list');
            this.$message({
              message: 'New ledger has been updated successfully.',
              type: 'success',
              duration: 5 * 1000,
            });
          });
        }
      });
    },
    resetNewLedger() {
      this.ledger.name = '';
      this.ledger.group_id = '';
      this.ledger.email = '';
      this.ledger.phone = '';
      this.ledger.address = '';
      this.ledger.currency = 'BDT';
      this.ledger.cost_center = '';
      this.ledger.city = '';
      this.ledger.comments = '';
      this.ledger.inactive = '';
      this.ledger.post_code = '';
    },
  },
};
</script>

<style>
</style>