<template>
  <div class="app-container">
      <form-component @loadForm="loadForm" mood="create" :requisition="newRequisition" :projectTypes="projectTypes" :subcontractors="subcontractors" />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const subcontractorResource = new Resource('subcontractors');
const projectTypeResource = new Resource('project-type');
import FormComponent from './components/FormComponent.vue';
export default {
    components: { FormComponent },
    data(){
        return {
            projectTypes: [],
            subcontractors: [],
            newRequisition: {
                prs_number: '',
            },
            SlNo: '',
        }
    },
    created(){
        this.getData();
        this.getItemLastId();
    },
    methods: {
        async getData(){
            const projectTypeResponse = await projectTypeResource.list();
            this.projectTypes = projectTypeResponse.data;
            const subcontractorResponse = await subcontractorResource.list();
            this.subcontractors = subcontractorResponse.data;
        },
        async getItemLastId() {
            await axios.get('/api/get-table-last-id/ProjectRequisition').then((res) => {
                this.SlNo = res.data + 1;
                this.newRequisition.prs_number = 'PRS-' + this.SlNo;
                
            });
        },
        loadForm(){
            this.getItemLastId();
        }
        
    }
}
</script>

<style>

</style>