<template>
  <div class="app-container">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="View" name="first">
            <form-component mood="view" :requisition="requisition" :projectTypes="projectTypes" :subcontractors="subcontractors" />
        </el-tab-pane>
        <el-tab-pane label="Edit" name="second">
            <form-component mood="edit" :requisition="requisition" :projectTypes="projectTypes" :subcontractors="subcontractors" />
        </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const subcontractorResource = new Resource('subcontractors');
const projectTypeResource = new Resource('project-type');
const requisitionResource = new Resource('project-requisition');
import FormComponent from './components/FormComponent.vue';
export default {
    components: { FormComponent },
    data(){
        return {
            projectTypes: [],
            subcontractors: [],
            requisition: {},
            activeName: 'first',
        }
    },
    created(){
        this.getData();
        const id = this.$route.params && this.$route.params.id;
        this.fetchData(id);
    },
    methods: {
        async fetchData(id){
            await requisitionResource.get(id).then((response) => {
                this.requisition = response.data;
            })
        },
        async getData(){
            const projectTypeResponse = await projectTypeResource.list();
            this.projectTypes = projectTypeResponse.data;
            const subcontractorResponse = await subcontractorResource.list();
            this.subcontractors = subcontractorResponse.data;
        },
        handleClick(tab, event) {
            console.log(tab, event);
        }
    }
}
</script>

<style>

</style>