<template>
  <div class="app-container">
    <upload-excel-component v-loading="loading" :on-success="handleSuccess" :before-upload="beforeUpload" />
    <a id="link" type="warning" :href="fileUrl + fileName">download sample file</a>
  </div>
</template>

<script>
import UploadExcelComponent from '@/components/UploadExcel/index.vue';
import axios from 'axios';
export default {
  name: 'UploadExcel',
  components: { UploadExcelComponent },
  data() {
    return {
      tableData: [],
      tableHeader: [],
      projects: [],
      loading: false,
      Rawfile: {},
      fileName: 'project-requisition.xlsx',
      fileUrl: process.env.MIX_AWS_IMAGE_URL,
      headers: {
        'Content-Type': 'multipart/form-data',
      },
    };
  },
  created() {
    console.log();
  },
  methods: {
    beforeUpload(file) {
      const isLt1M = file.size / 1024 / 1024 < 1;
      if (isLt1M) {
        this.Rawfile = file;
        return true;
      }
      this.$message({
        message: 'Please do not upload files larger than 1m in size.',
        type: 'warning',
      });
      return false;
    },
    saveFile(){
      const data = new FormData();
      data.append('file', this.Rawfile);
      axios.post('/api/projects/imported-file/save', data).then((data) => {
        console.log('File Saved');
      });
    },
    handleSuccess({ results, header }) {
      this.loading = true;
      this.tableData = results;
      this.tableHeader = header;
      axios.post('/api/project-requisition/import', this.tableData).then((response) => {
        this.$router.push({ name: 'projectRequisition' });
        console.log(response);
        this.$message({
          message: `Total projects has been imported successfully.`,
          type: 'success',
          duration: 5 * 1000,
        });
        this.loading = false;
      }).catch((error) => {
        this.$message({
          message: error.response.data.errors,
          type: 'error',
          duration: 5 * 1000,
        });
        this.loading = false;
      });
    },
  },
};
</script>
<style scoped>
  #link {
    margin-top: 100px;
    color: white;
    background: #1682e6;
    padding: 10px 15px;
    border-radius: 3%;
    margin-left: 40%;
    display: inline-block;
}
</style>
