<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        clearable
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      
      <!-- <el-select clearable style="width: 20%" class="filter-item" v-waves @change="handleFilter" v-model="query.subcontractor_id" placeholder="Subcontractor">
          <el-option
          v-for="item in subcontractors"
          :key="item.id"
          :label="item.name"
          :value="item.id">
          </el-option>
      </el-select> -->
      <el-select clearable style="width: 20%" class="filter-item" v-waves @change="handleFilter" v-model="query.project_type_id" placeholder="Project Type">
          <el-option
          v-for="item in projectTypes"
          :key="item.id"
          :label="item.name"
          :value="item.id">
          </el-option>
      </el-select>
      <router-link to="/projects/requisition/create">
        <el-button
          v-permission="['add requisition']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-plus"
        >
          {{ $t('table.add') }}
        </el-button>
      </router-link>
      <router-link to="/projects/requisition/import">
        <el-button
          v-permission="['add requisition']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-upload2"
        >Import</el-button>
      </router-link>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <template>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Pending" name="pending">
          <table-component :list="list" :loading="loading"/>
        </el-tab-pane>
        <el-tab-pane label="Completed" name="completed">
          <table-component :list="list" :loading="loading"/>
        </el-tab-pane>
      </el-tabs>
    </template>
    

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const requisitionResource = new Resource('project-requisition');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import TableComponent from './components/TableComponent.vue';
export default {
  name: 'RequisitionList',
  components: { Pagination, TableComponent },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      requisitionCreating: false,
      activeName: 'pending',
      query: {
        page: 1,
        limit: 100,
        keyword: '',
        status: 'pending',
      },
      newRequisition: {},
      dialogFormVisible: false,
      projectTypes: [],
      subcontractors: [],

      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        quantity: [
          { type: 'number', message: 'Phone Must Be Number', trigger: 'blur' },
        ],
        phone: [
          { required: true, message: 'Phone is required', trigger: 'blur' },
          { type: 'number', message: 'Phone Must Be Number', trigger: 'blur' },
        ],

      },
    };
  },
  watch: {
    list: function(){
      
    },
  },
  created() {
    this.getList();
    this.getData();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await requisitionResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    async getData(){
      const models = [
        { name: 'projectTypes', model: 'ProjectType' },
        { name: 'subcontractor', model: 'Subcontractor' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.projectTypes = response.data[0].projectTypes;
        this.subcontractors = response.data[1].subcontractor;
      });
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleClick(tab, event) {
      this.query.status = tab.name;
      this.handleFilter();
    },

    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name', 'code', 'status'];
        const filterVal = ['id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'requisition-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>

