<template>
  <tr>
    <td>{{ index+1 }}</td>
    <td>
      <template>
        <el-select v-model="billRow.work_order_id" placeholder="Select" @change="getSelectedWorkOrder(billRow.work_order_id)">
          <el-option
            v-for="item in workOrders"
            :key="item.id"
            :label="item.order_no"
            :value="item.id"
          />
        </el-select>
      </template>
    </td>
    <td>
      <template>
        <!-- <el-form-item prop="site_code"> -->
          <el-select v-model="billRow.site_code" placeholder="Select" @change="getType($event)">
            <el-option
              v-for="item in projects"
              :key="item.id"
              :label="item.project.site_code"
              :value="item.id"
            />
          </el-select>
        <!-- </el-form-item> -->
      </template>
    </td>
    <td>{{ projectTypeName }}</td>
    <td>
      <!-- <el-form-item prop="details"> -->
        <el-input
          v-model="billRow.details"
          placeholder="Please Enter Bill Details"
        />
      <!-- </el-form-item> -->
    </td>
    <td style="width: 150px">
      <!-- <el-form-item prop="amount"> -->
        <el-input
          @blur="checkChange"
          class="numaric_td"
          v-model.number="billRow.amount"
          placeholder="Please Enter Approved Bill Amount"
        />
      <!-- </el-form-item> -->
    </td>
    <td>
      <!-- <el-form-item prop="remarks"> -->
        <el-input
          v-model="billRow.remarks"
          placeholder="Please Bill Remarks"
        />
      <!-- </el-form-item> -->
    </td>
    <td class="p-hide">
      <el-button size="mini" type="danger" @click="remove(index)">X</el-button>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
export default {
  props: ['BillRows', 'billRow', 'index', 'workOrders'],
  data(){
    return {
      projectTypeName: '',
      selectedWorkOrder: {},
      projects: [],
    };
  },
  mounted(){
    console.log(this.workOrders);
  },
  methods: {
    getType(e){
      const project = this.projects.find(project => project.id == e);
      const item = this.BillRows.find(i => i.id == project.project_id);
      if (item){
        alert('Already Selected');
      } else {
        this.billRow.project_type = project.project.project_type;
        this.billRow.project_subcontract_id = project.id;
        this.billRow.project_id = project.project.id;
        this.billRow.stage_id = project.project.stage_id;
        this.getProjectTypeName(this.billRow.project_type);
        this.checkChange();
      }
    },
    checkChange(){
      this.$emit('checkChange');
    },
    async getProjectTypeName(id){
      const response = await projectTypeResource.get(id);
      this.projectTypeName = response.data.name;
    },
    remove(index) {
      this.BillRows.splice(index, 1);
      this.checkChange();
    },
    getSelectedWorkOrder(id){
      let workOrder = this.workOrders.find(w => w.id === id);
      // this.selectedWorkOrder = workOrder;
      this.projects=workOrder.ItemRows;
    }
  },
};
</script>

<style>

</style>
