<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%"
      highlight-current-row
    >
      <el-table-column type="index" :min-width="10" />
      <el-table-column label="Received Date" :min-width="10">
        <template slot-scope="scope">{{ scope.row.subcontractorBill.entry_date }}</template>
      </el-table-column>
      <el-table-column label="Bill ID" :min-width="20">
        <template slot-scope="scope">{{ scope.row.subcontractorBill.bill_id }}</template>
      </el-table-column>
      <el-table-column label="Bill Amount" :min-width="15">
        <template slot-scope="scope">{{ scope.row.amount }}</template>
      </el-table-column>

      <el-table-column label="Details" :min-width="15">
        <template slot-scope="scope">{{ scope.row.details }}</template>
      </el-table-column>

      <el-table-column label="Remarks" :min-width="15">
        <template slot-scope="scope">{{ scope.row.remarks }}</template>
      </el-table-column>

      <el-table-column label="Action" :min-width="20">
        <template slot-scope="scope">
          <router-link
            v-permission="['view subcontractor bill']"
            :to="'/accounts/subcontractor-bill/view/' + scope.row.subcontractorBill.id"
          >
            <el-button size="small" type="primary">view</el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission';
import Resource from '@/api/resource';
const subcontractorBillResource = new Resource('client-bill');
import { EventBus } from '@/app';
import axios from 'axios';

export default {
  directives: { waves, permission },
  props: ['tableData'],
  data() {
    return {
      multipleSelection: [],
      dialogFormVisible: false,
      PRNoForm: {},
      billID: '',
      formLabelWidth: 120,
      rules: {
        bill_received_number: [
          {
            required: true,
            message: 'Please Bill Receive Number',
            trigger: 'blur',
          },
        ],
      },
    };
  },

  methods: {
    
    tableRowClassName({ row }) {
      if (row.status === 'received') {
        return 'success-row';
      } else if (row.tatus === 'canceled') {
        return 'warning-row';
      }
      return '';
    },
  },
};
</script>
