<template>
  <div>
    <el-table
      ref="multipleTable"
      :data="tableData"
      style="width: 100%"
      :row-class-name="tableRowClassName"
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="index" :selectable="canSelectRow" :min-width="10" />
      <el-table-column label="Receive Date" sortable prop="entry_date" :min-width="20">
        <template slot-scope="scope">{{ scope.row.entry_date }}</template>
      </el-table-column>
      <el-table-column label="Subcontractor Name" :min-width="20">
        <template slot-scope="scope">{{ scope.row.subcontractor.name }}</template>
      </el-table-column>
      <el-table-column label="Bill ID" sortable prop="bill_id" :min-width="15">
        <template slot-scope="scope">{{ scope.row.bill_id }}</template>
      </el-table-column>
      <el-table-column label="Receive Amount" sortable prop="total_receive_amount" :min-width="15">
        <template slot-scope="scope">{{ scope.row.total_receive_amount }}</template>
      </el-table-column>
      <el-table-column label="Approve Amount" sortable prop="total_approve_amount" :min-width="15">
        <template slot-scope="scope">{{ scope.row.total_approve_amount }}</template>
      </el-table-column>
      <el-table-column label="Bill Status" :min-width="15">
        <template slot-scope="scope">{{ scope.row.bill_status }}</template>
      </el-table-column>

      <el-table-column label="Action" :min-width="30">
        <template slot-scope="scope">
          <router-link v-permission="['view subcontractor bill']" :to="'/accounts/subcontractor-bill/view/' + scope.row.id">
            <el-button size="small" type="primary">view</el-button>
          </router-link>
          <router-link v-permission="['check subcontractor bill']" :to="'/accounts/subcontractor-bill/check/' + scope.row.id">
            <el-button v-if="scope.row.bill_status === 'received'" size="small" type="info">Check</el-button>
          </router-link>
          <router-link v-if="scope.row.bill_status === 'checked'" v-permission="['approve subcontractor bill']" :to="'/accounts/subcontractor-bill/approve/' + scope.row.id">
            <el-button size="small" type="success">Approve</el-button>
          </router-link>
          <!-- <el-button v-if="scope.row.bill_status === 'received'" v-permission="['cancel subcontractor bill']" size="small" type="danger" @click="cancelSubcontractorBill(scope.row.id)">Cancel</el-button> -->
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission';
import Resource from '@/api/resource';
const subcontractorBillResource = new Resource('subcontractor-bill');
import { EventBus } from '@/app';

export default {
  directives: { waves, permission },
  props: ['tableData'],
  data() {
    return {
      multipleSelection: [],
    };
  },
  created(){
    // console.log(this.tableData);
  },
  methods: {
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
      EventBus.$emit('bill-selected', this.multipleSelection);
    },
    cancelSubcontractorBill(id){
      this.$confirm(
        'This will cancel this bill . Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          subcontractorBillResource
            .destroy(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Bill Canceled Successfully',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Bill not Canceled',
          });
        });
    },
    tableRowClassName({ row }) {
      if (row.bill_status === 'paid') {
        return 'success-row';
      } else if (row.bill_status === 'canceled') {
        return 'warning-row';
      }
      return '';
    },
    canSelectRow(row, index) {
      return row.bill_status === 'received';
    },
  },
};
</script>
