<template>
  <div>
    <div v-loading="subcontractorBillLoading" class="form-container">
      <el-form
        ref="subcontractorBillForm"
        :model="subcontractorBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Bill ID" prop="bill_id">
                <p v-if="subcontractorBill">{{ subcontractorBill.bill_id }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Bill Status" prop="bill_status">
                <p v-if="subcontractorBill">{{ subcontractorBill.bill_status }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Subcontract Name">
                <p v-if="subcontractorBill.subcontractor">{{ subcontractorBill.subcontractor.name }}</p>
              </el-form-item>
            </div>
          </el-col>

          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Submited By">
                <p v-if="subcontractorBill">{{ subcontractorBill.submited_by }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Submited By Phone Number">
                <p v-if="subcontractorBill">{{ subcontractorBill.submited_by_phone_number }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Received By">
                <p v-if="subcontractorBill.receivedBy">{{ subcontractorBill.receivedBy.name }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Receive Date" prop="entry_date">
                <p v-if="subcontractorBill">{{ subcontractorBill.entry_date }}</p>
              </el-form-item>
            </div>
          </el-col>

          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Checked Date">
                <p v-if="subcontractorBill">{{ subcontractorBill.checked_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Checked By">
                <p v-if="subcontractorBill.checkedBy">{{ subcontractorBill.checkedBy.name }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Approved Date">
                <p v-if="subcontractorBill">{{ subcontractorBill.approved_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Approved By">
                <p v-if="subcontractorBill.approvedBy">{{ subcontractorBill.approvedBy.name }}</p>
              </el-form-item>
            </div>
          </el-col>

          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Payment Date" prop="entry_date">
                <p v-if="subcontractorBill">{{ subcontractorBill.payment_date }}</p>
              </el-form-item>
            </div>
          </el-col>
        </el-row>

        <table class="item_table">
          <thead class="thead">
            <tr class="thead_row">
              <th>No.</th>
              <th>WO ID</th>
              <th>Site Code</th>
              <th>Project Amount</th>
              <th style="width: 100px">Receive Amount</th>
              <!-- <th>Vat</th>
              <th>Tax</th> -->
              <th>SD</th>
              <th>Deduction</th>
              <th>Approve Amount</th>
              <th>Details</th>
              <th>Remarks</th>
              <th v-if="pageName != 'viewBill'">Action</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr v-for="(bill, index) in subcontractorBill.billItems" :key="index" :class="`tbody_row ${bill.status === 'canceled' ? 'warning-color':''}`">
              <td>{{ index+1 }}</td>
              <td>{{ bill.workOrder.order_no }}</td>
              <td>{{ bill.project.site_code }}</td>
              <td>{{ bill.project.project_amount }}</td>
              <td>
                <el-form-item>
                  <el-input
                    class="numaric_td"
                    v-model="bill.amount"
                    readonly
                    placeholder="Please input"
                  />
                </el-form-item>
              </td>
              <!-- <td>
                <el-form-item>
                  <el-input
                    :readonly="pageName === 'viewBill'"
                    placeholder="Please input"
                    v-model="bill.vat"
                  ></el-input>
                </el-form-item>
              </td> -->
              <!-- <td>
                <el-form-item>
                  <el-input
                    :readonly="pageName === 'viewBill'"
                    placeholder="Please input"
                    v-model="bill.tax"
                  ></el-input>
                </el-form-item>
              </td> -->
              <td>
                <el-form-item>
                  <el-input
                    class="numaric_td"
                    v-model="bill.sd"
                    :readonly="pageName === 'viewBill' || bill.status !== 'active'"
                    placeholder="Please input"
                    @blur="calculateChequeAmount(index,bill.amount,bill.sd, bill.deduction)"
                  />
                </el-form-item>
              </td>
              <td>
                <el-form-item>
                  <el-input
                    class="numaric_td"
                    v-model="bill.deduction"
                    :readonly="pageName === 'viewBill' || bill.status !== 'active'"
                    placeholder="Please input"
                    @blur="calculateChequeAmount(index,bill.amount,bill.sd, bill.deduction)"
                  />
                </el-form-item>
              </td>
              <td>
                <el-form-item>
                  <el-input
                    class="numaric_td"
                    v-model="bill.cheque_amount"
                    readonly
                    placeholder="Please input"
                  />
                </el-form-item>
              </td>
              <td>{{ bill.remarks }}</td>
              <td>
                <el-form-item>
                  <el-input
                    v-model="bill.details"
                    :readonly="pageName === 'viewBill' || bill.status !== 'active'"
                    placeholder="Please input"
                  />
                </el-form-item>
              </td>
              <td v-if="pageName != 'viewBill'">
                <el-button
                  v-if="bill.status == 'active'"
                  type="danger"
                  icon="el-icon-close"
                  size="mini"
                  circle
                  @click="deleteBillItem(bill.id)"
                />
              </td>
            </tr>
          </tbody>
          <tfoot class="tfoot">
              <tr>
                <td colspan="3">Total Receive Amount</td>
                <td >{{ subcontractorBill.total_receive_amount }}</td>
                <td colspan="3" >Total Approve Amount</td>
                <td >{{ subcontractorBill.total_approve_amount }}</td>
                <td colspan="3" />
              </tr>
            </tfoot>
        </table>
        <hr>
        <!-- <el-form-item label="Payment Details" class="col-2">
          <p v-if="subcontractorBill.subcontractor">{{ subcontractorBill.payment_details }}</p>
        </el-form-item>-->
      </el-form>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const subcontractorBillItemResource = new Resource('subcontractor-bill-items');
export default {
  props: ['subcontractorBill'],
  data() {
    return {
      alredayPaidAmount: 0,
      subcontractorBillLoading: false,
      pageName: '',
      chequeAmount: 0,
      totalReceiveAmount: 0,
      totalApproveAmount: 0,
    };
  },
  created() {
    const page = this.$route;
    this.pageName = page.name;
  },

  methods: {
    calculateChequeAmount(index, amount, sd, deduction){
      this.chequeAmount = amount - (parseInt(sd) + parseInt(deduction));
      this.subcontractorBill.billItems[index].cheque_amount = this.chequeAmount;
      this.checkChange();
    },
    checkChange(){
      let total = 0;
      this.subcontractorBill.billItems.forEach(bill => {
        console.log(bill);
        total += parseFloat(bill.cheque_amount);
      });
      this.subcontractorBill.total_approve_amount = total;
    },
    deleteBillItem(id) {
      this.$confirm(
        'Are you sure to cancel this bill item . Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          subcontractorBillItemResource
            .destroy(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Bill item deleted Successfully',
              });
              this.$emit('billItemDelete');
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Canceled',
          });
        });
    },
  },
};
</script>

<style>
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.warning-color {
  background-color: rgb(247, 143, 143) !important;
}
</style>
