<template>
  <div>
    <el-card>
      <div style="display: flex">
        <span>Add Meta {{ index + 1 }}</span>
        <el-button
          size="small"
          type="danger"
          icon="el-icon-delete"
          circle
          style="margin-left: auto"
          @click="removeProjectTypeMeta(index, projectTypeMeta.id)"
        />
      </div>
      <el-form-item label="Input Name">
        <el-input v-model="projectTypeMeta.field_name" />
      </el-form-item>
      <el-form-item label="Input Type">
        <el-select
          v-model="projectTypeMeta.input_type"
          class="filter-item"
          placeholder="Please select a input type"
        >
          <el-option
            v-for="item in inputType"
            :key="item"
            :label="item | uppercaseFirst"
            :value="item"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="Default Value">
        <el-input v-model="projectTypeMeta.default_value" />
      </el-form-item>
      <el-form-item label="Is Required">
        <template>
          <el-radio
            v-model="projectTypeMeta.is_required"
            label="required"
          >Required</el-radio>
          <el-radio
            v-model="projectTypeMeta.is_required"
            label="nullable"
          >Nullable</el-radio>
        </template>
      </el-form-item>
    </el-card>

  </div>
</template>
<script>
import axios from 'axios';
export default {
  props: ['projectTypeMeta', 'index', 'projectTypeMetas'],
  data() {
    return {
      inputType: ['text', 'number', 'email', 'textarea', 'date', 'dropdown', 'checkbox'],
    };
  },
  methods: {
    removeProjectTypeMeta(index, id) {
      if (this.projectTypeMetas.length > 0) {
        this.projectTypeMetas.splice(index, 1);
        this.deleteProjectTypeMeta(id);
      }
    },
    deleteProjectTypeMeta(id){
      axios.delete('/api/project-type-meta/delete/' + id)
        .then(response => {
          this.$message({
            type: 'success',
            message: 'Project Type Meta Deleted',
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
  },
};
</script>
