<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="20">
        <el-form-item :label="'Stage Name'+' - '+ parseInt(index + 1)">
          <el-input v-model="stage.name" @blur="getName($event)" />
        </el-form-item>
      </el-col>
      <el-col :span="16">
        <el-form-item label="Image Required?">
          <el-radio-group v-model="stage.image_required" @change="getRequired($event)">
            <el-radio label="Yes" />
            <el-radio label="No" />
          </el-radio-group>
        </el-form-item>
      </el-col>
    </el-row>

  </div>
</template>
<script>
export default {
  props: ['index', 'stageNames', 'stage'],
  data(){
    return {
      data: [{
        name: '',
        required: '',
      }],
      name: '',
      required: '',
    };
  },

  methods: {
    getName(event){
      this.name = event.target.value;
    },
    getRequired(event){
      this.required = event;
      this.$emit('clicked', this.name, this.required);
    },
  },
};
</script>
