<template>
  <div v-if="projectType.id" class="app-container">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane id="view" v-loading="updating" label="View" name="first">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="projectType.name" />
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="projectType.code" />
          </el-form-item>
          <el-form-item :label="$t('projectType.stage')" prop="stage">
            <el-input
              v-model="projectType.projectTypeStages.length"
              type="number"
              @blur="getStage(projectType.projectTypeStages.length)"
            />
          </el-form-item>
          <!-- <div v-if="stages > 0"> -->
          <div v-for="(stage, index) in projectType.projectTypeStages" :key="index">
            <edit-stage :stage="stage" :index="index" @clicked="getStageName" />
          </div>

          <!-- </div> -->
          <div v-for="(projectTypeMeta, index) in projectType.projectTypeMetas" :key="index">
            <add-meta-form
              :project-type-meta="projectTypeMeta"
              :index="index"
              :project-type-metas="projectType.projectTypeMetas"
            />
          </div>
          <!-- <el-button
            size="small"
            type="success"
            icon="el-icon-plus"
            circle
            style="display: flex; margin-left: auto"
            @click="addNewMeta"
          />-->
          <!-- <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item>-->
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="projectType.name" />
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="projectType.code" />
          </el-form-item>
          <el-form-item :label="$t('projectType.stage')" prop="stage">
            <el-input
              v-model="projectType.projectTypeStages.length"
              type="number"
              @blur="getStage(projectType.projectTypeStages.length)"
            />
          </el-form-item>
          <!-- <div v-if="stages > 0"> -->
          <div v-for="(stage, index) in projectType.projectTypeStages" :key="index">
            <edit-stage :stage="stage" :index="index" @clicked="getStageName" />
          </div>

          <!-- </div> -->
          <div v-for="(projectTypeMeta, index) in projectType.projectTypeMetas" :key="index">
            <add-meta-form
              :project-type-meta="projectTypeMeta"
              :index="index"
              :project-type-metas="projectType.projectTypeMetas"
            />
          </div>
          <el-button
            size="small"
            type="success"
            icon="el-icon-plus"
            circle
            style="display: flex; margin-left: auto"
            @click="addNewMeta"
          />
          <el-form-item>
            <el-button type="primary" @click="onSubmit">Update</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import { fetchProjectType } from '@/api/projectType';
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
import AddMetaForm from './AddMetaForm.vue';
import EditStage from './EditStage';

export default {
  components: { AddMetaForm, EditStage },
  props: {},
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      projectType: '',
      stageDatas: [],
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    fetchData(id) {
      fetchProjectType(id)
        .then((response) => {
          this.projectType = response.data;
          // console.log(this.projectType.projectTypeStages);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    addNewMeta() {
      const id =
        Math.max.apply(
          Math,
          this.projectType.projectTypeMetas.map(function (o) {
            return o.id;
          })
        ) + 1;
      this.projectType.projectTypeMetas.push({
        field_name: null,
        input_type: null,
        default_value: null,
        is_required: null,
      });
    },

    getStageName(name, required) {
      const data = {
        name: name,
        required: required,
      };
      this.projectType.projectTypeStages.push(data);
    },

    onSubmit() {
      this.updating = true;
      projectTypeResource
        .update(this.projectType.id, this.projectType)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'project Type information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.projectType-activity {
  .projectType-block {
    .projectTypename,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
</style>
