<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <el-button
        v-permission="['add project status']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >{{ $t('table.add') }}</el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >{{ $t('table.export') }}</el-button>
    </div>

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="left" label="Project Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="150">
        <template slot-scope="scope">
          <router-link :to="'/project-status/view/' + scope.row.id">
            <el-button
              v-permission="['update project status']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >View</el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create New Project'" :visible.sync="dialogFormVisible">
      <div v-loading="data_create_form_modal" class="form-container">
        <el-form
          ref="data_create_ref"
          :rules="rules"
          :model="create_data"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item prop="name" label="Name">
            <el-input v-model="create_data.name" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
          <el-button type="primary" @click="create_data_chart()">{{ $t('table.confirm') }}</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const data_resource = new Resource('project-status');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive

export default {
  name: 'ChartOfAccount',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      data_create_form_modal: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      create_data: {},
      dialogFormVisible: false,
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList(); // get all  list
  },
  methods: {
    // get all  list
    async getList() {
      this.loading = true;
      const response = await data_resource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    // load create form
    handleCreate() {
      // this.resetcreate_data();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['data_create_ref'].clearValidate();
      });
    },

    // store data
    create_data_chart() {
      this.$refs['data_create_ref'].validate((valid) => {
        if (valid) {
          this.create_data.image = this.image;
          this.data_create_form_modal = true;
          data_resource
            .store(this.create_data)
            .then((response) => {
              this.$message({
                message:
                  this.create_data.name + ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetcreate_data();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.data_create_form_modal = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    // reset data create form
    resetcreate_data() {
      this.create_data = {
        name: '',
      };
    },
    // export list
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'Project Name'];
        const filterVal = ['id', 'name'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'project-status-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
img {
  cursor: pointer;
}
</style>

