<template>
  <el-form :inline="true" :model="formInline" class="demo-form-inline">
    <!-- Company -- Department  -->
    <el-row>
      <el-col :span="8" :offset="6">
        <!-- Company Name -->
        <el-form-item label="Company Name">
          <el-input></el-input>
        </el-form-item>
        <!-- Department Name -->
        <el-form-item label="Department Name">
          <el-select>
            <el-option label="Zone one" value="shanghai">1</el-option>
            <el-option label="Zone two" value="beijing">2</el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>

    <!-- Date  -->
    <el-row style>
      <p>{{prepared_date}}</p>
    </el-row>
  </el-form>
</template>
<script>
export default {
  data() {
    return {
      prepared_date: '',
    };
  },
  methods: {
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}/${
        current.getMonth() + 1
      }/${current.getDate()}`;
      this.prepared_date = this.currentDate;
    },
  },
  created() {
    this.getCurrentDate();
  },
};
</script>
