<template>
  <el-card>
    <div v-loading="cplCreating" class="form-container">
      <el-form
        ref="cplForm"
        :rules="rules"
        :model="newCpl"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item :label="$t('cpl.client_id')" prop="client_id">
                <el-select
                  v-model="newCpl.client_id"
                  placeholder="Select Client"
                >
                  <el-option
                    v-for="item in clients"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item :label="$t('cpl.entry_date')" prop="entry_date">
                <el-date-picker
                  v-model="newCpl.entry_date"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item
                :label="$t('cpl.delivery_date')"
                prop="delivery_date"
              >
                <el-date-picker
                  v-model="newCpl.delivery_date"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-form-item
          id="productSearch"
          :label="$t('purchase.product')"
          class="full-width"
        >
          <el-autocomplete
            v-model="state"
            class="inline-input"
            :fetch-suggestions="querySearch"
            placeholder="Please Input"
            :trigger-on-focus="false"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.name }} ({{ item.code }})</div>
            </template>
          </el-autocomplete>
        </el-form-item>
        <table class="purchaseItem_table">
          <thead class="thead">
            <tr class="thead_row">
              <th>No.</th>
              <th>Name</th>
              <th>Code</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Discount</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr
              v-for="(purchaseItem, index) in clientPriceListItems"
              :key="purchaseItem.id"
              class="tbody_row"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ purchaseItem.name }}</td>
              <td>{{ purchaseItem.code }}</td>
              <td>
                <input
                  v-model="purchaseItem.price"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 70px"
                  @blur="checkItemChange"
                >
              </td>
              <td>
                <input
                  v-model="purchaseItem.quantity"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 70px"
                  @blur="checkItemChange"
                >
              </td>
              <td>
                <input
                  v-model="purchaseItem.discount"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 70px"
                  @blur="checkItemChange"
                >
                <strong>%</strong>
              </td>
              <td>{{ purchaseItem.total }}</td>
              <td @click.prevent="deleteRow(index, clientPriceListItems)">X</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div id="calc">
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Sub-Total</h4></div>
            <div class="col-45"><h4 /></div>
            <div class="col-5"><h4 /></div>
            <div class="col-15"><h4 /></div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ subTotal }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Discount</h4></div>
            <div class="col-45">
              <el-radio-group v-model="newCpl.discount_type">
                <el-radio
                  value="amount"
                  label="amount"
                  @change="getDiscountType($event)"
                />
                <el-radio
                  value="percentage"
                  label="percentage"
                  @change="getDiscountType($event)"
                />
              </el-radio-group>
            </div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-15">
              <input
                v-model="newCpl.discount"
                type="text"
                style="height: 30px; line-height: 36px; width: 100px"
                @blur="checkItemChange"
              >
            </div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ discountAmount }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Shipping Cost</h4></div>
            <div class="col-45"><h4 /></div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-15">
              <input
                v-model="newCpl.shipping_cost"
                type="text"
                style="height: 30px; line-height: 36px; width: 100px"
                @blur="checkItemChange"
              >
            </div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ shippingCost }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Grand Total</h4></div>
            <div class="col-45"><h4 /></div>
            <div class="col-5" />
            <div class="col-15" />
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ grandTotal }}</h4>
            </div>
          </div>
        </div>
        <el-form-item :label="$t('purchase.note')" prop="note" class="col-2">
          <el-input
            v-model="newCpl.note"
            type="textarea"
            :rows="2"
            placeholder="Please input"
          />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          {{ $t('table.cancel') }}
        </el-button>
        <el-button type="primary" @click="createCpl()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
const cplResource = new Resource('client-price-list');
const clientResource = new Resource('clients');
const productResource = new Resource('products');
import { EventBus } from '@/app';

export default {
  data() {
    return {
      clients: [],
      products: [],
      clientPriceListItems: [],
      state: '',
      loading: true,
      downloading: false,
      cplCreating: false,
      newCpl: {
        products: [],
        shipping_cost: 0,
        discount_type: 'amount',
        discount: 0,
      },
      total: 0,
      subTotal: 0,
      grandTotal: 0,
      subDiscount: 0,
      discountAmount: 0,
      discountType: '',
      shippingCost: 0,
      rules: {
        client_id: [
          {
            required: true,
            message: 'Client Name is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await clientResource.list({});
      const productResponse = await productResource.list({});
      this.clients = response.data;
      this.products = productResponse.data;
      this.loading = false;
    },
    querySearch(queryString, cb) {
      const products = this.products;
      const results = queryString
        ? products.filter(this.createFilter(queryString))
        : products;

      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (product) => {
        return (
          product.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleSelect(product) {
      if (this.itemExist(product)) {
        this.clientPriceListItems.forEach((item) => {
          if (item.id && item.id == product.id) {
            const newQuantity = item.quantity + 1;
            item.quantity = newQuantity;
          }
        });
      } else {
        const item = {
          name: product.name,
          id: product.id,
          code: product.code,
          quantity: 1,
          price: product.price,
          cost: product.cost,
          promo_price: product.promo_price,
          discount: 0,
          total: 0,
        };
        this.clientPriceListItems.push(item);
        this.newCpl.products.push(item);
      }

      this.checkItemChange();
    },
    itemExist(item) {
      return this.clientPriceListItems.some(function(el) {
        return el.id === item.id;
      });
    },
    deleteRow(index, clientPriceListItems) {
      clientPriceListItems.splice(index, 1);
      this.checkItemChange();
    },
    checkItemChange() {
      let subtotal = 0;
      let OrderdiscAmount = 0;
      // calculate Item Total
      this.clientPriceListItems.forEach((item) => {
        let itemtotal = item.quantity * item.price;
        if (item.discount > 0) {
          itemtotal = itemtotal - itemtotal * (item.discount / 100);
        }
        item.total = itemtotal;
        subtotal += itemtotal;
      });
      this.subTotal = subtotal;
      // Calculate Order Total

      if (this.newCpl.discount > 0) {
        if (this.discountType == 'amount') {
          OrderdiscAmount = parseFloat(this.newCpl.discount);
        }
        if (this.discountType == 'percentage') {
          OrderdiscAmount =
            (parseFloat(this.subTotal) * parseFloat(this.newCpl.discount)) /
            100;
        }
      }

      this.discountAmount = OrderdiscAmount;

      this.shippingCost = parseFloat(this.newCpl.shipping_cost);

      this.grandTotal = parseFloat(
        this.subTotal + this.shippingCost - this.discountAmount
      );
    },
    getDiscountType(event) {
      this.discountType = event;
      this.checkItemChange();
    },
    createCpl() {
      this.$refs['cplForm'].validate((valid) => {
        if (valid) {
          // this.newCpl.attachment = this.attachment;
          this.newCpl.grandTotal = this.grandTotal;
          this.cplCreating = true;
          cplResource
            .store(this.newCpl)
            .then((response) => {
              EventBus.$emit('update-cpl', response);
              this.$message({
                message:
                  'New price list for client has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetnewCpl();
              this.dialogFormVisible = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.cplCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetnewCpl() {
      this.newCpl = {
        entry_date: '',
        ref_number: '',
        status: '',
        supplier_id: '',
        warehouse_id: '',
        note: '',
        payment_condition: '',
        attchment: '',
      };
      this.clientPriceListItems = '';
      this.products = [];
      this.subTotal = '';
      this.grandTotal = '';
      this.discountType = '';
      this.shippingCost = '';
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}

#calc .col-45 {
  width: 40%;
}
#calc .col-15 {
  width: 15%;
}
#calc .col-25 {
  width: 25%;
}
#calc .col-20 {
  width: 20%;
}
#calc .col-15 {
  width: 15%;
}
#calc .col-10 {
  width: 10%;
}
#calc .col-5 {
  width: 5%;
}
</style>
