<template>
  <div class="app-container">
    <div class="filter-container">
      <el-select v-model="query.keyword" placeholder="Select" @change="handleFilter">
        <el-option
          v-for="item in clients"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select>
      <router-link to="/project-status/client-price-list/create">
        <el-button
          v-permission="['add client price list']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-plus"
        >
          {{ $t('table.add') }}
        </el-button>
      </router-link>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="client_id" label="Client Name">
        <template slot-scope="scope">
          <span>{{ scope.row.client.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Created By">
        <template slot-scope="scope">
          <span>{{ scope.row.user.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="delivery_date" label="Delivery Date">
        <template slot-scope="scope">
          <span>{{ scope.row.delivery_date }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="grand_total" label="Total Amount">
        <template slot-scope="scope">
          <span>{{ scope.row.grand_total }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions">
        <template slot-scope="scope">
          <router-link :to="'/project-status/client-price-list/view/' + scope.row.id">
            <el-button
              v-permission="['update department']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <!-- <el-dialog :title="'Create new department'" :visible.sync="dialogFormVisible">

    </el-dialog> -->
  </div>
</template>

<script>
import Resource from '@/api/resource';
const cplResource = new Resource('client-price-list');
const clientResource = new Resource('clients');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import { EventBus } from '@/app';
export default {
  name: 'ClientPriceList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      departmentCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newDepartment: {},
      dialogFormVisible: false,
      clients: [],

      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getClientList();
    EventBus.$on('update-cpl', (response) => {
      this.getList();
      console.log(response);
    });
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await cplResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    async getClientList() {
      this.loading = true;
      const response = await clientResource.list();
      this.clients = response.data;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'client_id', 'created_by', 'status'];
        const filterVal = ['id', 'client_id', 'user_id', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'client-price-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-select.el-select--medium {
     width: auto !important;
}
</style>
