<template>
  <el-card v-if="cpl">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane v-loading="updating" label="View" name="first">
        <el-form>
          <el-row>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Entry Date">
                  <el-input v-model="cpl.entry_date" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Created By">
                  <el-input
                    v-if="cpl.user"
                    v-model="cpl.user.name"
                    readonly=""
                  />
                </el-form-item>
              </div>
            </el-col>

            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Supplier">
                  <el-input
                    v-if="cpl.client"
                    v-model="cpl.client.name"
                    readonly=""
                  />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Total Amount">
                  <el-input v-model="cpl.grand_total" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Discount">
                  <el-input v-model="cpl.discount" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Discount Type">
                  <el-input v-model="cpl.discount_type" readonly="" />
                </el-form-item>
              </div> </el-col><el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Shipping Cost">
                  <el-input v-model="cpl.shipping_cost" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Note">
                  <el-input v-model="cpl.note" readonly="" />
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-form-item label="Client Price List Products">
            <table class="cplItem_table">
              <thead class="thead">
                <tr class="thead_row">
                  <th>No.</th>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Discount</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr
                  v-for="(cplItem, index) in cpl.listItems"
                  :key="cplItem.id"
                  class="tbody_row"
                >
                  <td>{{ index + 1 }}</td>
                  <td>{{ cplItem.product.name }}</td>
                  <td>{{ cplItem.product.code }}</td>
                  <td>
                    <input
                      v-model="cplItem.price"
                      type="text"
                      readonly
                      style="height: 30px; line-height: 36px; width: 70px"
                    >
                  </td>
                  <td>
                    <input
                      v-model="cplItem.quantity"
                      type="text"
                      readonly
                      style="height: 30px; line-height: 36px; width: 70px"
                    >
                  </td>
                  <td>
                    <input
                      v-model="cplItem.discount"
                      type="text"
                      readonly
                      style="height: 30px; line-height: 36px; width: 70px"
                    >
                    <strong>%</strong>
                  </td>
                  <td>{{ cplItem.total }}</td>
                </tr>
              </tbody>
            </table>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form
          ref="cplUpdateForm"
          label-position="left"
          label-width="150px"
          style="max-width: 98%; margin: 0 auto"
        >
          <el-row>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('cpl.client_id')" prop="client_id">
                  <el-select
                    v-model="cpl.client_id"
                    placeholder="Select Client"
                  >
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item :label="$t('cpl.entry_date')" prop="entry_date">
                  <el-date-picker
                    v-model="cpl.entry_date"
                    type="date"
                    placeholder="Pick a Date"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="8">
              <div class="grid-content">
                <el-form-item
                  :label="$t('cpl.delivery_date')"
                  prop="delivery_date"
                >
                  <el-date-picker
                    v-model="cpl.delivery_date"
                    type="date"
                    placeholder="Pick a Date"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-form-item
            id="productSearch"
            :label="$t('purchase.product')"
            class="full-width"
          >
            <el-autocomplete
              v-model="state"
              class="inline-input"
              :fetch-suggestions="querySearch"
              placeholder="Please Input"
              :trigger-on-focus="false"
              @select="handleSelect"
            >
              <template slot-scope="{ item }">
                <div class="value">{{ item.name }} ({{ item.code }})</div>
              </template>
            </el-autocomplete>
          </el-form-item>
          <table class="purchaseItem_table">
            <thead class="thead">
              <tr class="thead_row">
                <th>No.</th>
                <th>Name</th>
                <th>Code</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Discount</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr
                v-for="(purchaseItem, index) in clientPriceListItems"
                :key="purchaseItem.id"
                class="tbody_row"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ purchaseItem.product.name }}</td>
                <td>{{ purchaseItem.product.code }}</td>
                <td>
                  <input
                    v-model="purchaseItem.product.price"
                    type="text"
                    style="height: 30px; line-height: 36px; width: 70px"
                    @blur="checkItemChange"
                  >
                </td>
                <td>
                  <input
                    v-model="purchaseItem.quantity"
                    type="text"
                    style="height: 30px; line-height: 36px; width: 70px"
                    @blur="checkItemChange"
                  >
                </td>
                <td>
                  <input
                    v-model="purchaseItem.discount"
                    type="text"
                    style="height: 30px; line-height: 36px; width: 70px"
                    @blur="checkItemChange"
                  >
                  <strong>%</strong>
                </td>
                <td>{{ purchaseItem.total }}</td>
                <td @click.prevent="deleteRow(index, clientPriceListItems)">
                  X
                </td>
              </tr>
            </tbody>
          </table>
          <hr>
          <div id="calc">
            <div class="row">
              <div class="col-15" />
              <div class="col-15"><h4>Sub-Total</h4></div>
              <div class="col-45"><h4 /></div>
              <div class="col-5"><h4 /></div>
              <div class="col-15"><h4 /></div>
              <div class="col-5"><h4>=</h4></div>
              <div class="col-20">
                <h4>{{ subTotal }}</h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-15" />
              <div class="col-15"><h4>Discount</h4></div>
              <div class="col-45">
                <el-radio-group v-model="cpl.discount_type">
                  <el-radio
                    value="amount"
                    label="amount"
                    @change="getDiscountType($event)"
                  />
                  <el-radio
                    value="percentage"
                    label="percentage"
                    @change="getDiscountType($event)"
                  />
                </el-radio-group>
              </div>
              <div class="col-5"><h4>=</h4></div>
              <div class="col-15">
                <input
                  v-model="cpl.discount"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 100px"
                  @blur="checkItemChange"
                >
              </div>
              <div class="col-5"><h4>=</h4></div>
              <div class="col-20">
                <h4>{{ discountAmount }}</h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-15" />
              <div class="col-15"><h4>Shipping Cost</h4></div>
              <div class="col-45"><h4 /></div>
              <div class="col-5"><h4>=</h4></div>
              <div class="col-15">
                <input
                  v-model="cpl.shipping_cost"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 100px"
                  @blur="checkItemChange"
                >
              </div>
              <div class="col-5"><h4>=</h4></div>
              <div class="col-20">
                <h4>{{ shippingCost }}</h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-15" />
              <div class="col-15"><h4>Grand Total</h4></div>
              <div class="col-45"><h4 /></div>
              <div class="col-5" />
              <div class="col-15" />
              <div class="col-5"><h4>=</h4></div>
              <div class="col-20">
                <h4>{{ grandTotal }}</h4>
              </div>
            </div>
          </div>
          <el-form-item :label="$t('purchase.note')" prop="note" class="col-2">
            <el-input
              v-model="cpl.note"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </el-form-item>
          <el-button type="primary" @click="updateCpl">Subcimt</el-button>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import { fetchClientPriceList } from '@/api/clientPriceList';
const cplResource = new Resource('client-price-list');
const clientResource = new Resource('clients');
const productResource = new Resource('products');
export default {
  props: {},
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      clients: [],
      products: [],
      units: [],
      cpl: {
        products: [],
        shipping_cost: 0,
        discount_type: 'amount',
        discount: 0,
      },
      total: 0,
      subTotal: 0,
      grandTotal: 0,
      subDiscount: 0,
      discountAmount: 0,
      discountType: '',
      shippingCost: 0,
      clientPriceListItems: [],
      state: '',
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
    this.getList();
  },

  methods: {
    async getList() {
      this.loading = true;
      const response = await clientResource.list({});
      const productResponse = await productResource.list({});
      this.clients = response.data;
      this.products = productResponse.data;
      this.loading = false;
    },
    async fetchData(id) {
      await fetchClientPriceList(id)
        .then((response) => {
          this.cpl = response.data;
          this.clientPriceListItems = this.cpl.listItems;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      this.checkItemChange();
      console.log('Switching tab ', tab, event);
    },
    querySearch(queryString, cb) {
      const products = this.products;
      const results = queryString
        ? products.filter(this.createFilter(queryString))
        : products;

      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (product) => {
        return (
          product.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleSelect(product) {
      if (this.itemExist(product)) {
        this.clientPriceListItems.forEach((item) => {
          if (item.product.id === product.id) {
            const newQuantity = item.quantity + 1;
            item.quantity = newQuantity;
          }
        });
      } else {
        const item = {
          product: {
            name: product.name,
            id: product.id,
            code: product.code,
            price: product.price,
            cost: product.cost,
            promo_price: product.promo_price,
          },
          quantity: 1,
          discount: 0,
          total: 0,
        };
        this.clientPriceListItems.push(item);
      }

      this.checkItemChange();
    },
    itemExist(item) {
      return this.clientPriceListItems.some(function(el) {
        return el.product.id === item.id;
      });
    },
    deleteRow(index, clientPriceListItems) {
      clientPriceListItems.splice(index, 1);
      this.checkItemChange();
    },
    checkItemChange() {
      let subtotal = 0;
      let OrderdiscAmount = 0;
      // calculate Item Total
      this.clientPriceListItems.forEach((item) => {
        let itemtotal = item.quantity * item.product.price;
        if (item.discount > 0) {
          itemtotal = itemtotal - itemtotal * (item.discount / 100);
        }
        item.total = itemtotal;
        subtotal += itemtotal;
      });
      this.subTotal = subtotal;
      // Calculate Order Total

      if (this.cpl.discount > 0) {
        if (this.cpl.discount_type == 'amount') {
          OrderdiscAmount = parseFloat(this.cpl.discount);
        }
        if (this.cpl.discount_type == 'percentage') {
          OrderdiscAmount =
            (parseFloat(this.subTotal) * parseFloat(this.cpl.discount)) / 100;
        }
      }

      this.discountAmount = OrderdiscAmount;

      this.shippingCost = parseFloat(this.cpl.shipping_cost);

      this.grandTotal = parseFloat(
        this.subTotal + this.shippingCost - this.discountAmount
      );
    },
    getDiscountType(event) {
      this.discountType = event;
      this.checkItemChange();
    },
    updateCpl() {
      this.cpl.grand_total = this.grandTotal;
      this.cplCreating = true;
      cplResource
        .update(this.cpl.id, this.cpl)
        .then((response) => {
          this.$message({
            message:
                'New purchase has been created successfully.',
            type: 'success',
            duration: 5 * 1000,
          });
          this.dialogFormVisible = false;
          this.handleFilter();
        })
        .catch((error) => {
          console.log(error);
        })
        .finally(() => {
          this.cplCreating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}

#calc .col-45 {
  width: 40%;
}
#calc .col-15 {
  width: 15%;
}
#calc .col-25 {
  width: 25%;
}
#calc .col-20 {
  width: 20%;
}
#calc .col-15 {
  width: 15%;
}
#calc .col-10 {
  width: 10%;
}
#calc .col-5 {
  width: 5%;
}
</style>
