<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add supplier']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="company" label="Company">
        <template slot-scope="scope">
          <span>{{ scope.row.company }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Image">
        <template slot-scope="scope">
          <img
            v-if="scope.row.image"
            :src="imgURL+ scope.row.image"
            height="70px"
            width="70px"
            @click="copySRC"
          >
          <img
            v-else
            height="70px"
            width="70px"
            src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
          >
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <router-link :to="'/administrator/suppliers/edit/' + scope.row.id">
            <el-button
              v-permission="['update supplier']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.is_active == 'active'"
            v-permission="['manage permission']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleEditInActive(scope.row.id)"
          >
            Block
          </el-button>
          <el-button
            v-if="scope.row.is_active == 'inactive'"
            v-permission="['manage permission']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleEditActive(scope.row.id)"
          >
            Unblock
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new supplier'" :visible.sync="dialogFormVisible">
      <div v-loading="supplierCreating" class="form-container">
        <el-form
          ref="supplierForm"
          :rules="rules"
          :model="newSupplier"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >

          <el-form-item :label="$t('supplier.company')" prop="company">
            <el-input v-model="newSupplier.company" />
          </el-form-item>

          <el-form-item :label="$t('supplier.name')" prop="name">
            <el-input v-model="newSupplier.name" />
          </el-form-item>

          <el-form-item :label="$t('supplier.email')" prop="email">
            <el-input v-model="newSupplier.email" />
          </el-form-item>
          <el-form-item :label="$t('supplier.phone')" prop="phone">
            <el-input v-model="newSupplier.phone" />
          </el-form-item>

          <el-form-item :label="$t('supplier.street')" prop="street">
            <el-input v-model="newSupplier.street" />
          </el-form-item>

          <el-form-item :label="$t('supplier.country')" prop="country">
            <el-select
              v-model="newSupplier.country"
              class="filter-item"
              placeholder="Please select Country"
            >
              <el-option
                :key="country.id"
                :label="country.name | uppercaseFirst"
                :value="country.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('supplier.state')" prop="state">
            <el-select
              v-model="newSupplier.state"
              class="filter-item"
              placeholder="Please select State"
              @change="getDistrict()"
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :label="state.name | uppercaseFirst"
                :value="state.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('supplier.district')" prop="district">
            <el-select
              v-model="newSupplier.district"
              class="filter-item"
              placeholder="Please select Dsitrict"
              @change="getCities(newSupplier.district)"
            >
              <el-option
                v-for="district in districts"
                :key="district.id"
                :label="district.name | uppercaseFirst"
                :value="district.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('supplier.city')" prop="city">
            <el-select
              v-model="newSupplier.city"
              placeholder="Please select City"
            >
              <el-option
                v-for="city in cities"
                :key="city.id"
                :value="city.id"
                :label="city.name"
              />
            </el-select>
          </el-form-item>

          <el-form-item :label="$t('supplier.zip_code')" prop="zip_code">
            <el-input v-model="newSupplier.zip_code" />
          </el-form-item>

          <el-form-item :label="$t('supplier.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('supplier.selected_image')">
            <img :src="imgurl">
          </el-form-item>

          <el-form-item :label="$t('supplier.trade_licence')" prop="trade_licence">
            <input type="file" @change="tradeLicenced($event)">
          </el-form-item>
          <el-form-item v-if="tradeurl" class="preview" :label="$t('supplier.selected_image')">
            <img :src="tradeurl">
          </el-form-item>

          <el-form-item :label="$t('supplier.TIN')" prop="TIN">
            <input type="file" @change="tinChanged($event)">
          </el-form-item>
          <el-form-item v-if="tinurl" class="preview" :label="$t('supplier.selected_image')">
            <img :src="tinurl">
          </el-form-item>

          <el-form-item :label="$t('supplier.BIN')" prop="BIN">
            <input type="file" @change="binChanged($event)">
          </el-form-item>
          <el-form-item v-if="binurl" class="preview" :label="$t('supplier.selected_image')">
            <img :src="binurl">
          </el-form-item>

          <el-form-item :label="$t('supplier.NID')" prop="NID">
            <input type="file" @change="nidChanged($event)">
          </el-form-item>
          <el-form-item v-if="nidurl" class="preview" :label="$t('supplier.selected_image')">
            <img :src="nidurl">
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createSupplier()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const supplierResource = new Resource('suppliers');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination

import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import { inActive, active } from '@/api/supplier';

export default {
  name: 'SupplierList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      supplierCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newSupplier: {},
      newSupplierImage: '',
      dialogFormVisible: false,
      countries: [],
      states: [],
      districts: [],
      cities: [],
      NID: '',
      TIN: '',
      BIN: '',
      image: '',
      Licence: '',
      imgurl: null,
      tradeurl: null,
      tinurl: null,
      binurl: null,
      nidurl: null,
      country: {
        'name': 'Bangladesh',
      },
      rules: {
        company: [
          { required: true, message: 'Company is required', trigger: 'blur' },
        ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          {
            type: 'email',
            message: 'Please input correct email address',
            trigger: ['blur', 'change'],
          },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getState();
  },
  methods: {
    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },

    getCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getState() {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getDistrict() {
      const state_id = this.newSupplier.state;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },

    getSupplierImage(img) {
      return 'images/supplier/' + img;
    },
    getNidImage(event){
      this.NID = event;
    },
    getLicenceImage(event){
      this.Licence = event;
    },
    getBinImage(event){
      this.BIN = event;
    },
    getTinImage(event){
      this.TIN = event;
    },
    async getList() {
      this.loading = true;
      const response = await supplierResource.list({});
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewSupplier();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['supplierForm'].clearValidate();
      });
    },
    getCurrentImage(img) {
      return 'images/supplier/' + img;
    },
    handleEditInActive(id, name) {
      this.$confirm(
        'Do you want to block supplier ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          inActive(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Blocked',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Block canceled',
          });
        });
    },
    handleEditActive(id, name) {
      this.$confirm(
        'Do you want to Unblock supplier ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          active(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unblocked',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unblocked canceled',
          });
        });
    },

    imageChanged(e){
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/suppliers/get-image', data).then(res => {
        this.image = res.data.imageName;
        // console.log(this.image);
      });
    },

    tradeLicenced(e) {
      const trade_licence = e.target.files[0];
      this.tradeurl = URL.createObjectURL(trade_licence);
      const data = new FormData();
      data.append('photo', trade_licence);
      axios.post('/api/suppliers/trade-licence', data).then(res => {
        this.trade_licence = res.data.tradeLicence;
      });
    },

    tinChanged(e) {
      const TIN = e.target.files[0];
      this.tinurl = URL.createObjectURL(TIN);
      const data = new FormData();
      data.append('photo', TIN);
      axios.post('/api/suppliers/tin', data).then(res => {
        this.TIN = res.data.tin;
      });
    },

    binChanged(e) {
      const BIN = e.target.files[0];
      this.binurl = URL.createObjectURL(BIN);
      const data = new FormData();
      data.append('photo', BIN);
      axios.post('/api/suppliers/bin', data).then(res => {
        this.BIN = res.data.bin;
      });
    },

    nidChanged(e) {
      const NID = e.target.files[0];
      this.nidurl = URL.createObjectURL(NID);
      const data = new FormData();
      data.append('photo', NID);
      axios.post('/api/suppliers/nid', data).then(res => {
        this.NID = res.data.nid;
      });
    },
    createSupplier() {
      this.$refs['supplierForm'].validate((valid) => {
        if (valid) {
          this.newSupplier.image = this.image;
          this.newSupplier.NID = this.NID;
          this.newSupplier.trade_licence = this.trade_licence;
          this.newSupplier.TIN = this.TIN;
          this.newSupplier.BIN = this.BIN;
          this.newSupplier.country = 19;
          this.supplierCreating = true;
          supplierResource
            .store(this.newSupplier)
            .then((response) => {
              this.$message({
                message:
                  'New supplier ' +
                  this.newSupplier.name +
                  '(' +
                  this.newSupplier.email +
                  ') has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewSupplier();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.supplierCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewSupplier() {
      this.newSupplier = {
        name: '',
        email: '',
        phone: '',
        country: '',
        state: '',
        district: '',
        city: '',
        zip_code: '',
        street: '',
        image: '',
        company: '',
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['index', 'supplier_id', 'name', 'email', 'phone', 'company', 'country name', 'state name', 'district name', 'city', 'zip_code', 'street', 'status'];
        const filterVal = ['index', 'id', 'name', 'email', 'phone', 'company', 'country_name', 'state_name', 'district_name', 'city', 'zip_code', 'street', 'is_active'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'supplier-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
}

img {
  cursor: pointer;
}
</style>
