<template>
  <div class="app-container">

    <div id="project_list_top" class="filter-container">
      <el-input

        id="project_search"
        v-model="query.keyword"
        placeholder="Subcontract Id"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      />

      <el-date-picker
        id="search_date"
        v-model="query.date"
        type="date"
        placeholder="Search By Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        @change="handleFilter"
      />

      <el-select
        id="primary_select_subcontractor"
        v-model="query.subcontractor"
        v-waves
        placeholder="Subcontractor Name"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="subcontractor in subcontractors"
          :key="subcontractor.id"
          :label="subcontractor.name"
          :value="subcontractor.id"
        />
      </el-select>
      <el-select
        id="primary_project"
        v-model="query.project"
        v-waves
        placeholder="Select Project "
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="project in projects"
          :key="project.id"
          :label="project.code"
          :value="project.id"
        />
      </el-select>

    </div>
    <!-- project subcontract list -->
    <list v-if="list" :all-subcontract="list" />
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
    />
  </div>
</template>

<script>
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import Countdown from '../components/Countdown';
import Resource from '@/api/resource';
import Pagination from '@/components/Pagination';
const ProjectSubcontractResource = new Resource('project-subcontracts');
import axios from 'axios';
import List from '../components/subcontract/List';

export default {
  name: 'ProjectList',
  components: { Countdown, Pagination, List },
  directives: { permission, waves },

  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      projectSubcontractCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      projectSubcontractId: '',
      subcontractors: [],
      departments: {},
      status: {},
      clients: [],
      projects: [],
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      rules: {
        status: [
          { required: true, message: 'Status is required', trigger: 'blur' },
        ],

        amount: [
          { required: true, message: 'Amount is required', trigger: 'blur' },
          { type: 'number', message: 'Amount must be a number', trigger: 'blur' },
        ],
        date: [
          { required: true, message: 'Date is required', trigger: 'blur' },
        ],
        due_date: [
          { required: true, message: 'Due Date is required', trigger: 'blur' },
        ],
        payment_method: [
          {
            required: true,
            message: 'Payment Method is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },

  created() {
    this.getList();
    this.getActiveItems();
  },

  methods: {
    async getList() {
      this.loading = true;
      const response = await ProjectSubcontractResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },

    async getActiveItems() {
      axios
        .get('/api/active/items')
        .then(({ data }) => {
          this.subcontractors = data.subcontractors;
          this.projects = data.projects;
          
        })
        .catch((error) => console.log(error));
    },
    tableRowClassName({ row }) {
      if (row.status === 1) {
        return 'success-row';
      } else if (new Date(row.deadline) < new Date()) {
        return 'warning-row';
      }
      return '';
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}
.filter-container {
  text-align: center;
}

#subcontract-edit {
  margin: 10px 0px;
}
.filter-container {
  text-align:left !important;
}
button#btn-add {
    display: none;
}
</style>

