<template>
  <el-card v-if="data.id" style="width:80%; margin:auto">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt />
      </div>
    </div>
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane id="view" v-loading="updating" label="View" name="first">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="data.name" />
          </el-form-item>
          <!-- <el-form-item label="Code">
            <el-input v-model="data.code" />
          </el-form-item>
          <el-form-item label="Cost Center">
            <el-input v-model="data.cost_center" />
          </el-form-item>-->
          <!-- <el-form-item :label="$t('data.image')" prop="image">
            <input type="file" @change="imageChanged($event)" />
          </el-form-item>-->

          <!-- <el-form-item v-if="!imgurl" :label="$t('data.selected_image')">
            <img
              @click="copySRC"
              :src="imgURL + data.image"
              height="200px"
              width="200px"
              v-if="data.image"
            />
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            />
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('data.selected_image')">
            <img :src="imgurl" />
          </el-form-item>-->
        </el-form>
      </el-tab-pane>
      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form>
          <el-form-item label="Title">
            <el-input v-model="data.name" />
          </el-form-item>
          <!-- <el-form-item label="Code">
            <el-input v-model="data.code" />
          </el-form-item>
          <el-form-item label="Cost Center">
            <el-checkbox v-model="data.cost_center" :checked="data.cost_center == 1">Cost Center</el-checkbox>
          </el-form-item>-->
          <!-- <el-form-item :label="$t('data.image')" prop="image">
            <input type="file" @change="imageChanged($event)" />
          </el-form-item>-->

          <!-- <el-form-item v-if="!imgurl" :label="$t('data.selected_image')">
            <img :src="imgURL + data.image" height="200px" width="200px" v-if="data.image" />
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            />
          </el-form-item>-->
          <!-- <el-form-item v-if="imgurl" class="preview" :label="$t('data.selected_image')">
            <img :src="imgurl" />
          </el-form-item>-->
          <el-form-item>
            <el-button type="primary" @click="onSubmit">Update</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import axios from 'axios';
import { fetchdata } from '@/api/ProjectStatus';
import Resource from '@/api/resource';
const dataResource = new Resource('project-status');

export default {
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      newdataImage: '',
      data: {},
      image: '',
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id); // fetch the requested data data
  },

  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    // fetch the requested data data
    fetchData(id) {
      fetchdata(id)
        .then((response) => {
          this.data = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // tab click
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },

    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/categories/get-image', data).then((res) => {
        this.image = res.data.imageName;
        // console.log(this.image);
      });
    },

    // update data data
    onSubmit() {
      this.updating = true;
      this.data.image = this.image;
      dataResource
        .update(this.data.id, this.data)
        .then((response) => {
          this.updating = false;
          // this.$router.push({name: 'dataList'});
          this.$message({
            message: 'data information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.data-activity {
  .data-block {
    .dataname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .data-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
img {
  cursor: pointer;
}
</style>
