<template>
  <div class="app-container">
    <div v-loading="purchaseCreating" class="form-container">
      <el-form
        ref="purchaseForm"
        :rules="rules"
        :model="newPurchase"
        label-position="left"
        label-width="100px"
        style="max-width: 100%; padding: 20px; margin-left: 0"
      >
        <el-form-item :label="$t('purchase.entry_date')" prop="entry_date">
          <el-date-picker
            v-model="newPurchase.entry_date"
            type="date"
            placeholder="Select date"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
        <el-form-item :label="$t('purchase.ref_number')" prop="ref_number">
          <el-input v-model.number="newPurchase.ref_number" />
        </el-form-item>
        <br>
        <el-form-item
          :label="$t('purchase.supplier_id')"
          prop="supplier_id"
        >
          <el-select
            v-model="newPurchase.supplier_id"
            class="filter-item el-select el-select--medium"
            prop="supplier_id"
          >
            <el-option
              v-for="supplier in suppliers"
              :key="supplier.id"
              :value="supplier.id"
              :label="supplier.name"
            />
          </el-select>
        </el-form-item>

        <el-form-item
          :label="$t('purchase.warehouse_id')"
          prop="warehouse_id"
        >
          <el-select v-model="newPurchase.warehouse_id" placeholder="Select" class="filter-item el-select el-select--medium">
            <el-option
              v-for="warehouse in warehouses"
              :key="warehouse.id"
              :label="warehouse.name"
              :value="warehouse.id"
            />
          </el-select>
        </el-form-item>
        <br>
        <el-form-item :label="$t('purchase.product')" class="full-width">
          <el-autocomplete
            v-model="state"
            class="inline-input"
            :fetch-suggestions="querySearch"
            placeholder="Please Input"
            :trigger-on-focus="false"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.name }} ({{ item.code }})</div>
            </template>
          </el-autocomplete>
        </el-form-item>
        <table class="purchaseItem_table">
          <thead class="thead">
            <tr class="thead_row">
              <th>No.</th>
              <th>Name</th>
              <th>Code</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Discount</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <tr
              v-for="(purchaseItem, index) in purchaseItems"
              :key="purchaseItem.id"
              class="tbody_row"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ purchaseItem.product.name }}</td>
              <td>{{ purchaseItem.product.code }}</td>
              <td>
                <input
                  v-model="purchaseItem.price"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 70px"
                  @blur="checkItemChange"
                >
              </td>
              <td>
                <input
                  v-model="purchaseItem.quantity"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 70px"
                  @blur="checkItemChange"
                >
              </td>
              <td>
                <input
                  v-model="purchaseItem.discount"
                  type="text"
                  style="height: 30px; line-height: 36px; width: 70px"
                  @blur="checkItemChange"
                >
                <strong>%</strong>
              </td>
              <td>{{ purchaseItem.total }}</td>
              <td style="color:red; cursor:pointer" @click.prevent="deleteRow(index, purchaseItems, purchaseItem.id)">X</td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div id="calc">
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Sub-Total</h4></div>
            <div class="col-45"><h4 /></div>
            <div class="col-5"><h4 /></div>
            <div class="col-15"><h4 /></div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ subTotal }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Discount</h4></div>
            <div class="col-45">
              <el-radio-group v-model="newPurchase.discount_type">
                <el-radio
                  value="amount"
                  label="amount"
                  @change="getDiscountType($event)"
                />
                <el-radio
                  value="percentage"
                  label="percentage"
                  @change="getDiscountType($event)"
                />
              </el-radio-group>
            </div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-15">
              <input
                v-model="newPurchase.discount"
                type="text"
                style="height: 30px; line-height: 36px; width: 100px"
                @blur="checkItemChange"
              >
            </div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ discountAmount }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Shipping Cost</h4></div>
            <div class="col-45"><h4 /></div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-15">
              <input
                v-model="newPurchase.shipping_cost"
                type="text"
                style="height: 30px; line-height: 36px; width: 100px"
                @blur="checkItemChange"
              >
            </div>
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ shippingCost }}</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-15" />
            <div class="col-15"><h4>Grand Total</h4></div>
            <div class="col-45"><h4 /></div>
            <div class="col-5" />
            <div class="col-15" />
            <div class="col-5"><h4>=</h4></div>
            <div class="col-20">
              <h4>{{ grandTotal }}</h4>
            </div>
          </div>
        </div>
        <el-form-item :label="$t('purchase.note')" prop="note" class="col-2">
          <el-input
            v-model="newPurchase.note"
            type="textarea"
            :rows="2"
            placeholder="Please input"
          />
        </el-form-item>
        <el-form-item
          :label="$t('purchase.payment_condition')"
          prop="payment_condition"
          class="col-2"
          style="width: 150px"
        >
          <el-input
            v-model="newPurchase.payment_condition"
            type="textarea"
            :rows="2"
            placeholder="Please input"
          />
        </el-form-item>
        <!-- <el-form-item
          :label="$t('purchase.attachment')"
          prop="attachment"
          class="col-2"
          style="width: 150px"
        >
          <input
            type="file"
            :rows="2"
            id="attachment"
            name="attachment"
            placeholder="Please input"
            @change="handleAttachment($event)"
          />
        </el-form-item> -->
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          {{ $t("table.cancel") }}
        </el-button>
        <el-button type="primary" @click="updatePurchase()">
          {{ $t("table.confirm") }}
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const purchaseResource = new Resource('purchases');
const purchaseItemResource = new Resource('purchase-item');
import axios from 'axios';
import { fetchPurchase } from '@/api/purchase';

export default {
  name: 'PurchaseCreate',
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      products: [],
      purchaseItems: [],
      state: '',
      total: 0,
      subTotal: 0,
      grandTotal: 0,
      subDiscount: 0,
      discountAmount: 0,
      discountType: '',
      shippingCost: 0,
      loading: true,
      downloading: false,
      purchaseCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newPurchase: {
        products: [],
        shipping_cost: 0,
      },
      dialogFormVisible: false,
      suppliers: [],
      warehouses: [],
      rules: {
        name: [{ required: true, message: 'Name is required', trigger: 'blur' }],
        supplier_id: [
          { required: true, message: 'Supplier is required', trigger: 'blur' },
        ],
        status: [{ required: true, message: 'Status is required', trigger: 'blur' }],
        entry_date: [
          {
            required: true,
            message: 'Entry Date is required',
            trigger: 'blur',
          },
        ],

        ref_number: [
          { required: true, message: 'Reference number is required', trigger: 'blur' },
        ],
        warehouse_id: [
          {
            required: true,
            message: 'Warehouse Name is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  watch: {},
  created() {
    this.getModelData();
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    fetchData(id) {
      fetchPurchase(id)
        .then((response) => {
          this.newPurchase = response.data;
          this.purchaseItems = response.data.purchaseItems;
          this.checkItemChange();
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getDiscountType(event) {
      this.discountType = event;
      this.checkItemChange();
    },
    querySearch(queryString, cb) {
      const products = this.products;
      const results = queryString
        ? products.filter(this.createFilter(queryString))
        : products;

      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (product) => {
        return product.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0;
      };
    },
    handleSelect(product) {
      if (this.itemExist(product)) {
        this.purchaseItems.forEach((item) => {
          if (item && item.product_id === product.id) {
            const newQuantity = item.quantity + 1;
            item.quantity = newQuantity;
          }
        });
      } else {
        const item = {
          name: product.name,
          id: null,
          product_id: product.id,
          code: product.code,
          quantity: 1,
          price: product.price,
          cost: product.cost,
          promo_price: product.promo_price,
          discount: 0,
          total: 0,
          product: product,
        };
        this.purchaseItems.push(item);
        this.newPurchase.products.push(item);
      }

      this.checkItemChange();
    },
    itemExist(item) {
      return this.purchaseItems.some(el => {
        return el.product.id === item.id;
      });
    },

    async deleteRow(index, purchaseItems, id) {
      await purchaseItemResource.destroy(id).then(res => {
        purchaseItems.splice(index, 1);
      }).catch(error => {
        console.log(error.message);
      })
      this.checkItemChange();
    },
    async getModelData() {
      const models = [
        { name: 'supplier', model: 'Supplier' },
        { name: 'warehouse', model: 'Warehouse' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.suppliers = response.data[0].supplier;
        this.warehouses = response.data[1].warehouse;
      });
    },
    handleFilter() {
      this.query.page = 1;
      // this.getList();
    },
    handleCreate() {
      // this.resetNewPurchase();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['purchaseForm'].clearValidate();
      });
    },
    updatePurchase() {
      this.$refs['purchaseForm'].validate((valid) => {
        if (valid) {
          // this.newPurchase.attachment = this.attachment;
          this.newPurchase.grandTotal = this.grandTotal;
          this.newPurchase.products = this.purchaseItems;
          this.purchaseCreating = true;
          purchaseResource
            .update(this.newPurchase.id, this.newPurchase)
            .then((response) => {
              this.$message({
                message:
                  'New purchase has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              // this.resetNewPurchase();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.purchaseCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    // resetNewPurchase() {
    //   this.newCateresetNewPurchase = {
    //     entry_date: "",
    //     ref_number: "",
    //     status: "",
    //     supplier_id: "",
    //     warehouse_id: "",
    //     note: "",
    //     payment_condition: "",
    //     attchment: "",
    //   };
    //   this.purchaseItems = "";
    //   this.products = "";
    //   this.subTotal = "";
    //   this.grandTotal = "";
    //   this.discountType = "";
    //   this.shippingCost = "";
    // },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'description'];
        const filterVal = ['index', 'name', 'code', 'description'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'purchase-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
    checkItemChange() {
      let subtotal = 0;
      let OrderdiscAmount = 0;
      // calculate Item Total
      this.purchaseItems.forEach((item) => {
        let itemtotal = item.quantity * item.price;
        if (item.discount > 0) {
          itemtotal = itemtotal - itemtotal * (item.discount / 100);
        }
        item.total = itemtotal;
        subtotal += itemtotal;
      });
      this.subTotal = subtotal;
      // Calculate Order Total

      if (this.newPurchase.discount > 0) {
        if (this.newPurchase.discount_type == 'amount') {
          OrderdiscAmount = parseFloat(this.newPurchase.discount);
        }
        if (this.newPurchase.discount_type == 'percentage') {
          OrderdiscAmount =
            (parseFloat(this.subTotal) * parseFloat(this.newPurchase.discount)) / 100;
        }
      }

      this.discountAmount = OrderdiscAmount;

      this.shippingCost = parseFloat(this.newPurchase.shipping_cost);

      this.grandTotal = parseFloat(
        this.subTotal + this.shippingCost - this.discountAmount
      );
    },
  },
  template: '#PurchaseForm',
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.app-main {
  padding: 10px 20px;
}
.col-2 {
  width: 49% !important;
}
.col-2 .el-select.el-select--medium {
  width: 360px;
}

.el-form-item {
  margin-bottom: 22px;
  width: 32%;
  display: inline-block;
}

.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}

.el-form-item__label {
  width: 100px;
}
.el-form-item__content {
  margin-left: 0 !important;
}
.el-form-item__label {
  line-height: 36px;
  margin-left: 0 !important;
}
.full-width .el-autocomplete.inline-input {
  width: 860px;
}

.purchaseItem_table {
  width: 1010px;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.col-2-option {
  width: 45%;
  padding: 8px;
  border-color: #c0c4cc;
}
.el-select--medium {
  padding: 8px;
  border-color: #c0c4cc;
}
#calc .col-45 {
  width: 40%;
}
#calc .col-15 {
  width: 15%;
}
#calc .col-25 {
  width: 25%;
}
#calc .col-20 {
  width: 20%;
}
#calc .col-15 {
  width: 15%;
}
#calc .col-10 {
  width: 10%;
}
#calc .col-5 {
  width: 5%;
}
</style>
