<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <router-link to="/purchase/purchases/create">
        <el-button
        v-waves
        v-permission="['add purchase']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-plus"
        >
          {{ $t('table.add') }}
        </el-button>
      </router-link>

  <el-button
          v-permission="['view reports']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
          @click="purchaseReport"
      > Purchase Report</el-button>

    <!-- trail balance modal -->
      <el-dialog :title="'View Sales Report'" :visible.sync="PurchaseReportDialogFormVisible">
        <el-form id="purchaseReportForm" :model="purchase" ref="purchaseReportForm" class="demo-ruleForm">
          <el-form-item label="From" prop="from">
            <el-date-picker
              v-model="purchase.from"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="To" prop="to">
            <el-date-picker
              v-model="purchase.to"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd">
            </el-date-picker>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="PurchaseReportDialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="viewPurchaseReport">Confirm</el-button>
        </span>
      </el-dialog>

      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" :min-width="10" type="index" />

      <el-table-column align="center" sortable prop="entry_date" label="Purchase Date" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.entry_date }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Purchase By" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.creator }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Status" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="supplier_id" label="Supplier" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.supplier }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Total" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.grand_total }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" :min-width="15">
        <template slot-scope="scope">
          <router-link :to="'/purchase/purchases/edit/' + scope.row.id">
            <el-button
              v-permission="['update purchase']"
              type="primary"
              size="small"
              icon="el-icon-edit"
            >
              Edit
            </el-button>
          </router-link>

          <router-link :to="'/purchase/purchases/view/' + scope.row.id">
            <el-button
              v-permission="['view purchase']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const purchaseResource = new Resource('purchases');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';

export default {
  name: 'PurchaseList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      list: null,
      total: 0,
      purchase: {},
      PurchaseReportDialogFormVisible: false,
      loading: true,
      downloading: false,
      productCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {

    async getList() {
      this.loading = true;
      const response = await purchaseResource.list(this.query);
      const data = response.data;
      this.list = data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

  purchaseReport(){
      this.PurchaseReportDialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['purchaseReportForm'].clearValidate();
      });
    },
    
    viewPurchaseReport(){
      this.$refs['purchaseReportForm'].validate((valid) => {
        if (valid) {
          this.$router.push({ path: '/purchase/purchase-report', query: this.purchase, props: true })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },

    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'purchase date', 'purchase by', 'referance number', 'discount', 'discount type', 'warehouse', 'supplier', 'shipping cost', 'status', 'grand_total'];
        const filterVal = ['id', 'entry_date', 'creator', 'ref_number', 'discount', 'discount_type', 'warehouse', 'supplier', 'shipping_cost', 'status', 'grand_total'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'purchase-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
