<template>
  <div class="app-container">
    <div class="top">
      <h3></h3>
      <div></div>
      <h4>Purchase Report</h4>
      <p>
        {{ query.from ? query.from : firstDate }} to
        {{ query.to ? query.to : lastDate }}
      </p>
    </div>
    <table class="item_table" v-loading="loading">
       <thead class="thead">
        <tr valign="top">
          <template>
          <th >Entry Date</th>
          </template>
          <template>
          <th >creator</th>
           </template>
                  <template>
          <th >warehouse</th>
           </template>
                  <template>
          <th >supplier</th>
           </template>
                  <template>
          <th >ref_number</th>
           </template>
                 <template>
          <th >product code</th>
           </template>
      <template>
          <th >product Name</th>
           </template>
            <template>
          <th >product price</th>
           </template>
                            <template>
          <th >product Qty</th>
           </template>

        <template>
          <th > discount</th>
           </template>
          <template>
          <th >Total Price</th>
           </template>
        </tr>
        </tr>
        </tr>
        </tr>
      </thead>
      <tbody class="tbody" v-for="(report, index) in purchaseReports" :key="index">
          <template v-for="(product) in report.products">
          <tr v-for="(item) in report.purchaseItems"> 
          <td >{{report.entry_date}}</td>
          <td >{{report.creator}}</td>
          <td >{{report.warehouse}}</td>
          <td >{{report.supplier}}</td>
          <td >{{report.ref_number}}</td>
          <td>{{product.product.code}}</td>    
          <td >{{product.product.name}}</td>   
          <td >{{product.price}}</td>   
          <td >{{item.quantity}}</td>  
          <td >{{item.discount}}</td>  
          <td >{{item.total}}</td>         
          </tr>
          </template>
      </tbody>
    </table>
        <el-button
      style="
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
      "
      type="info"
      @click="print"
      >Print</el-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'purchaseReport',
  data() {
    return {
      loading: false,
      query: {},
      list:null,
      purchaseReports: [],
      firstDate: '',
      lastDate: '',
    };
  },
  computed: {
    ...mapGetters(['office_info']),
  },
  created() {
    const query = this.$route.query;
    this.query = query;
    this.getReport(this.query);
  },
  methods: {
    async getReport(query) {
      this.loading = true;
      await axios
        .post('/api/purchase-report', query)
        .then(({ data }) => {
         // this.saleReport = data.saleReport;
          this.purchaseReports=data.purchaseReport;
          this.firstDate = data.firstDate;
          this.lastDate = data.lastDate;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          this.$message.error(error.response.data.message);
        });
    },
    print() {
      window.print();
    },
  },
};
</script>

<style scoped>
.top {
  text-align: center;
}

table,
td,
th {
  border: 1px solid #555;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #e7e7e7;
}
.thead th,
tfoot td {
  background-color: #ddd;
  color: #000;
}
</style>
