<template>
  <el-card v-if="purchase">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane v-loading="updating" label="View" name="first">
        <el-form>
          <el-row>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Entry Date">
                  <el-input v-model="purchase.entry_date" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Created By">
                  <el-input v-model="purchase.creator" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Ref Number">
                  <el-input v-model="purchase.ref_number" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Status">
                  <el-input v-model="purchase.status" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Supplier">
                  <el-input v-model="purchase.supplier" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Warehouse">
                  <el-input v-model="purchase.warehouse" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Total Amount">
                  <el-input v-model="purchase.grand_total" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Discount">
                  <el-input v-model="purchase.discount" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Discount Type">
                  <el-input v-model="purchase.discount_type" readonly="" />
                </el-form-item>
              </div>
            </el-col><el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Shipping Cost">
                  <el-input v-model="purchase.shipping_cost" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Note">
                  <el-input v-model="purchase.note" readonly="" />
                </el-form-item>
              </div>
            </el-col>
            <el-col :span="6">
              <div class="grid-content">
                <el-form-item label="Payment COndition">
                  <el-input v-model="purchase.payment_condition" readonly="" />
                </el-form-item>
              </div>
            </el-col>
          </el-row>
          <el-form-item label="Purchase Products">
            <table class="purchaseItem_table">
              <thead class="thead">
                <tr class="thead_row">
                  <th>No.</th>
                  <th>Name</th>
                  <th>Code</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Discount</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <tr
                  v-for="(purchaseItem, index) in purchase.purchaseItems"
                  :key="purchaseItem.id"
                  class="tbody_row"
                >
                  <td>{{ index + 1 }}</td>
                  <td>{{ purchaseItem.product.name }}</td>
                  <td>{{ purchaseItem.product.code }}</td>
                  <td>
                    <input
                      v-model="purchaseItem.price"
                      type="text"
                      readonly
                      style="height: 30px; line-height: 36px; width: 170px"
                    >
                  </td>
                  <td>
                    <input
                      v-model="purchaseItem.quantity"
                      type="text"
                      readonly
                      style="height: 30px; line-height: 36px; width: 170px"
                    >
                  </td>
                  <td>
                    <input
                      v-model="purchaseItem.discount"
                      type="text"
                      readonly
                      style="height: 30px; line-height: 36px; width: 170px"
                    >
                    <strong>%</strong>
                  </td>
                  <td>{{ purchaseItem.total }}</td>
                </tr>
              </tbody>
            </table>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import { fetchPurchase } from '@/api/purchase';
export default {
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      categories: [],
      brands: [],
      units: [],
      purchase: {},
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    fetchData(id) {
      fetchPurchase(id)
        .then(response => {
          this.purchase = response.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
  },
};
</script>

<style lang="scss" scoped>

.product-activity {
  .product-block {
    .productname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .product-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

// .purchaseItem_table {
//   width: 1010px;
// }
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}
.el-col-6 {
    padding: 0px 10px;
}
 input, input:hover {
  border: 0 !important;
}

</style>
