<template>
  <div id="bill_print" class="app-container">
    <!-- <el-card> -->
    <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
    <el-form
      ref="clientBillForm"
      :rules="rules"
      :model="newClientBill"
      label-position="left"
      label-width="150px"
      style="max-width: 98%; margin: 0 auto"
    >
      <el-row :gutter="20">
        <el-col :span="13" class="p-hide">
          <div class="grid-content bg-purple">
            <el-form-item label="Client Company" prop="client_id">
              <template>
                <el-select
                  v-model="newClientBill.client_id"
                  placeholder="Select"
                  @change="getClientProjects(newClientBill.client_id)"
                >
                  <el-option
                    v-for="item in clients"
                    :key="item.id"
                    :label="item.company"
                    :value="item.id"
                  />
                </el-select>
              </template>
            </el-form-item>
          </div>
        </el-col>

        <el-col :span="12">
          <div class="grid-content bg-purple">
            <el-form-item label="Bill ID">
              <el-input v-model="newClientBill.bill_id" placeholder="Please input" readonly />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content bg-purple-light">
            <el-form-item label="Prepare Date">
              <el-input v-model="newClientBill.prepared_date" placeholder="Please input" readonly />
            </el-form-item>
          </div>
        </el-col>

        <el-col :span="12">
          <el-row :gutter="24">
            <el-col :span="24">
              <h4>From</h4>
              <tinymce v-model="newClientBill.from" :height="120" />
            </el-col>
            <el-col :span="24">
              <h4>To</h4>
              <template v-if="client">
                <tinymce v-model="newClientBill.to" :height="190" placeholder="Please input" />
              </template>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
          <el-row :gutter="24">
            <el-col :span="24">
              <el-form-item label="Work Order ID" prop="work_order_id">
                <el-input v-if="newClientBill.work_order_id" v-model="newClientBill.work_order_id" placeholder="Please input" />
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Supervised By Name" prop="supervised_by">
                <el-select v-model="newClientBill.supervised_by" placeholder="Select">
                  <el-option
                    v-for="item in users"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            
            <el-col :span="24">
              <el-form-item label="Payment Details" prop="payment_details">
                <el-input v-model="newClientBill.payment_details" type="textarea" :rows="2" placeholder="Please input" />
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Site manager certified copy" prop="site_manager_certified_copy">
                <el-checkbox v-model="newClientBill.site_manager_certified_copy">Confirm Site manager certified copy</el-checkbox>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Site manager certified copy" prop="site_certifiete_measurement_copy">
                <el-checkbox v-model="newClientBill.site_certifiete_measurement_copy">Confirm Site certificate measurement copy</el-checkbox>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Bill Signature Certified copy" prop="bill_signature_certified_copy">
                <el-checkbox v-model="newClientBill.bill_signature_certified_copy">Confirm Bill Signature Certified copy</el-checkbox>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Site manager approval copy" prop="site_manager_approval_copy">
                <el-checkbox v-model="newClientBill.site_manager_approval_copy">Confirm Site manager approval copy</el-checkbox>
              </el-form-item>
            </el-col>
            
          </el-row>
        </el-col>
        <el-col :span="24">
          <table class="item_table" style="margin-top: 20px">
            <thead class="thead">
              <tr class="thead_row">
                <th>No.</th>
                <th>Site Code</th>
                <th>Project Type</th>
                <th>Bill Details</th>
                <th>Project Amount</th>
                <th>Submit Amount</th>
                <th>Remarks</th>
                <th class="p-hide">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(billRow, index) in newClientBill.BillRows">
                <bill-info v-if="client.projects" :key="index" :BillRows="newClientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" @checkChange="checkChange" />
              </template>
              <el-button @click="addNew">Add New</el-button>
            </tbody>
            <tfoot class="tfoot">
              <tr>
                <td colspan="5">Total Without Vat</td>
                <td v-if="this.newClientBill.BillRows">{{ totalAmount }}</td>
                <td />
                <td class="p-hide" />
              </tr>
            </tfoot>
          </table>

        </el-col>
      </el-row>
    </el-form>
    <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
      <el-button type="info" @click="resetBillForm"> Clear </el-button>
      <el-button type="primary" @click="saveAsDraft"> Save As Draft </el-button>
      <el-button type="success" @click="createClientBill()">
        {{ $t('table.confirm') }}
      </el-button>
    </div>
    <!-- </el-card> -->
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
import BillInfo from '../components/BillInfo.vue';

export default {
  components: { Tinymce, BillInfo },
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      newClientBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
            vat: 0,
            tax: 0,
            sd: 0,
            deduction: 0,
            cheque_amount: 0,
          },

        ],
        from: `
        <h4>Dream Structure</h4>
        <p>Md. Ziaur Rahman Mithu</p>
        <p>Implementer</p>
      `,
        bill_format: 'general-format',
        work_order_id: '',
      },
      rules: {
        client_id: [
          { required: true, message: 'Client company name is required', trigger: 'blur' },
        ],
        site_manager_certified_copy: [
          { required: true, message: 'site manager certified copy is required', trigger: 'blur' },
        ],
        site_certifiete_measurement_copy: [
          { required: true, message: 'site certifiete measurement copy is required', trigger: 'blur' },
        ],
        bill_signature_certified_copy: [
          { required: true, message: 'bill signature certified copy is required', trigger: 'blur' },
        ],
        site_manager_approval_copy: [
          { required: true, message: 'site manager approval copy is required', trigger: 'blur' },
        ],
      },
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      total_bill_amount: 0,
      to: null,
      totalAmount: 0,
    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
    this.checkChange();
  },
  mounted(){
    let bills = Object.entries(this.$route.query);
    if (this.$route.query[0]) {
      let BillRows = [];
      Object(bills).map(([key, value]) => {
        this.newClientBill.client_id = value.client_id;
        let billRow = {
          project_id : value.id,
          stage_id: value.stage_id,
          site_code: value.site_code,
          project_type: value.project_type,
          details: value.details,
          quantity: value.quantity,
          unit_price: value.unit_price,
          project_amount:  value.project_amount,
          remarks: '',
          amount: 0,
          project_name: value.name,
          work_order_id: '',
          vat: 0,
          tax: 0,
          sd: 0,
          deduction: 0,
          cheque_amount: 0,
        };
        BillRows.push(billRow);
      });
      this.newClientBill.BillRows = BillRows;
      this.getClientProjects(this.newClientBill.client_id);
      this.checkChange();
    }
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
    },
    async getClientProjects(cid) {
      const clientRes = await clientResource.get(cid);
      this.client = clientRes.data;
      this.setSendToAddress(this.client);
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/ClientBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newClientBill.bill_id = 'CSB-' + this.SlNo;
      });
    },
    setSendToAddress(client){
      this.newClientBill.to = `
        <h4>${client.name}</h4>
        <p>Country Director</p>
        <p>${client.company}</p>
        <p>Bangladesh Office</p>
        <p>${client.street}</p>
      `;
    },
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}-${
        current.getMonth() + 1
      }-${current.getDate()}`;
      this.newClientBill.prepared_date = this.currentDate;
    },
    addNew(){
      this.newClientBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
          project_amount: 0,
          work_order_id: '',
          vat: 0,
          tax: 0,
          sd: 0,
          deduction: 0,
          cheque_amount: 0,
        }
      );
    },
    checkChange(){
      let total = 0;
      this.newClientBill.BillRows.forEach(bill => {
        total = total + bill.amount;
      });
      this.totalAmount = total;
      this.newClientBill.total_bill_amount = total;

      this.newClientBill.work_order_id = this.newClientBill.BillRows[0].work_order_id;
    },
    createClientBill() {
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.newClientBill.total_bill_amount = this.totalAmount;
          this.clientBillCreating = true;
          clientBillResource
            .store(this.newClientBill)
            .then((response) => {
              this.printBill();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    saveAsDraft(){
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.newClientBill.total_bill_amount = this.totalAmount;
          this.clientBillCreating = true;
          axios.post('/api/client-bill/save-draft', this.newClientBill).then(res => {
            this.$message({
              message: 'Successfully saved as Draft',
              type: 'success',
            });
            this.resetBillForm();
            this.clientBillCreating = false;
          }).catch(error => {
            console.log(error);
            this.clientBillCreating = false;
          });
        }
      });
    },
    printBill() {
      this.$confirm('Do you like to print this bill. Continue?', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      }).then(() => {
        window.print();
        this.resetBillForm();
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'canceled',
        });
        this.resetBillForm();
      });
    },
    resetBillForm() {
      this.newClientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
        to: '',
        work_order_id: '',
        supervised_by: '',
        estimated_payment_date: '',
        send_date: '',
        total_bill_amount: 0,
        totalAmount: 0,
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17, div#mceu_54-body {
  display: none !important;
}
.el-form-item.is-required.el-form-item--medium {
  width: 92% !important;
}
</style>
