<template>
  <div id="bill_print" class="app-container">
    <!-- <el-card> -->
    <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
    <el-form
      ref="clientBillForm"
      :rules="rules"
      :model="clientBill"
      label-position="left"
      label-width="150px"
    >
      <el-row :gutter="20">
        <el-col :span="13" class="p-hide">
          <div>
            <h3>Create Client Bill For</h3>
            <el-form-item label="Client Company" prop="client_id">
              <template>
                <el-select
                  v-model="clientBill.client_id"
                  placeholder="Select"
                  disabled
                  style="width: 92%"
                >
                  <el-option
                    v-for="item in clients"
                    :key="item.id"
                    :label="item.company"
                    :value="item.id"
                  />
                </el-select>
              </template>
            </el-form-item>
          </div>
        </el-col>
        <br>
        
        <el-col :span="12">
          <div class="grid-content bg-purple">
            <el-form-item label="Bill ID">
              <el-input v-if="mood === 'edit'" v-model="clientBill.bill_id" placeholder="Please input" readonly />
              <span v-else>{{ clientBill.bill_id }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <div class="grid-content bg-purple-light">
            <el-form-item label="Prepare Date">
              <el-input v-if="mood === 'edit'" v-model="clientBill.prepared_date" placeholder="Please input" readonly />
              <span v-else>{{ clientBill.prepared_date }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <el-row :gutter="24">
            <el-col :span="24">
              <h4>From</h4>
              <tinymce v-if="mood === 'edit'" v-model="clientBill.from" :readonly="mood === 'view'?1:0" :height="170" />
              <span v-else v-html="clientBill.from"></span>
            </el-col>
            <el-col :span="24">
              <h4>To</h4>
              <template v-if="client">
                <tinymce v-if="mood === 'edit'" v-model="clientBill.to" :readonly="mood === 'view'?1:0" :height="320" placeholder="Please input" />
                <span v-else v-html="clientBill.to"></span>
              </template>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
          <el-row :gutter="24">
            <el-col :span="24">
              <el-form-item label="Work Order ID" prop="work_order_id">
                <el-input  v-if="clientBill.work_order_id && mood === 'edit'" v-model="clientBill.work_order_id"  placeholder="Please input" />
                <span v-else>{{ clientBill.work_order_id }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Supervised By Name" prop="supervised_by">
                <el-select v-model="clientBill.supervised_by" :disabled="mood === 'view' || mood === 'receive'" placeholder="Select">
                  <el-option
                    v-for="item in users"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="24">
              <el-form-item label="Payment Details" prop="payment_details">
                <el-input v-if="mood === 'edit'" v-model="clientBill.payment_details" type="textarea" :rows="2" placeholder="Please input" />
                <span v-else>{{ clientBill.payment_details }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="24" v-if="clientBill.bill_submission_date">
              <el-form-item label="Bill Submission Date" prop="bill_submission_date">
                <el-date-picker
                  v-model="clientBill.bill_submission_date"
                  v-if="mood === 'edit'"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <span v-else>{{ clientBill.bill_submission_date }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="24" v-if="clientBill.bill_submission_number">
              <el-form-item label="Bill Submission Number" prop="bill_submission_number">
                <el-input v-if="clientBill.bill_submission_number && mood === 'edit'" v-model="clientBill.bill_submission_number"  placeholder="Please input" />
                <span v-else>{{ clientBill.bill_submission_number }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="24" v-if="clientBill.estimated_payment_date">
              <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
                <el-date-picker
                  v-model="clientBill.estimated_payment_date"
                  v-if="mood === 'edit'"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <span v-else>{{ clientBill.estimated_payment_date }}</span>
              </el-form-item>
            </el-col>
            
            <el-col :span="24" v-if="clientBill.bill_received_date || mood === 'receive'">
              <el-form-item label="Bill Receive Date" prop="bill_received_date">
                <el-date-picker
                  v-model="clientBill.bill_received_date"
                  v-if="mood === 'receive'"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <span v-else>{{ clientBill.bill_received_date }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="24" v-if="clientBill.bill_received_number || mood === 'receive'">
              <el-form-item label="Bill Receive Number" prop="bill_received_number">
                <el-input v-model="clientBill.bill_received_number" v-if="mood === 'receive'" placeholder="Please input" />
                <span v-else>{{ clientBill.bill_received_number }}</span>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="24">
          <table class="item_table" ref="itemTable">
            <thead class="thead">
              <tr class="thead_row">
                <th style="width: 55px; padding: 0px">SL</th>
                <th width="150">Site Code</th>
                <!-- <th>Project Type</th> -->
                <th v-if="mood !=='receive'">Bill Details</th>
                <th width="80">Project Amount</th>
                <th width="80">Submit Amount</th>
                <template v-if="mood === 'receive'">
                  <th>Vat</th>
                  <th>Tax</th>
                  <th>SD</th>
                  <th>Deduction</th>
                  <th width="80">Cheque Amount</th>
                </template>
                <th>Remarks</th>
                <th class="p-hide" style="width: 55px">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(billRow, index) in clientBill.BillRows">
                <bill-info v-if="clientBill.BillRows && client.projects" :key="index" :mood="mood" :BillRows="clientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" @checkChange="checkChange" />
              </template>
              <el-button :disabled="mood === 'view'" @click="addNew">Add New</el-button>
            </tbody>
            <tfoot class="tfoot">
              <tr>
                <td :colspan="tableRows-3">Total Amount</td>
                <td v-if="clientBill.BillRows">{{ totalAmount }}</td>
                <td colspan="2"/>
              </tr>
              <template v-if="clientBill.bill_status !== 'draft' && clientBill.bill_status !== 'created'">
                <tr class="p-hide">
                  <td :colspan="tableRows-3">Total Vat</td>
                  <td v-if="clientBill.BillRows">{{ totalVat }}</td>
                  <td colspan="2" />
                </tr>
                <tr  class="p-hide">
                  <td :colspan="tableRows-3">Total Tax</td>
                  <td v-if="clientBill.BillRows">{{ totalTax }}</td>
                  <td colspan="2" />
                </tr>
                <tr  class="p-hide">
                  <td :colspan="tableRows-3">Total SD</td>
                  <td v-if="clientBill.BillRows">{{ totalSD }}</td>
                  <td colspan="2" />
                </tr>
                <tr class="p-hide">
                  <td :colspan="tableRows-3">Total Deduction</td>
                  <td v-if="clientBill.BillRows">{{ totalDeduction }}</td>
                  <td colspan="2" />
                </tr>
                <tr class="p-hide">
                  <td :colspan="tableRows-3">Total Cheque Amount</td>
                  <td v-if="clientBill.BillRows">{{ totalChequeAmount }}</td>
                  <td colspan="2" />
                </tr>
              </template>
            </tfoot>
          </table>

        </el-col>
      </el-row>
    </el-form>
    <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
      <!-- <el-button v-if="mood !== 'view'" type="info" @click="resetBillForm"> Clear </el-button> -->
      <el-button v-if="mood !== 'view'" type="primary" @click="updateClientBill()">
        {{ $t('table.confirm') }}
      </el-button>
      <el-button v-if="mood === 'view'" type="info" @click="printBill"> Print </el-button>
    </div>
    <!-- </el-card> -->
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
import BillInfo from './BillInfoView.vue';

export default {
  components: { Tinymce, BillInfo },
  props: ['clientBill', 'mood'],
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      rules: {},
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      total_bill_amount: 0,
      to: null,
      totalAmount: 0,
      totalVat: 0,
      totalTax: 0,
      totalDeduction: 0,
      totalChequeAmount: 0,
      tableRows: 0,
      totalSD: 0
    };
  },
  created() {
    this.getData();
    this.checkChange();
    
  },
  mounted(){
    this.countTableRows();
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
      this.getClientProjects(this.clientBill.client_id);
    },
    async getClientProjects(cid) {
      this.client = this.clients.find((c) => c.id === cid);
    },
    countTableRows(){
      let item = this.$refs.itemTable.rows[0].cells.length;
      this.tableRows = item;
    },
    addNew(){
      this.clientBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
          project_amount: 0,
          work_order_id: '',
          vat: 0,
          tax: 0,
          deduction: 0,
          cheque_amount: 0,
        }
      );
    },
    checkChange(){
      let total = 0;
      let totalVat = 0;
      let totalTax = 0;
      let totalDeduction = 0;
      let totalSD = 0;
      if (this.clientBill.BillRows){
        this.clientBill.BillRows.forEach(bill => {
          total = total + bill.amount;
          totalVat = totalVat + parseFloat(bill.vat);
          totalTax = totalTax + parseFloat(bill.tax);
          totalDeduction = totalDeduction + parseFloat(bill.deduction);
          totalSD = totalSD + parseFloat(bill.sd);
        });
        this.clientBill.work_order_id = this.clientBill.BillRows[0].work_order_id;
      }
      this.totalAmount = total;
      this.totalVat = totalVat;
      this.totalTax = totalTax;
      this.totalDeduction = totalDeduction;
      this.totalSD = totalSD;
      this.totalChequeAmount = this.totalAmount - (totalVat + totalTax + totalSD + totalDeduction);
      this.clientBill.total_cheque_amount = this.totalChequeAmount;
      this.clientBill.total_bill_amount = total;
    },
    updateClientBill() {
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          this.clientBill.mood = this.mood;
          clientBillResource
            .update(this.clientBill.id, this.clientBill)
            .then((response) => {
              this.$message({
                message: 'Updated Bill Successfully',
                type: 'success',
              });
              this.$router.push('/accounts/client-bill/list');
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    printBill() {
      window.print();
    },
    resetBillForm() {
      this.clientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17, div#mceu_54-body {
    display: none !important;
}
.el-input.is-disabled .el-input__inner {
    color: #606266 !important;
}
.el-textarea.is-disabled .el-textarea__inner {
    color: #606266 !important;
}
</style>
