<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt>
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <el-button
        v-permission="['add brand']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >{{ $t('table.add') }}</el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >{{ $t('table.export') }}</el-button>
    </div>

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Code">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Status">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 1">Muted</span>
          <span v-if="scope.row.status == 0">Active</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Description">
        <template slot-scope="scope">
          <span>{{ scope.row.description }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Image">
        <template slot-scope="scope">
          <img :src="imgURL+ scope.row.image" height="70px" width="70px" @click="copySRC">
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <router-link :to="'/inventory/brands/edit/' + scope.row.id">
            <el-button
              v-permission="['update brand']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >View</el-button>
          </router-link>

          <el-button
            v-if="scope.row.status == '0'"
            v-permission="['manage brand']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleMute(scope.row.id)"
          >Mute</el-button>
          <el-button
            v-if="scope.row.status == '1'"
            v-permission="['manage brand']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleUnmute(scope.row.id)"
          >Unmute</el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new brand'" :visible.sync="dialogFormVisible">
      <div v-loading="brandCreating" class="form-container">
        <el-form
          ref="brandForm"
          :rules="rules"
          :model="newBrand"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item :label="$t('brand.name')" prop="name">
            <el-input v-model="newBrand.name" />
          </el-form-item>
          <el-form-item :label="$t('brand.code')" prop="code">
            <el-input v-model="newBrand.code" />
          </el-form-item>
          <el-form-item :label="$t('brand.description')" prop="description">
            <el-input v-model="newBrand.description" />
          </el-form-item>
          <el-form-item :label="$t('brand.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>

          <el-form-item v-if="imgurl" class="preview" :label="$t('brand.selected_image')">
            <img :src="imgurl">
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">{{ $t('table.cancel') }}</el-button>
          <el-button type="primary" @click="createBrand()">{{ $t('table.confirm') }}</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const brandResource = new Resource('brands');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import { validURL } from '@/utils/validate';
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import checkPermission from '@/utils/permission'; // Permission checking
import axios from 'axios';
import { mute, unmute } from '@/api/brand';

export default {
  name: 'BrandList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imgurl: null,
      imageSrc: '',
      image: '',
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      brandCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newBrand: {},
      newBrandImage: '',
      dialogFormVisible: false,

      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    // get all brand list
    this.getList();
    console.log(this.imgURL);
  },
  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },

    // get brand image while create a new brand

    // get all brand list
    async getList() {
      this.loading = true;
      const response = await brandResource.list({});
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    // load brand create form
    handleCreate() {
      // this.resetNewBrand();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['brandForm'].clearValidate();
      });
    },
    // mute brand
    handleMute(id, name) {
      this.$confirm(
        'Do you want to mute brand ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          mute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Muted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          this.$message({
            type: 'info',
            message: 'mute canceled',
          });
          console.log(error);
        });
    },
    // unmute brand
    handleUnmute(id, name) {
      this.$confirm(
        'Do you want to unmute brand ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          unmute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unmuted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unmuted canceled',
          });
        });
    },

    // get the brand image while selected new image
    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/brands/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },

    // store new brand
    createBrand() {
      this.$refs['brandForm'].validate((valid) => {
        if (valid) {
          this.brandCreating = true;
          this.newBrand.image = this.image;
          brandResource
            .store(this.newBrand)
            .then((response) => {
              this.$message({
                message:
                  'New brand ' +
                  this.newBrand.name +
                  ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewBrand();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.brandCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    // reset brand creating form
    resetNewBrand() {
      this.newBrand = {
        name: '',
        image: '',
        code: '',
        description: '',
      };
    },
    // export brand list
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'status', 'description'];
        const filterVal = ['id', 'name', 'code', 'status', 'description'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'brand-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}

img {
  cursor: pointer;
}
</style>

