<template>
  <div>
    <div id="agreement">
      <h2 style="text-align:center">Construction Agreement</h2>
      <el-row style="margin-bottom: 50px">
        <el-col :span="24">
          <div class="grid-content">
            <table width="100%" border="1">
              <thead style="display:none">
                <tr>
                  <th width="40%" />
                  <th width="60%" />
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Name Of The Project</td>
                  <td>{{ project.name }}</td>
                </tr>
                <tr>
                  <td>Contract #</td>
                  <td>{{ project.work_order_id }}</td>
                </tr>
                <tr>
                  <td>Code #</td>
                  <td>{{ project.site_code }}</td>
                </tr>
                <tr>
                  <td>Address #</td>
                  <td>{{ project.location }}, Upazilla: {{ project.city.name }}, District: {{ project.district_name }}</td>
                </tr>
                <tr>
                  <td>Structure Type #</td>
                  <td>{{ project.project_type_name }}</td>
                </tr>
                <tr v-for="(pmeta, index) in project.projectMetas" :key="index">
                  <td>{{ pmeta.field_name }} #</td>
                  <td>{{ pmeta.input_value }}</td>
                </tr>
                <tr>
                  <td>Construction Period #</td>
                  <td>{{ Difference_In_Days }} days</td>
                </tr>
              </tbody>
            </table>
          </div>
        </el-col>
      </el-row>
      <el-row id="client_info" style="margin-bottom: 50px">
        <el-col :span="24">
          <div class="grid-content">
            <table width="100%" border="1">
              <thead>
                <tr>
                  <th width="50%">1st Party</th>
                  <th width="50%">2nd Party</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <b>{{ client.name }}</b><br>
                    <span>Directer General</span><br>
                    <span>{{ client.company }}</span><br>
                    <span>{{ client.street }}</span><br>
                    <span>{{ client.city.name }} - {{ client.zip_code }}, {{ clientDistrict.name }}, {{ clientState.name }}, {{ clientCountry }}</span>
                  </td>
                  <td>
                    <b>Dream Structure</b><br>
                    <span>Md. Ziaur Rahman Mithu</span><br>
                    <span>Implementer</span><br>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </el-col>
      </el-row>
      <el-row style="margin-bottom: 50px">
        <el-col :span="24">
          <b>Introduction: </b>
          <div class="grid-content" style="margin-bottom: 50px">
            {{ intro }}
          </div>
        </el-col>
        <el-col id="intro" :span="24">
          <div class="grid-content">
            <el-input
              v-model="intro"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </div>
        </el-col>
      </el-row>
      <div id="page-2">
        <el-row id="conditions" style="margin-bottom: 50px">
          <b>Terms and Conditions</b>
          <el-col :span="24">
            <div class="grid-content">
              <tinymce />
            </div>
          </el-col>
        </el-row>
        <el-row style="margin-bottom: 50px">
          <el-col :span="24">
            <span style="margin: 10px 0px; display:block">8. Payment Schedule:- Total Payable TK. - 795000.00 </span>
            <div class="grid-content">
              <table width="100%" border="1">
                <thead>
                  <tr>
                    <th width="10%">Stage</th>
                    <th width="40%">Work Stage</th>
                    <th width="20%">Bill Amount</th>
                    <th width="15%">Date</th>
                    <th width="15%">Sign</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pstage, index) in project.projectStages" :key="index">
                    <td>{{ index+1 }}</td>
                    <td>{{ pstage.stage_name }}</td>
                    <td class="amount">{{ pstage.stage_amount }}</td>
                    <td />
                    <td />
                  </tr>
                  <tr>
                    <td />
                    <td>Total</td>
                    <td class="amount">{{ project.project_amount }}</td>
                    <td />
                    <td />
                  </tr>
                </tbody>
              </table>
            </div>
            <b style="margin: 10px 0px; display:block; text-transform: capitalize;">( {{ toWord }} Tk Only )</b>
            <p>This contract signed {{ project.start_date }} AD and finishing date to be {{ project.deadline }}</p>
          </el-col>
        </el-row>
        <el-row id="approval" style="margin-bottom: 50px">
          <el-col :span="12">
            <p>Approval of the project: </p>
            <div class="grid-content" />
          </el-col>
          <el-col :span="12">
            <p>Approval of the Accounts: </p>
            <div class="grid-content" />
          </el-col>
        </el-row>
        <el-row id="sign" style="margin-bottom: 50px">
          <el-col :span="12">
            <div class="grid-content">
              <b> ({{ client.name }}) </b><br>
              <p>Directer General</p>
              <p>1st Party</p>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <b>( Dream Structure )</b><br>
              <p>Md, Ziaur Rahman Mithu, Implementer</p>
              <p>2st Party</p>
            </div>
          </el-col>
        </el-row>
      </div>
      <div id="print">
        <el-button style="text-align:center;display:block; margin: 0 auto;" type="info" @click="handlePrint">Print</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import { fetchProject } from '@/api/project';
import { fetchClient } from '@/api/client';
import Tinymce from '@/views/components-demo/Tinymce';
export default {
  components: { Tinymce },
  data(){
    return {
      project: {},
      Difference_In_Days: '',
      client: '',
      clientCountry: '',
      clientDistrict: '',
      clientState: '',
      intro: '',
      showIntro: true,
      conditions: '',
      showConditions: true,
      toWord: '',
    };
  },
  created(){
    const id = this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    fetchData(id){
      fetchProject(id).then(({ data }) => {
        // console.log(data);
        this.project = data;
        const converter = require('number-to-words');
        this.toWord = converter.toWords(this.project.project_amount);
        this.dayCount(this.project.start_date, this.project.deadline);
        this.getClientData(this.project.client_id);
      });
    },
    dayCount(start, end){
      const startDate = new Date(start);
      const endDate = new Date(end);
      const Difference_In_Time = endDate.getTime() - startDate.getTime();
      this.Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
    },
    getClientData(cid){
      fetchClient(cid).then(response => {
        this.client = response.data;
        // console.log(this.client);
        this.clientCountry = this.client.country_name;
        this.clientDistrict = this.client.district_name;
        this.clientState = this.client.state_name;
      });
    },
    handlePrint(){
      window.print();
    },
  },
};
</script>
<style scoped>
#agreement {
  width: 95%;
  margin: 0 auto;
}
thead tr th,tbody tr td {
  padding: 8px;
}
el-row {
  margin-bottom: 50px !important;
}
#client_info tbody tr td {
  line-height: 30px;
}
.components-container {
    margin: 0 !important;
    position: relative;
}
.amount {
  text-align: end;
}
#approval .grid-content, #sign .grid-content {
  border: 1px solid black;
  height: 150px;
  padding: 10px;
  line-height: 10px;
}
#sign .grid-content b {
  margin-top: 50px;
  display: block;
}
</style>
