<template>
  <div>
    <table style="width:100%">
      <thead>
        <tr style="text-aligne:center">
          <!-- <th class="text" style="text-align:center">Days</th> -->
          <!-- <th class="text">Hours</th>
            <th class="text">Minutes</th> -->
          <!-- <th class="text">Seconds</th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="digit" style="text-align:center">{{ days }} </td>
          <!-- <td class="digit">{{ hours }}</td>
            <td class="digit">{{ minutes }}</td> -->
          <!-- <td class="digit">{{ seconds }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  props: {
    date: {
      // type: Number,
      coerce: str => Math.trunc(Date.parse(str) / 1000),
    },
    finishedDate: {
      // type: Number,
      coerce: str => Math.trunc(Date.parse(str) / 1000),
    },
  },
  data() {
    return {
      now: '',
    };
  },
  computed: {
    seconds() {
      const sec = (Math.round(new Date(this.date).getTime() / 1000) - this.now) % 60;
      if (sec > 0){
        return sec;
      } else {
        return 0;
      }
    },
    minutes() {
      const min = Math.trunc((Math.round(new Date(this.date).getTime() / 1000) - this.now) / 60) % 60;
      if (min > 0){
        return min;
      } else {
        return 0;
      }
    },
    hours() {
      const hr = Math.trunc((Math.round(new Date(this.date).getTime() / 1000) - this.now) / 60 / 60) % 24;
      if (hr > 0){
        return hr;
      } else {
        return 0;
      }
    },
    days() {
      const dy = Math.trunc((Math.round(new Date(this.date).getTime() / 1000) - this.now) / 60 / 60 / 24);
      if (dy === 0){
        const hr = Math.trunc((Math.round(new Date(this.date).getTime() / 1000) - this.now) / 60 / 60) % 24;
        if (hr > 0){
          return hr + ' Hours Left';
        } else {
          const min = Math.trunc((Math.round(new Date(this.date).getTime() / 1000) - this.now) / 60) % 60;
          if (min > 0){
            return min + 'Minutes Left';
          } else {
            return 0;
          }
        }
      } else if (Math.abs(dy) > 18000){
        return 'Enter Daedline';
      } else if (dy < 0){
        return Math.abs(dy) + ' Days Late';
      } else {
        return dy + ' Days Left';
      }
    },
  },
  created() {
    if (this.finished_date === undefined){
      this.now = Math.trunc((new Date()).getTime() / 1000);
    } else {
      this.now = Math.trunc((new Date(this.finished_date)).getTime() / 1000);
    }
  },

};
</script>
<style>
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400|Roboto:100);
.block {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.text {
    color: #1abc9c;
    font-size: 18px;
    font-family: 'Roboto Condensed', serif;
    font-weight: 400;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: center;
}
.digit {
    color: #ecf0f1;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', serif;
    margin: 10px;
    text-align: center;
    color: red;
}
</style>
