<template>
  <div>
    <el-row type="flex" class="row-bg" justify="space-around" style="margin-top:20px">
      <el-col :span="6">
        <div class="grid-content bg-purple">
          <h5>Project Name : {{ project.name }}</h5>
          <h5>Site Code : {{ project.site_code }}</h5>
          <h5>Project Type : {{ project.project_type_name }}</h5>
          <h5>Client Name : {{ project.client_name }}</h5>
          <h5>Co-Ordinator Name : {{ project.coordinatorName.name }}</h5>
        </div>
      </el-col>
      <el-col :span="6">
        <div class="grid-content bg-purple-light">
          <template>
            <router-link :to="'/projects/stage/' + project.id">
              <el-button
                v-permission="['update project']"
                type="primary"
                size="small"
                icon="el-icon-edit"
              >
                Stage
              </el-button>
            </router-link>
          </template>

          <template>
            <div style="margin-top: 20px; display:block">
              <div><b>Current Stage: </b> {{ currentStage.stage_name }} </div>
            </div>
          </template>
          <template>
            <div id="general-countdown"> <p> Days Deadline: </p>
              <countdown v-if="stageDeadline" :date="stageDeadline" :finished_date="stageFinished" />
            </div>
          </template>
          <template>
            <h5>Project Location </h5>
            <b>Address: <i>{{ project.location }}, <span v-if="project.city">{{ project.city.name }}</span> </i></b> <br>
            <b><i><span v-if="project.district">{{ project.district.name }}</span>, <span v-if="project.state">{{ project.state.name }}</span>, Bangladesh</i></b> <br>
          </template>
        </div>
      </el-col>
      <el-col :span="6">
        <template>
          <router-link :to="'/projects/print-agreement/' + project.id" target="_blank">
            <el-button
              v-permission="['print agreement']"
              type="primary"
              size="small"
              icon="el-icon-printer"
            >
              Print Agreement
            </el-button>
          </router-link>
        </template>
        <div class="grid-content bg-purple">
          <h5>Total Project Amount - {{ project.project_amount }}</h5>
          <!-- <h5>Payment Request - {{ pendingAmount }}</h5> -->
          <h5>Payment Due - {{ project.project_amount - receivedAmount }}</h5>
        </div>
      </el-col>
    </el-row>
  </div>
</template>
<script>
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import axios from 'axios';
import Countdown from './Countdown.vue';
export default {
  components: { Countdown },
  directives: { permission, waves },
  props: {
    project: {
      type: Object,
      default: () => {
        return {

        };
      },
    },
  },
  data(){
    return {
      currentStage: {},
      stageDeadline: '',
      stageFinished: '',
      subcontractors: this.project.projectSubcontracts,
      requestAmount: 0,
      pendingAmount: 0,
      receivedAmount: 0,
      dueAmount: 0,
      sentAmount: 0,
    };
  },
  created(){
    this.getCurrentStage();
  },
  methods: {
    async getCurrentStage(){
      await axios.get('/api/get-current-stage/' + this.project.stage_id).then(({ data }) => {
        this.currentStage = data.data;
        this.stageDeadline = this.currentStage.end_date;
        this.stageFinished = this.currentStage.finished_date;
      });
    },

    calculateReceivedAmount(data){
      let recAmount = 0;
      data.forEach(element => {
        recAmount += element.amount;
      });
      this.receivedAmount = recAmount;
    },
    calculatePendingAmount(data){
      let pamount = 0;
      data.forEach(element => {
        pamount += element.amount;
      });
      this.pendingAmount = pamount;
    },
    calculateSentAmount(data){
      let samount = 0;
      data.forEach(element => {
        samount += element.amount;
      });
      this.sentAmount = samount;
    },
  },
};
</script>
<style scoped>
#current {
  margin-top: 20px !important;
}

</style>
