<template>
  <table id="projectTable" >
      <tr>
        <td>SL No</td>
        <td>Site Code</td>
        <td>Address</td>
        <td>ঠিকানা</td>
        <td>GPS</td>
      </tr>
      <tr v-for="(project, index) in sineboardlist" :key="index">
        <td>
          {{ index + 1 }}
        </td>
        <td>{{ project.site_code }}</td>
        <td>{{ project.location }}</td>
        <td>{{ project.bn_address }}</td>
        <td> {{ project.gps }}</td>
      </tr>
    </table>
</template>

<script>
export default {
  props: [ 'sineboardlist' ],
}
</script>

<style scoped>
#projectTable td, #projectTable th {
  text-align: left !important;
  margin: 0 !important;
  padding: 0 !important;
}
projectTable{
  display: none;
}
</style>