<template>
  <tr>
    <!-- <td>{{ index + 1 }}</td> -->
    <td>
      <input v-if="projects" style="margin-right: 10px" v-model="projects" @click="getSelectedProject(project)" type="checkbox" :id="project.id" :value="project.id">
      <p v-if="project.site_code">{{ project.site_code }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.site_code"
        placeholder="Input Site Code"
      ></el-input>
    </td>
    <td v-if="statuses">
      <el-select @change="updateProjectData(project.id)" v-model="project.project_status_id" placeholder="Select">
        <el-option
          v-for="item in statuses"
          :key="item.id"
          :label="item.name"
          :value="item.id">
        </el-option>
      </el-select>
    </td>
    <td>{{ project.client_name }}</td>
    <td>{{ project.project_type_name }}</td>
    <td style="padding:0">
      <p v-if="project.details">{{ project.details }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.details"
        placeholder="Input Details"
      ></el-input>
    </td>
    <td>{{ project.quantity }}</td>
    <td style="padding:0">
      <p v-if="project.unit_price">{{ project.unit_price }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.unit_price"
        placeholder="Input Unit Price"
      ></el-input>
    </td>
    <td style="padding:0">
      <p v-if="project.location">{{ project.location }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.location"
        placeholder="Input Location"
      ></el-input>
    </td>
    <td style="padding:0">
      <p v-if="project.work_order_id">{{ project.work_order_id }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.work_order_id"
        placeholder="Input Work Order ID"
      ></el-input>
    </td>
    <td style="padding:0">
      <p v-if="project.agreement_amount">{{ project.agreement_amount }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.agreement_amount"
        placeholder="Input Agreement Amount"
      ></el-input>
    </td>
    
    <td style="padding:0">
      <p v-if="project.approved_date">{{ project.approved_date }}</p>
      <el-date-picker
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.approved_date"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
    </td>
    <td style="padding:0">
      <p v-if="project.deadline">{{ project.deadline }}</p>
      <el-date-picker
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.deadline"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
    </td>
    <td>{{ project.totalClientSubmitedAmount }}</td>
    <td>{{ project.totalClientPenaltyAmount }}</td>
    <td>{{ project.totalClientVatAmount }}</td>
    <td>{{ project.totalClientTaxAmount }}</td>
    <td>{{ project.totalClientChequeAmount }}</td>
    <td>{{ project.totalClientChequeAmount }}</td>
    <td>{{ project.agreement_amount - project.totalClientSubmitedAmount }}</td>
    <td style="padding:0">
      <p v-if="project.sd_date">{{ project.sd_date }}</p>
      <el-date-picker
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.sd_date"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
    </td>
    <td>{{ project.totalClientSDAmount }}</td>
    <td>
      <p v-if="project.project_other_expense">{{ project.project_other_expense }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.project_other_expense"
        placeholder="Input Project Other Expense"
      ></el-input>
    </td>
    <td>{{ project.projectTotalExpense }}</td>
    <td style="padding: 15px 0px" colspan="10" v-if="project.projectSubcontracts.length > 0">
      <tr v-for="subcon in project.projectSubcontracts" :key="subcon.id" id="sub_con_info">
        <template v-if="subcon.workorder">
          <td style="background-color: unset; position: unset">{{ subcon.workorder.person.company }}</td>
          <td>{{ subcon.workorder.order_no }}</td>
          <td>{{ subcon.workorder.payable_amount }}</td>
          <td>{{subcon.workorder.totalSubmitedAmount }}</td>
          <td>{{subcon.workorder.totalPenaltyAmount }}</td>
          <td>{{subcon.workorder.totalSDAmount }}</td>
          <td>{{subcon.workorder.totalPaymentAmount }}</td>
          <td>{{ subcon.workorder.issue_date }}</td>
          <td>{{ subcon.workorder.deadline }}</td>
          <td style="background-color: unset; position: unset">{{ subcon.workorder.finished_date }}</td>
        </template>
      </tr>
    </td>
    
    <td style="padding: 15px 0px" colspan="10" v-else>
      <tr>
        <td style="background-color: unset; position: unset">N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td style="background-color: unset;">N/A</td>
      </tr>
    </td>
    <td style="padding:0">
      <p v-if="project.project_amount">{{ project.project_amount }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.project_amount"
        placeholder="Input Project Amount"
      ></el-input>
    </td>
    <td style="padding:0">
      <p>0.0000</p>
    </td>
    <td style="padding:0">
      <p v-if="project.projectAssaigned">{{ project.projectAssaigned.reference_number }}</p>
    </td>
    <td style="padding:0">
      <p v-if="project.requisition">{{ project.requisition.prs_number }}</p>
    </td>
    <td style="padding:0">
      <p v-if="project.dirasa">{{ project.dirasa.pdc_number }}</p>
    </td>
    <td style="padding:0">
      <p v-if="project.name" class="name">{{ project.name }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.name"
        placeholder="Input Project Name"
      ></el-input>
    </td>
    <td style="padding:0">
      <p v-if="project.file_number" class="name">{{ project.file_number }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.file_number"
        placeholder="Input Project File Number"
      ></el-input>
    </td>
    <td>
      <span v-if="project.coordinatorName">{{ project.coordinatorName.name }}</span></td>
    <td style="padding:0">
      <p v-if="project.power_of_attorney">{{ project.power_of_attorney }}</p>
      <el-date-picker
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.power_of_attorney"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
    </td>
    <td style="padding:0">
      <p v-if="project.signboard_collection_date">{{ project.signboard_collection_date }}</p>
      <el-date-picker
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.signboard_collection_date"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      ></el-date-picker>
    </td>
    <td style="padding:0">
      <p v-if="project.signboard_collected_by">{{ project.signboard_collected_by }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.signboard_collected_by"
        placeholder="Input Signboard Collector Name"
      ></el-input>
    </td>
    <td style="pending">
      <p v-if="project.location">{{ project.location }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.location"
        placeholder="Input Address In English"
      ></el-input>
    </td>
    <td style="pending">
      <p v-if="project.bn_address">{{ project.bn_address }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.bn_address"
        placeholder="Input Address In Bangla"
      ></el-input>
    </td>
    <td style="pending">
      <p v-if="project.city">{{ project.city.name }}</p>
    </td>
    <td style="pending">
      <p v-if="project.district">{{ project.district.name  }}</p>
    </td>
    <td style="pending">
      <p v-if="project.state">{{  project.state.name }}</p>
    </td>
    <td style="padding:0">
      <p>
        <span  v-if="project.location">{{ project.location }}, </span> 
        <span  v-if="project.city">{{ project.city.name }}, </span>
        <span  v-if="project.district">{{ project.district.name }}, </span>
        <span  v-if="project.state">{{ project.state.name }}</span>
      </p>
    </td>
    <td style="padding:0">
      <p>
        <span  v-if="project.location">{{ project.bn_address }}, </span> 
        <span  v-if="project.city">{{ project.city.bn_name }}, </span>
        <span  v-if="project.district">{{ project.district.bn_name }}, </span>
        <span  v-if="project.state">{{ project.state.bn_name }}</span>
      </p>
    </td>
    <td style="padding:0">
      <p v-if="project.gps">{{ project.gps }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.gps"
        placeholder="Input Project GPS"
      ></el-input>
    </td>
    <td style="padding:0">
      <p v-if="project.remark">{{ project.remark }}</p>
      <el-input
        v-else
        @blur="updateProjectData(project.id)"
        v-model="updateProject.remark"
        placeholder="Input Project Remark"
      ></el-input>
    </td>
    <template v-for="(stage, dx) in project.projectStages">
      <td :key="dx+Math.random()">
        <el-button size="mini" icon="el-icon-edit" type="primary" style="display:block; margin-left: auto; padding: 5px;" @click="handleUpdate(stage.id)"></el-button>
        <p v-if="stage.start_date">Start: {{ stage.start_date }}</p>
        <p v-if="stage.end_date">End: {{ stage.end_date }}</p>
        <p v-if="stage.finished_date">Finished: {{ stage.finished_date }}</p>
      </td>
      <td :key="stage.id" v-if="stage.images">
        <img v-if="stage.images[0]" width="100px" :src="imgURL+stage.images[0].image" alt="img" />
      </td>
    </template>
    <td id="action_td">
      <router-link :to="'/projects/edit/'+project.id">
        <el-button type="primary" size="mini" icon="el-icon-edit"></el-button>
      </router-link>
      <router-link :to="'/projects/view/'+project.id">
        <el-button type="primary" size="mini" icon="el-icon-view"></el-button>
      </router-link>
    </td>
    <el-dialog title="Update Stage Information" :visible.sync="dialogFormVisible">
      <el-form :model="stageData" ref="stageForm" :rules="rules">
        <el-form-item label="Client Target Date" prop="start_date">
          <el-date-picker
            v-model="stageData.start_date"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Subcontractor Target Date" prop="end_date">
          <el-date-picker
            v-model="stageData.end_date"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="Finished Date" prop="finished_date">
          <el-date-picker
            v-model="stageData.finished_date"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>

      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="updateStage">Confirm</el-button>
      </span>
    </el-dialog>
  </tr>
</template>

<script>
import axios from 'axios';
import { EventBus } from '@/app';
import Resource from '@/api/resource';
const projectStageResource = new Resource('project-stage');
export default {
  props: ['project', 'index', 'projects'],
  data() {
    return {
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      updateProject: {},
      statuses: [],
      dialogFormVisible: false,
      stageData: {},
      rules: {
        start_date: [
            { required: true, message: 'Project Start Date is required', trigger: 'blur' }
          ],
        end_date: [
            { required: true, message: 'Project End Date is required', trigger: 'blur' }
          ],
      }
    };
  },
  
  async created(){
     await EventBus.$on('getStatuses', (statuses) => {
       this.statuses = statuses;
    })
  },
  methods: {
    updateProjectData(id) {
      this.updateProject.project_status_id = this.project.project_status_id;
      axios
        .post('/api/projects/edit-from-list/' + id, this.updateProject)
        .then(({ data }) => {
          this.project = data.data;
        });
    },
    getSelectedProject(project){
      this.$emit('getSelectedProject', project);
    },
    handleUpdate(stage_id){
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['stageForm'].clearValidate();
      });
      this.stageData.id = stage_id;
    },
    updateStage(){
      this.$refs['stageForm'].validate((valid) => {
        if (valid) {
          projectStageResource.update(this.stageData.id, this.stageData).then(response => {
            this.$message({
              message: 'Stage Information has been updated',
              type: 'success'
            });
            EventBus.$emit('reloadProjectList');
            this.dialogFormVisible = false;
          }).catch(error => {
            console.log(error.message);
          })
        }
      })
    }
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}

#project-edit {
  margin: 10px 0px;
}

#subcontract-add {
  margin: 10px 0px;
}

#projectTable {
  display: none;
}

td,
th {
  border: 1px solid #c1eaf3ddd;
  text-align: left;
  padding: 8px;
  min-width: 200px;
}

tr:nth-child(even) {
  background-color: #c1eaf3ddd;
}

// project table css
#project_table,
#project_table td,
#project_table th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
#project_table th {
  text-align: center;
}
#project_table .numaric_td,
#project_table .numaric_td .el-input__inner {
  text-align: right;
}
#project_table .tfoot td {
  text-align: right;
}
#project_table {
  border-collapse: collapse;
  position: relative;
}

#project_table th,
#project_table td {
  padding: 15px;
}
#project_table .tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
#project_table .thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
#project_table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}
#project_table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
#project_table thead th:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
}
#project_table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #fff;
  color: #000;
}
#project_table tbody #action_td {
  position: sticky !important;
  right: 0;
  z-index: 1;
  background-color: #fff;
  color: #000;
}

#sub_con_info:nth-child(even) {
  background-color: #fff !important;
}
</style>