<template>
  <div>
    <el-form-item
      v-if="pmeta.input_type !== 'checkbox' && pmeta.input_type !== 'dropdown'"
      :label="pmeta.field_name"
    >
      <el-input
        v-model="pmeta.input_value"
        :type="pmeta.input_type"
        :required="pmeta.is_required"
        @blur="getData($event)"
      />
    </el-form-item>

    <el-form-item
      v-if="pmeta.input_type === 'checkbox'"
      :label="pmeta.field_name"
    >
      <el-checkbox-group v-model="checkedValue" @change="getCheckedData">
        <el-checkbox v-for="item in options" :key="item" :label="item">{{ item }}</el-checkbox>
      </el-checkbox-group>
    </el-form-item>

    <el-form-item
      v-if="pmeta.input_type === 'dropdown'"
      :label="pmeta.field_name"
    >
      <template>
        <el-select
          v-model="pmeta.input_value"
          placeholder="Select"
          @change="getData()"
        >
          <el-option
            v-for="item in options"
            :key="item"
            :label="item"
            :value="item"
          />
        </el-select>
      </template>
    </el-form-item>
  </div>
</template>
<script>
export default {
  props: {
    pmeta: {
      type: Object,
      default: () => {
        return {
          field_name: '',
          input_type: '',
          input_name: '',
          default_value: '',
          is_required: '',
        };
      },
    },
  },
  data() {
    return {
      projectMeta: {},
      checkedValue: [],
      options: [],
    };
  },
  watch: {
    pmeta: function() {
      this.getOptions();
    },
  },
  created() {
    this.pmeta.field_name = this.pmeta.field_name;
    this.pmeta.input_name = this.pmeta.input_name;
    this.pmeta.input_type = this.pmeta.input_type;
    this.getCheckboxValue();
    this.getCheckboxValue();
    this.getOptions();
  },

  methods: {
    getCheckedData(){
      this.pmeta.input_value = this.checkedValue.join();
      this.getData();
    },
    getData(event){
      this.$emit('updateValue', this.pmeta);
    },
    getOptions(){
      const options = this.pmeta.projectTypeMeta.default_value.split(',');
      this.options = options;
    },
    getCheckboxValue(){
      if (this.pmeta.input_type === 'checkbox'){
        const value = this.pmeta.input_value.split(',');
        this.checkedValue = value;
      }
    },
  },
};
</script>
<style scoped>
.el-select {
    display: inline-block;
    position: relative;
    display: block;
}
.el-form-item--medium .el-form-item__label {
    line-height: 36px;
    width: 100%;
    display: flex;
}
</style>
