<template>
  <div>

    <el-form-item label="Project Quantity" prop="quantity">
      <el-input v-model.number="project.quantity" />
    </el-form-item>

    <el-form-item label="Project Amount" prop="project_amount">
      <el-input v-model.number="project.project_amount" />
    </el-form-item>
    <el-form-item label="Agreement Amount" prop="agreement_amount">
      <el-input v-model.number="project.agreement_amount" />
    </el-form-item>
    <el-form-item label="Client Name" prop="client_id">
      <el-select v-model="project.client_id">
        <el-option
          v-for="client in clients"
          :key="client.id"
          :value="client.id"
          :label="client.name"
        />
      </el-select>
    </el-form-item>

    <el-form-item label="Details" prop="details">
      <el-input v-model="project.details" type="textarea" :rows="2" />
    </el-form-item>
    <el-form-item label="Remark" prop="remark">
      <el-input v-model="project.remark" type="textarea" :rows="2" />
    </el-form-item>
    <el-form-item label="Project Status" prop="project_status_id">
      <el-select v-model="project.project_status_id">
        <el-option
          v-for="status in statuses"
          :key="status.id"
          :value="status.id"
          :label="status.name"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="Signboard Collected By" prop="signboard_collected_by">
      <el-input v-model="project.signboard_collected_by" />
    </el-form-item>
    <el-form-item
      label="Signboard Collection Date"
      prop="signboard_collection_date"
      style="width: 100%; display: flex"
    >
      <el-date-picker
        v-model="project.signboard_collection_date"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      />
    </el-form-item>
    <el-form-item
      label="Power Of Attorney"
      prop="power_of_attorney"
      style="width: 100%; display: flex"
    >
      <el-date-picker
        v-model="project.power_of_attorney"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      />
    </el-form-item>

    <el-form-item label="Approve Date" prop="approved_date	" style="width: 100%; display: flex">
      <el-date-picker
        v-model="project.approved_date	"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      />
    </el-form-item>

    <el-form-item label="Start Date" prop="start_date" style="width: 100%; display: flex">
      <el-date-picker
        v-model="project.start_date"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      />
    </el-form-item>

    <el-form-item label="Project Deadline" prop="deadline" style="width: 100%; display: flex">
      <el-date-picker
        v-model="project.deadline"
        type="date"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
      />
    </el-form-item>
  </div>
</template>

<script>
export default {
  props: ['project'],
  data() {
    return {
      clients: [],
      subcontractors: [],
      users: [],
      projectTypes: [],
      statuses: [],
    };
  },
  created() {
    this.getAllActiveItems();
  },
  methods: {
    async getAllActiveItems() {
      axios.get('/api/active/items').then(({ data }) => {
        this.clients = data.clients;
        this.subcontractors = data.subcontractors;
        this.users = data.users;
        this.projectTypes = data.projectTypes;
        this.statuses = data.statuses;
      });
    },
  },
};
</script>

<style>
</style>