<template>
<div style="overflow-x: auto; height: 450px;">
  <table id="project_table">
    <thead class="thead">
      <tr valign="top">
        <!-- <th rowspan="2">SI No</th> -->
        <th rowspan="2" style="text-align:left">
          <el-checkbox style="margin-right: 10px" v-model="checkAll" @change="handleCheckAllChange"></el-checkbox>Site Code
        </th>
        <th rowspan="2">Project Status</th>
        <th rowspan="2">Client Name</th>
        <th rowspan="2">Project Type</th>
        <th rowspan="2">Project Details</th>
        <th rowspan="2">Project Quantity</th>
        <th rowspan="2">Unit Price</th>
        <th rowspan="2">Site Location</th>
        <th rowspan="2">Agreement No/ Work Order ID</th>
        <th rowspan="2">Agreement Amount/Work Order Amount</th>
        <th rowspan="2">Approve Date</th>
        <th rowspan="2">Client Deadline</th>
        <th rowspan="2">Bill Submitted Amount KSR</th>
        <th rowspan="2">Client Penalty Amount</th>
        <th rowspan="2">Vat</th>
        <th rowspan="2">Tax</th>
        <th rowspan="2">Cheque Amount</th>
        <th rowspan="2">Total Received Amount</th>
        <th rowspan="2">Total Due</th>
        <th rowspan="2">SD Date</th>
        <th rowspan="2">SD Amount</th>
        <th rowspan="2">Project others Expence</th>
        <th rowspan="2">Total Expence</th>
        <th colspan="10">Subcontractor Info</th>
        <th rowspan="2">Project Amount</th>
        <th rowspan="2">Balance Amount</th>
        <th rowspan="2">NPAL Number</th>
        <th rowspan="2">PRS Number</th>
        <th rowspan="2">PDC Number</th>
        <th rowspan="2">Project Name</th>
        <th rowspan="2">Project File Number</th>
        <th rowspan="2">Prepaired By</th>
        <th rowspan="2">Power Of Attorney Complete Date</th>
        <th rowspan="2">Signboard Received Date</th>
        <th rowspan="2">Signboard Collection By Contractor</th>
        <th colspan="5">Site Location Info</th>
        <th rowspan="2">Address in English</th>
        <th rowspan="2">Address in Bangla</th>
        <th rowspan="2">GPS</th>
        <th rowspan="2">Remarks</th>
        <th colspan="12">Stage Info</th>
        <th rowspan="2">Action</th>
      </tr>
      <tr valign="top">
        <th style="position: unset">Subcontractor Name</th>
        <th>Subcontrator Work Order number</th>
        <th>Total Work Order Amount</th>
        <th>Subcontrator Bill Submitted Amount</th>
        <th>Subcontrator Penalty Amount</th>
        <th>Subcontrator SD Amount</th>
        <th>Subcontrator Payment Amount</th>
        <th>Subcontrator Start Date</th>
        <th>Subcontrator Deadline</th>
        <th>Subcontrator Finish Date</th>
        <th>Village</th>
        <th>Village (Bangla)</th>
        <th>Upazilla</th>
        <th>District</th>
        <th>Division</th>
        <th>Stage -01 Date</th>
        <th>Stage -01 (image)</th>
        <th>Stage -02 Date</th>
        <th>Stage -02 (image)</th>
        <th>Stage -03 Date</th>
        <th>Stage -03 (image)</th>
        <th>Stage -04 Date</th>
        <th>Stage -04 (image)</th>
        <th>Stage -05 Date</th>
        <th>Stage -05 (image)</th>
        <th>Stage -06 Date</th>
        <th style="position: unset">Stage -06 (image)</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <template v-for="(project, index) in list">
        <project-list-table
          :projects="pIds"
          @getSelectedProject="getSelectedProject"
          :project="project"
          :index="index"
          :key="project.id"
        />
      </template>
    </tbody>
  </table>
</div>
</template>

<script>
import ProjectListTable from './ProjectListTable.vue';
import { EventBus } from '@/app';
export default {
  components: { ProjectListTable },
  props: ['list'],
  data() {
    return {
      checkAll: false,
      pIds: [],
      projects: [],
    };
  },
  mounted(){
    EventBus.$on('unCheckAll', () => {
      this.pIds = [];
    });
  },
  methods: {
    
    getSelectedProject(project) {
      if (!this.projects.includes(project)) {
        this.projects.push(project);
      } else {
        this.projects.splice(this.projects.indexOf(project), 1);
      }
      this.checkChange();
    },
    handleCheckAllChange(val) {
      if (val === true) {
        let projects = [];
        let pIds = [];
        this.list.forEach((p) => {
          projects.push(p);
          pIds.push(p.id);
        });
        this.projects = projects;
        this.pIds = pIds;
      } else if (val === false) {
        this.projects = [];
        this.pIds = [];
      }
      this.checkChange();
    },
    checkChange(){
      this.$emit('getSelectedProjects', this.projects);
    }
  },
};
</script>

<style scoped>
#projectTable {
  display: none;
}

td,
th {
  border: 1px solid #c1eaf3ddd;
  text-align: left;
  padding: 8px;
  min-width: 200px;
}

tr:nth-child(even) {
  background-color: #c1eaf3ddd;
}

/* project table css */
#project_table,
#project_table td,
#project_table th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
#project_table th {
  text-align: center;
}
#project_table .numaric_td,
#project_table .numaric_td .el-input__inner {
  text-align: right;
}
#project_table .tfoot td {
  text-align: right;
}
#project_table {
  border-collapse: collapse;
  position: relative;
}

#project_table th,
#project_table td {
  padding: 15px;
}
#project_table .tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
#project_table .thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
#project_table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}
#project_table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}
#project_table thead th:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
}

</style>