<template>
  <div>

    <el-form-item label="State" prop="state_id">
      <el-select
        v-model="project.state_id"
        placeholder="Please select State"
        @change="getDistrict(project.state_id)"
      >
        <el-option v-for="state in states" :key="state.id" :value="state.id" :label="state.name" />
      </el-select>
    </el-form-item>
    <el-form-item label="District" prop="district_id">
      <el-select v-model="project.district_id" @change="getCities(project.district_id)">
        <el-option
          v-for="district in districts"
          :key="district.id"
          :value="district.id"
          :label="district.name"
        />
      </el-select>
    </el-form-item>
    <el-form-item label="City" prop="city_id">
      <el-select v-model="project.city_id" class="filter-item el-select el-select--medium">
        <el-option v-for="city in cities" :key="city.id" :value="city.id" :label="city.name" />
      </el-select>
    </el-form-item>
    <el-form-item label="Location/Address" prop="location">
      <el-input v-model="project.location" type="textarea" :rows="2" />
    </el-form-item>
    <el-form-item label="Location/Address (Bangla)" prop="bn_address">
      <el-input v-model="project.bn_address" type="textarea" :rows="2" />
    </el-form-item>
  </div>
</template>

<script>
export default {
  props: ['project'],
  data() {
    return {
      states: [],
      districts: [],
      cities: []
    };
  },
  created() {
    this.getAllActiveItems();
    this.getState();
  },
  methods: {
    getState() {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getDistrict(sid) {
      const state_id = sid;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },
    async getAllActiveItems() {
      axios.get('/api/active/items').then(({ data }) => {
        this.clients = data.clients;
        this.subcontractors = data.subcontractors;
        this.users = data.users;
        this.projectTypes = data.projectTypes;
        this.statuses = data.statuses;
      });
    },
  },
};
</script>

<style>
</style>