<template>
  <el-form
    ref="projectForm"
    v-loading="loading"
    :rules="rules"
    :model="project"
    label-position="left"
    label-width="25%"
  >
    <el-row :gutter="20">
      <el-col :span="24">
        <el-form-item :label="$t('project.name')" prop="name">
          <el-input v-model="project.name" placeholder="Enter Project name" />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item :label="$t('project.site_code')" prop="site_code">
          <el-input
            v-model="project.site_code"
            :disabled="mood=== 'edit'"
            placeholder="Enter Site Code"
          />
        </el-form-item>
      </el-col>

      <el-col :span="8">
        <el-form-item :label="$t('project.project_amount')" prop="project_amount">
          <el-input v-model.number="project.project_amount" placeholder="Enter Project Amount" />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Project Zone" prop="zone_id">
          <el-select
            v-model="project.zone_id"
            :disabled="mood=== 'edit'"
            placeholder="Select"
            @change="getProjectZoneInfo"
          >
            <el-option
              v-for="(zone, index) in zones"
              :key="index"
              :label="zone.name"
              :value="zone.id"
            />
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item :label="$t('project.state_id')" prop="state_id">
          <el-select
            v-model="project.state_id"
            placeholder="Please select State"
            @change="getDistrict(project.state_id)"
          >
            <el-option
              v-for="state in states"
              :key="state.id"
              :value="state.id"
              :label="state.name"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item :label="$t('project.district_id')" prop="district_id">
          <el-select
            v-model="project.district_id"
            placeholder="Please select District"
            @change="getCities(project.district_id)"
          >
            <el-option
              v-for="district in districts"
              :key="district.id"
              :value="district.id"
              :label="district.name"
            />
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item :label="$t('project.city')" prop="city_id">
          <el-select v-model="project.city_id" placeholder="Please select City">
            <el-option v-for="city in cities" :key="city.id" :value="city.id" :label="city.name" />
          </el-select>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item :label="$t('project.location')" prop="location">
          <el-input
            v-model="project.location"
            type="textarea"
            :rows="2"
            placeholder="Please input"
          />
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item :label="$t('project.details')" prop="details">
          <el-input v-model="project.details" type="textarea" :rows="2" placeholder="Please input" />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Approve Date" prop="approved_date	" style="width: 100%; display: flex">
          <el-date-picker
            v-model="project.approved_date	"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item :label="$t('project.start_date')" prop="start_date">
          <el-date-picker
            v-model="project.start_date"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item :label="$t('project.deadline')" prop="deadline">
          <el-date-picker
            v-model="project.deadline"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
      </el-col>
    </el-row>

    <el-button
      v-if="mood=== 'create'"
      type="primary"
      style="margin-left: 25%"
      @click="createProject()"
    >{{ $t('table.confirm') }}</el-button>
    <el-button
      v-if="mood=== 'edit'"
      type="primary"
      style="margin-left: 25%"
      @click="updateProject()"
    >Update</el-button>
  </el-form>
</template>

<script>
import Resource from '@/api/resource';
const projectResource = new Resource('projects');
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
export default {
  name: 'ProjectCreateComponent',
  directives: { waves, permission },
  components: {},
  props: ['project', 'mood'],
  data() {
    return {
      loading: false,
      zones: [],
      countries: [],
      states: [],
      districts: [],
      cities: [],
      users: [],
      clients: [],
      projectTypeMetas: [],
      projectMeta: [],
      statuses: [],

      // status: '',
      rules: {
        site_code: [
          { required: true, message: 'Site Code is required', trigger: 'blur' },
        ],
        project_amount: [
          { required: true, message: 'Site Code is required', trigger: 'blur' },
          {
            type: 'number',
            message: 'Project Amount Must Be Type Of Number',
            trigger: 'blur',
          },
        ],

        client_id: [
          {
            required: true,
            message: 'Client Name is required',
            trigger: 'blur',
          },
        ],
        zone_id: [
          {
            required: true,
            message: 'Project Zone Name is required',
            trigger: 'blur',
          },
        ],

        state_id: [
          {
            required: true,
            message: 'State Name is required',
            trigger: 'blur',
          },
        ],
        district_id: [
          {
            required: true,
            message: 'District Name is required',
            trigger: 'blur',
          },
        ],
        city_id: [
          { required: true, message: 'City Name is required', trigger: 'blur' },
        ],
        // coordinator: [
        //   {
        //     required: true,
        //     message: 'Co-Ordinator Name is required',
        //     trigger: 'blur',
        //   },
        // ],
        start_date: [
          {
            required: true,
            message: 'Start Date is required',
            trigger: 'blur',
          },
        ],
        deadline: [
          {
            required: true,
            message: 'Project Deadline is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  watch: {
    project: function (nv, ov) {
      this.getDistrict(this.project.state_id);
      this.getCities(this.project.district_id);
    },
  },
  created() {
    this.getModelData();
    this.getState();
  },
  methods: {
    async getModelData() {
      const models = [
        { name: 'projectType', model: 'ProjectType' },
        { name: 'client', model: 'Client' },
        { name: 'zone', model: 'Zone' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.projectTypes = response.data[0].projectType;
        this.clients = response.data[1].client;
        this.zones = response.data[2].zone;
      });
    },
    getProjectZoneInfo(zone_id) {
      console.log(zone_id);
    },
    async getState() {
      const country_id = 19;
      await axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    async getDistrict(sid) {
      const state_id = sid;
      await axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    async getCities(did) {
      const district_id = did;
      await axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },

    createProject() {
      (this.project.country_id = 19),
        this.$refs['projectForm'].validate((valid) => {
          if (valid) {
            this.projectCreating = true;
            (this.loading = true),
              projectResource
                .store(this.project)
                .then((response) => {
                  // this.$router.push({ name: 'projectList' });
                  this.$message({
                    message: 'New project has been created successfully.',
                    type: 'success',
                    duration: 5 * 1000,
                  });
                  this.$router.push({ name: 'projectList' });
                  this.dialogFormVisible = false;
                  this.loading = false;
                })
                .catch((error) => {
                  this.loading = false;
                  this.$message({
                    message: error.response.data.errors,
                    type: 'error',
                    duration: 5 * 1000,
                  });
                })
                .finally(() => {
                  this.projectCreating = false;
                });
          } else {
            this.$message({
              message: 'error submit!!',
              type: 'error',
              duration: 5 * 1000,
            });
            return false;
          }
        });
    },
    updateProject() {
      this.$refs['projectForm'].validate((valid) => {
        if (valid) {
          this.projectCreating = true;
          (this.loading = true),
            projectResource
              .update(this.project.id, this.project)
              .then((response) => {
                // this.$router.push({ name: 'projectList' });
                this.$message({
                  message: 'Project has been updated successfully.',
                  type: 'success',
                  duration: 5 * 1000,
                });
                this.$router.push({ name: 'projectList' });
                this.dialogFormVisible = false;
                this.loading = false;
              })
              .catch((error) => {
                this.loading = false;
                this.$message({
                  message: error.response.data.errors,
                  type: 'error',
                  duration: 5 * 1000,
                });
              })
              .finally(() => {
                this.projectCreating = false;
              });
        } else {
          this.$message({
            message: 'error submit!!',
            type: 'error',
            duration: 5 * 1000,
          });
          return false;
        }
      });
    },
  },
};
</script>

<style>
</style>