<template>
  <div>
    <el-form-item
      v-if="pmeta.input_type !== 'checkbox' && pmeta.input_type !== 'dropdown'"
      :label="pmeta.field_name"
    >
      <el-input
        v-model="projectMeta.input_value"
        :type="pmeta.input_type"
        :required="pmeta.is_required"
        @blur="getData($event)"
      />
    </el-form-item>
    <el-form-item
      v-if="pmeta.input_type === 'checkbox'"
      :label="pmeta.field_name"
    >
      <el-checkbox-group v-model="checkedValue" @change="getCheckedData">
        <el-checkbox v-for="item in options" :key="item" :label="item">{{ item }}</el-checkbox>
      </el-checkbox-group>
    </el-form-item>

    <el-form-item
      v-if="pmeta.input_type === 'dropdown'"
      :label="pmeta.field_name"
    >
      <template>
        <el-select
          v-model="projectMeta.input_value"
          placeholder="Select"
          @change="getData()"
        >
          <el-option
            v-for="item in options"
            :key="item"
            :label="item"
            :value="item"
          />
        </el-select>
      </template>
    </el-form-item>
  </div>
</template>
<script>
export default {
  props: {
    pmeta: {
      type: Object,
      default: () => {
        return {
          field_name: '',
          input_type: '',
          input_name: '',
          default_value: '',
          is_required: '',
        };
      },
    },
  },
  data() {
    return {
      projectMeta: {},
      checkedValue: [],
      options: [],
    };
  },
  watch: {
    pmeta: function() {
      this.getOptions();
    },
  },
  created() {
    this.projectMeta.field_name = this.pmeta.field_name;
    this.projectMeta.input_name = this.pmeta.input_name;
    this.projectMeta.input_type = this.pmeta.input_type;
    this.projectMeta.project_type_meta_id = this.pmeta.id;
    this.getOptions();
    this.getData();
  },

  methods: {
    getCheckedData(){
      if (this.pmeta.input_type === 'checkbox'){
        this.projectMeta.input_value = this.checkedValue.join();
      }
      this.getData();
    },
    getData(event){
      this.$emit('updateValue', this.projectMeta);
    },
    getOptions(){
      if (this.pmeta.input_type === 'dropdown'){
        const options = this.pmeta.default_value.split(',');
        this.options = options;
      }
    },
  },
};
</script>
