<template>
  <el-card v-if="employee.id" class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane id="view" label="View" name="first" icon="el-icon-view">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="employee.name" readonly />
          </el-form-item>
          <el-form-item :label="$t('employee.nid_number')" prop="nid_number">
            <el-input v-model="employee.nid_number" readonly />
          </el-form-item>

          <el-form-item :label="$t('employee.employee_id')" prop="employee_id">
            <el-input v-model="employee.employee_id" readonly />
          </el-form-item>

          <el-form-item label="Email">
            <el-input v-model="employee.email" readonly />
          </el-form-item>
          <el-form-item label="Phone">
            <el-input v-model="employee.phone" readonly />
          </el-form-item>
          <el-form-item label="Designation">
            <el-input v-model="employee.designation" readonly />
          </el-form-item>
          <el-form-item label="Blood Group">
            <el-input v-model="employee.blood_group" readonly />
          </el-form-item>
          <el-form-item label="Gender">
            <el-radio-group v-model="employee.gender">
              <el-radio label="male">Male</el-radio>
              <el-radio label="female">Female</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="Joining Date">
            <el-date-picker
              v-model="employee.joining_date"
              readonly
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
            />
          </el-form-item>
          <fieldset style="margin: 20px 0px">
            <legend>Present Address:</legend>

            <el-form-item :label="$t('employee.state')">
              <el-select
                v-model="employee.present.state"
                class="filter-item"
                placeholder="Please select State"
                @change="getPresentDistrict()"
              >
                <el-option
                  v-for="state in states"
                  :key="state.id"
                  :label="state.name | uppercaseFirst"
                  :value="state.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.district')" prop="district">
              <el-select
                v-model="employee.present.district"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="district in districts"
                  :key="district.id"
                  :label="district.name | uppercaseFirst"
                  :value="district.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.city')" prop="city">
              <el-select
                v-model="employee.present.city"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="city in presentCities"
                  :key="city.id"
                  :label="city.name | uppercaseFirst"
                  :value="city.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item :label="$t('employee.zip_code')" prop="zip_code">
              <el-input v-model="employee.present.zip_code" readonly />
            </el-form-item>
            <el-form-item :label="$t('employee.street')" prop="street">
              <el-input v-model="employee.present.street" readonly />
            </el-form-item>
          </fieldset>

          <fieldset style="margin: 20px 0px">
            <legend>Permanent Address:</legend>

            <el-form-item :label="$t('employee.state')">
              <el-select
                v-model="employee.permanent.state"
                class="filter-item"
                placeholder="Please select State"
                @change="getPermanentDistrict()"
              >
                <el-option
                  v-for="state in states"
                  :key="state.id"
                  :label="state.name | uppercaseFirst"
                  :value="state.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.district')" prop="district">
              <el-select
                v-model="employee.permanent.district"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="district in districts"
                  :key="district.id"
                  :label="district.name | uppercaseFirst"
                  :value="district.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.city')" prop="city">
              <el-select
                v-model="employee.permanent.city"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="city in permanentCities"
                  :key="city.id"
                  :label="city.name | uppercaseFirst"
                  :value="city.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item :label="$t('employee.zip_code')" prop="zip_code">
              <el-input v-model="employee.permanent.zip_code" readonly />
            </el-form-item>
            <el-form-item :label="$t('employee.street')" prop="street">
              <el-input v-model="employee.permanent.street" readonly />
            </el-form-item>
          </fieldset>
          <el-form-item :label="$t('employee.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>
          <el-form-item :label="$t('employee.selected_image')">
            <img
              v-if="employee.image"
              :src="imgURL + employee.image"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="70px"
              width="70px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <!-- <el-tab-pane label="Timeline" name="second">
        <div class="block">
          <el-timeline>
            <el-timeline-item timestamp="2019/4/17" placement="top">
              <el-card>
                <h4>Update Github template</h4>
                <p>tuandm committed 2019/4/17 20:46</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2019/4/18" placement="top">
              <el-card>
                <h4>Update Github template</h4>
                <p>tonynguyen committed 2019/4/18 20:46</p>
              </el-card>
              <el-card>
                <h4>Update Github template</h4>
                <p>tuandm committed 2019/4/19 21:16</p>
              </el-card>
            </el-timeline-item>
            <el-timeline-item timestamp="2019/4/19" placement="top">
              <el-card>
                <h4>
                  Deploy
                  <a href="https://laravue.dev" target="_blank">laravue.dev</a>
                </h4>
                <p>tuandm deployed 2019/4/19 10:23</p>
              </el-card>
            </el-timeline-item>
          </el-timeline>
        </div>
      </el-tab-pane> -->
      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form>
          <el-form-item
            v-permission="['update employee information']"
            label="Name"
          >
            <el-input v-model="employee.name" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            :label="$t('employee.nid_number')"
            prop="nid_number"
          >
            <el-input v-model="employee.nid_number" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            :label="$t('employee.employee_id')"
            prop="employee_id"
          >
            <el-input v-model="employee.employee_id" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            label="Email"
          >
            <el-input v-model="employee.email" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            label="Phone"
          >
            <el-input v-model="employee.phone" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            label="Designation"
          >
            <el-input v-model="employee.designation" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            label="Blood Group"
          >
            <el-input v-model="employee.blood_group" />
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            label="Gender"
          >
            <el-radio-group v-model="employee.gender">
              <el-radio label="male">Male</el-radio>
              <el-radio label="female">Female</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item
            v-permission="['update employee information']"
            label="Joining Date"
          >
            <el-date-picker
              v-model="employee.joining_date"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
            />
          </el-form-item>
          <fieldset
            v-permission="['update employee information']"
            style="margin: 20px 0px"
          >
            <legend>Present Address:</legend>
            <!-- <el-form-item :label="$t('employee.country')">
              <el-select
                v-model="employee.present.country"
                class="filter-item"
                placeholder="Please select Country"
                @change="getPresentState()"
              >
                <el-option
                  v-for="country in countries"
                  :key="country.id"
                  :label="country.name | uppercaseFirst"
                  :value="country.id"
                />
              </el-select>
            </el-form-item> -->
            <el-form-item :label="$t('employee.state')">
              <el-select
                v-model="employee.present.state"
                class="filter-item"
                placeholder="Please select State"
                @change="getPresentDistrict()"
              >
                <el-option
                  v-for="state in states"
                  :key="state.id"
                  :label="state.name | uppercaseFirst"
                  :value="state.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.district')" prop="district">
              <el-select
                v-model="employee.present.district"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="district in districts"
                  :key="district.id"
                  :label="district.name | uppercaseFirst"
                  :value="district.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.city')" prop="city">
              <el-select
                v-model="employee.present.city"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="city in presentCities"
                  :key="city.id"
                  :label="city.name | uppercaseFirst"
                  :value="city.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item :label="$t('employee.zip_code')" prop="zip_code">
              <el-input v-model="employee.present.zip_code" />
            </el-form-item>
            <el-form-item :label="$t('employee.street')" prop="street">
              <el-input v-model="employee.present.street" />
            </el-form-item>
          </fieldset>

          <fieldset
            v-permission="['update employee information']"
            style="margin: 20px 0px"
          >
            <legend>Permanent Address:</legend>
            <!-- <el-form-item :label="$t('employee.country')">
              <el-select
                v-model="employee.permanent.country"
                class="filter-item"
                placeholder="Please select Country"
                @change="getPermanentState()"
              >
                <el-option
                  v-for="country in countries"
                  :key="country.id"
                  :label="country.name | uppercaseFirst"
                  :value="country.id"
                />
              </el-select>
            </el-form-item> -->
            <el-form-item :label="$t('employee.state')">
              <el-select
                v-model="employee.permanent.state"
                class="filter-item"
                placeholder="Please select State"
                @change="getPermanentDistrict()"
              >
                <el-option
                  v-for="state in states"
                  :key="state.id"
                  :label="state.name | uppercaseFirst"
                  :value="state.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.district')" prop="district">
              <el-select
                v-model="employee.permanent.district"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="district in districts"
                  :key="district.id"
                  :label="district.name | uppercaseFirst"
                  :value="district.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.city')" prop="city">
              <el-select
                v-model="employee.permanent.city"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="city in permanentCities"
                  :key="city.id"
                  :label="city.name | uppercaseFirst"
                  :value="city.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item :label="$t('employee.zip_code')" prop="zip_code">
              <el-input v-model="employee.permanent.zip_code" />
            </el-form-item>
            <el-form-item :label="$t('employee.street')" prop="street">
              <el-input v-model="employee.permanent.street" />
            </el-form-item>
          </fieldset>
          <el-form-item
            v-permission="['update employee image']"
            :label="$t('employee.image')"
            prop="image"
          >
            <input type="file" @change="imageChanged($event)">
          </el-form-item>
          <el-form-item
            v-if="!imgurl"
            v-permission="['update employee image']"
            :label="$t('employee.selected_image')"
          >
            <img
              v-if="employee.image"
              :src="imgURL + employee.image"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>
          <el-form-item
            v-if="imgurl"
            v-permission="['update employee image']"
            class="preview"
            :label="$t('employee.selected_image')"
          >
            <img :src="imgurl">
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const employeeResource = new Resource('employees');
import { fetchEmployee } from '@/api/employee';
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  directives: { waves, permission },
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      countries: [],
      states: [],
      districts: [],
      newEmployeeImage: '',
      image: '',
      imgurl: null,
      authEmployee: '',
      cities: [],
      presentCities: [],
      permanentCities: [],
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      employee: {},
      country: {
        name: 'Bangladesh',
        code: 'BD',
      },
    };
  },
  watch: {
    employee: function(nv, ov) {
      this.getPresentState(this.employee.present.country);
      this.getPresentDistrict(this.employee.present.state);
      this.getPermanentState(this.employee.permanent.country);
      this.getPermanentDistrict(this.employee.permanent.state);
      this.getPermanentCities(this.employee.permanent.city);
      this.getPresentCities(this.employee.present.city);
    },
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
    this.authEmployee = this.$authEmployee;
    this.getPresentCountries();
  },

  methods: {
    fetchData(id) {
      fetchEmployee(id)
        .then((response) => {
          this.employee = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    getPresentCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getPresentState() {
      const country_id = this.employee.present.country;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getPresentDistrict() {
      const state_id = this.employee.present.state;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getPermanentCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getPermanentState() {
      const country_id = this.employee.permanent.country;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getPermanentDistrict() {
      const state_id = this.employee.permanent.state;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getPermanentCities() {
      const district_id = this.employee.permanent.district;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.permanentCities = data.cities;
      });
    },
    getPresentCities() {
      const district_id = this.employee.present.district;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.presentCities = data.cities;
      });
    },

    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/employees/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },
    onSubmit() {
      this.employee.image = this.image;
      this.updating = true;
      employeeResource
        .update(this.employee.id, this.employee)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'Employee information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.employee-activity {
  .employee-block {
    .employeename,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .employee-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

img {
  cursor: pointer;
}
</style>
