<template>
  <el-card v-if="unit.id" style="width:80%;margin:auto">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">

      <el-tab-pane id="view" v-loading="updating" label="View" name="first">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="unit.name" />
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="unit.code" />
          </el-form-item>
          <!-- <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item> -->
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="unit.name" />
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="unit.code" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>

import axios from 'axios';
import { fetchUnit } from '@/api/unit';
import Resource from '@/api/resource';
const unitResource = new Resource('units');

export default {
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      unit: {},
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    fetchData(id) {
      fetchUnit(id)
        .then(response => {
          this.unit = response.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    onSubmit() {
      this.updating = true;
      unitResource
        .update(this.unit.id, this.unit)
        .then((response) => {
          this.updating = false;
          // this.$router.push({name: 'unitList'})
          this.$message({
            message: 'unit information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.unit-activity {
  .unit-block {
    .unitname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
</style>
