<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add employee']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <!--<el-table-column align="center" label="ID" width="80" type="index">
       </el-table-column>-->

      <el-table-column align="center" sortable prop="id" label="Employee ID">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Office Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.office_phone }}</span>
        </template>
      </el-table-column>
      <!-- <el-table-column align="center" label="Emergency Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.emergency_phone }}</span>
        </template>
      </el-table-column> -->

      <el-table-column align="center" label="Image">
        <template slot-scope="scope">
          <img
            v-if="scope.row.image"
            :src="imgURL + scope.row.image"
            height="70px"
            width="70px"
            @click="copySRC"
          >
          <img
            v-else
            height="70px"
            width="70px"
            src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
          >
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <router-link :to="'/administrator/employees/edit/' + scope.row.id">
            <el-button
              v-permission="['update employee']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.employee_status === 'active'"
            v-permission="['manage employee']"
            type="danger"
            size="small"
            icon="el-icon-lock"
            @click="handleSuspend(scope.row.id, scope.row.name)"
          >
            Suspend
          </el-button>
          <el-button
            v-if="scope.row.employee_status === 'inactive'"
            v-permission="['manage employee']"
            type="success"
            size="small"
            icon="el-icon-unlock"
            @click="handleActive(scope.row.id, scope.row.name)"
          >
            Active
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new employee'" :visible.sync="dialogFormVisible">
      <div v-loading="employeeCreating" class="form-container">
        <el-form
          ref="employeeForm"
          :rules="rules"
          :model="newEmployee"
          label-position="left"
          label-width="250px"
          style="max-width: 700px"
        >
          <el-form-item :label="$t('employee.name')" prop="name">
            <el-input v-model="newEmployee.name" />
          </el-form-item>
          <el-form-item :label="$t('employee.nid_number')" prop="nid_number">
            <el-input v-model="newEmployee.nid_number" />
          </el-form-item>
          <el-form-item :label="$t('employee.employee_id')" prop="employee_id">
            <el-input v-model="newEmployee.employee_id" />
          </el-form-item>
          <el-form-item :label="$t('employee.email')" prop="email">
            <el-input v-model="newEmployee.email" />
          </el-form-item>
          <el-form-item :label="$t('employee.phone')" prop="phone">
            <el-input v-model="newEmployee.phone" />
          </el-form-item>
          <el-form-item :label="$t('employee.office_phone')" prop="office_phone">
            <el-input v-model="newEmployee.office_phone" />
          </el-form-item>
          <el-form-item
            :label="$t('employee.emergency_phone')"
            prop="emergency_phone"
          >
            <el-input v-model="newEmployee.emergency_phone" />
          </el-form-item>
          <el-form-item :label="$t('employee.designation')" prop="designation">
            <el-input v-model="newEmployee.designation" />
          </el-form-item>
          <el-form-item :label="$t('employee.blood_group')" prop="blood_group">
            <el-input v-model="newEmployee.blood_group" />
          </el-form-item>
          <el-form-item :label="$t('employee.joining_date')" prop="joining_date">
            <el-date-picker
              v-model="newEmployee.joining_date"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
            />
          </el-form-item>
          <el-form-item label="Gender">
            <el-radio-group v-model="newEmployee.gender">
              <el-radio label="male">Male</el-radio>
              <el-radio label="female">Female</el-radio>
            </el-radio-group>
          </el-form-item>
          <fieldset style="margin: 20px 0px">
            <legend>Present Address:</legend>
            <!-- <el-form-item :label="$t('employee.country')">
              <el-select
                v-model="newEmployee.address[0].present.country"
                class="filter-item"
                placeholder="Please select Country"
                @change="getPresentState()"
              >
                <el-option
                  :value="country.id" :label="country.name"
                />
              </el-select>
            </el-form-item> -->
            <el-form-item :label="$t('employee.state')">
              <el-select
                v-model="newEmployee.address[0].present.state"
                class="filter-item"
                placeholder="Please select State"
                @change="getPresentDistrict()"
              >
                <el-option
                  v-for="state in presentStates"
                  :key="state.id"
                  :label="state.name | uppercaseFirst"
                  :value="state.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.district')" prop="district">
              <el-select
                v-model="newEmployee.address[0].present.district"
                class="filter-item"
                placeholder="Please select Dsitrict"
                @change="getPresentCities(newEmployee.address[0].present.district)"
              >
                <el-option
                  v-for="district in presentDistricts"
                  :key="district.id"
                  :label="district.name | uppercaseFirst"
                  :value="district.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.city')" prop="city">
              <el-select
                v-model="newEmployee.address[0].present.city"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="city in presentCities"
                  :key="city.id"
                  :label="city.name | uppercaseFirst"
                  :value="city.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item :label="$t('employee.zip_code')" prop="zip_code">
              <el-input v-model="newEmployee.address[0].present.zip_code" />
            </el-form-item>
            <el-form-item :label="$t('employee.street')" prop="street">
              <el-input v-model="newEmployee.address[0].present.street" />
            </el-form-item>
          </fieldset>

          <fieldset style="margin: 20px 0px">
            <legend>Permanent Address:</legend>
            <!-- <el-form-item :label="$t('employee.country')">
              <el-select
                v-model="newEmployee.address[0].permanent.country"
                class="filter-item"
                placeholder="Please select Country"
                @change="getPermanentState()"
              >
                <el-option
                  :value="country.id" :label="country.name"
                />
              </el-select>
            </el-form-item> -->
            <el-form-item :label="$t('employee.state')">
              <el-select
                v-model="newEmployee.address[0].permanent.state"
                class="filter-item"
                placeholder="Please select State"
                @change="getPermanentDistrict()"
              >
                <el-option
                  v-for="state in permanentStates"
                  :key="state.id"
                  :label="state.name | uppercaseFirst"
                  :value="state.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.district')" prop="district">
              <el-select
                v-model="newEmployee.address[0].permanent.district"
                class="filter-item"
                placeholder="Please select Dsitrict"
                @change="
                  getPermanentCities(newEmployee.address[0].permanent.district)
                "
              >
                <el-option
                  v-for="district in permanentDistricts"
                  :key="district.id"
                  :label="district.name | uppercaseFirst"
                  :value="district.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item :label="$t('employee.city')" prop="city">
              <el-select
                v-model="newEmployee.address[0].permanent.city"
                class="filter-item"
                placeholder="Please select Dsitrict"
              >
                <el-option
                  v-for="city in permanentCities"
                  :key="city.id"
                  :label="city.name | uppercaseFirst"
                  :value="city.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item :label="$t('employee.zip_code')" prop="zip_code">
              <el-input v-model="newEmployee.address[0].permanent.zip_code" />
            </el-form-item>
            <el-form-item :label="$t('employee.street')" prop="street">
              <el-input v-model="newEmployee.address[0].permanent.street" />
            </el-form-item>
          </fieldset>

          <el-form-item :label="$t('employee.image')" prop="image">
            <input type="file" name="image" @change="getImage($event)">
          </el-form-item>
          <div :label="$t('employee.selected_image')">
            <img
              id="employee_image"
              :src="imgURL + image"
              height="200px"
              width="200px"
              class="d-none"
            >
          </div>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createEmployee()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import Resource from '@/api/resource';
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';

const employeeResource = new Resource('employees');

export default {
  name: 'EmployeeList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      imgurl: null,
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      employeeCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      image: '',
      newEmployee: {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
        role: 'admin',
        phone: '',
        nid_number: '',
        employee_id: '',
        address: [
          {
            present: {
              type: 'present',
              country: 19,
              state: '',
              district: '',
              city: '',
              zip_code: '',
              street: '',
            },
            permanent: {
              type: 'permanent',
              country: 19,
              state: '',
              district: '',
              city: '',
              zip_code: '',
              street: '',
            },
          },
        ],
      },

      dialogFormVisible: false,
      countries: [],
      presentStates: [],
      permanentStates: [],
      presentDistricts: [],
      permanentDistricts: [],
      presentCities: [],
      permanentCities: [],
      country: {
        name: 'Bangladesh',
        code: 'BD',
      },
      rules: {

        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        // image: [
        //   { required: true, message: 'Image is required', trigger: 'blur' },
        // ],
        nid_number: [
          { required: true, message: 'NID is required', trigger: 'blur' },
        ],
        employee_id: [
          {
            required: true,
            message: 'Employee ID is required',
            trigger: 'blur',
          },
        ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
        emergency_phone: [
          {
            required: true,
            message: 'Emergency Phone Number is required',
            trigger: 'blur',
          },
        ],
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          {
            type: 'email',
            message: 'Please input correct email address',
            trigger: ['blur', 'change'],
          },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getPresentState();
    this.getPermanentState();
  },
  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },

    getPresentCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getPresentState() {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.presentStates = data.states;
      });
    },
    getPresentDistrict() {
      const state_id = this.newEmployee.address[0].present.state;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.presentDistricts = data.districts;
      });
    },
    getPermanentCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.permanentCities = data.cities;
      });
    },
    getPresentCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.presentCities = data.cities;
      });
    },
    getPermanentCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getPermanentState() {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.permanentStates = data.states;
      });
    },
    getPermanentDistrict() {
      const state_id = this.newEmployee.address[0].permanent.state;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.permanentDistricts = data.districts;
      });
    },
    getImage(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/employees/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },
    async getList() {
      const { limit, page } = this.query;
      this.loading = true;
      const { data, meta } = await employeeResource.list(this.query);
      this.list = data;
      this.list.forEach((element, index) => {
        element['index'] = (page - 1) * limit + index + 1;
      });
      this.total = meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['employeeForm'].clearValidate();
      });
    },

    createEmployee() {
      if (this.newEmployee.role === 'staff') {
        this.newEmployee.password = '123456';
        this.newEmployee.confirmPassword = '123456';
      }
      this.$refs['employeeForm'].validate((valid) => {
        if (valid) {
          this.newEmployee.roles = [this.newEmployee.role];
          this.newEmployee.image = this.image;
          this.employeeCreating = true;
          employeeResource
            .store(this.newEmployee)
            .then((response) => {
              this.$message({
                message:
                  'New employee ' +
                  this.newEmployee.name +
                  '(' +
                  this.newEmployee.email +
                  ') has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewEmployee();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.employeeCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewEmployee() {
      this.newEmployee = {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
        role: 'admin',
        phone: '',
        nid_number: '',
        employee_id: '',
        image: '',
        address: [
          {
            present: {
              type: 'present',
              country: '',
              state: '',
              district: '',
              city: '',
              zip_code: '',
              street: '',
            },
            permanent: {
              type: 'permanent',
              country: '',
              state: '',
              district: '',
              city: '',
              zip_code: '',
              street: '',
            },
          },
        ],
      };
    },
    handleSuspend(id, name) {
      this.$confirm(
        'Do you want to Suspend ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      ).then(() => {
        axios
          .put('/api/employee/inactive/' + id)
          .then((response) => {
            this.$message({
              type: 'success',
              message: 'Employee Suspended',
            });
            this.handleFilter();
          })
          .catch((error) => {
            this.$message({
              type: 'error',
              message: 'Suspended Failed',
            });
          });
      });
    },
    handleActive(id, name) {
      this.$confirm(
        'Do you want to Active ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      ).then(() => {
        axios
          .put('/api/employee/active/' + id)
          .then((response) => {
            this.$message({
              type: 'success',
              message: 'Employee Actived',
            });
            this.handleFilter();
          })
          .catch((error) => {
            this.$message({
              type: 'error',
              message: response.message,
            });
          });
      });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['index', 'employee_id', 'name', 'email', 'role', 'phone'];
        const filterVal = ['index', 'id', 'name', 'email', 'role', 'phone'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'employee-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
  .el-dialog {
    width: 65% !important;
  }
}

img {
  cursor: pointer;
}
</style>
