<template>
  <el-card class="app-container">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane label="Account" name="first">
        <el-form>
          <el-form-item label="Shop Name">
            <el-input v-model="posSetting.shop_name" />
          </el-form-item>
          <el-form-item label="Shop Address">
            <el-input v-model="posSetting.address" />
          </el-form-item>
          <el-form-item label="Shop Phone Number">
            <el-input v-model="posSetting.office_phone" />
          </el-form-item>
          <el-form-item label="Vat Amout">
            <el-input v-model="posSetting.vat" />
          </el-form-item>
          <el-form-item label="Vat Status">
            <el-select v-model="posSetting.vat_status" filterable placeholder="Select Print Paper Size">
              <el-option
                v-for="(val, index) in vat_statuses"
                :key="index"
                :label="val.name"
                :value="val.name"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Tax Amout">
            <el-input v-model="posSetting.tax" />
          </el-form-item>
          <el-form-item label="Vat Registration Number">
            <el-input v-model="posSetting.vat_registration_number" />
          </el-form-item>
          <el-form-item label="Tax Registration Number">
            <el-input v-model="posSetting.tax_registration_number" />
          </el-form-item>
          <el-form-item label="Mushak">
            <el-input v-model="posSetting.mushak" />
          </el-form-item>
          <el-form-item label="Currency">
            <el-input v-model="posSetting.currency" />
          </el-form-item>
          <el-form-item label="Sale ID Prefix">
            <el-input v-model="posSetting.sale_id_prefix" />
          </el-form-item>
          <el-form-item label="Footer Information">
            <tinymce v-model="posSetting.bill_footer" />
          </el-form-item>
          <el-form-item label="Print Paper Size">
            <el-select v-model="posSetting.print_paper_size_id" filterable placeholder="Select Print Paper Size">
              <el-option
                v-for="(val, index) in paperSizes"
                :key="index"
                :label="val.name"
                :value="val.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Print Page Margin">
            <el-row :gutter="20">
              <el-col :span="6">
                <el-form-item label="Top Margin">
                  <el-input v-model="posSetting.print_page_top_margin" />
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="Bottom Margin">
                  <el-input v-model="posSetting.print_page_bottom_margin" />
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="Left Margin">
                  <el-input v-model="posSetting.print_page_left_margin" />
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="Right Margin">
                  <el-input v-model="posSetting.print_page_right_margin" />
                </el-form-item>
              </el-col>
            </el-row>
          </el-form-item>
          <el-form-item label="Client Name">
            <el-select v-model="posSetting.customer_id" filterable placeholder="Select Client">
              <el-option
                v-for="(val, index) in clients"
                :key="index"
                :label="val.name"
                :value="val.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item label="Warehouse Name">
            <el-select v-model="posSetting.warehouse_id" filterable placeholder="Select Warehouse">
              <el-option
                v-for="(val, index) in warehouses"
                :key="index"
                :label="val.name"
                :value="val.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">Update</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
const posSettingResource = new Resource('pos-setting');
import Tinymce from '@/components/Tinymce';

export default {
  components: { Tinymce },
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      posSetting: {},
      warehouses: [],
      clients: [],
      paperSizes: [],
      vat_statuses: [
        { name: 'including_vat' },
        { name: 'excluding_vat' },
      ],
    };
  },
  created() {
    const id = 1;
    this.fetchData(id);
    this.getModelData();
  },

  methods: {
    async fetchData(id) {
      await posSettingResource
        .get(id)
        .then((response) => {
          this.posSetting = response.data;
        })
        .catch((err) => {
          console.log(err.message);
        });
    },
    async getModelData() {
      const models = [
        { name: 'warehouse', model: 'Warehouse' },
        { name: 'client', model: 'Client' },
        { name: 'printPaper', model: 'PrintPaperSize' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.warehouses = response.data[0].warehouse;
        this.clients = response.data[1].client;
        this.paperSizes = response.data[2].printPaper;
      });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    onSubmit() {
      this.updating = true;
      posSettingResource
        .update(this.posSetting.id, this.posSetting)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'Pos Setting has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error.message);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.unit-activity {
  .unit-block {
    .unitname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
</style>
