<template>
  <div class="app-container">
    <div class="filter-container" :loading="loading">
      <el-select
        id="primary_select_p_type"
        v-model="query.projectType"
        v-waves
        placeholder="Project Type"
        style="width: auto"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="projectType in projectTypes"
          :key="projectType.id"
          :label="projectType.name | uppercaseFirst"
          :value="projectType.id"
        />
      </el-select>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>

      <el-table
        v-loading="loading"
        :data="projects"
        border
        fit
        highlight-current-row
        style="width: 100%"
      >
        <el-table-column
          align="center"
          type="index"
        />
        <el-table-column
          sortable
          align="center"
          prop="site_code"
          label="Site Code"
        >
          <template slot-scope="scope">
            <span>{{ scope.row.site_code }}</span>
          </template>
        </el-table-column>
        <el-table-column
          sortable
          align="center"
          prop="location"
          label="Address"
        >
          <template slot-scope="scope">
            <span>{{ scope.row.location }}</span>
          </template>
        </el-table-column>
        <el-table-column
          sortable
          align="center"
          prop="start_date"
          label="Address"
        >
          <template slot-scope="scope">
            <span>{{ scope.row.start_date }}</span>
          </template>
        </el-table-column>
        <el-table-column
          align="center"
          label="Implementer"
        >
          <template>
            <span>Mithu</span>
          </template>
        </el-table-column>
        <el-table-column>
          <template slot-scope="scope">
            <stage-info :stages="scope.row.projectStages" />
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import waves from '@/directive/waves';
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import StageInfo from './components/stageInfo';
const projectTypeResource = new Resource('project-type');
const projectResource = new Resource('projects');
export default {
  directives: { permission, waves },
  components: { StageInfo },
  data() {
    return {
      projectTypes: null,
      projects: null,
      loading: false,
      downloading: false,
      query: {
        projectType: '',
      },
    };
  },
  created() {
    this.getTypeList();
  },
  methods: {
    async getTypeList() {
      this.loading = true;
      axios.get('/api/active/project-type').then(({ data }) => {
        console.log(data);
        this.projectTypes = data.data;
      });

      this.loading = false;
    },
    async getList() {
      this.loading = true;
      console.log(this.query);
      await projectResource
        .list(this.query)
        .then((response) => {
          const data = response.data;
          this.projects = data;
          console.log(this.projects);
        })
        .catch((error) => {
          console.log(error.response);
          this.$message({
            message: error.response.data.message,
            type: 'error',
            duration: 5 * 1000,
          });
        });
      this.loading = false;
    },
    handleFilter() {
      this.getList();
    },
    async handleDownload() {},
  },
};
</script>

<style>
/* td.el-table_1_column_6 {
    display: none;
} */
</style>
