<template>
  <div class="app-container">
    <form-component mood="create" :group="newGroup" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
export default {
  name: 'GroupCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newGroup: {
        effect_gross_profit: 'No',
      },
    };
  },
  
};
</script>

<style>
</style>