<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="View" name="view">
        <form-component mood="view" :group="group" />
      </el-tab-pane>
      <el-tab-pane label="Edit" name="edit">
        <form-component mood="edit" :group="group" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const groupResource = new Resource('groups');
export default {
  components: { FormComponent },
  data(){
    return {
      group: {},
      activeName: 'view',
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id){
      await groupResource.get(id).then(({ data}) => {
        this.group = data;
        
      })
    },
    handleClick(){
      console.log('click');
    }
  }
}
</script>

<style>

</style>