<template>
  <div v-if="supplier.id">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <el-row :gutter="20">
      <el-col :span="6">
        <el-card>
          <div class="supplier-profile">
            <div class="supplier-avatar box-center">
              <img

                :src="imgURL + supplier.image"
                height="90px"
                width="90px"
              >
            </div>
            <div class="box-center">
              <div class="text-center supplier-name">
                {{ supplier.name }}
              </div>
              <div class="text-center supplier-role text-muted">
                {{ supplier.email }}
              </div>
              <div class="text-center supplier-role text-muted">
                {{ supplier.phone }}
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="18">
        <el-card>
          <el-tabs v-model="activeActivity" @tab-click="handleClick">
            <el-tab-pane id="view" v-loading="updating" label="View" name="first">
              <el-form>

                <el-form-item label="Company">
                  <el-input v-model="supplier.company" />
                </el-form-item>

                <el-form-item label="Name">
                  <el-input v-model="supplier.name" />
                </el-form-item>

                <el-form-item label="Email">
                  <el-input v-model="supplier.email" />
                </el-form-item>
                <el-form-item label="Phone">
                  <el-input v-model="supplier.phone" />
                </el-form-item>

                <el-form-item :label="$t('supplier.street')" prop="street">
                  <el-input v-model="supplier.street" />
                </el-form-item>
                <el-form-item :label="$t('supplier.country')" prop="country">
                  <el-select
                    v-model="country.name"
                    prop="country"
                  >
                    <option
                      :key="country.id"
                      :value="country.id"
                      :label="country.name"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.state')" prop="state">
                  <el-select
                    v-model="supplier.state"
                    placeholder="Please select State"
                  >
                    <el-option
                      v-for="state in states"
                      :key="state.id"
                      :value="state.id"
                      :label="state.name "
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.district')" prop="district">
                  <el-select
                    v-model="supplier.district"
                  >
                    <el-option
                      v-for="district in districts"
                      :key="district.id"
                      :value="district.id"
                      :label=" district.name"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.city')" prop="city">
                  <el-select
                    v-model="supplier.city"
                    placeholder="Please select City"
                  >
                    <el-option
                      v-for="city in cities"
                      :key="city.id"
                      :value="city.id"
                      :label="city.name"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.zip_code')" prop="zip_code">
                  <el-input v-model="supplier.zip_code" />
                </el-form-item>

                <el-form-item :label="$t('supplier.image')" prop="image">
                  <input type="file" @change="imageChanged($event)">
                </el-form-item>
                <el-form-item :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.image"
                    :src="imgURL + supplier.image"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>

                <el-form-item :label="$t('supplier.trade_licence')" prop="trade_licence">
                  <input type="file" @change="tradeLicenced($event)">
                </el-form-item>
                <el-form-item :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.trade_licence"
                    :src="imgURL + supplier.trade_licence"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >

                </el-form-item>

                <el-form-item :label="$t('supplier.TIN')" prop="TIN">
                  <input type="file" @change="tinChanged($event)">
                </el-form-item>
                <el-form-item :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.TIN"
                    :src="imgURL + supplier.TIN"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>

                <el-form-item :label="$t('supplier.BIN')" prop="BIN">
                  <input type="file" @change="binChanged($event)">
                </el-form-item>
                <el-form-item :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.BIN"
                    :src="imgURL + supplier.BIN"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>

                <el-form-item :label="$t('supplier.NID')" prop="NID">
                  <input type="file" @change="nidChanged($event)">
                </el-form-item>
                <el-form-item :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.NID"
                    :src="imgURL + supplier.NID"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>

              </el-form>
            </el-tab-pane>
            <el-tab-pane v-loading="updating" label="Edit" name="second">
              <el-form>

                <el-form-item label="Company">
                  <el-input v-model="supplier.company" />
                </el-form-item>

                <el-form-item label="Name">
                  <el-input v-model="supplier.name" />
                </el-form-item>

                <el-form-item label="Email">
                  <el-input v-model="supplier.email" />
                </el-form-item>
                <el-form-item label="Phone">
                  <el-input v-model="supplier.phone" />
                </el-form-item>

                <el-form-item :label="$t('supplier.street')" prop="street">
                  <el-input v-model="supplier.street" />
                </el-form-item>

                <el-form-item :label="$t('supplier.state')" prop="state">
                  <el-select
                    v-model="supplier.state"
                    placeholder="Please select State"
                    @change="getDistrict(supplier.state)"
                  >
                    <el-option
                      v-for="state in states"
                      :key="state.id"
                      :value="state.id"
                      :label="state.name"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.district')" prop="district">
                  <el-select
                    v-model="supplier.district"
                    @change="getCities(supplier.district)"
                  >
                    <el-option
                      v-for="district in districts"
                      :key="district.id"
                      :value="district.id"
                      :label="district.name"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.city')" prop="city">
                  <el-select
                    v-model="supplier.city"
                    placeholder="Please select City"
                  >
                    <el-option
                      v-for="city in cities"
                      :key="city.id"
                      :value="city.id"
                      :label="city.name"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item :label="$t('supplier.zip_code')" prop="zip_code">
                  <el-input v-model="supplier.zip_code" />
                </el-form-item>

                <el-form-item :label="$t('supplier.image')" prop="image">
                  <input type="file" @change="imageChanged($event)">
                </el-form-item>
                <el-form-item v-if="!imgurl" :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.image"
                    :src="imgURL + supplier.image"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>
                <el-form-item v-if="imgurl" class="preview" :label="$t('supplier.selected_image')">
                  <img :src="imgurl">
                </el-form-item>

                <el-form-item :label="$t('supplier.trade_licence')" prop="trade_licence">
                  <input type="file" @change="tradeLicenced($event)">
                </el-form-item>
                <el-form-item v-if="!tradeurl" :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.trade_licence"
                    :src="imgURL + supplier.trade_licence"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>
                <el-form-item v-if="tradeurl" class="preview" :label="$t('supplier.selected_image')">
                  <img :src="tradeurl">
                </el-form-item>

                <el-form-item :label="$t('supplier.TIN')" prop="TIN">
                  <input type="file" @change="tinChanged($event)">
                </el-form-item>
                <el-form-item v-if="!tinurl" :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.TIN"
                    :src="imgURL + supplier.TIN"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>
                <el-form-item v-if="tinurl" class="preview" :label="$t('supplier.selected_image')">
                  <img :src="tinurl">
                </el-form-item>

                <el-form-item :label="$t('supplier.BIN')" prop="BIN">
                  <input type="file" @change="binChanged($event)">
                </el-form-item>
                <el-form-item v-if="!binurl" :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.BIN"
                    :src="imgURL + supplier.BIN"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >

                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>
                <el-form-item v-if="binurl" class="preview" :label="$t('supplier.selected_image')">
                  <img :src="binurl">
                </el-form-item>

                <el-form-item :label="$t('supplier.NID')" prop="NID">
                  <input type="file" @change="nidChanged($event)">
                </el-form-item>
                <el-form-item v-if="!nidurl" :label="$t('supplier.selected_image')">
                  <img
                    v-if="supplier.NID"
                    :src="imgURL + supplier.NID"
                    height="200px"
                    width="200px"
                    @click="copySRC"
                  >
                  <img
                    v-else
                    height="200px"
                    width="200px"
                    src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                  >
                </el-form-item>
                <el-form-item v-if="nidurl" class="preview" :label="$t('supplier.selected_image')">
                  <img :src="nidurl">
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="onSubmit"> Update </el-button>
                </el-form-item>
              </el-form>
            </el-tab-pane>
          </el-tabs>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>

import axios from 'axios';
import { fetchSupplier } from '@/api/supplier';
import Resource from '@/api/resource';
const supplierResource = new Resource('suppliers');
import PanThumb from '@/components/PanThumb';

export default {
  components: { PanThumb },

  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      activeActivity: 'first',
      updating: false,
      countries: [],
      states: [],
      districts: [],
      newsupplierImage: '',
      supplier: {},
      image: '',
      trade_licence: '',
      NID: '',
      TIN: '',
      BIN: '',
      cities: {},
      country: {
        'name': 'Bangladesh',
      },
      imgurl: null,
      tradeurl: null,
      binurl: null,
      tinurl: null,
      nidurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
    };
  },
  watch: {
    supplier: function(nv, ov) {
      this.getState(this.supplier.country);
      this.getDistrict(this.supplier.state);
      this.getCities(this.supplier.district);
    },
  },
  created() {
    // this.getCountries();
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    fetchData(id) {
      fetchSupplier(id)
        .then(response => {
          this.supplier = response.data;
        })
        .catch(err => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    getCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getState(cid) {
      const country_id = cid;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getDistrict(sid) {
      const state_id = sid;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },
    getCurrentImage(img) {
      return 'images/supplier/' + img;
    },

    getNidImage(event){
      this.supplier.NID = event;
    },
    getLicenceImage(event){
      this.supplier.Licence = event;
    },
    getBinImage(event){
      this.supplier.BIN = event;
    },
    getTinImage(event){
      this.supplier.TIN = event;
    },

    imageChanged(e){
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      console.log(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/suppliers/get-image', data).then(res => {
        this.image = res.data.imageName;
      });
    },

    tradeLicenced(e) {
      const trade_licence = e.target.files[0];
      this.tradeurl = URL.createObjectURL(trade_licence);
      const data = new FormData();
      data.append('photo', trade_licence);
      axios.post('/api/suppliers/trade-licence', data).then(res => {
        this.trade_licence = res.data.tradeLicence;
      });
    },

    tinChanged(e) {
      const TIN = e.target.files[0];
      this.tinurl = URL.createObjectURL(TIN);
      const data = new FormData();
      data.append('photo', TIN);
      axios.post('/api/suppliers/tin', data).then(res => {
        this.TIN = res.data.tin;
      });
    },

    binChanged(e) {
      const BIN = e.target.files[0];
      this.binurl = URL.createObjectURL(BIN);
      const data = new FormData();
      data.append('photo', BIN);
      axios.post('/api/suppliers/bin', data).then(res => {
        this.BIN = res.data.bin;
      });
    },

    nidChanged(e) {
      const NID = e.target.files[0];
      this.nidurl = URL.createObjectURL(NID);
      const data = new FormData();
      data.append('photo', NID);
      axios.post('/api/suppliers/nid', data).then(res => {
        this.NID = res.data.nid;
      });
    },
    onSubmit() {
      this.supplier.image = this.image;
      this.supplier.NID = this.NID;
      this.supplier.trade_licence = this.trade_licence;
      this.supplier.TIN = this.TIN;
      this.supplier.BIN = this.BIN;
      this.updating = true;

      supplierResource
        .update(this.supplier.id, this.supplier)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'supplier information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.supplier-activity {
  .supplier-block {
    .suppliername,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .supplier-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
.supplier-profile {
  .supplier-name {
    font-weight: bold;
  }
  .box-center {
    padding-top: 10px;
  }
  .supplier-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  .box-social {
    padding-top: 30px;
    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }
  .supplier-follow {
    padding-top: 20px;
  }
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.supplier-avatar img {
   border-radius: 50%;
}

img {
  cursor: pointer;
}
</style>
