<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add subcontractor']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <!-- <el-table-column align="center" label="ID" :min-width="10" type="index">

      </el-table-column> -->
      <el-table-column align="center" label="Subcontractor ID">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="company" label="Company">
        <template slot-scope="scope">
          <span>{{ scope.row.company }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Email">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.phone }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Image">
        <template slot-scope="scope">
          <img
            v-if="scope.row.image"
            :src="imgURL+ scope.row.image"
            height="70px"
            width="70px"
            @click="copySRC"
          >
          <img
            v-else
            height="70px"
            width="70px"
            src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
          >
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="200">
        <template slot-scope="scope">
          <router-link :to="'/administrator/subcontractors/edit/' + scope.row.id">
            <el-button
              v-permission="['update subcontractor']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.is_active == 'active'"
            v-permission="['manage permission']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleEditInActive(scope.row.id)"
          >
            Block
          </el-button>
          <el-button
            v-if="scope.row.is_active == 'inactive'"
            v-permission="['manage permission']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleEditActive(scope.row.id)"
          >
            Unblock
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new subcontractor'" :visible.sync="dialogFormVisible">
      <div v-loading="subcontractorCreating" class="form-container">
        <el-form
          ref="subcontractorForm"
          :rules="rules"
          :model="newSubcontractor"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >

          <el-form-item :label="$t('subcontractor.company')" prop="company">
            <el-input v-model="newSubcontractor.company" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.name')" prop="name">
            <el-input v-model="newSubcontractor.name" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.email')" prop="email">
            <el-input v-model="newSubcontractor.email" />
          </el-form-item>
          <el-form-item :label="$t('subcontractor.phone')" prop="phone">
            <el-input v-model="newSubcontractor.phone" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.street')" prop="street">
            <el-input v-model="newSubcontractor.street" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.country')" prop="country">
            <el-select
              v-model="country.name"
              class="filter-item"
              placeholder="Please select Country"
            >
              <el-option
                :key="country.id"
                :label="country.name | uppercaseFirst"
                :value="country.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('subcontractor.state')" prop="state">
            <el-select
              v-model="newSubcontractor.state"
              class="filter-item"
              placeholder="Please select State"
              @change="getStates(newSubcontractor.state)"
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :label="state.name | uppercaseFirst"
                :value="state.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('subcontractor.district')" prop="district">
            <el-select
              v-model="newSubcontractor.district"
              class="filter-item"
              placeholder="Please select Dsitrict"
              @change="getDistrict(newSubcontractor.district)"
            >
              <el-option
                v-for="district in districts"
                :key="district.id"
                :label="district.name | uppercaseFirst"
                :value="district.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('subcontractor.city')" prop="city">
            <el-select
              v-model="newSubcontractor.city"
              placeholder="Please select City"
              @change="getCities(newSubcontractor.city)"
            >
              <el-option
                v-for="city in cities"
                :key="city.id"
                :value="city.id"
                :label="city.name"
              />
            </el-select>
          </el-form-item>

          <el-form-item :label="$t('subcontractor.zip_code')" prop="zip_code">
            <el-input v-model="newSubcontractor.zip_code" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="imgurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.trade_licence')" prop="trade_licence">
            <input type="file" @change="tradeLicenced($event)">
          </el-form-item>
          <el-form-item v-if="tradeurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="tradeurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.TIN')" prop="TIN">
            <input type="file" @change="tinChanged($event)">
          </el-form-item>
          <el-form-item v-if="tinurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="tinurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.BIN')" prop="BIN">
            <input type="file" @change="binChanged($event)">
          </el-form-item>
          <el-form-item v-if="binurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="binurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.NID')" prop="NID">
            <input type="file" @change="nidChanged($event)">
          </el-form-item>
          <el-form-item v-if="nidurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="nidurl">
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createSubcontractor()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>

    <!-- Start Subcontractor Bulk Editing  -->

    <el-dialog :title="'Edit Subcontractors'" :visible.sync="BulkDialogFormVisible">
      <div class="form-container">
        <el-form
          ref="BulkSubcontractorForm"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >

          <el-form-item label="Company">
            <el-input v-model="subcontractor.company" />
          </el-form-item>
          <el-form-item label="Name">
            <el-input v-model="subcontractor.name" />
          </el-form-item>

          <el-form-item label="Email">
            <el-input v-model="subcontractor.email" />
          </el-form-item>
          <el-form-item label="Phone">
            <el-input v-model="subcontractor.phone" />
          </el-form-item>
          <el-form-item :label="$t('subcontractor.street')" prop="street">
            <el-input v-model="subcontractor.street" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.state')" prop="state">
            <el-select
              v-model="subcontractor.state"
              class="filter-item el-select el-select--medium"
              @change="getDistrict(subcontractor.state)"
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :value="state.id"
                :label="state.name"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('subcontractor.district')" prop="district">
            <el-select
              v-model="subcontractor.district"
              @change="getCities(subcontractor.district)"
            >
              <el-option
                v-for="district in districts"
                :key="district.id"
                :value="district.id"
                :label="district.name"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('subcontractor.city')" prop="city">
            <el-select
              v-model="subcontractor.city"
              placeholder="Please select City"
            >
              <el-option
                v-for="city in cities"
                :key="city.id"
                :value="city.id"
                :label="city.name"
              />
            </el-select>
          </el-form-item>
          <el-form-item :label="$t('subcontractor.zip_code')" prop="zip_code">
            <el-input v-model="subcontractor.zip_code" />
          </el-form-item>

          <el-form-item :label="$t('subcontractor.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>
          <el-form-item v-if="!imgurl" :label="$t('subcontractor.selected_image')">
            <img
              v-if="subcontractor.image"
              :src="imgURL + subcontractor.image"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>

          <el-form-item v-if="imgurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="imgurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.trade_licence')" prop="trade_licence">
            <input type="file" @change="tradeLicenced($event)">
          </el-form-item>
          <el-form-item v-if="!tradeurl" :label="$t('subcontractor.selected_image')">
            <img
              v-if="subcontractor.trade_licence"
              :src="imgURL + subcontractor.trade_licence"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>

          <el-form-item v-if="tradeurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="tradeurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.TIN')" prop="TIN">
            <input type="file" @change="tinChanged($event)">
          </el-form-item>
          <el-form-item v-if="!tinurl" :label="$t('subcontractor.selected_image')">
            <img
              v-if="subcontractor.TIN"
              :src="imgURL + subcontractor.TIN"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>

          <el-form-item v-if="tinurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="tinurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.BIN')" prop="BIN">
            <input type="file" @change="binChanged($event)">
          </el-form-item>
          <el-form-item v-if="!binurl" :label="$t('subcontractor.selected_image')">
            <img
              v-if="subcontractor.BIN"
              :src="imgURL + subcontractor.BIN"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>

          <el-form-item v-if="binurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="binurl">
          </el-form-item>

          <el-form-item :label="$t('subcontractor.NID')" prop="NID">
            <input type="file" @change="nidChanged($event)">
          </el-form-item>
          <el-form-item v-if="!nidurl" :label="$t('subcontractor.selected_image')">
            <img
              v-if="subcontractor.NID"
              :src="imgURL + subcontractor.NID"
              height="200px"
              width="200px"
              @click="copySRC"
            >
            <img
              v-else
              height="200px"
              width="200px"
              src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
            >
          </el-form-item>

          <el-form-item v-if="nidurl" class="preview" :label="$t('subcontractor.selected_image')">
            <img :src="nidurl">
          </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="BulkDialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="editSubcontractor()">
            {{ $t('table.update') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const subcontractorResource = new Resource('subcontractors');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination

import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import { inActive, active } from '@/api/subcontractor';

export default {
  name: 'SubcontractorList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      imgurl: null,
      tradeurl: null,
      tinurl: null,
      binurl: null,
      nidurl: null,
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      subcontractorCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newSubcontractor: {},
      newSubcontractorImage: '',
      dialogFormVisible: false,
      BulkDialogFormVisible: false,
      subcontractor: {},
      countries: [],
      country: {
        'name': 'Bangladesh',
      },
      states: [],
      districts: [],
      cities: [],
      image: '',
      NID: '',
      TIN: '',
      BIN: '',
      trade_licence: '',
      sIds: [],
      rules: {
        company: [
          { required: true, message: 'Company is required', trigger: 'blur' },
        ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
        email: [
          { required: true, message: 'Email is required', trigger: 'blur' },
          {
            type: 'email',
            message: 'Please input correct email address',
            trigger: ['blur', 'change'],
          },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getState();
  },
  methods: {

    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    // getCountries() {
    //   axios.get('/api/countries').then(({ data }) => {
    //     this.countries = data.countries;
    //   });
    // },
    // getState() {
    //   const country_id = 19;
    //   axios.get('/api/states/' + country_id).then(({ data }) => {
    //     this.states = data.states;
    //   });
    // },
    // getDistrict(sid) {
    //   const state_id = this.newSubcontractor.state;
    //   axios.get('/api/districts/' + state_id).then(({ data }) => {
    //     this.districts = data.districts;
    //   });
    // },
    // getCities(did) {
    //   const district_id = did;
    //   axios.get('/api/cities/' + district_id).then(({ data }) => {
    //     this.cities = data.cities;
    //   });
    // },

    getCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.countries;
      });
    },
    getState(cid) {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getDistrict(sid) {
      const state_id = sid;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },

    async getList() {
      this.loading = true;
      const response = await subcontractorResource.list({});
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewSubcontractor();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['subcontractorForm'].clearValidate();
      });
    },

    handleEditInActive(id, name) {
      this.$confirm(
        'Do you want to block subcontractor ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          inActive(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Blocked',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Block canceled',
          });
        });
    },
    handleEditActive(id, name) {
      this.$confirm(
        'Do you want to Unblock subcontractor ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          active(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unblocked',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unblocked canceled',
          });
        });
    },
    imageChanged(e){
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/subcontractors/get-image', data).then(res => {
        this.image = res.data.imageName;
        // console.log(this.image);
      });
    },

    tradeLicenced(e) {
      const trade_licence = e.target.files[0];
      this.tradeurl = URL.createObjectURL(trade_licence);
      const data = new FormData();
      data.append('photo', trade_licence);
      axios.post('/api/subcontractors/trade-licence', data).then(res => {
        this.trade_licence = res.data.tradeLicence;
      });
    },

    tinChanged(e) {
      const TIN = e.target.files[0];
      this.tinurl = URL.createObjectURL(TIN);
      const data = new FormData();
      data.append('photo', TIN);
      axios.post('/api/subcontractors/tin', data).then(res => {
        this.TIN = res.data.tin;
      });
    },

    binChanged(e) {
      const BIN = e.target.files[0];
      this.binurl = URL.createObjectURL(BIN);
      const data = new FormData();
      data.append('photo', BIN);
      axios.post('/api/subcontractors/bin', data).then(res => {
        this.BIN = res.data.bin;
      });
    },

    nidChanged(e) {
      const NID = e.target.files[0];
      this.nidurl = URL.createObjectURL(NID);
      const data = new FormData();
      data.append('photo', NID);
      axios.post('/api/subcontractors/nid', data).then(res => {
        this.NID = res.data.nid;
      });
    },
    createSubcontractor() {
      this.$refs['subcontractorForm'].validate((valid) => {
        if (valid) {
          this.newSubcontractor.image = this.image;
          this.newSubcontractor.NID = this.NID;
          this.newSubcontractor.trade_licence = this.trade_licence;
          this.newSubcontractor.TIN = this.TIN;
          this.newSubcontractor.BIN = this.BIN;
          this.newSubcontractor.country = 19;
          this.subcontractorCreating = true;
          subcontractorResource
            .store(this.newSubcontractor)
            .then((response) => {
              this.$message({
                message:
                  'New subcontractor ' +
                  this.newSubcontractor.name +
                  '(' +
                  this.newSubcontractor.email +
                  ') has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewSubcontractor();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.subcontractorCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewSubcontractor() {
      this.newSubcontractor = {
        name: '',
        email: '',
        phone: '',
        country: '',
        state: '',
        district: '',
        city: '',
        zip_code: '',
        street: '',
        image: '',
        NID: '',
        trade_licence: '',
        TIN: '',
        BIN: '',
        company: '',
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['index', 'subcontractor_id', 'name', 'email', 'phone', 'company', 'country name', 'state name', 'district name', 'city', 'zip_code', 'street', 'status'];
        const filterVal = ['index', 'id', 'name', 'email', 'phone', 'company', 'country_name', 'state_name', 'district_name', 'city', 'zip_code', 'street', 'is_active'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'subcontractor-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },

    handleEdit() {
      this.BulkDialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['BulkSubcontractorForm'].clearValidate();
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

img {
  cursor: pointer;
}

#subcontractor-edit {
  margin: 10px 0px;
}

</style>
