<template>
  <div class="app-container">
    <form-component :milestone="newMilestone" mood="create" />
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue'; 
export default {
  components: {
    FormComponent
  },
  data(){
    return {
      newMilestone: {
        wbc: 1,
        wbcDatas: [{
          name: '',
          work_done: '',        
        }],
      },
    }
  }
}
</script>

<style>

</style>