<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <el-button
        v-permission="['add parent group']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >{{ $t('table.add') }}</el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >{{ $t('table.export') }}</el-button>
    </div>

    <el-table v-loading="loading" :data="list" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <!-- <router-link :to="'/accounts/parent-group/edit/' + scope.row.id"> -->
          <el-button
            v-permission="['update parent group']"
            type="primary"
            size="small"
            icon="el-icon-view"
            @click="handleEdit(scope.row.id)"
          >View</el-button>
          <!-- </router-link> -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new parent zone'" :visible.sync="dialogFormVisible">
      <div v-loading="zoneCreating" class="form-container">
        <el-form
          ref="zoneForm"
          :rules="rules"
          :model="newZone"
          label-position="left"
          label-width="150px"
          style="max-width: 100%"
        >
          <el-form-item label="Name" prop="name">
            <el-input v-model="newZone.name" placeholder="Enter zone name" />
          </el-form-item>

          <el-row :gutter="20" v-for="(milestone, index) in newZone.milestones" :key="index">
            <el-col :span="20">
              <zone-milestone-component :milestones="milestones" :milestone="milestone" />
            </el-col>
            <el-col :span="4">
              <span style="color: red; cursor:pointer" @click="remove(index, milestone.id)">X</span>
            </el-col>
          </el-row>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="addNew">Add</el-button>
          <el-button @click="cancel">{{ $t('table.cancel') }}</el-button>
          <el-button
            v-if="showCreateButton"
            type="primary"
            @click="createZone()"
          >{{ $t('table.confirm') }}</el-button>
          <el-button v-if="showUpdateButton" type="primary" @click="updateZone()">Update</el-button>
        </div>
      </div>
    </el-dialog>
    <a
      href="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/8.jpeg"
      target="_blank"
    >
      <img
        src="https://pps-demo.s3.ap-southeast-1.amazonaws.com/dashboard-image/8.jpeg"
        style="width: 50%; text-align:center; display: block; margin: 0 auto"
      />
    </a>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const zoneResource = new Resource('zones');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import ZoneMilestoneComponent from './components/ZoneMilestoneComponent.vue';
import axios from 'axios';

export default {
  name: 'ZoneList',
  components: { Pagination, ZoneMilestoneComponent },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      zoneCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newZone: {
        milestones: [
          {
            milestone_id: '',
            work_done: '',
          },
        ],
      },
      showCreateButton: false,
      showUpdateButton: false,
      dialogFormVisible: false,
      milestones: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList();
    this.getModelData();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await zoneResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    async getModelData() {
      const models = [{ name: 'milestone', model: 'Milestone' }];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.milestones = response.data[0].milestone;
      });
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewzone();
      this.dialogFormVisible = true;
      this.showCreateButton = true;
      this.$nextTick(() => {
        this.$refs['zoneForm'].clearValidate();
      });
    },
    addNew() {
      this.newZone.milestones.push({
        milestone_id: '',
        work_done: '',
      });
    },
    remove(index, id) {
      console.log(id);
      if (this.newZone.milestones.length > 1) {
        if (id === undefined) {
          this.newZone.milestones.splice(index, 1);
        } else {
          this.$confirm('Do you want to remove this milestone for this zone?', {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          })
            .then(() => {
              axios
                .delete('/api/delete-zone-milestone/' + id)
                .then((response) => {
                  this.newZone.milestones.splice(index, 1);
                  this.$message({
                    type: 'success',
                    message: 'Delete completed',
                  });
                })
                .catch((error) => {
                  this.$message({
                    type: 'error',
                    message: 'Delete Failed',
                  });
                });
            })
            .catch(() => {
              this.$message({
                type: 'info',
                message: 'Delete canceled',
              });
            });
        }
      }
    },
    cancel() {
      this.dialogFormVisible = false;
      this.showCreateButton = false;
      this.showUpdateButton = false;
    },
    createZone() {
      this.$refs['zoneForm'].validate((valid) => {
        if (valid) {
          this.zoneCreating = true;
          zoneResource
            .store(this.newZone)
            .then((response) => {
              this.$message({
                message: 'New parent group has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewZone();
              this.dialogFormVisible = false;
              this.showCreateButton = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.zoneCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewZone() {
      this.newZone = {
        name: '',
      };
    },
    handleEdit(id) {
      this.$nextTick(() => {
        this.getZone(id);
      });
      this.dialogFormVisible = true;
      this.showUpdateButton = true;
    },
    async getZone(id) {
      await zoneResource.get(id).then(({ data }) => {
        this.newZone = data;
      });
    },
    updateZone() {
      this.$refs['zoneForm'].validate((valid) => {
        if (valid) {
          this.zoneCreating = true;
          zoneResource
            .update(this.newZone.id, this.newZone)
            .then((response) => {
              this.$message({
                message: 'New parent group has been updated successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.zoneCreating = false;
              this.showUpdateButton = false;
              this.handleFilter();
            })
            .catch((error) => {
              this.zoneCreating = false;
              console.log(error);
            })
            .finally(() => {
              this.dialogFormVisible = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name'];
        const filterVal = ['id', 'name'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'zone-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
