<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add default group']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="parent_group_id" label="Parent Name">
        <template slot-scope="scope">
          <span v-if="scope.row.parent">{{ scope.row.parent.name}}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="100">
        <template slot-scope="scope">
            <el-button
              v-permission="['update default group']"
              type="primary"
              size="small"
              icon="el-icon-view"
              @click="handleEdit(scope.row.id)"
            >
              Edit
            </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new default group'" :visible.sync="dialogFormVisible">
      <div v-loading="defaultGroupCreating" class="form-container">
        <el-form
          ref="defaultGroupForm"
          :rules="rules"
          :model="newDefaultGroup"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item label="Name" prop="name">
            <el-input v-model="newDefaultGroup.name"  placeholder="Enter Name"/>
          </el-form-item>
          <el-form-item label="Parent Name" prop="parent_group_id">
            <el-select v-model="newDefaultGroup.parent_group_id" placeholder="Select Parent Group">
              <el-option
                v-for="item in parents"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
          
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createDefaultGroup()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
    <el-dialog :title="'Edit default group'" :visible.sync="dialogEditFormVisible">
      <div v-loading="defaultGroupCreating" class="form-container">
        <el-form
          ref="defaultGroupEditForm"
          :rules="rules"
          :model="editDefaultGroup"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
        
          <el-form-item label="Name" prop="name">
            <el-input v-model="editDefaultGroup.name" />
          </el-form-item>
          <el-form-item label="Parent Name" prop="parent_group_id">
            <el-select v-model="editDefaultGroup.parent_group_id" placeholder="Select Parent Group">
              <el-option
                v-for="item in parents"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogEditFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="updateDefaultGroup()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const defaultGroupResource = new Resource('default-group');
const parentGroupResource = new Resource('parent-group');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'DefaultGroupList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      defaultGroupCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newDefaultGroup: {},
      editDefaultGroup: {
        name: '',
      },
      dialogFormVisible: false,
      dialogEditFormVisible: false,
      parents: [],
      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
      editRules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      }
    };
  },
  created() {
    this.getList();
    this.getParentGroup();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await defaultGroupResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    async getParentGroup(){
      let parentResponse = await parentGroupResource.list();
      this.parents = parentResponse.data;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewDefaultGroup();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['defaultGroupForm'].clearValidate();
      });
    },
    
    createDefaultGroup() {
      this.$refs['defaultGroupForm'].validate(valid => {
        if (valid) {
          this.defaultGroupCreating = true;
          defaultGroupResource
            .store(this.newDefaultGroup)
            .then(response => {
              this.$message({
                message:
                  'New default group has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewDefaultGroup();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            })
            .finally(() => {
              this.defaultGroupCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewDefaultGroup() {
      this.newDefaultGroup = {
        name: '',
      };
    },
    handleEdit(id) {
      this.$nextTick(() => {
        this.getDefaultGroup(id);
      });
      this.dialogEditFormVisible = true;
      
    },
    async getDefaultGroup(id){
      await defaultGroupResource.get(id).then(({ data }) => {
        this.editDefaultGroup = data;
      })
    },
    updateDefaultGroup() {
      // console.log(this.$refs['defaultGroupEditForm']);
      this.$refs['defaultGroupEditForm'].validate(valid => {
        if (valid) {
          this.defaultGroupCreating = true;
          defaultGroupResource
            .update(this.editDefaultGroup.id, this.editDefaultGroup)
            .then(response => {
              this.$message({
                message:
                  'New default group has been updated successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.defaultGroupCreating = false;
              this.handleFilter();
            })
            .catch(error => {
              this.defaultGroupCreating = false;
              console.log(error);
            })
            .finally(() => {
              this.dialogEditFormVisible = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name' ];
        const filterVal = ['id', 'name'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'defaultGroup-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
