<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add product']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" :min-width="5" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="category_id" label="Category" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.category_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="brand_id" label="Brand" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.brand_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Unit" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.unit_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Code" min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="SKU" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.sku }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Purchase Price" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.purchase_price }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="price" label="Sale Price" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.price }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Discount Price" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.discount_price }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Image" :min-width="20">
        <template slot-scope="scope">
          <img
            :src="imgURL+ scope.row.image"
            height="70px"
            width="70px"
            @click="copySRC"
          >
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" :width="200">
        <template slot-scope="scope">
          <router-link :to="'/inventory/products/edit/' + scope.row.id">
            <el-button
              v-permission="['update product']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.status == '0'"
            v-permission="['manage product']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleMute(scope.row.id)"
          >
            Mute
          </el-button>
          <el-button
            v-if="scope.row.status == '1'"
            v-permission="['manage product']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleUnmute(scope.row.id)"
          >
            Unmute
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new product'" :visible.sync="dialogFormVisible">
      <form-component :product="newProduct" :dialogFormVisible="dialogFormVisible" @handleFilter="handleFilter" @closeModal="closeModal" />
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const productResource = new Resource('products');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import { mute, unmute } from '@/api/product';
import FormComponent from './components/FormComponent';
export default {
  name: 'ProductList',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgurl: '',
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      list: null,
      image: '',
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      values: {},
      newProduct: {
        name: '',
        category_id: '',
        brand_id: '',
        unit_id: '',
        code: '',
        price: '',
        description: '',
      },
      newProductImage: '',
      dialogFormVisible: false,
    };
  },

  created() {
    this.getList();
  },
  methods: {

    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    async getList() {
      this.loading = true;
      const response = await productResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewProduct();
      this.dialogFormVisible = true;
      // this.$nextTick(() => {
      //   this.$refs['productForm'].clearValidate();
      // });
    },
    closeModal() {
      this.dialogFormVisible = false;
    },
    handleMute(id, name) {
      this.$confirm(
        'Do you want to mute product ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          mute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Muted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          this.$message({
            type: 'info',
            message: 'mute canceled',
          });
          console.log(error);
        });
    },
    handleUnmute(id, name) {
      this.$confirm(
        'Do you want to unmute product ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          unmute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unmuted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unmuted canceled',
          });
        });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'brand name', 'category name', 'unit name', 'sku', 'cost', 'price', 'promotion_price', 'status', 'alert quantity', 'description'];
        const filterVal = ['id', 'name', 'code', 'brand_name', 'category_name', 'unit_name', 'sku', 'cost', 'price', 'promotion_price', 'status', 'alert_quantity', 'description'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'product-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
img {
  cursor: pointer;
}
</style>

