<template>
  <div class="app-container">
    <form-component
      @loadForm="loadForm"
      mood="create"
      :clients="clients"
      :requisitions="requisitions"
      :dirasa="newDirasa"
      :projectTypes="projectTypes"
      :subcontractors="subcontractors"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const subcontractorResource = new Resource('subcontractors');
const clientResource = new Resource('clients');
const requisitionResource = new Resource('project-requisition');
const projectTypeResource = new Resource('project-type');
import FormComponent from './components/FormComponent.vue';
export default {
  components: { FormComponent },
  data() {
    return {
      projectTypes: [],
      subcontractors: [],
      clients: [],
      requisitions: [],
      newDirasa: {
        pdc_number: '',
      },
      SlNo: '',
    };
  },
  created() {
    this.getData();
    this.getItemLastId();
  },
  methods: {
    async getData() {
      const models = [
        { name: 'projectTypes', model: 'ProjectType' },
        { name: 'requisitions', model: 'ProjectRequisition' },
        { name: 'subcontractor', model: 'Subcontractor' },
        { name: 'client', model: 'Client' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.projectTypes = response.data[0].projectTypes;
        this.requisitions = response.data[1].requisitions;
        this.subcontractors = response.data[2].subcontractor;
        this.clients = response.data[3].client;
      });
    },
    async getItemLastId() {
      await axios.get('/api/get-table-last-id/ProjectDirasa').then((res) => {
        this.SlNo = res.data + 1;
        this.newDirasa.pdc_number = 'PDC-' + this.SlNo;
      });
    },
    loadForm() {
      this.getItemLastId();
    },
  },
};
</script>

<style>
</style>