<template>
  <div class="app-container">
    <div class="filter-container">
      <!-- <el-select v-model="query.keyword" placeholder="Select" @change="handleFilter">
        <el-option
          v-for="item in clients"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select> -->
      <!-- <router-link to="/inventory/quotation/create">
        <el-button
          v-permission="['add client price list']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-plus"
        >
          {{ $t('table.add') }}
        </el-button>
      </router-link> -->
      <!-- <router-link to="/inventory/warehouse-inventory/pending-list">
        <el-button
          v-permission="['add client price list']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
        >
          View Pending List
        </el-button>
      </router-link> -->
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />
      <el-table-column align="center" sortable prop="product_id" label="Product Name">
        <template slot-scope="scope">
          <span>{{ scope.row.product.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="code" label="Product Code">
        <template slot-scope="scope">
          <span>{{ scope.row.product.code }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="warehouse_id" label="Warehouse Name">
        <template slot-scope="scope">
          <span>{{ scope.row.warehouse.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="quantity" label="Quantity">
        <template slot-scope="scope">
          <span>{{ scope.row.quantity }}</span>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const warehouseInventoryResource = new Resource('warehouse-inventory');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'WarehouseInventoryList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      dialogFormVisible: false,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await warehouseInventoryResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
      console.log(this.list);
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'product_id', 'warehouse_id', 'quantity'];
        const filterVal = ['id', 'product_id', 'warehouse_id', 'quantity'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'warehouse-inventory-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-select.el-select--medium {
     width: auto !important;
}
</style>
