<template>
  <div class="app-container">
    <div class="filter-container">
      <!-- <el-select v-model="query.keyword" placeholder="Select" @change="handleFilter">
        <el-option
          v-for="item in clients"
          :key="item.id"
          :label="item.name"
          :value="item.id"
        />
      </el-select> -->
      <!-- <router-link to="/inventory/quotation/create">
        <el-button
          v-permission="['add client price list']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-plus"
        >
          {{ $t('table.add') }}
        </el-button>
      </router-link> -->
      <!-- <router-link to="/inventory/warehouse-inventory/pending-list">
        <el-button
          v-permission="['add client price list']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
        >
          View Pending List
        </el-button>
      </router-link> -->
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Warehouse Name</th>
          <th>Purchase Date</th>
          <th>Product Info</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody v-for="(item, index) in list" :key="index">
        <!-- {{ item }} -->
        <tr>
          <td data-column="Warehouse">{{ item.warehouse }}</td>
          <td data-column="Purchase Date">{{ item.entry_date }}</td>
          <td data-column="Product Info">
            <table>
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Product Code</th>
                  <th>Product Quantity</th>
                  <th>Due Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(pItem, idx) in item.purchaseItems" v-show="pItem.quantity != pItem.received_quantity" :key="idx">
                  <td data-column="Product Name">{{ pItem.product.name }}</td>
                  <td data-column="Product Code">{{ pItem.product.code }}</td>
                  <td data-column="Product Quantity">{{ pItem.quantity }}</td>
                  <td data-column="Due Quantity">{{ pItem.quantity - pItem.received_quantity }}</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td data-column="Twitter">
            <router-link :to="'/inventory/receive-product/' + item.id">
              <el-button type="primary">Receive</el-button>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

  </div>
</template>

<script>
import Resource from '@/api/resource';
const purchaseResource = new Resource('purchases');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'WarehouseInventoryPendingList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      dialogFormVisible: false,
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await purchaseResource.list(this.query);
      this.list = response.data.filter((d) => d.status != 'received');
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'product_id', 'warehouse_id', 'quantity'];
        const filterVal = ['id', 'product_id', 'warehouse_id', 'quantity'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'warehouse-inventory-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-select.el-select--medium {
  width: auto !important;
}
table {
  width: 750px;
  border-collapse: collapse;
  margin: 0px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #918d8d;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
</style>
