<template>
  <el-card>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Code</th>
          <th>Product Quantity</th>
          <th>Received Quantity</th>
          <th>Due Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(pItem, idx) in purchase.purchaseItems" :key="idx">
          <td data-column="First Name">{{ pItem.product.name }}</td>
          <td data-column="Last Name">{{ pItem.product.code }}</td>
          <td data-column="Last Name">{{ pItem.quantity }}</td>
          <td data-column="Job Title">
            <el-form
              ref="Receiveform"
              :model="pItem"
              :rules="rules"
              label-width="120px"
            >
              <el-form-item prop="received_quantity">
                <el-input
                  v-model="pItem.received_quantity"
                  placeholder="Please input"
                />
              </el-form-item>
            </el-form>
          </td>
          <td data-column="Job Title">
            {{ pItem.quantity - pItem.received_quantity }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="btn">
      <el-button type="primary" @click="handleReceive">Receive</el-button>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
const purchaseResource = new Resource('purchases');
const purchaseItemResource = new Resource('purchase-item');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';

export default {
  name: 'WarehouseInventoryReceiveProduct',
  components: { Pagination },
  directives: { waves, permission },
  data(){
    return {
      purchase: [],
      rules: {
        received_quantity: [
          { required: true, message: 'Received quantity is required', trigger: 'blur' },
        ],
      },
    };
  },
  created(){
    const id = this.$route.params && this.$route.params.id;
    this.getData(id);
  },
  methods: {
    getData(id){
      purchaseResource.get(id).then(({ data }) => {
        this.purchase = data;
      });
    },
    handleReceive(){
      this.$refs['Receiveform'][0].validate((valid) => {
        if (valid) {
          axios.put('/api/purchase/receive/' + this.purchase.id, this.purchase).then(res => {
            this.getData(this.purchase.id);
            this.$message({
              message: 'Product Received successfully.',
              type: 'success',
            });
          }).catch(error => {
            console.log(error.message);
          });
        }
      });
    },
  },
};
</script>

<style>
.btn {
  margin: 10px;
  display: flex;
  justify-content: center;
}
table {
  width: 750px;
  border-collapse: collapse;
  margin: 0px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #918d8d;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
    width: 100%;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    /* Label the data */
    content: attr(data-column);

    color: #000;
    font-weight: bold;
  }
}
</style>
