<template>
  <div v-loading="journalCreating" class="form-container">
    <el-form
      ref="journalForm"
      :rules="rules"
      :model="journal"
      label-position="left"
      label-width="150px"
    >
      <h3 style="text-align:center">Create New Journal</h3>
      <el-row :gutter="20">
        <el-col :span="8" :offset="8" class="inline">
          <div class="grid-content">
            <el-form-item label="Voucher Number" prop="voucher_no">
              <!-- <p v-if="journal.voucher_no">{{ journal.voucher_no }}</p> -->
              <el-input placeholder="Voucher Number" v-model="journal.voucher_no" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="8" :offset="8" class="inline">
          <div class="grid-content">
            <el-form-item label="Date" prop="trans_date">
              <p v-if="mood === 'view'">{{ journal.trans_date }}</p>
              <el-date-picker
                v-else
                v-model="journal.trans_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="8" :offset="8" class="inline">
          <div class="grid-content">
            <el-form-item label="Branch Name" prop="branch_name">
              <p v-if="mood === 'view'">{{ journal.branch_name }}</p>
              <el-input placeholder="Type Name" v-else v-model="journal.branch_name" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="24">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th width="100">Type</th>
                <th width="500">Particulars</th>
                <th width="200">Debit</th>
                <th width="200">Credit</th>
                <th width="80">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(itemRow, index) in journal.ItemRows">
                <journal-item-component
                  @checkCostCenter="checkCostCenter"
                  @getDeleteItemsId="getDeleteItemsId"
                  :ItemRows="journal.ItemRows"
                  :itemRow="itemRow"
                  :key="index"
                  :index="index"
                />
              </template>
            </tbody>
          </table>
        </el-col>
        <el-col :span="24">
          <el-form-item label="Narration" prop="narration">
            <p v-if="mood === 'view'">{{ journal.narration }}</p>
            <el-input
              type="textarea"
              :rows="2"
              placeholder="Type Name"
              v-else
              v-model="journal.narration"
            />
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- Cost center modal -->
    <el-dialog
      title="Cost Center"
      width="60%"
      :before-close="handleClose"
      :visible.sync="dialogFormVisible"
    >
      <template v-for="(costCenter, index) in itemRow.costCenters">
        <el-form :key="index" :model="costCenter" :rules="costCenterRules" ref="costCenterRuleForm">
          <journal-item-cost-center-component
            :costCenters="itemRow.costCenters"
            :amount="itemRow.debit_amount === 0? itemRow.credit_amount: itemRow.debit_amount"
            :projectTypes="projectTypes"
            :costCenter="costCenter"
            :index="index"
          />
        </el-form>
      </template>
      <el-button type="primary" @click="confirmModal">Confirm</el-button>
      <el-button type="primary" @click="skipModal">Skip</el-button>
    </el-dialog>

    <div slot="footer" class="dialog-footer">
      <el-button
        type="primary"
        v-if="mood === 'create'"
        @click="checkValidation"
      >{{ $t('table.confirm') }}</el-button>
      <el-button type="primary" v-if="mood === 'edit'" @click="checkValidation">Update</el-button>
    </div>
  </div>
</template>

<script>
import JournalItemComponent from './JournalItemComponent.vue';
import JournalItemCostCenterComponent from './JournalItemCostCenterComponent.vue';
import Resource from '@/api/resource';
const journalResource = new Resource('journals');
import { getItemLastId } from '@/utils/helper.js';
import { getCurrentDate } from '@/utils/helper.js';
export default {
  props: ['journal', 'mood', 'projectTypes'],
  components: { JournalItemComponent, JournalItemCostCenterComponent },
  data() {
    return {
      journalCreating: false,
      rules: {
        // ledger_name: [
        //   { required: true, message: 'Please select ledger name', trigger: 'blur' }
        // ],
      },
      costCenterRules: {
        project_type_id: [
          {
            required: true,
            message: 'Please select project type',
            trigger: 'change',
          },
        ],
        site_code: [
          {
            required: true,
            message: 'Please select project site code',
            trigger: 'blur',
          },
        ],
      },
      dialogFormVisible: false,
      itemRow: {},
      SlNo: '',
      index: 0,
      deleteItemsID: [],
    };
  },
  mounted() {},
  methods: {
    checkCostCenter(item) {
      if (item.cost_center === 1) {
        this.itemRow = item;
        this.dialogFormVisible = true;
        if (item.costCenters.length === 0) {
          item.costCenters = [
            {
              project_type_id: '',
              project_id: '',
              amount: 0,
            },
          ];
        }
        if (item.costCenters[0].amount === 0) {
          item.costCenters[0].amount =
            item.credit_amount === 0 ? item.debit_amount : item.credit_amount;
        }
      }
    },
    handleClose(done) {
      this.dialogFormVisible = true;
    },
    skipModal() {
      this.dialogFormVisible = false;
    },
    confirmModal() {
      this.itemRow.costCenters.forEach((element, index) => {
        this.$refs['costCenterRuleForm'][index].validate((valid) => {
          if (valid) {
            this.dialogFormVisible = false;
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      });
    },
    checkValidation() {
      let totalDebit = 0;
      let totalCredit = 0;
      let valid = true;
      this.journal.ItemRows.forEach((item) => {
        totalDebit += parseFloat(item.debit_amount);
        totalCredit += parseFloat(item.credit_amount);
        if (item.ledger_name === '') {
          this.$message.error('Please insert all item Particulars.');
          valid = false;
        }
      });
      if (valid === true) {
        if (totalDebit === totalCredit) {
          this.journal.net_amount = totalDebit;
          if (this.journal.net_amount > 0) {
            if (this.mood === 'create') {
              this.createJournal();
            } else if (this.mood === 'edit') {
              this.updateJournal();
            }
          } else {
            this.$message.error('Please insert all item Particulars.');
          }
        } else {
          this.$message.error('Debit amount and Credit amount miss-matched.');
        }
      } else {
        this.$message.error('Please insert all item Particulars.');
      }
    },

    createJournal() {
      journalResource
        .store(this.journal)
        .then((res) => {
          this.resetJournalForm();
          this.$message({
            message: 'Journal Has been created successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    getDeleteItemsId(id) {
      this.deleteItemsID.push(id);
    },
    updateJournal() {
      if (this.deleteItemsID.length > 0) {
        this.deleteItemsID.forEach((id) => {
          axios.delete('/api/delete-journal-item/' + id).then((res) => {
          }).catch(error => {
            console.log(error.message);
          });
        });
      }
      journalResource
        .update(this.journal.id, this.journal)
        .then((res) => {
          this.$router.push('/accounts/journals/list');
          this.$message({
            message: 'Journal Has been updated successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    async resetJournalForm() {
      let voucher_no = '';
      await getItemLastId('Journal').then((res) => {
        voucher_no = 'JV#' + res;
      });
      this.journal = {
        narration: '',
        branch_name: 'Dream Structure',
        trans_date: getCurrentDate(),
        voucher_no: voucher_no,
        ItemRows: [
          {
            type: 'Dr',
            particulars: '',
            debit_amount: 0,
            credit_amount: 0,
            costCenters: [
              {
                project_type_id: '',
                project_id: '',
                amount: 0,
              },
            ],
          },
        ],
      };
    },
  },
};
</script>

<style scoped>
.inline .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
.el-dialog {
  width: 70% !important;
}
</style>