<template>
  <tr>
    <td>
      <el-form-item prop="type">
        <el-select
          @change="handleType(itemRow.type)"
          v-model="itemRow.type"
          placeholder="Select Group"
        >
          <el-option v-for="item in types" :key="item.name" :label="item.name" :value="item.name"></el-option>
        </el-select>
      </el-form-item>
    </td>
    <td>
      <template>
        <el-form-item prop="ledger_name">
          <el-autocomplete
            v-model="itemRow.ledger_name"
            class="inline-input"
            :fetch-suggestions="querySearch"
            placeholder="Please Input"
            :trigger-on-focus="true"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.name }}</div>
            </template>
          </el-autocomplete>
        </el-form-item>
      </template>
    </td>
    <td>
      <el-form-item prop="debit">
        <el-input
          @blur="forceForCredit(itemRow.debit_amount)"
          v-model="itemRow.debit_amount"
          placeholder="Please Enter Debit Amount"
          :disabled="itemRow.credit_amount > 0 || itemRow.type === 'Cr'"
        />
      </el-form-item>
    </td>
    <td>
      <el-form-item prop="credit">
        <el-input
          @blur="matchWithDebit(itemRow.credit_amount)"
          v-model="itemRow.credit_amount"
          placeholder="Please Enter Credit Amount"
          :disabled="itemRow.debit_amount > 0 || itemRow.type === 'Dr'"
        />
      </el-form-item>
    </td>
    <td>
      <p @click="remove(index, itemRow.id)" style="color:red; cursor: pointer;text-align:center">X</p>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const ledgerResource = new Resource('ledgers');
export default {
  props: ['itemRow', 'ItemRows', 'index'],
  data() {
    return {
      totalDebitAmount: 0,
      totalCreditAmount: 0,
      types: [{ name: 'Dr' }, { name: 'Cr' }],
      ledgers: [],
      deleteItemsID: [],
    };
  },
  created() {
    this.calculateTotalDebitAmount();
    this.calculateTotalCreditAmount();
    this.getModelData();
  },
  methods: {
    async getModelData(){
      const models = [{name: 'ledger', model: 'Ledger'}];
      await axios.post('/api/get-model-data', models).then(response => {
        this.ledgers = response.data[0].ledger;
      })
    }, 
    async querySearch(queryString, cb) {
      const ledgers = this.ledgers;
      const results = queryString
        ? ledgers.filter(this.createFilter(queryString))
        : ledgers;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (ledger) => {
        return (
          ledger.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleType(type) {
      if (type === 'Dr') {
        this.itemRow.credit_amount = 0;
      } else if (type === 'Cr') {
        this.itemRow.debit_amount = 0;
      }
    },
    handleSelect(item) {
      this.itemRow.ledger_id = item.id;
      this.itemRow.ledger_name = item.name;
      this.itemRow.cost_center = item.cost_center;
      this.checkCostCenter();
    },
    remove(index, id) {
      if (this.ItemRows.length > 1) {
        this.$confirm(
          'This will permanently delete the file. Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            if (id === undefined) {
              this.ItemRows.splice(index, 1);
            } else {
              this.$emit('getDeleteItemsId', id);
              this.ItemRows.splice(index, 1);
              
            }

            this.$message({
              type: 'success',
              message: 'Delete completed',
            });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Delete canceled',
            });
          });
      }
    },
    forceForCredit(amount) {
      // this.calculateTotalCreditAmount();
      this.calculateTotalDebitAmount();
      if (
        amount > 0 &&
        this.ItemRows.totalCreditAmount < this.ItemRows.totalDebitAmount
      ) {
        this.ItemRows.push({
          type: 'Cr',
          ledger_id: '',
          ledger_name: '',
          debit_amount: 0,
          credit_amount: this.ItemRows.totalDebitAmount,
          costCenters: [
            {
              project_type_id: '',
              project_id: '',
              amount: 0,
            },
          ],
        });
      }
      this.checkCostCenter();
    },
    calculateTotalDebitAmount() {
      let debitItems = this.ItemRows.filter((i) => i.type === 'Dr');
      let totalDr = 0;
      debitItems.forEach((item) => {
        totalDr += parseFloat(item.debit_amount);
      });
      this.ItemRows.totalDebitAmount = totalDr;
    },
    calculateTotalCreditAmount() {
      let creditItems = this.ItemRows.filter((i) => i.type === 'Cr');
      let totalCr = 0;
      creditItems.forEach((item) => {
        totalCr += parseFloat(item.credit_amount);
      });
      this.ItemRows.totalCreditAmount = totalCr;
    },
    matchWithDebit(amount) {
      this.calculateTotalCreditAmount();
      if (
        this.ItemRows.totalCreditAmount !== this.ItemRows.totalDebitAmount &&
        amount > 0
      ) {
        this.ItemRows.push({
          type: 'Cr',
          ledger_id: '',
          ledger_name: '',
          debit_amount: 0,
          credit_amount:
            this.ItemRows.totalDebitAmount - this.ItemRows.totalCreditAmount,
          costCenters: [
            {
              project_type_id: '',
              project_id: '',
              amount: 0,
            },
          ],
        });
      }
      this.checkCostCenter();
    },
    checkCostCenter() {
      if (
        (this.itemRow.cost_center === 1 && this.itemRow.debit_amount !== 0) ||
        this.itemRow.credit_amount !== 0
      ) {
        this.$emit('checkCostCenter', this.itemRow);
      }
    },
  },
};
</script>

<style scoped>
.el-autocomplete.inline-input {
  width: 100;
  width: 100%;
}
td {
  vertical-align: top;
}
</style>