<template>
  <div>
      <el-row :gutter="20">
        <el-col :span="8">
          <div class="grid-content">
            <el-form-item label="Project Type" prop="project_type_id">
              <el-select
                @change="getProjects(costCenter.project_type_id)"
                v-model="costCenter.project_type_id"
                placeholder="Select Project Type"
              >
                <el-option
                  v-for="item in projectTypes"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content">
            <el-form-item label="Site Code" prop="site_code">
              <el-autocomplete
                v-model="costCenter.site_code"
                class="inline-input"
                :fetch-suggestions="querySearch"
                placeholder="Please Input"
                :trigger-on-focus="false"
                @select="handleSelect"
              >
                <template slot-scope="{ item }">
                  <div class="value">{{ item.site_code }}</div>
                </template>
              </el-autocomplete>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="7">
          <div class="grid-content">
            <el-form-item label="Amount">
              <el-input
                @blur="addNewRow(costCenter.amount)"
                v-model="costCenter.amount"
                autocomplete="off"
              ></el-input>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="1">
          <div class="grid-content">
            <el-form-item label="">
            <p @click="remove(index, costCenter.id)" style="color:red; cursor:pointer">X</p>
            </el-form-item>
          </div>
        </el-col>
      </el-row>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  props: ['costCenter', 'projectTypes', 'amount', 'costCenters', 'index',],
  data() {
    return {
      projects: [],
      
    };
  },
  created() {
    this.calculateTotalCostCenterAmount();
  },
  mounted(){
    // console.log(this.index);
  },
  methods: {
    getProjects(type_id) {
      axios.get('/api/projects/project-type/' + type_id).then(({ data }) => {
        this.projects = data.data;
      });
    },
    async querySearch(queryString, cb) {
      const projects = this.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    handleSelect(item) {
      this.costCenter.site_code = item.site_code;
      this.costCenter.project_id = item.id;
    },
    addNewRow(ccAmount) {
      this.calculateTotalCostCenterAmount();
      if (this.costCenters.totalAmount < this.amount) {
        this.costCenters.push({
          project_type_id: '',
          project_id: '',
          amount: this.amount - this.costCenters.totalAmount,
        });
      }
    },
    calculateTotalCostCenterAmount() {
      let total = 0;
      this.costCenters.forEach((cc) => {
        total += parseFloat(cc.amount);
        // cc.index +=1;
      });
      this.costCenters.totalAmount = total;
    },
    remove(index, id){
      if(this.costCenters.length > 1){
        this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          if(id === undefined){
            this.costCenters.splice(index, 1);
          } else {
            axios.delete('/api/delete-journal-item-cost-center/'+id).then(res => {
              console.log(res);
              this.costCenters.splice(index, 1);
            })
          }
          
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
      }
      
    },
  },
};
</script>

<style scoped>
.el-dialog {
  width: 70% !important;
}
</style>