<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['view menu settings']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="dimension" label="Dimension (H*W) mm">
        <template slot-scope="scope">
          <span>{{ scope.row.dimension }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="100">
        <template slot-scope="scope">
            <el-button
              v-permission="['view menu settings']"
              type="primary"
              size="small"
              icon="el-icon-view"
              @click="handleEdit(scope.row.id)"
            >
              Edit
            </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new print paper size'" :visible.sync="dialogFormVisible">
      <div v-loading="printPaperCreating" class="form-container">
        <el-form
          ref="paperPrintForm"
          :rules="rules"
          :model="newPrintPaper"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item label="Name" prop="name">
            <el-input v-model="newPrintPaper.name" placeholder="Enter Name" />
          </el-form-item>
          <el-form-item label="Dimension (H * W) mm" prop="dimension">
            <el-input v-model="newPrintPaper.dimension" placeholder="Enter Dimension" />
          </el-form-item>
          
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createPrintPaper()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
    <el-dialog :title="'Edit print paper size'" :visible.sync="dialogEditFormVisible">
      <div v-loading="printPaperCreating" class="form-container">
        <el-form
          ref="paperPrintEditForm"
          :rules="rules"
          :model="editPrintPaper"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
        
          <el-form-item label="Name" prop="name">
            <el-input v-model="editPrintPaper.name" />
          </el-form-item>
          <el-form-item label="Dimension (H * W) mm" prop="dimension">
            <el-input v-model="editPrintPaper.dimension" />
          </el-form-item>
          
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogEditFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="updatePaperPrint()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const paperPrintResource = new Resource('print-paper-size');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'PaperPrintList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      printPaperCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newPrintPaper: {},
      editPrintPaper: {
        name: '',
      },
      dialogFormVisible: false,
      dialogEditFormVisible: false,

      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
      editRules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await paperPrintResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['paperPrintForm'].clearValidate();
      });
    },
    
    createPrintPaper() {
      this.$refs['paperPrintForm'].validate(valid => {
        if (valid) {
          this.printPaperCreating = true;
          paperPrintResource
            .store(this.newPrintPaper)
            .then(response => {
              this.$message({
                message:
                  'New paper print size has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewPrintPaper();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            })
            .finally(() => {
              this.printPaperCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewPrintPaper() {
      this.newPrintPaper = {
        name: '',
      };
    },
    handleEdit(id) {
      this.$nextTick(() => {
        this.getPaperPrint(id);
      });
      this.dialogEditFormVisible = true;
      
    },
    async getPaperPrint(id){
      await paperPrintResource.get(id).then(({ data }) => {
        this.editPrintPaper = data;
      })
    },
    updatePaperPrint() {
      this.$refs['paperPrintEditForm'].validate(valid => {
        if (valid) {
          this.printPaperCreating = true;
          paperPrintResource
            .update(this.editPrintPaper.id, this.editPrintPaper)
            .then(response => {
              this.$message({
                message:
                  'paper print size has been updated successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.printPaperCreating = false;
              this.handleFilter();
            })
            .catch(error => {
              this.printPaperCreating = false;
              console.log(error);
            })
            .finally(() => {
              this.dialogEditFormVisible = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name' ,'dimension' ];
        const filterVal = ['id', 'name', 'dimension'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'paper-print-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
