<template>
  <div class="app-container">
    <el-form
      v-loading="dirasaCreating"
      :model="dirasa"
      :rules="rules"
      ref="dirasaForm"
      label-width="100%"
    >
      <h2 style="text-align:center">New Project Dirasa Create</h2>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="PDC No." prop="pdc_number">
            <span v-if="dirasa.pdc_number">{{ dirasa.pdc_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Dirasa Date" prop="dirasa_date">
            <span v-if="mood === 'view'">{{ dirasa.dirasa_date }}</span>
            <el-date-picker
              v-else
              v-model="dirasa.dirasa_date"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="PRS Number" prop="prs_number">
            <span v-if="mood === 'view'">{{ dirasa.prs_number }}</span>
            <el-select
              v-else
              @change="getDirasaRequisition(dirasa.prs_number)"
              v-model="dirasa.prs_number"
              placeholder="Select"
            >
              <el-option
                v-for="item in requisitions"
                :key="item.id"
                :label="item.prs_number"
                :value="item.prs_number"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Project Type" prop="project_type_id">
            <span v-if="mood === 'view' && dirasa.projectType">{{ dirasa.projectType.name }}</span>
            <el-select
              @change="checkLoad"
              v-else
              v-model="dirasa.project_type_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in projectTypes"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Quantity" prop="quantity">
            <span v-if="mood === 'view'">{{ dirasa.quantity }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.quantity"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-form-item label="Client Name" prop="client_id">
            <span v-if="mood === 'view' && dirasa.client">{{ dirasa.client.name }}</span>
            <el-select v-else v-model="dirasa.client_id" placeholder="Select">
              <el-option
                v-for="item in clients"
                :key="item.id"
                :label="item.company"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Department Name" prop="department_name">
            <span v-if="mood === 'view'">{{ dirasa.department_name }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.department_name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Requation By" prop="requisition_by">
            <span v-if="mood === 'view'">{{ dirasa.requisition_by }}</span>
            <el-autocomplete
              v-else
              class="inline-input"
              v-model="dirasa.requisition_by"
              :fetch-suggestions="querySearch"
              placeholder="Please Input"
              @select="handleSelect"
              :trigger-on-focus="false"
            >
              <template slot-scope="{ item }">
                <div class="value">{{ item.company }}</div>
              </template>
            </el-autocomplete>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Beneficiary Name/ Project name" prop="name">
            <span v-if="mood === 'view'">{{ dirasa.name }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="NID Number" prop="nid_number">
            <span v-if="mood === 'view'">{{ dirasa.nid_number }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.nid_number"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Mobile Number" prop="phone">
            <span v-if="mood === 'view'">{{ dirasa.phone }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="$t('project.state_id')" prop="state_id">
            <el-select
              :disabled="mood === 'view'"
              v-model="dirasa.state_id"
              placeholder="Please select State"
              @change="getDistrict(dirasa.state_id)"
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :value="state.id"
                :label="state.name"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="$t('project.district_id')" prop="district_id">
            <el-select
              :disabled="mood === 'view'"
              v-model="dirasa.district_id"
              placeholder="Please select District"
              @change="getCities(dirasa.district_id)"
            >
              <el-option
                v-for="district in districts"
                :key="district.id"
                :value="district.id"
                :label="district.name"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="$t('project.city')" prop="city_id">
            <el-select :disabled="mood === 'view'" v-model="dirasa.city_id" placeholder="Please select City">
              <el-option v-for="city in cities" :key="city.id" :value="city.id" :label="city.name" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Address(English)" prop="location">
            <span v-if="mood === 'view'">{{ dirasa.location }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.location"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Address(Bangla)" prop="bn_address">
            <span v-if="mood === 'view'">{{ dirasa.bn_address }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.bn_address"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-form-item label="GPS Number" prop="gps">
            <span v-if="mood === 'view'">{{ dirasa.gps }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.gps"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Details" prop="details">
            <span v-if="mood === 'view'">{{ dirasa.details }}</span>
            <el-input
              v-else
              type="textarea"
              :rows="2"
              placeholder="Please input"
              v-model="dirasa.details"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Remark" prop="remark">
            <span v-if="mood === 'view'">{{ dirasa.remark }}</span>
            <el-input
              type="textarea"
              :rows="2"
              v-else
              placeholder="Please input"
              v-model="dirasa.remark"
            ></el-input>
          </el-form-item>
        </el-col>
        <!-- <el-col :span="6">
          <el-form-item label="Site Code" prop="site_code">
            <span v-if="mood === 'view'">{{ dirasa.site_code }}</span>
            <el-input v-else placeholder="Please input" v-model="dirasa.site_code"></el-input>
          </el-form-item>
        </el-col>-->
      </el-row>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button v-if="mood === 'create'" type="info" @click="resetForm">Clear</el-button>
        <el-button v-if="mood === 'view'" type="info" @click="print">Print</el-button>
        <el-button
          v-if="mood === 'create'"
          type="primary"
          @click="createNewDirasa"
        >{{ $t('table.confirm') }}</el-button>
        <el-button v-if="mood === 'edit'" type="primary" @click="updateDirasa">Update</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const dirasaResource = new Resource('project-dirasa');
const subcontractorResource = new Resource('subcontractors');
export default {
  props: [
    'projectTypes',
    'subcontractors',
    'mood',
    'dirasa',
    'requisitions',
    'clients',
  ],
  data() {
    return {
      dirasaCreating: false,
      states: [],
      districts: [],
      cities: [],
      rules: {
        dirasa_date: [
          {
            required: true,
            message: 'Dirasa Date is required',
            trigger: 'blur',
          },
        ],
        project_type_id: [
          {
            required: true,
            message: 'Project Type is required',
            trigger: 'blur',
          },
        ],
        name: [
          {
            required: true,
            message: 'Beneficiary Name/ Project name is required',
            trigger: 'blur',
          },
        ],
        nid_number: [
          {
            required: true,
            message: 'NID Number is required',
            trigger: 'blur',
          },
        ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getState();
    this.getDistrict(this.dirasa.state_id);
    this.getCities(this.dirasa.district_id);
  },
  methods: {
    async querySearch(queryString, cb) {
      const subcontractorResponse = await subcontractorResource.list(
        queryString
      );
      let links = subcontractorResponse.data;
      let results = queryString
        ? links.filter(this.createFilter(queryString))
        : links;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (link) => {
        return (
          link.company.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleSelect(item) {
      this.dirasa.requisition_by = item.company;
    },
    getDirasaRequisition(prs_number) {
      let requisition = this.requisitions.find(
        (r) => r.prs_number === prs_number
      );
      this.dirasa.requisition_by = requisition.requisition_by;
      this.dirasa.quantity = requisition.quantity;
      this.dirasa.project_type_id = requisition.project_type_id;
      this.dirasa.name = requisition.name;
      this.dirasa.nid_number = requisition.nid_number;
      this.dirasa.location = requisition.location;
      this.dirasa.bn_address = requisition.bn_address;
      this.dirasa.phone = requisition.phone;
      this.dirasa.gps = requisition.gps;
      this.dirasa.remark = requisition.remark;
      this.dirasa.details = requisition.details;
      this.dirasa.site_code = requisition.site_code;
    },
    createNewDirasa() {
      this.$refs['dirasaForm'].validate((valid) => {
        if (valid) {
          this.dirasaCreating = true;
          dirasaResource
            .store(this.dirasa)
            .then((result) => {
              this.dirasaCreating = false;
              this.$message({
                message: 'Dirasa has been created successfully.',
                type: 'success',
              });
              this.resetForm();
            })
            .catch((err) => {
              this.dirasaCreating = false;
              console.log(err);
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm() {
      this.dirasa = {
        pdc_number: '',
      };
    },
    checkLoad() {
      this.$emit('loadForm');
    },
    print() {
      window.print();
    },
    updateDirasa() {
      this.$refs['dirasaForm'].validate((valid) => {
        if (valid) {
          this.dirasaCreating = true;
          dirasaResource
            .update(this.dirasa.id, this.dirasa)
            .then((result) => {
              this.dirasaCreating = false;
              this.$message({
                message: 'Dirasa has been updated successfully.',
                type: 'success',
              });
              this.$router.push('/projects/dirasa');
            })
            .catch((err) => {
              this.dirasaCreating = false;
              console.log(err);
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    getState() {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getDistrict(sid) {
      const state_id = sid;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    },
  },
};
</script>

<style>
label.el-form-item__label {
  width: 100% !important;
  text-align: start !important;
}
</style>