<template>
  <el-card class="app-container">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane label="Account" name="first">
        <el-form>
          <el-form-item label="Company Name">
            <el-input v-model="companyInfo.company_name" />
          </el-form-item>
          <el-form-item label="Company Head Name">
            <el-input v-model="companyInfo.name" />
          </el-form-item>
          <el-form-item label="Company Head Designation">
            <el-input v-model="companyInfo.designation" />
          </el-form-item>
          <el-form-item label="Company Address">
            <tinymce :height="200" v-model="companyInfo.office_address" />
            <!-- <el-input  /> -->
          </el-form-item>
          <el-form-item label="Company Telephone">
            <el-input v-model="companyInfo.telephone" />
          </el-form-item>
          <el-form-item label="Company Phone Number">
            <el-input v-model="companyInfo.phone" />
          </el-form-item>
          <el-form-item label="Company Email Address">
            <el-input v-model="companyInfo.email" />
          </el-form-item>
          <el-form-item label="Company Website URL">
            <el-input v-model="companyInfo.website_url" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">Update</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import Tinymce from '@/components/Tinymce';
const officeInfoResource = new Resource('office-info');

export default {
  components: { Tinymce },
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      companyInfo: {},
    };
  },
  created() {
    const id = 1;
    this.fetchData(id);
  },

  methods: {
    async fetchData(id) {
      await officeInfoResource
        .get(id)
        .then((response) => {
          this.companyInfo = response.data;
        })
        .catch((err) => {
          console.log(err.message);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    onSubmit() {
      this.updating = true;
      officeInfoResource
        .update(this.companyInfo.id, this.companyInfo)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'Entry Pin information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error.message);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.unit-activity {
  .unit-block {
    .unitname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
</style>
