<template>
  <div>
    <el-dialog
      :title="'Create new project subcontract'"
      :visible.sync="dialogFormVisible"
    >
      <div v-loading="projectSubcontractCreating" class="form-container">
        <el-form
          ref="projectSubcontractForm"
          :rules="rules"
          :model="newProjectSubcontract"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item :label="$t('projectSubcontract.code')" prop="code">
            <el-input v-model="newProjectSubcontract.code" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.order_no')"
            prop="order_no"
          >
            <el-input v-model="newProjectSubcontract.order_no" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.contract_ref')"
            prop="contract_ref"
          >
            <el-input v-model="newProjectSubcontract.contract_ref" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.department_id')"
            prop="department_id"
          >
            <el-select
              v-model="newProjectSubcontract.department_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in departments"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.subcontractor_id')"
            prop="subcontractor_id"
          >
            <el-select
              v-model="newProjectSubcontract.subcontractor_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in subcontractors"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.task_details')"
            prop="task_details"
          >
            <el-input
              v-model="newProjectSubcontract.task_details"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.payable_amount')"
            prop="payable_amount"
          >
            <el-input
              v-model.number="newProjectSubcontract.payable_amount"
            />
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.issue_date')"
            prop="issue_date"
          >
            <el-date-picker
              v-model="newProjectSubcontract.issue_date"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.deadline')"
            prop="deadline"
          >
            <el-date-picker
              v-model="newProjectSubcontract.deadline"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.finished_date')"
            prop="finished_date"
          >
            <el-date-picker
              v-model="newProjectSubcontract.finished_date"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createProjectSubcontract()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const projectSubcontractResource = new Resource('project-subcontracts');

export default {
  props: ['project', 'departments', 'subcontractors', 'totalSubcontractAmount'],

  data() {
    // console.log(this.newProjectSubcontract.payable_amount);
    const validateAmount = (rule, value, callback) => {
      if (this.newProjectSubcontract.payable_amount > this.project.project_amount) {
        callback(new Error('Subcontract Amount Must Be Lower Than Project Amount'));
      } else if (this.project.project_amount < (this.newProjectSubcontract.payable_amount + this.totalSubcontractAmount)) {
        callback(new Error(`You Have ${this.project.project_amount - this.totalSubcontractAmount} TK For A New Subcontract`));
      } else {
        callback();
      }
    };
    return {
      projectSubcontractCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      newProjectSubcontract: {
        payable_amount: 0,
      },
      // departments: {},
      rules: {
        subcontractor_id: [
          {
            required: true,
            message: 'Subcontractor Name is required',
            trigger: 'blur',
          },
        ],
        task_details: [
          {
            required: true,
            message: 'Task Details is required',
            trigger: 'blur',
          },
        ],
        payable_amount: [
          { required: true, message: 'Payable Amount is required', trigger: 'blur' },
          { type: 'number', message: 'Payable amount must be a number', trigger: 'blur' },
          { validator: validateAmount, trigger: 'blur' },
        ],

        order_no: [
          { required: true, message: 'Order No is required', trigger: 'blur' },
        ],
        contract_ref: [
          {
            required: true,
            message: 'Contract Ref. is required',
            trigger: 'blur',
          },
        ],
        department_id: [
          {
            required: true,
            message: 'Department is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  watch: {
    project: function(ov, nv) {
      console.log(this.project);
    },
  },
  created() {
    console.log(this.project);
  },
  methods: {
    handleCreateModal() {
      // this.resetNewProjectSubcontract();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['projectSubcontractForm'].clearValidate();
      });
    },
    createProjectSubcontract() {
      this.$refs['projectSubcontractForm'].validate((valid) => {
        if (valid) {
          this.projectSubcontractCreating = true;
          this.newProjectSubcontract.project_id = this.project.id;
          this.newProjectSubcontract.project_type = this.project.project_type;
          this.newProjectSubcontract.project_stage_id = this.project.stage_id;
          console.log(this.newProjectSubcontract);
          projectSubcontractResource
            .store(this.newProjectSubcontract)
            .then((response) => {
              this.$emit('newSubcontract', response.data);
              this.$message({
                message:
                  'New projectSubcontract has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewProjectSubcontract();
              this.dialogFormVisible = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.projectSubcontractCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewProjectSubcontract() {
      this.newProjectSubcontract = {
        project_id: '',
        subcontractor_id: '',
        task_details: '',
        payable_amount: '',
        deadline: '',
      };
    },
  },
};
</script>
<style scoped>
.dialog-footer {
  text-align: center;
}
</style>
