<template>
  <div class="app-container">
    <div class="filter-container">
      <el-button
        v-if="project && totalSubcontractAmount < project.project_amount"
        id="btn-add"
        v-permission="['add project subcontract']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%; margin: auto"
      :row-class-name="tableRowClassName"
    >
      <el-table-column align="center" label="ID" :min-width="5" type="index" />

      <el-table-column align="center" label="Project Name" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.project_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Subcontractor Name" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.subcontractor_name }}</span>
        </template>
      </el-table-column>

      <!-- <el-table-column align="center" label="Task Details" width="200">
        <template slot-scope="scope">
          <span>{{ scope.row.task_details }}</span>
        </template>
      </el-table-column> -->

      <el-table-column align="center" label="Payable Amount" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.payable_amount }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Deadline" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.deadline }}</span>
          <countdown :date="scope.row.deadline" :finished_date="scope.row.finished_date" />
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" :min-width="25">
        <template slot-scope="scope">
          <el-tooltip class="item" effect="dark" content="Edit" placement="top-start">
            <el-button
              v-if="scope.row.status === 0"
              v-permission="['update project subcontract']"
              type="primary"
              icon="el-icon-edit"
              size="mini"
              @click="handleUpdate(scope.row.id)"
            />
          </el-tooltip>

          <router-link :to="'/projects/work-order/' + scope.row.id">
            <el-tooltip class="item" effect="dark" content="Generate Work Order" placement="top-start">
              <el-button
                v-permission="['generate work order']"
                size="mini"
                class="filter-item"
                type="primary"
                icon="el-icon-document-copy"
              >
                <span />
              </el-button>
            </el-tooltip>
          </router-link>

        </template>
      </el-table-column>
    </el-table>

    <!-- create modal starts -->
    <create
      ref="handleCreate"
      :subcontractors="subcontractors"
      :departments="departments"
      :project="project"
      :total-subcontract-amount="totalSubcontractAmount"
      @newSubcontract="getNewSubcontract"
    />
    <!-- create modal ends -->
    <!-- update modal starts -->
    <update
      ref="handleUpdate"
      :project="project"
      :subcontractors="subcontractors"
      :departments="departments"
      :total-subcontract-amount="totalSubcontractAmount"
    />
    <!-- update modal ends -->

  </div>
</template>

<script>
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import Create from './Create';
import Update from './Update';
import Resource from '@/api/resource';
import axios from 'axios';
import Countdown from '../Countdown.vue';
const departmentResource = new Resource('departments');
import { fetchProjectSubcontract } from '@/api/projectSubcontract';
import { fetchProjectStage } from '@/api/projectStage';

export default {
  name: 'ProjectList',
  components: { Create, Update, Countdown },
  directives: { permission, waves },
  props: ['project', 'allSubcontract'],
  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      projectSubcontractCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      subcontractor: {},
      projectSubcontractId: '',
      subcontractors: [],
      departments: {},
      status: {},
      totalSubcontractAmount: 0,
      subcontractAmount: 0,
      currentStageAmount: 0,
      rules: {
        status: [
          { required: true, message: 'Status is required', trigger: 'blur' },
        ],

        amount: [
          { required: true, message: 'Amount is required', trigger: 'blur' },
          { type: 'number', message: 'Amount must be a number', trigger: 'blur' },
        ],
        date: [
          { required: true, message: 'Date is required', trigger: 'blur' },
        ],
        due_date: [
          { required: true, message: 'Due Date is required', trigger: 'blur' },
        ],
      },
    };
  },

  created() {
    this.getDept();
    if (this.project){
      this.getProjectSubcontract(this.project.id);
    } else {
      this.list = this.allSubcontract;
      this.loading = false;
    }
    this.getSubcontractors();
  },
  methods: {
    async getDept() {
      this.loading = true;
      const response = await departmentResource.list({});
      this.departments = response.data;
      this.loading = false;
    },
    async getProjectSubcontract(pid){
      await axios.get('/api/get-project-subcontract/' + pid).then(({ data }) => {
        this.list = data.data;
      });
      this.loading = false;
    },
    getSubcontractors(){
      axios.get('/api/active/subcontractors').then(({ data }) => {
        this.subcontractors = data.data;
      });
    },
    subcontractDone(id){
      axios.put('/api/subcontract-done/' + id).then(response => {
        this.$message({
          message: 'Subcontract All Work Done',
          type: 'success',
          duration: 5 * 1000,
        });
      });
    },
    tableRowClassName({ row }) {
      if (row.status === 1) {
        return 'success-row';
      } else if (new Date(row.deadline) < new Date()) {
        return 'warning-row';
      }
      return '';
    },
    getNewSubcontract(data) {
      this.list.push(data);
    },
    handleCreate() {
      this.$refs.handleCreate.handleCreateModal();
    },

    handleUpdate(id) {
      this.$refs.handleUpdate.handleUpdateModal(id);
    },

    handleFilter() {
      this.query.page = 1;
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}
.filter-container {
  text-align: center;
}

#subcontract-edit {
  margin: 10px 0px;
}
button.el-button.el-tooltip.filter-item.item.el-button--primary.el-button--mini {
    margin-left: 0;
}

</style>

