<template>
  <div>
    <el-dialog
      :title="'Update Project Subcontract'"
      :visible.sync="dialogFormVisible"
    >
      <div v-loading="projectSubcontractCreating" class="form-container">
        <el-form
          ref="projectSubcontractForm"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
          :rules="rules"
        >
          <el-form-item :label="$t('projectSubcontract.code')" prop="code">
            <el-input v-model="projectSubcontract.code" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.order_no')"
            prop="order_no"
          >
            <el-input v-model="projectSubcontract.order_no" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.contract_ref')"
            prop="contract_ref"
          >
            <el-input v-model="projectSubcontract.contract_ref" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.department_id')"
            prop="department_id"
          >
            <el-select
              v-model="projectSubcontract.department_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in departments"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.subcontractor_id')"
            prop="subcontractor_id"
          >
            <el-select
              v-model="projectSubcontract.subcontractor_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in subcontractors"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.task_details')"
            prop="task_details"
          >
            <el-input
              v-model="projectSubcontract.task_details"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.payable_amount')"
            prop="payable_amount"
          >
            <el-input
              v-model.number="projectSubcontract.payable_amount"
            />
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.issue_date')"
            prop="issue_date"
          >
            <el-date-picker
              v-model="projectSubcontract.issue_date"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.deadline')"
            prop="deadline"
          >
            <el-date-picker
              v-model="projectSubcontract.deadline"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.finished_date')"
            prop="finished_date"
          >
            <el-date-picker
              v-model="projectSubcontract.finished_date"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="onSubmit">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const projectSubcontractResource = new Resource('project-subcontracts');
import { fetchProjectSubcontract } from '@/api/projectSubcontract';
import axios from 'axios';

export default {
  props: ['departments', 'subcontractors'],

  data() {
    // console.log(this.newProjectSubcontract.payable_amount);
    const validateAmount = (rule, value, callback) => {
      if (this.newProjectSubcontract.payable_amount > this.project.project_amount) {
        callback(new Error('Subcontract Amount Must Be Lower Than Project Amount'));
      } else if (this.project.project_amount < (this.newProjectSubcontract.payable_amount + this.totalSubcontractAmount)) {
        callback(new Error(`You Have ${this.project.project_amount - this.totalSubcontractAmount} TK For A New Subcontract`));
      } else {
        callback();
      }
    };
    return {
      projectSubcontractCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      // subcontractors: [],
      projectSubcontractID: '',
      projects: [],
      projectSubcontract: {},
      // departments: {},
      rules: {
        payable_amount: [
          { validator: validateAmount, trigger: 'blur' },
          { type: 'number', message: 'Payable amount must be a number', trigger: 'blur' },
        ],
      },
    };
  },
  created() {},
  methods: {
    handleUpdateModal(id) {
      this.fetchData(id);
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['projectSubcontractForm'].clearValidate();
      });
    },

    fetchData(id) {
      fetchProjectSubcontract(id)
        .then((response) => {
          this.projectSubcontract = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    onSubmit() {
      this.updating = true;
      projectSubcontractResource
        .update(this.projectSubcontract.id, this.projectSubcontract)
        .then((response) => {
          this.updating = false;
          this.$emit('newSubcontract', response.data);
          this.$message({
            message:
              'Project Subcontract information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
          this.dialogFormVisible = false;
          // this.handleFilter();
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>
<style scoped>
.dialog-footer {
  text-align: center;
}
</style>
