<template>
  <div class="container">
    <h2 style="text-align:center">Work Order</h2>
    <el-row id="info_top">
      <el-col id="company" :span="8">
        <div class="grid-content">
          <span><b>DREAM STRUCTURE</b></span><br>
          <span>House # 31, Road # 20, Sector # 14,</span><br>
          <span>Uttara, Dhaka-1230</span><br>
          <span><b>Contact Person: MD. GOLAM AZAM KHAN</b></span><br>
          <span>Telephone: +88 02 55035939</span><br>
          <span>E-mail: dream_structure@yahoo.com</span><br>
        </div>
      </el-col>
      <el-col id="contact_info" :span="8">
        <div class="grid-content">
          <b>Order No. : {{ subcontract.order_no }}</b><br>
          <b>Contact Ref. : {{ subcontract.contract_ref }}</b><br>
          <span><b>Issue Date: </b>{{ subcontract.created_at }}</span><br>
          <span><b>Completaion Date: </b>{{ subcontract.deadline }}</span><br>
          <b>Department: {{ subcontract.department_name }}</b>
        </div>
      </el-col>
      <el-col id="sub_info" :span="8">
        <div class="grid-content">
          <span>Implementer Information: </span><br>
          <span><b>{{ subcontractor.company }}</b></span><br>
          <span>{{ subcontractor.name }}</span><br>
          <span><b>Address: </b>{{ project.location }}, {{ projectCity.name }},</span><br>
          <span>{{ projectDistrict.name }}, {{ projectState.name }}, {{ projectCountry.name }}</span><br>
          <span><b>Telephone: </b>{{ subcontractor.phone }}</span><br>
        </div>
      </el-col>
    </el-row>

    <el-row>
      <el-col :span="24">
        <table border="1" width="100%">
          <thead>
            <tr>
              <th><b id="wd">Work Details </b></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="padding:10px; line-height:30px">{{ subcontract.task_details }}</td>
            </tr>
          </tbody>
        </table>
      </el-col>
    </el-row>
    <el-row>
      <el-col id="WOD" :span="24">
        <h4>Work Order Value And Payment Type</h4>
        <table border="1" width="100%">
          <thead>
            <tr>
              <th>Serial</th>
              <th>Side Code</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>Price per Unit</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>01</td>
              <td>{{ subcontract.code }}</td>
              <td>{{ project.location }}, {{ projectCity.name }}, {{ projectDistrict.name }}, {{ projectState.name }}, {{ projectCountry.name }} </td>
              <td>01</td>
              <td>{{ subcontract.payable_amount }}</td>
              <td>{{ subcontract.payable_amount }}</td>
            </tr>
            <tr>
              <td colspan="3" style="text-align: right">Total</td>
              <td>01</td>
              <td>{{ subcontract.payable_amount }}</td>
              <td>{{ subcontract.payable_amount }}</td>
            </tr>
            <tr>
              <td colspan="6" style="text-align: center">Total Work Order Value {{ subcontract.payable_amount }} x 01 = {{ subcontract.payable_amount }} /- <span class="toWord">( {{ toWord }} TK Only )</span></td>
            </tr>
          </tbody>
        </table>
      </el-col>
    </el-row>

    <div id="page-2">
      <!-- <el-row id="stage-info">
        <el-col :span="24">
          <table width="100%" border="1">
            <tbody>
              <tr>
                <td>Lintel</td>
                <td>30%</td>
                <td>279000 /- </td>
              </tr>
              <tr>
                <td>Lintel</td>
                <td>30%</td>
                <td>279000 /- </td>
              </tr>
            </tbody>
          </table>
        </el-col>
      </el-row> -->
      <el-row id="conditions">
        <el-col :span="24">
          <div>
            <h4>Write Conditions</h4>
            <tinymce />
          </div>
        </el-col>
      </el-row>
      <el-row id="signature" :gutter="20">
        <el-col :span="6">
          <div>
            <span />
            <p>Processed By Signature</p>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <span />
            <p>Project Co-Ordinator Signature</p>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <span />
            <p>Director Signature</p>
          </div>
        </el-col>
        <el-col :span="6">
          <div>
            <span />
            <p>Contractor Signature</p>
          </div>
        </el-col>
      </el-row>
      <div id="print">
        <el-button type="info" @click="handlePrint">Print</el-button>
      </div>
    </div>
  </div>
</template>
<script>
import Tinymce from '@/views/components-demo/Tinymce';
import { fetchProjectSubcontract } from '@/api/projectSubcontract';
export default {
  components: { Tinymce },
  data() {
    return {
      textarea: '',
      subcontract: {},
      subcontractor: {},
      project: {},
      toWord: '',
      projectDistrict: {},
      projectState: {},
      projectCountry: {},
      projectCity: {},
      subcontractorDistrict: {},
      subcontractorState: {},
      subcontractorCountry: {},
    };
  },
  created(){
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
    // console.log(id);
  },
  methods: {
    fetchData(id){
      fetchProjectSubcontract(id).then(({ data }) => {
        this.subcontract = data;
        // console.log(data);
        const converter = require('number-to-words');
        this.projectDistrict = data.projectDistrict;
        this.projectState = data.projectState;
        this.projectCountry = data.projectCountry;
        this.projectCity = data.city;
        this.subcontractorDistrict = data.subcontractorCountry;
        this.subcontractorState = data.subcontractorState;
        this.subcontractorCountry = data.subcontractorCountry;
        this.toWord = converter.toWords(data.payable_amount);
        this.subcontractor = this.subcontract.subcontractor;
        this.project = this.subcontract.project;

        // console.log(this.project);
        // console.log(data);
      });
    },
    handlePrint(){
      window.print();
    },
  },
};
</script>
<style scope
TabPaned>
h2, h4 {
  text-align: center;
}
.container {
  width: 95%;
  margin: 0 auto;
}
#info_top .grid-content {
  border: 2px solid #000;
  padding: 10px !important;
  margin: 5px;
  height: 230px;
  line-height: 30px;
}
#company b, strong, #contact_info b {
  font-weight: bolder;
  font-size: 15px;
}
#info_top {
  margin-bottom: 50px;
}

#wd {
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 10px;
}
#full-width {
  width: 100%;
}
#WOD th, #WOD td, #stage-info td {
  padding: 8px;
  text-align: center;
}
#stage-info {
  margin-top: 30px ;
}
#conditions {
  margin: 50px 0px;
}
.components-container {
    margin: 30px 0px;
    position: relative;
}
#signature {
  margin-bottom: 50px;
}
#signature p{
  /* text-align: center; */
}
#signature span{
  height: 1px;
  width: 60%;
  background: #000;
  display: block;
}
div#print {
    text-align: center;
}
.toWord{
    text-transform: capitalize;
  }
</style>
