<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form
        ref="projectTypeForm"
        :rules="rules"
        :model="newProjectType"
        label-position="left"
        label-width="150px"
      >
        <el-form-item :label="$t('projectType.name')" prop="name">
          <el-input v-model="newProjectType.name" />
        </el-form-item>
        <el-form-item :label="$t('projectType.code')" prop="code">
          <el-input v-model="newProjectType.code" />
        </el-form-item>
        <el-form-item :label="$t('projectType.stage')" prop="stage">
          <el-input v-model.number="newProjectType.stage" @blur="getStage($event)" />
        </el-form-item>
        <div v-if="stages > 0">
          <div v-for="(stage, index) in parseInt(stages)" :key="index">
            <add-stage :index="index" :stage="stage" @clicked="getStageName" />
          </div>
        </div>
        <div v-for="(projectTypeMeta, index) in newProjectType.projectMetas" :key="index">
          <add-meta-form
            :project-type-meta="projectTypeMeta"
            :index="index"
            :project-type-metas="newProjectType.projectMetas"
          />
        </div>
        <el-button
          size="small"
          type="success"
          icon="el-icon-plus"
          circle
          style="display: flex; margin-left: auto"
          @click="addNewMeta"
        />
        <el-button
          type="primary"
          style="margin-left: 25%"
          @click="createProjectType()"
        >{{ $t('table.confirm') }}</el-button>
      </el-form>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import AddMetaForm from './components/AddMetaForm.vue';
import AddStage from './components/AddStage';
import { EventBus } from '@/app';

export default {
  name: 'ProjectTypeList',
  components: { AddMetaForm, AddStage },
  directives: { waves, permission },
  data() {
    return {
      loading: true,
      downloading: false,
      newProjectType: {
        projectMetas: [
          {
            field_name: '',
            input_type: '',
            default_value: '',
            is_required: '',
          },
        ],
        stageDatas: [],
      },
      dialogFormVisible: false,
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        stage: [
          {
            required: true,
            message: 'Stage Number is required',
            trigger: 'blur',
          },
          {
            type: 'number',
            message: 'Stage must be a number',
            trigger: 'blur',
          },
        ],
      },
      stages: '',
    };
  },
  created() {},
  methods: {
    addNewMeta() {
      const id =
        Math.max.apply(
          Math,
          this.newProjectType.projectMetas.map(function (o) {
            return o.id;
          })
        ) + 1;
      this.newProjectType.projectMetas.push({
        field_name: null,
        input_type: null,
        default_value: null,
        is_required: null,
      });
    },
    getStageName(name, required) {
      const data = {
        name: name,
        required: required,
      };
      this.newProjectType.stageDatas.push(data);
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      this.resetNewProjectType();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['projectTypeForm'].clearValidate();
      });
    },
    getStage(event) {
      const stageNumber = event.target.value;
      this.stages = stageNumber;
    },
    createProjectType() {
      this.$refs['projectTypeForm'].validate((valid) => {
        if (valid) {
          if (this.newProjectType.stage > 0) {
            this.projectTypeCreating = true;
            projectTypeResource
              .store(this.newProjectType)
              .then((response) => {
                EventBus.$emit('newTypeCreated', response.data);
                this.$router.push({ name: 'projectTypeList' });
                this.$message({
                  message:
                    'New projectType ' +
                    this.newProjectType.name +
                    ' has been created successfully.',
                  type: 'success',
                  duration: 5 * 1000,
                });
                this.resetNewProjectType();
                this.dialogFormVisible = false;
                this.handleFilter();
              })
              .catch((error) => {
                console.log(error);
              })
              .finally(() => {
                this.projectTypeCreating = false;
              });
          } else {
            this.$message({
              message: 'Project Type Should Have Atleast One Stage',
              type: 'error',
              duration: 5 * 1000,
            });
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewProjectType() {
      this.NewProjectType = {
        name: '',
        code: '',
        stage: '',
        projectMetas: [{}],
        stageDatas: [],
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'status'];
        const filterVal = ['id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'projectType-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
