<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <!-- <router-link :to="'/projects/project-type/create'">
        <el-button
          v-permission="['add project type meta']"
          type="primary"
          icon="el-icon-edit"
        >
          Add New
        </el-button>
      </router-link> -->
      <el-link
        v-permission="['add project type meta']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        href="#/projects/project-type/create"
      >
        {{ $t('table.add') }}
      </el-link>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="Type ID" width="80" type="index">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Code">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Status">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 1">Muted</span>
          <span v-if="scope.row.status == 0">Active</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <router-link :to="'/projects/project-type/edit/' + scope.row.id">
            <el-button
              v-permission="['update project type']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.status == '0'"
            v-permission="['manage project type']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleMute(scope.row.id)"
          >
            Mute
          </el-button>
          <el-button
            v-if="scope.row.status == '1'"
            v-permission="['manage project type']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleUnmute(scope.row.id)"
          >
            Unmute
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import checkPermission from '@/utils/permission'; // Permission checking
import axios from 'axios';
import { mute, unmute } from '@/api/projectType';
import { EventBus } from '@/app';

export default {
  name: 'ProjectTypeList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newProjectType: {},
      dialogFormVisible: false,
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        // code: [
        //   {
        //     required: true,
        //     message: 'Code Number is required',
        //     trigger: 'blur',
        //   },
        // ],
      },
    };
  },
  created() {
    this.getList();
    EventBus.$on('newTypeCreated', (type) => {
      this.list.push(type);
    });
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await projectTypeResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      this.resetNewProjectType();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['projectTypeForm'].clearValidate();
      });
    },
    handleMute(id, name) {
      this.$confirm(
        'Do you want to mute project type ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          mute(id)
            .then(response => {
              // console.log('hello');
              this.$message({
                type: 'success',
                message: 'Muted',
              });
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(error => {
          this.$message({
            type: 'info',
            message: 'mute canceled',
          });
          console.log(error);
        });
    },
    handleUnmute(id, name) {
      this.$confirm(
        'Do you want to unmute project type ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          unmute(id)
            .then(response => {
              this.$message({
                type: 'success',
                message: 'Unmuted',
              });
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unmuted canceled',
          });
        });
    },
    createProjectType() {
      this.$refs['projectTypeForm'].validate(valid => {
        if (valid) {
          this.projectTypeCreating = true;
          projectTypeResource
            .store(this.newProjectType)
            .then(response => {
              this.$message({
                message:
                  'New projectType ' +
                  this.newProjectType.name +
                  ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewProjectType();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            })
            .finally(() => {
              this.projectTypeCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewProjectType() {
      this.NewProjectType = {
        name: '',
        code: '',
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['index', 'project_type_id', 'name', 'code', 'status'];
        const filterVal = ['index', 'id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'projectType-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-link--primary {
    background: #1682e6;
    border-color: #1682e6;
    color: #FFFFFF;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.el-link--primary:hover{
  color: #fff;
  text-decoration: none;
}
</style>
