<template>
  <div v-loading="deliveryCreating" class="form-container">
    <el-form
      ref="deliveryForm"
      :model="delivery"
      label-position="left"
      label-width="150px"
    >
      <h3 style="text-align:center">Create New Delivery</h3>
      <el-row :gutter="10">
        <el-col :span="10" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Delivery Date" prop="delivery_date">
              <p v-if="mood === 'view'">{{ delivery.delivery_date }}</p>
              <el-date-picker
                v-else
                v-model="delivery.delivery_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="10" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Gatepass Number" prop="gatepass_number">
              <p v-if="mood === 'view'">{{ delivery.gatepass_number }}</p>
              <el-input placeholder="Gatepass No" v-else v-model="delivery.gatepass_number" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Deliveried By" prop="delivered_by">
              <p v-if="mood === 'view'">{{ delivery.delivered_by }}</p>
              <el-input placeholder="Deliveried By" v-else v-model="delivery.delivered_by" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Deliveried By Phone" prop="delivered_by_phone">
              <p v-if="mood === 'view'">{{ delivery.delivered_by_phone }}</p>
              <el-input placeholder="Deliveried By Phone" v-else v-model="delivery.delivered_by_phone" />
            </el-form-item>
          </div>
        </el-col>


        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Delivery Type" prop="delivery_type">
              <el-select
                v-model="delivery.delivery_type"
                placeholder="Select Delivery Type"
                @change="getDeliveryRoutes"
              >
                <el-option
                  v-for="(val, index) in deliveryTypes"
                  :key="index"
                  :label="val.text"
                  :value="val.value"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>

        <el-col :span="10" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="From">
              <el-select
                v-model="delivery.selectedFromId"
                filterable
                placeholder="Select From"
                @change="changeFromId"
              >
                <el-option
                  v-for="(val, index) in froms"
                  :key="index"
                  :label="val.site_code ? val.site_code : val.name"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>


        <el-col :span="10" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="To">
              <el-select
                v-model="delivery.selectedToId"
                filterable
                placeholder="Select To"
              >
                <el-option
                  v-for="(val, index) in toesList"
                  :key="index"
                  :label="val.site_code ? val.site_code : val.name"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>


        <el-col :span="24">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th width="50%">Product</th>
                <th width="30%">Quantity</th>
                <th width="20%">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(itemRow, index) in delivery.ItemRows">
                <delivery-item-component
                  :ItemRows="delivery.ItemRows"
                  :itemRow="itemRow"
                  :key="index"
                  :mood="mood"
                  :index="index"
                  :delivery="delivery"
                  :products="products"
                />
              </template>
            </tbody>
          </table>
        </el-col>
      </el-row>
    </el-form>

    <div >
      <el-button type="primary" icon="el-icon-plus" @click="addItem">
        {{ $t('table.add') }}
      </el-button>
      <el-button
        type="primary"
        v-if="mood === 'create'"
        @click="checkValidation"
      >{{ $t('table.confirm') }}</el-button>
      <el-button type="primary" v-if="mood === 'edit'" @click="checkValidation">Update</el-button>
    </div>
  </div>
</template>

<script>
import DeliveryItemComponent from './DeliveryItemComponent.vue';
import Resource from '@/api/resource';
const deliveryResource = new Resource('deliveries');
import { getItemLastId } from '@/utils/helper.js';
import { getCurrentDate } from '@/utils/helper.js';
export default {
  props: ['delivery', 'mood'],
  components: { DeliveryItemComponent },
  created() {
    this.delivery.delivery_type = 1;
    this.getModelData();
  },
  data() {
    return {
      deliveryCreating: false,
      deliveryTypes: [
        { text: 'From Warehouse to Warehouse', value: 1 },
        { text: 'From Warehouse to Project', value: 2 },
        { text: 'From Project to Warehouse', value: 3 },
        { text: 'From Project to Project', value: 4 },
      ],
      projects: [],
      warehouses: [],
      froms: [],
      toes: [],
      toesList: [],
      products: [],
      // itemRow: {},
      index: 0,
    };
  },
  mounted() {},
  methods: {
    addItem(){
      var item = {
            product_id: '',
            product_name: '',
            quantity: '',
            availability: '',
      };
      this.delivery.ItemRows.push(item);
      console.log('Create', this.delivery.ItemRows);
    },

    getDeliveryRoutes(){
      switch(this.delivery.delivery_type)
      {
        case 1:      //if delivery_type = 1
          this.froms = this.warehouses;
          this.toes = this.warehouses;
          this.toesList = this.warehouses;
          break;
        case 2:      //if delivery_type = 2
          this.froms = this.warehouses;
          this.toes = this.projects;
          this.toesList = this.projects;
          break;
        case 3:      //if delivery_type = 3
          this.froms = this.projects;
          this.toes = this.warehouses;
          this.toesList = this.warehouses;
          break;
        case 4:      //if delivery_type = 4
          this.froms = this.projects;
          this.toes = this.projects;
          this.toesList = this.projects;
          break;
        default:    //if day doesn't match any of above
          console.log("Invalid");
      }
      this.delivery.selectedFromId = '';
      this.delivery.selectedToId = '';
      console.log("Type -- ",this.delivery.delivery_type, this.froms,this.toes, this.toesList);
    },
    changeFromId(){
      if(this.delivery.delivery_type <= 2){
        axios.get('/api/warehouse/get-inventory-products/' + this.delivery.selectedFromId).then(({ data }) => {
          this.products = data;
          console.log(data);
        })
      } else {
        axios.get('/api/project/get-inventory-products/' + this.delivery.selectedFromId).then(({ data }) => {
          this.products = data;
          console.log(data);
        });
      }
    },
    async getModelData(){
      const models = [{name: 'project', model: 'Project'}, {name: 'warehouse', model: 'Warehouse'}];
      await axios.post('/api/get-model-data', models).then(response => {
        this.projects = response.data[0].project;
        this.warehouses = response.data[1].warehouse;
        this.froms = this.warehouses;
        this.toes = this.warehouses;
        this.toesList = this.warehouses;
      })
    },
    checkValidation() {
      let valid = true;
      let multipleProduct = false;
      let unavalailableProducts = '';
      console.log('checkValidation');
      this.delivery.ItemRows.forEach((item) => {
        console.log(item);
        if(item.quantity > item.availability){
          if(multipleProduct) unavalailableProducts += ', '+item.product_name;
          else unavalailableProducts += item.product_name;
          multipleProduct = true;
          valid = false;
        }
      });
      // console.log(unavalailableProducts);
      // if(unavalailableProducts){
      //   this.$message.error('Not enough '+unavalailableProducts+' avalailable');
      // }
      if (valid === true) {
        if (this.mood === 'create') {
          this.createDelivery();
        } else if (this.mood === 'edit') {
          this.updateDelivery();
        }
      } else {
        this.$message.error('Not enough '+unavalailableProducts+' avalailable');
      }
    },
    createDelivery() {
      deliveryResource
        .store(this.delivery)
        .then((res) => {
          this.resetDeliveryForm();
          this.$message({
            message: 'Delivery Has been created successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    async resetDeliveryForm() {
      let gatepass_number = '';
      await getItemLastId('Delivery').then((res) => {
        gatepass_number = 'GP#' + res;
      });
      this.delivery = {
        delivery_date: getCurrentDate(),
        gatepass_number: gatepass_number,
        delivery_type: '',
        froms: [],
        toes: [],
        delivered_by: '',
        delivered_by_phone: '',
        note: '',
        ItemRows: [
          {
            product_id: '',
            product_name: '',
            quantity: '',
            availability: '',
          },
        ],
      };
    },
  },
  watch: {
    'delivery.selectedFromId': function(){
      if(this.delivery.delivery_type == 1 || this.delivery.delivery_type == 4){
        this.toesList = this.toes.filter(item => 
             item.id != this.delivery.selectedFromId 
        );
      }
      console.log('');
    }
  },
};
</script>

<style scoped>
.inline .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
.el-dialog {
  width: 70% !important;
}
</style>