<template>
  <div class="app-container">
    <el-form
      v-loading="requisitionCreating"
      :model="requisition"
      :rules="rules"
      ref="requisitionForm"
      label-width="100%"
    >
      <h2 style="text-align:center">New Project Requisition Create</h2>
      <el-row :gutter="20">
        <el-col :span="6">
          <el-form-item label="PRS No." prop="prs_number">
            <span v-if="requisition.prs_number">{{ requisition.prs_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Requisition Date" prop="requisition_date">
            <span v-if="mood === 'view'">{{ requisition.requisition_date }}</span>
            <el-date-picker
              v-else
              v-model="requisition.requisition_date"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            ></el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Project Type" prop="project_type_id">
            <span
              v-if="mood === 'view' && requisition.projectType"
            >{{ requisition.projectType.name }}</span>
            <el-select v-else v-model="requisition.project_type_id" placeholder="Select">
              <el-option
                v-for="item in projectTypes"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Quantity" prop="quantity">
            <span v-if="mood === 'view'">{{ requisition.quantity }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.quantity"></el-input>
          </el-form-item>
        </el-col>
        
        <el-col :span="6">
          <el-form-item label="Requation By" prop="requisition_by">
            <span
              v-if="mood === 'view'"
            >{{ requisition.requisition_by }}</span>
            <el-autocomplete
             v-else
              class="inline-input"
              v-model="requisition.requisition_by"
              :fetch-suggestions="querySearch"
              placeholder="Please Input"
              @select="handleSelect"
              :trigger-on-focus="false"
            >
            <template slot-scope="{ item }">
              <div class="value">{{ item.company }}</div>
            </template>
            </el-autocomplete>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Beneficiary Name/ Project name" prop="name">
            <span v-if="mood === 'view'">{{ requisition.name }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.name"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="NID Number" prop="nid_number">
            <span v-if="mood === 'view'">{{ requisition.nid_number }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.nid_number"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Mobile Number" prop="phone">
            <span v-if="mood === 'view'">{{ requisition.phone }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.phone"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="$t('project.state_id')" prop="state_id">
            <el-select
              v-model="requisition.state_id"
              placeholder="Please select State"
              @change="getDistrict(requisition.state_id)"
              :disabled="mood === 'view'"
            >
              <el-option
                v-for="state in states"
                :key="state.id"
                :value="state.id"
                :label="state.name"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="$t('project.district_id')" prop="district_id">
            <el-select
              v-model="requisition.district_id"
              placeholder="Please select District"
              @change="getCities(requisition.district_id)"
              :disabled="mood === 'view'"
            >
              <el-option
                v-for="district in districts"
                :key="district.id"
                :value="district.id"
                :label="district.name"
              />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item :label="$t('project.city')" prop="city_id">
            <el-select  :disabled="mood === 'view'" v-model="requisition.city_id" placeholder="Please select City">
              <el-option v-for="city in cities" :key="city.id" :value="city.id" :label="city.name" />
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Address(English)" prop="location">
            <span v-if="mood === 'view'">{{ requisition.location }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.location"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Address(Bangla)" prop="bn_address">
            <span v-if="mood === 'view'">{{ requisition.bn_address }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.bn_address"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="6">
          <el-form-item label="GPS Number" prop="gps">
            <span v-if="mood === 'view'">{{ requisition.gps }}</span>
            <el-input v-else placeholder="Please input" v-model="requisition.gps"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Details" prop="details">
            <span v-if="mood === 'view'">{{ requisition.details }}</span>
            <el-input
              v-else
              type="textarea"
              :rows="2"
              placeholder="Please input"
              v-model="requisition.details"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item label="Remark" prop="remark">
            <span v-if="mood === 'view'">{{ requisition.remark }}</span>
            <el-input
              type="textarea"
              :rows="2"
              v-else
              placeholder="Please input"
              v-model="requisition.remark"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="mood === 'edit'||mood === 'view'">
          <el-form-item label="Site Code" prop="site_code">
            <span v-if="mood === 'view'">{{ requisition.site_code }}</span>
            <!-- <el-input v-else placeholder="Please input" v-model="requisition.site_code"></el-input> -->
          </el-form-item>
        </el-col>
      </el-row>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button v-if="mood === 'create'" type="info" @click="resetForm">Clear</el-button>
        <el-button v-if="mood === 'view'" type="info" @click="print">Print</el-button>
        <el-button
          v-if="mood === 'create'"
          type="primary"
          @click="createNewRequision"
        >{{ $t('table.confirm') }}</el-button>
        <el-button v-if="mood === 'edit'" type="primary" @click="updateRequision">Update</el-button>
      </div>
    </el-form>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const requisitionResource = new Resource('project-requisition');
const subcontractorResource = new Resource('subcontractors');
export default {
  props: ['projectTypes', 'subcontractors', 'mood', 'requisition'],
  data() {
    return {
      requisitionCreating: false,
      states: [],
      districts: [],
      cities: [],
      rules: {
        requisition_date: [
          {
            required: true,
            message: 'Requisition Date is required',
            trigger: 'blur',
          },
        ],
        project_type_id: [
          {
            required: true,
            message: 'Project Type is required',
            trigger: 'blur',
          },
        ],
        requisition_by: [
          {
            required: true,
            message: 'Requisition by Name is required',
            trigger: 'blur',
          },
        ],
        name: [
          {
            required: true,
            message: 'Beneficiary Name/ Project name is required',
            trigger: 'blur',
          },
        ],
        nid_number: [
          {
            required: true,
            message: 'NID Number is required',
            trigger: 'blur',
          },
        ],
        phone: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  mounted() {
    this.getState();
    setTimeout(() => {
      this.getDistrict(this.requisition.state_id);
      this.getCities(this.requisition.district_id);
    }, 200)
  },
  methods: {
    async querySearch(queryString, cb) {
      const subcontractorResponse = await subcontractorResource.list(queryString);
      let links = subcontractorResponse.data;
      let results = queryString ? links.filter(this.createFilter(queryString)) : links;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (link) => {
        return (link.company.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    handleSelect(item) {
      this.requisition.requisition_by = item.company;
    },
    createNewRequision() {
      this.$refs['requisitionForm'].validate((valid) => {
        if (valid) {
          this.requisitionCreating = true;
          requisitionResource
            .store(this.requisition)
            .then((result) => {
              this.requisitionCreating = false;
              this.$message({
                message: 'Requisition has been created successfully.',
                type: 'success',
              });
              this.resetForm();
            })
            .catch((err) => {
              this.requisitionCreating = false;
              console.log(err);
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetForm() {
      this.requisition = {
        prs_number: '',
      };
    },
    checkLoad() {
      this.$emit('loadForm');
    },
    print() {
      window.print();
    },
    updateRequision() {
      this.$refs['requisitionForm'].validate((valid) => {
        if (valid) {
          this.requisitionCreating = true;
          requisitionResource
            .update(this.requisition.id, this.requisition)
            .then((result) => {
              this.requisitionCreating = false;
              this.$message({
                message: 'Requisition has been updated successfully.',
                type: 'success',
              });
              this.$router.push('/projects/requisition');
            })
            .catch((err) => {
              this.requisitionCreating = false;
              console.log(err);
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    getState() {
      const country_id = 19;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },
    getDistrict(sid) {
      const state_id = sid;
      axios.get('/api/districts/' + state_id).then(({ data }) => {
        this.districts = data.districts;
      });
    },
    getCities(did) {
      const district_id = did;
      axios.get('/api/cities/' + district_id).then(({ data }) => {
        this.cities = data.cities;
      });
    }
  },
};
</script>

<style>
label.el-form-item__label {
  width: 100% !important;
  text-align: start !important;
}
</style>