<template>
  <div>
    <el-table v-loading="loading" :data="list" border fit highlight-current-row>
      <el-table-column align="center" label="ID" width="50" type="index" />
      <el-table-column align="center" label="PRS Number">
        <template slot-scope="scope">
          <span>{{ scope.row.prs_number }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Requisition Date">
        <template slot-scope="scope">
          <span>{{ scope.row.requisition_date }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Beneficiary Name / Project Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Requisition By">
        <template slot-scope="scope">
          <span>{{ scope.row.requisition_by }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Project Type">
        <template slot-scope="scope">
          <span v-if="scope.row.projectType">{{ scope.row.projectType.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Project Details">
        <template slot-scope="scope">
          <span>{{ scope.row.details }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Address">
            <template slot-scope="scope">
            <span>{{ scope.row.location }}</span>
            </template>
        </el-table-column>
        <el-table-column align="center" label="Remark">
            <template slot-scope="scope">
            <span>{{ scope.row.remark }}</span>
            </template>
      </el-table-column>

      <el-table-column align="center" width="230" label="Actions">
        <template slot-scope="scope">
          <router-link :to="'/projects/requisition/edit/' + scope.row.id">
            <el-button
              v-permission="['update project requisition']"
              type="primary"
              size="mini"
              icon="el-icon-view"
            >View</el-button>
          </router-link>
          <el-button
            v-permission="['update project requisition']"
            v-if="!scope.row.site_code"
            type="primary"
            size="mini"
            icon="el-icon-plus"
            @click="handleSiteCode(scope.row.id)"
          >Add SiteCode</el-button>
        </template>
      </el-table-column>
    </el-table>

    <!-- site code add modal -->
    <el-dialog title="Add Site Code" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="SiteCodeForm" :rules="rules">
        <el-form-item label="Site Code" prop="site_code">
          <el-autocomplete
            class="inline-input"
            v-model="SiteCodeForm.site_code"
            :fetch-suggestions="querySearch"
            placeholder="Please Input"
            :trigger-on-focus="false"
            @select="handleSelect"
            >
            <template slot-scope="{ item }">
              <div class="value">{{ item.site_code }}</div>
            </template>
            </el-autocomplete>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="setSiteCode">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const projectsResource = new Resource('projects');
import permission from '@/directive/permission';
import waves from '@/directive/waves'; // Waves directive
import axios from 'axios';
export default {
  props: ['list', 'loading'],
  directives: { waves, permission },
  data() {
    return {
      // loading: false,
      dialogFormVisible: false,
      requisitionId: null,
      SiteCodeForm: {},
      rules: {
          site_code: [
          { required: true, message: 'Site Code is required', trigger: 'blur' },
        ],
      },
      links: [],
    };
  },
  methods: {
    handleSiteCode(id) {
      this.requisitionId = id;
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['ruleForm'].clearValidate();
      });
    },
    async querySearch(queryString, cb) {
        let query = {
            keyword: queryString,
        };
        let projectResponse = await projectsResource.list(query);
        let projects = projectResponse.data;
        let results = queryString ? projects.filter(this.createFilter(queryString)) : projects;
        // call callback function to return suggestions
        cb(results);
      },
      createFilter(queryString) {
        return (project) => {
          return (project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
        };
        
      },
      loadAll() {
        
      },
    handleSelect(item) {
      if(item.project_requisition_id){
        this.$message({
            message: 'Site Code is Already Added',
            type: 'error',
        });
      }else {
        this.SiteCodeForm.site_code = item.site_code;
      };
    },
    setSiteCode() {
      this.$refs['ruleForm'].validate((valid) => {
          if (valid) {
            axios.post('/api/project-requisition/set-site-code/' + this.requisitionId, this.SiteCodeForm).then(res => {
                this.$message({
                    message: 'Site Code Added',
                    type: 'success',
                });
                this.dialogFormVisible = false;
            })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
    },
  },
};
</script>

<style scoped>
.el-autocomplete.inline-input {
    width: 500px;
}
</style>