<template>
  <div id="bill_print" class="app-container">
    <view-component v-if="clientBill" mood="receive" :client-bill="clientBill" />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const clientBillResource = new Resource('client-bill');
import ViewComponent from './ViewComponent.vue';
export default {
  components: { ViewComponent },
  data() {
    return {
      activeName: 'first',
      clientBill: {},
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    async fetchData(id) {
      clientBillResource.get(id).then(({ data }) => {
        this.clientBill = data;
      });
    },
  },
};
</script>