<template>
  <div id="bill_print" class="app-container">
    <!-- <el-card> -->
    <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
    <el-form
      ref="clientBillForm"
      :rules="rules"
      :model="clientBill"
      label-position="left"
      label-width="150px"
    >
      <el-row :gutter="20">
        <el-col :span="6" class="p-hide">
          <el-form-item label="Supervised By Name" prop="supervised_by">
            <el-select
              :disabled="mood === 'view' || mood === 'receive'"
              v-model="clientBill.supervised_by"
              placeholder="Select"
            >
              <el-option v-for="item in users" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="12" class="p-hide">
          <el-form-item label="Payment Details" prop="payment_details">
            <el-input
              v-if="mood === 'edit'"
              v-model="clientBill.payment_details"
              type="textarea"
              :rows="1"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.payment_details }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_submission_date" class="p-hide">
          <el-form-item label="Bill Submission Date" prop="bill_submission_date">
            <el-date-picker
              v-model="clientBill.bill_submission_date"
              v-if="mood === 'edit'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.bill_submission_date }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_submission_number" class="p-hide">
          <el-form-item label="Bill Submission Number" prop="bill_submission_number">
            <el-input v-if="clientBill.bill_submission_number && mood === 'edit'" v-model="clientBill.bill_submission_number"  placeholder="Please input" />
            <span v-else>{{ clientBill.bill_submission_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.estimated_payment_date" class="p-hide">
          <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
            <el-date-picker
              v-model="clientBill.estimated_payment_date"
              v-if="mood === 'edit'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.estimated_payment_date }}</span>
          </el-form-item>
        </el-col>

        <el-col :span="6" v-if="clientBill.bill_received_date || mood === 'receive'" class="p-hide">
          <el-form-item label="Bill Receive Date" prop="bill_received_date">
            <el-date-picker
              v-model="clientBill.bill_received_date"
              v-if="mood === 'receive' && clientBill.bill_status === 'pending'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.bill_received_date }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_received_number || mood === 'receive'" class="p-hide">
          <el-form-item label="Bill Receive Number" prop="bill_received_number">
            <el-input
              v-model="clientBill.bill_received_number"
              v-if="mood === 'receive' && clientBill.bill_status === 'pending'"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.bill_received_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="12" class="p-hide">
          <div>
            <!-- <h3>Create Client Bill For</h3> -->
            <el-form-item label="Client Company" prop="client_id">
              <template>
                <el-select
                  v-model="clientBill.client_id"
                  placeholder="Select"
                  disabled
                  @change="getClientProjects(clientBill.client_id)"
                >
                  <el-option
                    v-for="item in clients"
                    :key="item.id"
                    :label="item.company"
                    :value="item.id"
                  />
                </el-select>
              </template>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="24">
          <div class="grid-content bg-purple-light">
            <el-form-item>
              <!-- <el-input v-model="clientBill.prepared_date" placeholder="Please input" readonly /> -->
              <span>{{ clientBill.prepared_date }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="24">
          <h4>To</h4>
          <template v-if="client">
            <tinymce v-model="clientBill.to" v-if="mood === 'edit'" :height="190" placeholder="Please input" />
            <span v-else v-html="clientBill.to"></span>
          </template>
        </el-col>

        <br>
        <el-col :span="24" style="margin-top: 20px">
          <span />
          <template>
            <tinymce v-if="mood === 'edit'" v-model="clientBill.subject" :readonly="mood === 'view'?1:0" :height="20" />
            <span v-else v-html="clientBill.subject"></span>
          </template>
        </el-col>
        <br>
        <el-col id="referance" :span="24" style="margin-top: 20px">
          <el-row :gutter="20">
            <el-col :span="2" style="margin-top: 8px;">Referance:</el-col>
            <el-col :span="8">
              <el-form-item label="PO No: ">
                <el-input v-if="clientBill.work_order_id && mood === 'edit'" v-model="clientBill.work_order_id" :disabled="mood === 'view'" placeholder="Please input" />
                <span v-else>{{ clientBill.work_order_id }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="Date: ">
                <el-date-picker
                  v-if="mood === 'edit'"
                  v-model="clientBill.send_date"
                  :disabled="mood === 'view'"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
                <span v-else>{{ clientBill.send_date }}</span>
              </el-form-item>
            </el-col>
            <el-col :span="7">
              <el-form-item label="PR No:">
                <el-input v-if="mood === 'edit'" v-model="clientBill.bill_received_number" :disabled="mood === 'view'" placeholder="Please input" />
                <span v-else>{{ clientBill.bill_received_number }}</span>
              </el-form-item>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <tinymce
            v-if="clientBill.msg1 && mood === 'edit'"
            v-model="clientBill.msg1"
          />
          <span v-else v-html="clientBill.msg1"></span>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <table class="item_table">
            <thead class="thead">
                <tr valign="top">
                  <th rowspan="2">SI No.</th>
                  <th rowspan="2">Item</th>
                  <!-- <th rowspan="2">Description</th> -->
                  <th rowspan="2">Submited Amount</th>
                  <th colspan="8">Bill Amount</th>
                </tr>
                <tr valign="top">
                  <template v-if="mood !== 'receive'">
                    <th>Quantity</th>
                    <th>Unit Price (with VAT)</th>
                    <th>Project Amount</th>
                  </template>
                  <template v-if="mood === 'receive'">
                    <th>Vat</th>
                    <th>Tax</th>
                    <th>SD</th>
                    <th>Deduction</th>
                    <th>Cheque Amount</th>
                  </template>
                  
                  <th>Remarks</th>
                  <th class="p-hide">Action</th>
                </tr>
              </thead>
            <tbody class="tbody">
              <template v-for="(billRow, index) in clientBill.BillRows">
                <gp-bill-info-view v-if="client.projects" :key="index" :mood="mood" :BillRows="clientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" @checkChange="checkChange" />
              </template>
              <el-button :disabled="mood === 'view'" @click="addNew">Add New</el-button>
            </tbody>
            <tfoot class="tfoot" v-if="mood !== 'receive'">
                <tr valign="top">
                  <td colspan="3">Total</td>
                  <template v-if="mood !== 'receive'">
                    <td>{{ totalQuantity }}</td>
                    <td colspan="1" />
                  </template>
                  <td>{{ totalAmount }}</td>
                  <td />
                  <td class="p-hide" />
                </tr>
              </tfoot>
              <tfoot class="tfoot" v-if="mood === 'receive'">
                <tr valign="top">
                  <td colspan="7">Total</td>
                  <td>{{ totalAmount }}</td>
                  <td colspan="2" class="p-hide" />
                </tr>
                <tr>
                <td colspan="7">Total Vat</td>
                <td v-if="this.clientBill.BillRows">{{ totalVat }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total Tax</td>
                <td v-if="this.clientBill.BillRows">{{ totalTax }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total SD</td>
                <td v-if="this.clientBill.BillRows">{{ totalSD }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total Deduction</td>
                <td v-if="this.clientBill.BillRows">{{ totalDeduction }}</td>
                 <td colspan="2" />
              </tr>
              <tr>
                <td colspan="7">Total Cheque Amount</td>
                <td v-if="this.clientBill.BillRows">{{ totalChequeAmount }}</td>
                <td colspan="2" />
              </tr>
              </tfoot>
          </table>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <tinymce
            v-model="clientBill.msg2" v-if="mood === 'edit'"
          />
          <span v-else v-html="clientBill.msg2"></span>
        </el-col>
        <el-col :span="24" style="margin-top: 20px;">
          <el-row>
            <el-col :span="4">`</el-col>
            <el-col :span="6">
              <el-input
                v-model="clientBill.attached"
                v-if="mood === 'edit'"
                type="textarea"
                :rows="8"
                placeholder="Please input"
              />
              <pre v-else>{{ clientBill.attached }}</pre>
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </el-form>
    <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
      <!-- <el-button v-if="mood !== 'view'" type="info" @click="resetBillForm"> Clear </el-button> -->
      <el-button v-if="mood === 'view'" type="info" @click="printBill"> Print </el-button>
      <el-button v-if="mood !== 'view'" type="primary" @click="updateClientBill()">
        {{ $t('table.confirm') }}
      </el-button>
    </div>
    <!-- </el-card> -->
  </div>
</template>

<script>
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
const converter = require('number-to-words');
import GpBillInfoView from './GpBillInfoView.vue';
export default {
  components: { Tinymce, GpBillInfoView },
  props: ['clientBill', 'mood'],
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      state: '',
      rules: {},
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      margedDetails: '',
      to: null,
      referance: '',
      totalAmount: 0,
      totalAmountWord: '',
      totalQuantity: 0,
      totalVat: 0,
      totalTax: 0,
      totalSD: 0,
      totalDeduction: 0,
      totalChequeAmount: 0,
    };
  },
  created() {
    this.getData();
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
      this.getClientProjects(this.clientBill.client_id);
    },
    async getClientProjects(cid) {
      this.client = this.clients.find((c) => c.id === cid);
    },
    querySearch(queryString, cb) {
      const projects = this.client.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    checkChange() {
      let amount = 0;
      let quantity = 0;
      let margedDetails = '';
      let totalVat = 0;
      let totalTax = 0;
      let totalSD = 0;
      let totalDeduction = 0;
      this.clientBill.BillRows.forEach((element) => {
        margedDetails = margedDetails + ', ' + element.details;
        amount = amount += parseInt(element.amount) || 0;
        quantity = quantity += element.quantity;
        totalVat = totalVat + parseFloat(element.vat);
        totalTax = totalTax + parseFloat(element.tax);
        totalSD = totalSD + parseFloat(element.sd);
        totalDeduction = totalDeduction + parseFloat(element.deduction);
      });
      this.totalVat = totalVat;
      this.totalTax = totalTax;
      this.totalSD = totalSD;
      this.totalDeduction = totalDeduction;
      this.clientBill.work_order_id = this.clientBill.BillRows[0].work_order_id;
      this.totalAmount = amount;
      this.totalQuantity = quantity;
      this.margedDetails = margedDetails;
      this.totalChequeAmount = this.totalAmount - (totalVat + totalTax + totalSD + totalDeduction);
    },
    remove(index) {
      this.clientBill.BillRows.splice(index, 1);
      this.checkChange();
    },

    addNew() {
      this.clientBill.BillRows.push({
        site_code: '',
        project_type: '',
        details: '',
        remarks: '',
        amount: 0,
        vat: 0,
        tax: 0,
        deduction: 0,
        cheque_amount: 0,
      });
    },
    updateClientBill() {
      this.clientBill.total_cheque_amount = this.totalChequeAmount;
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          this.clientBill.mood = this.mood;
          clientBillResource
            .update(this.clientBill.id, this.clientBill)
            .then((response) => {
              this.$message({
                message: 'Client bill has been updated successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.$router.push('/accounts/client-bill/list');
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    printBill() {
      window.print();
    },
    resetBillForm() {
      this.clientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}
#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17 {
    display: none;
}
#referance .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.el-input.is-disabled .el-input__inner {
    color: #606266 !important;
}
.el-textarea.is-disabled .el-textarea__inner {
    color: #606266 !important;
}
</style>
