<template>
  <div>
    <el-table
      ref="multipleTable"
      :data="tableData"
      style="width: 100%"
      highlight-current-row
    >
      <el-table-column type="index" label="SI" :min-width="3" />
      <el-table-column label="Prepare Date" :min-width="10" sortable prop="prepared_date">
        <template slot-scope="scope">{{ scope.row.clientBill.prepared_date }}</template>
      </el-table-column>
      <el-table-column label="Bill ID" :min-width="15">
        <template slot-scope="scope">{{ scope.row.clientBill.bill_id }}</template>
      </el-table-column>
      <el-table-column label="Client Name ID" :min-width="20">
        <template v-if="scope.row.clientBill.client" slot-scope="scope">{{ scope.row.clientBill.client.company }}</template>
      </el-table-column>
      <el-table-column label="Cancel Bill Amount" :min-width="15" sortable prop="amount">
        <template slot-scope="scope">{{ scope.row.amount }}</template>
      </el-table-column>

      <el-table-column label="Cancel Details" :min-width="15">
        <template slot-scope="scope">{{ scope.row.details }}</template>
      </el-table-column>

      <el-table-column label="Remarks" :min-width="15">
        <template slot-scope="scope">{{ scope.row.remarks }}</template>
      </el-table-column>

      <el-table-column label="Action" :min-width="7">
        <template slot-scope="scope">
          <router-link
            v-permission="['view client bill']"
            :to="'/accounts/bill-format/view/' + scope.row.clientBill.bill_format + '/' + scope.row.clientBill.id"
          >
            <el-button size="small" type="primary">view</el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission';
import Resource from '@/api/resource';
const clientBillResource = new Resource('client-bill');
import { EventBus } from '@/app';
import axios from 'axios';

export default {
  directives: { waves, permission },
  props: ['tableData'],
  data() {
    return {
      multipleSelection: [],
      dialogFormVisible: false,
      PRNoForm: {},
      billID: '',
      formLabelWidth: 120,
      rules: {
        bill_received_number: [
          {
            required: true,
            message: 'Please Bill Receive Number',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created(){
    
  },
  methods: {
    
    tableRowClassName({ row }) {
      if (row.status === 'received') {
        return 'success-row';
      } else if (row.tatus === 'canceled') {
        return 'warning-row';
      }
      return '';
    },
  },
};
</script>
