<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%"
      :row-class-name="tableRowClassName"
      highlight-current-row

    >
      <el-table-column type="index" :min-width="5" />
      <el-table-column label="Prepare Date" >
        <template slot-scope="scope">{{ scope.row.prepared_date }}</template>
      </el-table-column>
      <el-table-column label="Bill ID" sortable prop="bill_id">
        <template slot-scope="scope">{{ scope.row.bill_id }}</template>
      </el-table-column>
      <el-table-column label="Client Name" >
        <template slot-scope="scope">{{ scope.row.client.company }}</template>
      </el-table-column>
      <el-table-column v-if="name === 'all'" label="Bill Status" >
        <template slot-scope="scope">{{ scope.row.bill_status }}</template>
      </el-table-column>
      <el-table-column sortable prop="bill_submission_date" v-if="name !== 'draft' && name !== 'created'" label="BS Date" >
        <template slot-scope="scope">{{ scope.row.bill_submission_date }}</template>
      </el-table-column>
      
      <el-table-column v-if="name !== 'draft' && name !== 'created'" label="BS Number" sortable prop="bill_submission_number" >
        <template slot-scope="scope">{{ scope.row.bill_submission_number }}</template>
      </el-table-column>
      <el-table-column v-if="name === 'pending' || name  === 'all'" label="Estimated Payment Date" sortable prop="estimated_payment_date" >
        <template slot-scope="scope">{{ scope.row.estimated_payment_date }}</template>
      </el-table-column>
      <el-table-column v-if="name  === 'received' || name  === 'all'" label="BR Date" sortable prop="bill_received_date" >
        <template slot-scope="scope">{{ scope.row.bill_received_date }}</template>
      </el-table-column>
      <el-table-column v-if="name === 'received' || name  === 'all'" label="BR Number" sortable prop="bill_received_number">
        <template slot-scope="scope">{{ scope.row.bill_received_number }}</template>
      </el-table-column>
      <el-table-column v-if="name !== 'received'" label="Total Bill Amount" sortable prop="total_bill_amount">
        <template slot-scope="scope">{{ scope.row.total_bill_amount }}</template>
      </el-table-column>
      <el-table-column v-if="name === 'received'" label="BR Amount" sortable prop="total_cheque_amount">
        <template slot-scope="scope">{{ scope.row.total_cheque_amount }}</template>
      </el-table-column>
    
      <el-table-column label="Action" :min-width="120">
        <template slot-scope="scope">
          <router-link
            v-permission="['view client bill']"
            :to="'/accounts/bill-format/view/' + scope.row.bill_format + '/' + scope.row.id"
          >
            <el-button size="mini" type="primary">view</el-button>
          </router-link>
           <router-link
            v-if="scope.row.bill_status === 'pending'"
            v-permission="['receive client bill']"
            :to="'/accounts/bill-format/receive/' + scope.row.bill_format + '/' + scope.row.id"
          >
            <el-button size="mini" type="success">Receive</el-button>
          </router-link>
          <el-button
            v-if="scope.row.bill_status === 'created'"
            v-permission="['set client bill BS number']"
            size="mini"
            type="info"
            @click="handleBSNoForm(scope.row.id)"
          >Set BS No.</el-button>
          
          <!-- <el-button
            v-if="scope.row.bill_status === 'created'"
            v-permission="['cancel client bill']"
            size="small"
            type="danger"
            @click="cancelClientBill(scope.row.id)"
          >Cancel</el-button> -->
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="Add Bill Submission Number" :visible.sync="dialogFormVisible">
      <el-form ref="ruleForm" :model="BSNoForm" :rules="rules">
        <el-form-item
          label="Bill Submission Number"
          prop="bill_submission_number"
        >
          <el-input v-model="BSNoForm.bill_submission_number" autocomplete="off" />
        </el-form-item>
        <el-form-item
          label="Bill Submission Date"
          prop="bill_submission_date"
        >
          <el-date-picker
            v-model="BSNoForm.bill_submission_date"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
        <el-form-item
          label="Estimated Payment Date"
          prop="bill_submission_date"
        >
          <el-date-picker
            v-model="BSNoForm.estimated_payment_date"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd"
          />
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="setBSNo">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission';
import Resource from '@/api/resource';
const clientBillResource = new Resource('client-bill');
import { EventBus } from '@/app';
import axios from 'axios';

export default {
  directives: { waves, permission },
  props: ['tableData', 'name'],
  data() {
    return {
      multipleSelection: [],
      dialogFormVisible: false,
      BSNoForm: {},
      billID: '',
      formLabelWidth: 120,
      rules: {
        bill_submission_number: [
          {
            required: true,
            message: 'Please Bill Submission Number',
            trigger: 'blur',
          },
        ],
        bill_submission_date: [
          {
            required: true,
            message: 'Please Bill Submission Date',
            trigger: 'blur',
          },
        ],
        estimated_payment_date: [
          {
            required: true,
            message: 'Please Estimated Payment Date',
            trigger: 'blur',
          },
        ],
      },
    };
  },

  methods: {
    toggleSelection(rows) {
      if (rows) {
        rows.forEach((row) => {
          this.$refs.multipleTable.toggleRowSelection(row);
        });
      } else {
        this.$refs.multipleTable.clearSelection();
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
      EventBus.$emit('bill-selected', this.multipleSelection);
    },
    cancelClientBill(id) {
      this.$confirm('This will cancel this bill . Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      })
        .then(() => {
          clientBillResource
            .destroy(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Delete completed',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled',
          });
        });
    },
    handleBSNoForm(id) {
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['ruleForm'].clearValidate();
      });
      this.billID = id;
    },

    setBSNo(){
      this.$refs['ruleForm'].validate((valid) => {
        if (valid) {
          axios
            .post('/api/client-topsheet/set-bs-number/' + this.billID, this.BSNoForm)
            .then((res) => {
              this.$message({
                type: 'success',
                message: 'Bill Receive Number Set Done',
              });
              this.dialogFormVisible = false;
            }).catch(error => {
              console.log(error);
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    tableRowClassName({ row }) {
      if (row.bill_status === 'received') {
        return 'success-row';
      } else if (row.bill_status === 'canceled') {
        return 'warning-row';
      }
      return '';
    },
    canSelectRow(row, index) {
      return row.bill_status === 'submited' || row.bill_status === 'pending';
    },
    receiveBill(id, format){
      this.$router.push('accounts/bill-format/receive/' + format + '/' + id);
    }
  },
};
</script>
