<template>
  <div>
    <el-table
      :data="tableData"
      style="width: 100%"
      highlight-current-row
    >
      
      <el-table-column label="Site Code">
        
        <template slot-scope="scope">
          <input :disabled="multipleSelection.length > 0 ? multipleSelection[0].client_id !== scope.row.project.client_id : false" style="margin-right: 10px" v-model="multipleSelection" @click="getSelectedProject(scope.row.project)" type="checkbox" :key="scope.row.id" :value="scope.row.id">
          {{ scope.row.project.site_code }}
        </template>
      </el-table-column>
      <el-table-column label="Client Name">
        <template slot-scope="scope">{{ scope.row.project.client.company }}</template>
      </el-table-column>
      <el-table-column label="Stage Name">
        <template slot-scope="scope">{{ scope.row.stage_name }}</template>
      </el-table-column>
      <el-table-column label="Aggrement Amount">
        <template slot-scope="scope">{{ scope.row.project.project_amount }}</template>
      </el-table-column>
      <el-table-column label="Stage Amount">
        <template slot-scope="scope">{{ scope.row.stage_amount }}</template>
      </el-table-column>
    </el-table>
    <!-- <el-button @click="getProjects"></el-button> -->
  </div>
</template>

<script>
export default {
  props: ['tableData'],
  data() {
    return {
      multipleSelection: [],
      checked: [],
    };
  },
  created() {},
  methods: {
    getSelectedProject(project){
      if (!this.multipleSelection.includes(project)) {
        this.multipleSelection.push(project);
        if(project.id){
          this.checked.push(project);
        }
      } else {
        this.multipleSelection.splice(this.multipleSelection.indexOf(project), 1);
      }
      this.checkChanges();
    },
    checkChanges(){
      this.$emit('getSelectedProjects', this.checked);
    }
  },
};
</script>

<style>
</style>