<template>
  <el-card>
    <div v-loading="clientBillCreating" class="form-container">
      <el-form
        ref="clientBillForm"
        :model="clientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Bill ID">
                <p v-if="clientBill">{{ clientBill.bill_id }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Bill Status">
                <p v-if="clientBill">{{ clientBill.bill_status }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Client Name">
                <p v-if="clientBill.client">{{ clientBill.client.name }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Client Company">
                <p v-if="clientBill.client">{{ clientBill.client.company }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Bill Receive Number">
                <p v-if="clientBill">{{ clientBill.bill_received_number }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Supervised By">
                <p v-if="clientBill.supervisedBy">{{ clientBill.supervisedBy.name }}</p>
              </el-form-item>
            </div>
          </el-col>

          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Bill Send Date">
                <p v-if="clientBill">{{ clientBill.send_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Prepared By">
                <p v-if="clientBill.preparedBy">{{ clientBill.preparedBy.name }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Prepared Date">
                <p v-if="clientBill">{{ clientBill.prepared_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Estimated Payment Date">
                <p v-if="clientBill">{{ clientBill.estimated_payment_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Payment Receive Date">
                <p v-if="clientBill">{{ clientBill.payment_received_date }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <div class="grid-content">
              <el-form-item label="Payment Details">
                <p v-if="clientBill">{{ clientBill.payment_details }}</p>
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <table class="item_table">
          <thead class="thead">
            <tr class="thead_row">
              <th>No.</th>
              <th>Site Code</th>
              <!-- <th>Work Worder ID</th> -->
              <th>Project Amount</th>
              <th>Submit Amount</th>
              <th>Vat</th>
              <th>Tax</th>
              <th>SD</th>
              <th>Deduction</th>
              <th>Cheque Amount</th>
              <th>Details</th>
              <th>Remark</th>
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody class="tbody">
            <tr v-for="(item, index) in clientBill.billItems" :key="index" class="tbody_row">
              <td>{{ index+1 }}</td>
              <td>{{ item.project.site_code }}</td>
              <!-- <td>{{ item.project.work_order_id }}</td> -->
              <td>{{ item.project.project_amount }}</td>
              <td>{{ item.amount }}</td>
              <td>{{ item.vat }}</td>
              <td>{{ item.tax }}</td>
              <td>{{ item.sd }}</td>
              <td>{{ item.deduction }}</td>
              <td>{{ item.cheque_amount }}</td>
              <td>{{ item.details }} </td>
              <td>{{ item.remarks }} </td>
              <!-- <td>Action</td> -->
              <!-- <td @click.prevent="deleteRow(index, clientPriceListItems)">X</td> -->
            </tr>
          </tbody>
        </table>
      </el-form>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
// const clientResource = new Resource('clients');
const userResource = new Resource('users');
const clientBillResource = new Resource('client-bill');
export default {
  props: ['clientBill'],
  data(){
    return {
      clientBillCreating: false,
      users: null,
      preparedBy: null,
      supervisedBy: null,
    };
  },
  created(){
    // console.log(this.clientBill);
  },
  methods: {
    async getData(){
      this.clientBillCreating = true;
      const response = await userResource.list();
      this.users = response.data;
      this.clientBillCreating = false;
      console.log(this.users);
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
</style>
