<template>
  <div class="app-container">
    <el-form-item label="Milestone Name" prop="milestone_id">
      <el-select
        v-model="milestone.milestone_id"
        @change="getMilestoneWorkDone(milestone.milestone_id)"
        placeholder="Select Milestone"
      >
        <el-option
          v-for="milestone in milestones"
          :key="milestone.id"
          :label="milestone.name"
          :value="milestone.id"
        ></el-option>
      </el-select>
    </el-form-item>
    <el-form-item label="Work Done" prop="work_done">
      <el-input v-model="milestone.work_done" placeholder="Enter Work Done For This Milestone" />
    </el-form-item>
  </div>
</template>

<script>
export default {
  props: ['milestone', 'milestones'],
  methods: {
    getMilestoneWorkDone(milestone_id){
      this.milestones.find(milestone => {
        if(milestone.id == milestone_id){
          this.milestone.work_done = milestone.work_done;
        }
      })
    },
  }
};
</script>

<style>
</style>