<template>
  <div class="app-container">
    <el-card>
      <el-form
        ref="clientBillForm"
        :rules="rules"
        :model="newClientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <div>
              <h3>Create Client Bill For</h3>
              <el-form-item label="Client Company" prop="client_id">
                <template>
                  <el-select
                    v-model="newClientBill.client_id"
                    placeholder="Select"
                    @change="getClientProjects(newClientBill.client_id)"
                  >
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    />
                  </el-select>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="logo" style="display:block">
              <h3 style="visibility: hidden;">Comapny Logo</h3>
              <el-image
                style="width: 150px; height: 120px;display:block;margin-bottom:20px;margin-left: auto"
                :src="url + logo"
              />
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <el-input v-model="newClientBill.bill_id" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple-light">
              <el-form-item label="Prepare Date">
                <el-input v-model="newClientBill.prepared_date" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <el-row :gutter="24">
              <el-col :span="24">
                <h4>From</h4>
                <tinymce v-model="newClientBill.from" :height="110" />
              </el-col>
              <el-col :span="24">
                <h4>To</h4>
                <template v-if="client">
                  <tinymce v-model="newClientBill.to" :height="170" placeholder="Please input" />
                </template>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="12">
            <el-row :gutter="24">
              <el-col :span="24">
                <el-form-item label="Work Order ID" prop="payment_details">
                  <el-input v-model="newClientBill.work_order_id" placeholder="Please input" />
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="Supervised By Name" prop="supervised_by">
                  <el-select v-model="newClientBill.supervised_by" placeholder="Select">
                    <el-option
                      v-for="item in users"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    />
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="Submite Date" prop="send_date">
                  <el-date-picker
                    v-model="newClientBill.send_date"
                    type="date"
                    placeholder="Pick a Date"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="Payment Details" prop="payment_details">
                  <el-input v-model="newClientBill.payment_details" type="textarea" :rows="2" placeholder="Please input" />
                </el-form-item>
              </el-col>
              <el-col :span="24">
                <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
                  <el-date-picker
                    v-model="newClientBill.estimated_payment_date"
                    type="date"
                    placeholder="Pick a Date"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="24">
            <table class="item_table">
              <thead class="thead">
                <tr class="thead_row">
                  <th>No.</th>
                  <th>Site Code</th>
                  <th>Project Type</th>
                  <th>Bill Details</th>
                  <th>Submit Amount</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in newClientBill.BillRows">
                  <bill-info v-if="client.projects" :key="index" :bill-rows="newClientBill.BillRows" :projects="client.projects" :bill-row="billRow" :index="index" />
                </template>
              </tbody>
            </table>
            <el-button @click="addNew">Add New</el-button>
          </el-col>
        </el-row>
      </el-form>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button type="info" @click="resetBillForm"> Clear </el-button>
        <el-button type="primary" @click="createClientBill()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from './Tinymce';
const clientBillResource = new Resource('client-bill');
import BillInfo from './components/BillInfo.vue';

export default {
  components: { Tinymce, BillInfo },
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      newClientBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
          },

        ],
        from: `
        <h4>Dream Structure</h4>
        <p>Md. Ziaur Rahman Mithu</p>
        <p>Implementer</p>
      `,
      },
      rules: {},
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,

      to: null,

    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
    },
    async getClientProjects(cid) {
      this.client = this.clients.find((c) => c.id === cid);
      this.setSendToAddress(this.client);
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/ClientBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newClientBill.bill_id = 'CSB-' + this.SlNo;
      });
    },
    setSendToAddress(client){
      this.newClientBill.to = `
        <h4>${client.name}</h4>
        <p>Country Director</p>
        <p>${client.company}</p>
        <p>Bangladesh Office</p>
        <p>${client.street}</p>
      `;
    },
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}-${
        current.getMonth() + 1
      }-${current.getDate()}`;
      this.newClientBill.prepared_date = this.currentDate;
    },
    addNew(){
      this.newClientBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
        }
      );
    },
    createClientBill() {
      console.log(this.newClientBill);
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          clientBillResource
            .store(this.newClientBill)
            .then((response) => {
              this.$message({
                message:
                  'New client bill has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetBillForm();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    resetBillForm() {
      this.newClientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table {
  margin-top: 20px ;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17, div#mceu_54-body {
    display: none !important;
}
</style>
