<template>
  <div class="app-container">
    <h3>Bill Format</h3>
    <router-link to="/accounts/bill-format/general-format">
      <el-button
        type="primary"
      >General Format</el-button>
    </router-link>
    <router-link to="/accounts/bill-format/ksr-format">
      <el-button
        type="primary"
      >KSR Format</el-button>
    </router-link>
    <router-link to="/accounts/bill-format/gp-format">
      <el-button
        type="primary"
      >GP Format</el-button>
    </router-link>
    <router-link to="/accounts/bill-format/edotco-format">
      <el-button
        type="primary"
      >Edotco Forma</el-button>
    </router-link>
  </div>
</template>

<script>
export default {

};
</script>

<style>

</style>
