<template>
  <div class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt />
      </div>
    </div>
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <router-link :to="'/projects/new-project-assign/create'">
        <el-button
          v-permission="['assign new project']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-plus"
        >{{ $t('table.add') }}</el-button>
      </router-link>

      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >{{ $t('table.export') }}</el-button>
    </div>

    <template>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="New Assaigned" name="prepared">
          <table-component :list="list" :loading="loading" />
        </el-tab-pane>
        <el-tab-pane label="Partial Assaigned" name="partial assaigned">
          <table-component :list="list" :loading="loading" />
        </el-tab-pane>
        <el-tab-pane label="All Assaigned" name="all assaigned">
          <table-component :list="list" :loading="loading" />
        </el-tab-pane>
      </el-tabs>
    </template>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const data_resource = new Resource('new-project-assign');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import { mute, unmute } from '@/api/bank';
import TableComponent from './components/TableComponent.vue';

export default {
  name: 'ChartOfAccount',
  components: { Pagination, TableComponent },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
      imgurl: null,
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      activeName: 'prepared',
      data_create_form_modal: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
        status: 'prepared',
      },
      create_data: {
        cost_enter: false,
      },
      create_dataImage: '',
      dialogFormVisible: false,

      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList(); // get all  list
  },
  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    handleClick(tab, event) {
      this.query.status = tab.name;
      this.handleFilter();
    },

    // get all  list
    async getList() {
      this.loading = true;
      const response = await data_resource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    // load create form
    handleCreate() {
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['data_create_ref'].clearValidate();
      });
    },
    // mute brand
    handleMute(id, name) {
      this.$confirm('Do you want to mute ' + name + '. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      })
        .then(() => {
          mute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Muted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          this.$message({
            type: 'info',
            message: 'mute canceled',
          });
          console.log(error);
        });
    },
    // unmute brand
    handleUnmute(id, name) {
      this.$confirm(
        'Do you want to unmute ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          unmute(id)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Unmuted',
              });
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unmuted canceled',
          });
        });
    },

    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/categories/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },

    // store data
    create_data_chart() {
      this.$refs['data_create_ref'].validate((valid) => {
        if (valid) {
          this.create_data.image = this.image;
          this.data_create_form_modal = true;
          data_resource
            .store(this.create_data)
            .then((response) => {
              this.$message({
                message:
                  this.create_data.name + ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetcreate_data();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.data_create_form_modal = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    // reset data create form
    resetcreate_data() {
      this.create_data = {
        name: '',
      };
    },
    // export list
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'Project Name'];
        const filterVal = ['id', 'name'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'project-status-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
img {
  cursor: pointer;
}
</style>

