<template id="PurchaseForm">
  <el-form-item :label="$t('purchase.product')" class="full-width">
    <el-autocomplete
      v-model="state"
      class="inline-input"
      :fetch-suggestions="querySearch"
      placeholder="Please Input A Product Name"
      :trigger-on-focus="false"
      @select="handleSelect"
    >
      <template slot-scope="{ item }">
        <div class="value">{{ item.name }} ({{ item.code }})</div>
      </template>
    </el-autocomplete>
  </el-form-item>
</template>
<script>
export default {
  name: 'PurchaseForm',
  props: {

  },
  data() {
    return {
      state: this.$parent.state,
    };
  },

  methods: {
    querySearch() {
      this.$emit('querySearchParent');
    },
    handleSelect() {
      this.$emit('handleSelectParent');
    },
  },
};
</script>
