<template>
  <div class="app-container">
    <div v-loading="groupCreating" class="form-container">
      <el-form
        ref="groupForm"
        :rules="rules"
        :model="group"
        label-position="left"
        label-width="150px"
      >
        <el-row :gutter="20">
          <el-col :span="6">
            <el-form-item label="Group Name" prop="name">
              <p v-if="mood === 'view'">{{ group.name }}</p>
              <el-input placeholder="Type Name" v-else v-model="group.name" />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="6">
            <el-form-item label="Parent Group" prop="parent_group">
              <p v-if="mood === 'view' && group.parent">{{ group.parent.name }}</p>
              <el-select v-else v-model="group.parent_group_id" placeholder="Select Group">
                <el-option
                  v-for="item in parentGroups"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col> -->
          <el-col :span="6">
            <el-form-item label="Default Group" prop="default_group">
              <p v-if="mood === 'view' && group.default">{{ group.default.name }}</p>
              <el-select v-else @change="getParentGroupId(group.default_group_id)" v-model="group.default_group_id" placeholder="Select Group">
                <el-option
                  v-for="item in defaultGroups"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Nature" prop="nature">
              <p v-if="mood === 'view'">{{ group.nature }}</p>
              <el-input placeholder="Type Nature" v-else v-model="group.nature" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Effect Gross Profit" prop="effect_gross_profit">
              <p v-if="mood === 'view'">{{ group.effect_gross_profit }}</p>
              <el-input v-else v-model="group.effect_gross_profit" />
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="Cash Flow Type" prop="cash_flow_type">
              <p v-if="mood === 'view'">{{ group.cash_flow_type }}</p>
              <el-input placeholder="Type Cash Flow Type" v-else v-model="group.cash_flow_type" />
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetNewGroup" type="info" v-if="mood === 'create'">Clear</el-button>
        <el-button type="primary" v-if="mood === 'create'" @click="createGroup">{{ $t('table.confirm') }}</el-button>
        <el-button type="primary" v-if="mood === 'edit'" @click="updateGroup">Update</el-button>
      </div>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const groupResource = new Resource('groups');
const parentResource = new Resource('parent-group');
const defaultResource = new Resource('default-group');
export default {
  props: ['group', 'mood'],
  data() {
    return {
      groupCreating: false,
      parentGroups: [],
      defaultGroups: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created(){
    this.getData();
  },
  methods: {
    async getData(){
      let query = {
        limit: '',
      }
      // const parentResponse = await parentResource.list(query);
      // this.parentGroups = parentResponse.data;
      // const defaultResponse = await defaultResource.list(query);
      // this.defaultGroups = defaultResponse.data;
      axios.get('/api/get-all-default-groups').then(response => {
        this.defaultGroups = response.data.data;
      })
    },
    getParentGroupId(id){
      let dGroup = this.defaultGroups.find(d => d.id === id);
      this.group.parent_group_id = dGroup.parent.id;
    },
    createGroup() {
      this.$refs['groupForm'].validate((valid) => {
        if (valid) {
          this.groupCreating = true;
          groupResource
            .store(this.group)
            .then((response) => {
              this.$message({
                message:
                  'New group ' +
                  this.group.name +
                  ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewGroup();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.groupCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    updateGroup(){
      this.$refs['groupForm'].validate((valid) => {
        if (valid) {
          this.groupCreating = true;
          groupResource.update(this.group.id, this.group).then(res => {
            this.dialogFormVisible = false;
            this.$router.push('/accounts/groups/list');
            this.$message({
                message: 'New group has been updated successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
            
          }).catch((error) => {
              console.log(error);
            })
        }
      })
    },
    resetNewGroup() {
      this.group.name = '';
      this.group.parent_group_id = '';
      this.group.default_group_id = '';
      this.group.nature = '';
      this.group.cash_flow_type = '';
    },
  },
};
</script>

<style>
</style>