<template>
  <el-card style="width:600px;margin:auto">
    <el-tabs v-model="activeActivity" @tab-click="handleClick">
      <el-tab-pane label="Account" name="first">
        <el-form>
          <el-form-item label="Entry Pin">
            <el-input v-model="entryPin.entry_pin" />
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>

</template>

<script>

import { fetchEntryPin } from '@/api/entryPin';
import Resource from '@/api/resource';
const entryPinResource = new Resource('entry-pin/update');

export default {
  props: {
    entryPin: {
      type: Object,
      default: () => {
        return {
          entry_pin: '',
        };
      },
    },
  },
  data() {
    return {
      activeActivity: 'first',
      updating: false,
    };
  },
  created() {
    const id = 1;
    this.fetchData(id);
    this.$store.dispatch('setPin');
  },
  mounted(){
    this.$store.state.has_pin;
  },

  methods: {
    fetchData(id) {
      fetchEntryPin(id)
        .then(response => {
          this.entryPin = response.data;
        })
        .catch(err => {
          console.log(err.message);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    onSubmit() {
      this.updating = true;
      if (this.entryPin.entry_pin.length > 4){
        this.$message({
          message: 'Entry Pin Shuld Be Less Than 4',
          type: 'error',
          duration: 5 * 1000,
        });
        this.updating = false;
      } else {
        this.$store.dispatch('checkPin').then((res, err) => {
          entryPinResource
            .update(this.entryPin.id, this.entryPin)
            .then((response) => {
              this.updating = false;
              this.$message({
                message: 'Entry Pin information has been updated successfully',
                type: 'success',
                duration: 5 * 1000,
              });
            })
            .catch((error) => {
              console.log(error.message);
              this.updating = false;
            });
        }).catch(error => {
          console.log(error.message);
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.unit-activity {
  .unit-block {
    .unitname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}
</style>
