<template>
  <div class="app-container">
    <div class="filter-container">
      <el-form
        ref="wbcForm"
        :rules="rules"
        :model="milestone"
        label-position="left"
        label-width="250px"
      >
        <el-form-item label="Milestone Name" prop="name">
          <el-input v-model="milestone.name" :disabled="mood === 'view'" placeholder="Please Enter Milestone Name" />
        </el-form-item>
        <el-form-item label="Total Work Done for This Milestone" prop="work_done">
          <el-input v-model="milestone.work_done" :disabled="mood === 'view'" placeholder="Please Enter Work Done for This Milestone" />
        </el-form-item>
        <el-form-item label="Number of WBC" prop="wbc" v-if="mood === 'create'">
          <el-input v-model.number="milestone.wbc" placeholder="Please Enter WBC Number" @blur="bulkAddNew" />
        </el-form-item>
        <div v-if="milestone.wbcDatas && milestone.wbcDatas.length > 0">
          <div v-for="(wbc, index) in milestone.wbcDatas" :key="index">
            <wbc-info :index="index" :mood="mood" :wbc="wbc"/>
          </div>
        </div>
    
        <el-button
          v-if="mood === 'create'"
          type="primary"
          style="margin-left: 25%"
          @click="createWbc()"
        >{{ $t('table.confirm') }}</el-button>
        <el-button
          v-if="mood === 'edit'"
          type="primary"
          style="margin-left: 25%"
          @click="updateWbc()"
        >Update</el-button>
      </el-form>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const milestoneResource = new Resource('milestones');
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import WbcInfo from './WbcInfo.vue';

export default {
  name: 'MileStoneFormComponent',
  components: { WbcInfo },
  directives: { waves, permission },
  props: ['milestone', 'mood'],
  data() {
    return {
      loading: true,
      downloading: false,
      wbcCreating: false,
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
        wbc: [
          {
            required: true,
            message: 'Stage Number is required',
            trigger: 'blur',
          },
          {
            type: 'number',
            message: 'Stage must be a number',
            trigger: 'blur',
          },
        ],
      },
      wbcs: [],
    };
  },
  created() {},
  methods: {
    bulkAddNew(){
      if(this.milestone.wbc && this.milestone.wbc > 0){
        for (let index = 1; index < this.milestone.wbc; index++) {
          this.addNew();
        }
      }
    },
    addNew(){
      this.milestone.wbcDatas.push({
          name: '',
          work_done: '',        
        })
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    createWbc() {
      this.$refs['wbcForm'].validate((valid) => {
        if (valid) {
          if (this.milestone.wbcDatas.length > 0) {
            this.wbcCreating = true;
            milestoneResource
              .store(this.milestone)
              .then((response) => {
                this.$router.push({ name: 'milestoneList' });
                this.$message({
                  message:
                    'New milestone has been created successfully.',
                  type: 'success',
                  duration: 5 * 1000,
                });
              })
              .catch((error) => {
                console.log(error);
                this.wbcCreating = false;
              })
              .finally(() => {
                this.wbcCreating = false;
              });
          } else {
            this.$message({
              message: 'Milestone Should Have Atleast One WBC',
              type: 'error',
              duration: 5 * 1000,
            });
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    updateWbc() {
      this.$refs['wbcForm'].validate((valid) => {
        if (valid) {
          if (this.milestone.wbcDatas.length > 0) {
            this.wbcCreating = true;
            milestoneResource
              .update(this.milestone.id, this.milestone)
              .then((response) => {
                this.$router.push({ name: 'milestoneList' });
                this.$message({
                  message:
                    'New milestone has been created successfully.',
                  type: 'success',
                  duration: 5 * 1000,
                });
              })
              .catch((error) => {
                console.log(error);
                this.wbcCreating = false;
              })
              .finally(() => {
                this.wbcCreating = false;
              });
          } else {
            this.$message({
              message: 'Milestone Should Have Atleast One WBC',
              type: 'error',
              duration: 5 * 1000,
            });
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetMilestone() {
      this.milestone = {
        name: '',
        wbc: '',
        wbcDatas: [{
          name: '',
          work_done: '',  
        }],
      };
    },
    
  },
};
</script>
<style scoped>
label.el-form-item__label{
  width: 260px !important;
}
</style>
