<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="20">
        <el-form-item :label="'WBC Name'+' - '+ parseInt(index + 1)">
          <el-input v-model="wbc.name" :disabled="mood=== 'view'" placeholder="Please Enter WBC Name" />
        </el-form-item>
        <el-form-item :label="'Work Done for WBC'+' - '+ parseInt(index + 1)">
          <el-input v-model="wbc.work_done" :disabled="mood=== 'view'" placeholder="Please Enter WBC Work Done" />
        </el-form-item>
      </el-col>
    </el-row>
  </div>
</template>
<script>
export default {
  props: ['index', 'wbc', 'mood'],
};
</script>
