<template>
  <div class="dashboard-container">
    <el-row :gutter="20">
      <el-col :span="24">
        <div class="grid-content bg-purple">
          <component :is="currentRole" />
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import adminDashboard from './admin';
import editorDashboard from './editor';
import quickSearch from './component/QuickSearch';

export default {
  name: 'Dashboard',
  components: { adminDashboard, editorDashboard, quickSearch },
  data() {
    return {
      currentRole: 'adminDashboard',
    };
  },
  computed: {
    ...mapGetters([
      'roles',
    ]),
  },
  created() {
    if (!this.roles.includes('super_user')) {
      this.currentRole = 'editorDashboard';
    }
  },
};
</script>
<style scoped>
  .dashboard-container {
    background-color: rgb(240, 242, 245);
  }
</style>
