<template>
  <el-card>
    <div v-loading="clientBillCreating" class="form-container">
      <el-form
        ref="clientBillForm"
        :rules="rules"
        :model="newClientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <p>CSB-{{ SlNo }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple-light">
              <el-form-item label="Prepare Date">
                <p>{{ currentDate }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple-dark">
              <el-form-item label="Client Company" prop="client_id">
                <template>
                  <el-select v-model="newClientBill.client_id" placeholder="Select" @change="getClientProjects(newClientBill.client_id)">
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    />
                  </el-select>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Client Name" prop="client_name">
              <el-input v-if="client" v-model="client.name" placeholder="Please input" class="b-0" readonly="" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Supervised By Name" prop="supervised_by">
              <el-select v-model="newClientBill.supervised_by" placeholder="Select">
                <el-option
                  v-for="item in users"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Submite Date" prop="send_date">
              <el-date-picker
                v-model="newClientBill.send_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Payment Details" prop="payment_details">
              <el-input v-model="newClientBill.payment_details" type="textarea" :rows="2" placeholder="Please input" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
              <el-date-picker
                v-model="newClientBill.estimated_payment_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <table class="item_table">
              <thead class="thead">
                <tr class="thead_row">
                  <th>No.</th>
                  <th>Site Code</th>
                  <th>Project Type</th>
                  <th>Bill Details</th>
                  <th>Submit Amount</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in newClientBill.BillRows">
                  <bill-info v-if="client.projects" :key="index" :BillRows="newClientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" />
                </template>
              </tbody>
            </table>
            <el-button @click="addNew">Add New</el-button>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer" style="margin-left: 35%">
        <el-button type="info" @click="resetBillForm"> Clear </el-button>
        <el-button type="primary" @click="createClientBill()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
const clientBillResource = new Resource('client-bill');
import BillInfo from './components/BillInfo.vue';
export default {
  components: { BillInfo },
  data() {
    return {
      newClientBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
          },

        ],
      },
      clients: [],
      users: [],
      client: {},
      projects: [],
      projectTypeName: '',
      clientBillCreating: false,
      state: null,
      item: {},
      SlNo: '',
      currentDate: '',
      paidAmount: 0,
      rules: {
        client_id: [
          { required: true, message: 'Client is required', trigger: 'blur' },
        ],
        submited_by: [
          {
            required: true,
            message: 'Submited By is required',
            trigger: 'blur',
          },
        ],
        submited_by_phone_number: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
    },
    async getClientProjects(cid){
      this.client = this.clients.find(c => c.id === cid);
    },

    addNew(){
      this.newClientBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
        }
      );
    },

    getType(e){
      this.projectTypeName = e;
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/ClientBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newClientBill.bill_id = this.SlNo;
      });
    },
    getCurrentDate(){
      const current = new Date();
      this.currentDate = `${current.getFullYear()}-${
        current.getMonth() + 1
      }-${current.getDate()}`;
      this.newClientBill.prepared_date = this.currentDate;
    },
    createClientBill() {
      console.log(this.newClientBill);
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          clientBillResource
            .store(this.newClientBill)
            .then((response) => {
              this.$message({
                message:
                  'New client bill has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetBillForm();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    resetBillForm() {
      this.newClientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
</style>
