<template>
  <div class="app-container">
    <div id="project_list_top" class="filter-container">
      <el-input
        id="project_search"
        v-model="query.keyword"
        placeholder="Search"
        clearable
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-date-picker
        id="search_date"
        v-model="query.date"
        type="date"
        placeholder="Search By Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        @change="handleFilter"
      />

      <el-select
        id="primary_select_client"
        v-model="query.client_id"
        v-waves
        placeholder="Client Name"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="client in clients"
          :key="client.id"
          :label="client.name"
          :value="client.id"
        />
      </el-select>

      <el-button 
        style="width: 200px"
        class="filter-item" 
        type="primary" 
        @click="dialogFormVisible = true"
      >
        Create Client Bill
      </el-button>
      

    </div>
    <div style="width: 98%; margin: 10px auto">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Draft Bills" name="draft">
          <list-component name="draft" :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Created Bills" name="created">
          <list-component name="created" :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Submited Bills" name="pending">
          <list-component name="pending" :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Received Bills" name="received">
          <list-component name="received" :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Cancleed Bills" name="canceled">
          <canceled-bills-list name="canceledBills" :tableData="canceledBills" />
        </el-tab-pane>
        <el-tab-pane label="All Bills" name="all">
          <list-component name="all" :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Ready For Bill" name="ready_for_bill">
          <ready-for-bill-component @getSelectedProjects="getSelectedProjects" :tableData="readyForBills" name="ready_for_bill" />
        </el-tab-pane>
      </el-tabs>

      <el-dialog title="Choose Bill Format" :visible.sync="dialogFormVisible">
        <el-form :model="bill">
          <el-form-item label="Bill Format" :label-width="formLabelWidth">
            <el-select v-model="bill.format" placeholder="Please select a format">
              <el-option label="General Format" value="general-format" />
              <el-option label="Ksr Format" value="ksr-format" />
              <el-option label="Gp Format" value="gp-format" />
              <el-option label="EdotcoFormat" value="edotco-format" />
            </el-select>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">Cancel</el-button>
          <el-button type="primary" @click="selectBillFormat">Confirm</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
const projectResource = new Resource('projects');
const clientBillResource = new Resource('client-bill');
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import ListComponent from './components/ListComponent';
import CanceledBillsList from './components/CanceledBillsList.vue';
import { EventBus } from '@/app';
import axios from 'axios';
import ReadyForBillComponent from './components/ReadyForBillComponent.vue';
export default {
  name: 'SubmitedClientBills',
  directives: { permission, waves },
  components: { Pagination, ListComponent, CanceledBillsList, ReadyForBillComponent },
  data() {
    return {
      activeName: 'created',
      dialogFormVisible: false,
      formLabelWidth: '120px',
      bill: {
        format: '',
      },
      clients: [],
      projects: [],
      allBill: [],
      bills: [],
      receivedBills: [],
      submitedBills: [],
      canceledBills: [],
      readyForBills: [],
      query: {
        page: 1,
        limit: 100,
        keyword: '',
        bill_status: 'created',
      },
      multipleSelection: [],
      selectedProjects: [],
    };
  },
  created(){
    this.getList();
    this.getData();

    EventBus.$on('bill-selected', (bills) => {
      this.multipleSelection = bills;
    });
  },
  methods: {
    handleClick(tab, event) {
      if(tab.name === 'canceled'){
        this.getCanceledBillItem();
      } else if(tab.name === 'ready_for_bill'){
        this.getReadyForBills();
      } else {
        this.query.bill_status = tab.name;
        this.getList();
      }
    },
    handleFilter(){
      this.query.page = 1;
      this.getList();
    },
    async getList() {
      const billResponse = await clientBillResource.list(this.query);
      this.bills = billResponse.data;
    },
    async getCanceledBillItem(){
      await axios.get('/api/get-all-canceled-bill').then(({ data }) => {
        this.canceledBills = data.data;
      })
    },
    async getReadyForBills(){
      await axios.get('/api/get-ready-for-bill').then(({ data }) => {
        this.readyForBills = data.data;
      }).catch(error => {
        console.log(error);
      })
    },
    async getData(){
      this.loading = true;
      const response = await clientResource.list();
      const proResponse = await projectResource.list();
      this.clients = response.data;
      this.projects = proResponse.data;
      this.loading = false;
    },
    getSelectedProjects(projects){
      this.selectedProjects = projects;
    },
    selectBillFormat(){
      this.dialogFormVisible = false;
      this.$router.push({path: `/accounts/bill-format/${this.bill.format}`, query: this.selectedProjects});
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
</style>
