<template>
  <el-card>
    <div v-loading="clientPaymentReceived" class="form-container">
      <el-form
        ref="clientBillReceiveForm"
        :rules="rules"
        :model="receiveData"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row>
          <el-col :span="12">
            <div class="grid-content">
              <el-form-item label="Supervised By" prop="supervised_by">
                <el-select
                  v-model="receiveData.supervised_by"
                  placeholder="Select"
                >
                  <el-option
                    v-for="item in users"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content">
              <el-form-item label="Payment Date" prop="payment_date">
                <el-date-picker
                  v-model="receiveData.payment_date"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
              </el-form-item>
            </div>
          </el-col>
          <!-- <el-col :span="8">
            <div class="grid-content">
              <el-form-item
                label="Payment Received Number"
                prop="bill_received_number"
              >
                <el-input placeholder="Please input" :disabled="receiveData.bill_received_number !== null" v-model="receiveData.bill_received_number"></el-input>
              </el-form-item>
            </div>
          </el-col> -->

        </el-row>
        <el-form-item label="Bill Details">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th>No.</th>
                <th>Bill ID.</th>
                <th>Amount</th>
                <th>Vat</th>
                <th>Tax</th>
                <th>SD</th>
                <th>Deduction</th>
                <th>Cheque Amount</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr v-for="(item, index) in receiveData.bills" :key="index" class="tbody_row">
                <td>{{ index+1 }}</td>
                <td>{{ item.bill_id }}</td>
                <td>{{ item.amount }}</td>
                <td>
                  <el-input v-model="receiveData.bills[index].vat" placeholder="Please input" @blur="calculateChequeAmount(item)" />
                </td>
                <td>
                  <el-input v-model="receiveData.bills[index].tax" placeholder="Please input" @blur="calculateChequeAmount(item)" />
                </td>
                <td>
                  <el-input v-model="receiveData.bills[index].sd" placeholder="Please input" @blur="calculateChequeAmount(item)" />
                </td>
                <td>
                  <el-input v-model="receiveData.bills[index].deduction" placeholder="Please input" @blur="calculateChequeAmount(item)" />
                </td>
                <td>
                  <el-input v-model="receiveData.bills[index].cheque_amount" disabled placeholder="Please input" />
                </td>
              </tr>
            </tbody>
          </table>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" style="margin-left: 35%">
        <el-button type="primary" @click="receiveBill()">
          Submit
        </el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const userResource = new Resource('users');
const topSheetResource = new Resource('client-topsheet');
const clientBillResource = new Resource('client-bill');

export default {
  data() {
    return {
      receiveData: {},
      users: [],
      clientTopsheetCreating: false,
      bills: null,
      totalBillAmount: 0,
      clientPaymentReceived: false,
      rules: {
        payment_date: [
          { required: true, message: 'Send Date is required', trigger: 'blur' },
        ],
        bill_received_number: [
          { required: true, message: 'Project is required', trigger: 'blur' },
        ],
        supervised_by: [
          {
            required: true,
            message: 'Supervised is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.receiveData.bills = this.$route.query.bills;
    this.getData();
  },
  methods: {

    async getData(){
      await userResource.list({}).then(({ data }) => {
        this.users = data;
      });
    },
    receiveBill(){
      this.$refs['clientBillReceiveForm'].validate((valid) => {
        if (valid) {
          this.clientPaymentReceived = true;
          axios.post('/api/client-bill/receive-bills', this.receiveData).then(res => {
            this.$message({
              message: 'Payment Received Successfully',
              type: 'success',
            });
            this.clientPaymentReceived = false;
          }).catch(error => {
            console.log(error.message);
          });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    calculateChequeAmount(item){
      console.log(item);
      item.cheque_amount = Number(item.amount) - (Number(item.vat) + Number(item.tax) + Number(item.sd) + Number(item.deduction));
    },
  },
};
</script>

<style scoped>
.el-input.is-disabled .el-input__inner {
    background-color: #F5F7FA;
    border: none;
    color: #606266;
    cursor: not-allowed;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
</style>
