<template>
  <el-card>
    <div v-loading="clientTopsheetCreating" class="form-container">
      <el-form
        ref="clientBillTopsheetForm"
        :rules="rules"
        :model="newClientTopsheet"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item label="Supervised By" prop="supervised_by">
                <el-select
                  v-model="newClientTopsheet.supervised_by"
                  placeholder="Select"
                >
                  <el-option
                    v-for="item in users"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item label="Send Date" prop="send_date">
                <el-date-picker
                  v-model="newClientTopsheet.send_date"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="grid-content">
              <el-form-item
                label="Estimated Payment Date"
                prop="estimated_payment_date"
              >
                <el-date-picker
                  v-model="newClientTopsheet.estimated_payment_date"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd"
                />
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-form-item label="Bill Details">
          <el-table
            v-loading="loading"
            :data="bills"
            border
            fit
            highlight-current-row
            style="width: 100%"
          >
            <el-table-column align="center" label="ID" width="80" type="index" />

            <el-table-column align="center" label="Bill ID">
              <template slot-scope="scope">
                <span>{{ scope.row.bill_id }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" label="Site Code">
              <template slot-scope="scope">
                <span>{{ scope.row.project.site_code }}</span>
              </template>
            </el-table-column>
            <el-table-column align="center" label="Bill Amount">
              <template slot-scope="scope">
                <span>{{ scope.row.amount }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer" style="margin-left: 35%">
        <!-- <el-button type="info" @click="resetBillForm"> Clear </el-button> -->
        <el-button type="primary" @click="createClientBillTopsheet()">
          Save Topsheet
        </el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
const userResource = new Resource('users');
const topSheetResource = new Resource('client-topsheet');
export default {
  data() {
    return {
      newClientTopsheet: {},
      users: [],
      clientTopsheetCreating: false,
      bills: null,
      totalBillAmount: 0,
      loading: false,
      rules: {
        send_date: [
          { required: true, message: 'Send Date is required', trigger: 'blur' },
        ],
        project_id: [
          { required: true, message: 'Project is required', trigger: 'blur' },
        ],
        supervised_by: [
          { required: true, message: 'Supervised is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.bills = this.$route.query.bills;
    this.calculateTotalAmount(this.bills);
    this.getData();
  },
  methods: {
    async getData() {
      const response = await userResource.list({});
      this.users = response.data;
    },
    createClientBillTopsheet() {
      if (this.bills.length < 1){
        this.$message({
          message: 'Please select atleast one bill',
          type: 'error',
        });
      } else {
        this.$refs['clientBillTopsheetForm'].validate((valid) => {
          if (valid) {
            this.clientBillCreating = true;
            this.newClientTopsheet.bills = this.bills;
            this.newClientTopsheet.total = this.totalBillAmount;
            topSheetResource
              .store(this.newClientTopsheet)
              .then((response) => {
                this.$message({
                  message:
                    'New topsheet has been created successfully.',
                  type: 'success',
                  duration: 5 * 1000,
                });
                this.resetBillForm();
                this.clientBillCreating = false;
              })
              .catch((error) => {
                console.log(error);
              })
              .finally(() => {
                this.clientBillCreating = false;
              });
          }
        });
      }
    },
    calculateTotalAmount(bills){
      let total = 0;
      bills.forEach(bill => {
        total += bill.amount;
      });
      this.totalBillAmount = total;
    },
  },
};
</script>

<style>
</style>
