<template>
  <div>
    <view-component v-if="clientBill" :client-bill="clientBill" />
  </div>
</template>

<script>
import Resource from '@/api/resource';
// const clientResource = new Resource('clients');
// const projectResource = new Resource('projects');
const clientBillResource = new Resource('client-bill');
import ViewComponent from './components/ViewComponent.vue';
export default {
  components: { ViewComponent },
  data() {
    return {
      clientBill: {},
      alredayPaidAmount: 0,
      clientBillCreating: false,
      rules: {
        amount: [
          { required: true, message: 'Amount is required', trigger: 'blur' },
          {
            type: 'number',
            message: 'Stage Amount Must Be A Number',
            trigger: 'blur',
          },
        ],

        due_date: [
          { required: true, message: 'Due Date is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id) {
      await clientBillResource.get(id).then(({ data }) => {
        this.clientBill = data;
      });
    },
  },
};
</script>

<style>

</style>
