<template>
  <div class="app-container">
    <p align="center">
      <span style="font-size: medium;">
        <strong>Mizan Construction Limited</strong>
      </span>
    </p>
    <h5 class="western">Address1</h5>
    <h5 class="western">Address2</h5>
    <p class="western" align="center">
      <span>
        <strong>Cost Center Report (Ind.)</strong>
      </span>
    </p>
    <p class="western" align="center">
      <span>
        <span>
          <strong>Cost Centre Name : {{query.site_code}}</strong>
        </span>
      </span>
    </p>
    <!-- <h4 class="western">01-07-2018 to 04-07-2021</h4> -->
    <table width="100%" cellspacing="0" cellpadding="1" border="1" style="margin: 20px 0px">
      <tbody>
        <tr valign="top">
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="138" height="73">
            <p align="center">
              <span>Particulars</span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span>Opening</span>
              </span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="181">
            <p align="center">
              <span>Voucher No.</span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="88">
            <p align="center">
              <span>Date</span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="112">
            <p align="center">
              <span>Debit</span>
            </p>
            <p align="center">
              <span>
                <span>(in</span>
                <span>BDT)</span>
              </span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span>0.00</span>
              </span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="94">
            <p align="center">
              <span>Credit</span>
            </p>
            <p align="center">
              <span>
                <span>(in</span>
                <span>BDT)</span>
              </span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span>0.00</span>
              </span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="94">
            <p align="center">
              <span>Closing</span>
            </p>
            <p align="center">
              <span>
                <span>(in</span>
                <span>BDT)</span>
              </span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span>0.00</span>
              </span>
            </p>
          </td>
        </tr>

        <template v-for="(data, index) in tableData">
          <tr :key="index">
            <td colspan="6" valign="top" width="716" height="12">
              <p align="left">
                <span>
                  <span>{{ index }}</span>
                </span>
              </p>
            </td>
          </tr>
          <template v-for="costCenter in data">
            <report-table-component
              :key="costCenter.id"
              :data="data"
              :costCenter="costCenter"
              @calulateTotal="calulateTotal"
            />
          </template>
          <tr valign="top">
            <td colspan="2" width="321" height="12">
              <p align="left">
                <span>
                  <span>
                    <strong>Total :</strong>
                  </span>
                </span>
              </p>
            </td>
            <td width="88">
              <p align="left">&nbsp;</p>
            </td>
            <template>
              <td width="112">
                <p align="right">
                  <span>
                    <span>
                      <strong>{{ data.totalDr }}</strong>
                    </span>
                  </span>
                </p>
              </td>
              <td width="94">
                <p align="right">
                  <span>
                    <span>
                      <strong>{{ data.totalCr }}</strong>
                    </span>
                  </span>
                </p>
              </td>
              <td width="94">
                <p align="right">
                  <span>
                    <span>
                      <strong v-if="data.totalCr === 0">{{data.totalDr}} Dr</strong>
                      <strong v-if="data.totalDr === 0">{{data.totalCr}} Cr</strong>
                    </span>
                  </span>
                </p>
              </td>
            </template>
          </tr>
        </template>
        <tr valign="top">
          <td colspan="2" width="321" height="18">
            <p align="left">
              <span>
                <span>
                  <strong>Grand Total :</strong>
                </span>
              </span>
            </p>
          </td>
          <td width="88">
            <p align="left">&nbsp;</p>
          </td>
          <td width="112">
            <p align="right">
              <span>
                <span>
                  <strong v-if="grandTotalDr">{{ grandTotalDr }}</strong>
                </span>
              </span>
            </p>
          </td>
          <td width="94">
            <p align="right">
              <span>
                <span>
                  <strong v-if="grandTotalCr">{{ grandTotalCr }}</strong>
                </span>
              </span>
            </p>
          </td>
          <td width="94">
            <p align="right">
              <span>
                <span>
                  <strong>{{ Math.abs(grandTotalDr - grandTotalCr) }}</strong>
                </span>
                <span>
                  <strong>{{grandTotalDr > grandTotalCr ? 'Dr' : 'Cr'}}</strong>
                </span>
              </span>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <el-button style="text-align:center; display:block; margin: 0 auto" type="info" @click="print">Print</el-button>
  </div>
</template>

<script>
import axios from 'axios';
import ReportTableComponent from './components/ReportTableComponent.vue';
export default {
  components: { ReportTableComponent },
  data() {
    return {
      tableData: [],
      query: {},
      result: [],
      grandTotalDr: 0,
      grandTotalCr: 0,
      executed: true,
    };
  },
  created() {
    const query = this.$route.query;
    this.query = query;
    this.getReport(query);
  },
  computed: {},
  methods: {
    getReport(query) {
      axios.post('/api/cost-center-report', query).then((response) => {
        let data = response.data.data;
        this.groupedMakes(data);
      });
    },
    groupedMakes(data) {
      let result = data.reduce((r, a) => {
        r[a.journalItem.ledger_name] = r[a.journalItem.ledger_name] || [];
        r[a.journalItem.ledger_name].push(a);
        return r;
      }, Object.create(null));
      this.tableData = result;
    },
     calulateTotal() {
      let grandCr = 0;
      let grandDr = 0;
      Object.values(this.tableData).forEach(element => {
        // setTimeout(() => {
          grandDr += element.totalDr;
          grandCr += element.totalCr;
        // }, 1000)
      })
      this.grandTotalDr = grandDr;
      this.grandTotalCr = grandCr;
    },
    print(){
      window.print();
    }
  },
};
</script>

<style scoped>
table {
  text-align: center;
}
.western {
  text-align: center;
} 

p {
  margin: 2px !important;
}
</style>