<template>
  <div class="app-container">
    <p align="center">
      <span style="font-size: medium;">
        <strong>Mizan Construction Limited</strong>
      </span>
    </p>
    <h5 align="center" class="western">Address1</h5>
    <h5 align="center" class="western">Address2</h5>
    <p class="western" align="center">
      <span>
        <strong>Transaction (Summary)</strong><br>
        <span v-if="jounrals[0]">{{ query.from ? query.from : jounrals[0].trans_date }} to {{ query.to ? query.to : jounrals[jounrals.length-1].trans_date }}</span>
      </span>
    </p>
    <br>
    <p class="western" align="center">
      <span>
        <span>
          <strong v-if="query">{{ query.name }}</strong>
        </span>
      </span>
    </p>
    <table width="100%" cellspacing="0" cellpadding="1" border="1" style="margin: 20px 0px">
      <tbody>
        <tr valign="top">
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="138">
            <p align="center">
              <span>Transaction Date</span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span>Opening</span>
              </span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="238">
            <p align="center">
              <span>Particulars</span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="130">
            <p align="center">
              <span>Voucher Type</span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="130">
            <p align="center">
              <span>Voucher No.</span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="132">
            <p align="center">
              <span>Debit</span>
            </p>
            <p align="center">
              <span>
                <span>(in BDT)</span>
              </span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span v-if="openingBalance.type === 'Dr'">{{ openingBalance.balance }}</span>
              </span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="94">
            <p align="center">
              <span>Credit</span>
            </p>
            <p align="center">
              <span>
                <span>(in BDT)</span>
              </span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span v-if="openingBalance.type === 'Cr'">{{ openingBalance.balance }}</span>
              </span>
            </p>
          </td>
          <td style="background: #e7e7e7;" bgcolor="#e7e7e7" width="94">
            <p align="center">
              <span>Running Balance</span>
            </p>
            <p align="center">
              <span>
                <span>(in BDT)</span>
              </span>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center">
              <span>
                <span>{{ openingBalance.balance }}</span>
              </span>
            </p>
          </td>
        </tr>
        <template v-for="journal in jounrals">
          <!-- <template v-for="item in journal.journalItems"> -->
            <ledger-report-table v-if="journal" :key="journal.id" :journal="journal" :jounrals="jounrals" :query="query" :openingBalance="openingBalance" />
            <tr>
              <td colspan="7" valign="top" width="710" height="22">
                <p
                  align="left"
                  v-if="journal.journal"
                ><strong>Narration: </strong>{{ journal.journal.narration }}</p>
              </td>
            </tr>
          <!-- </template> -->
        </template>
        
        <tr valign="top">
          <td height="14" colspan="4">
            <p align="left">
              <span>
                <span>Balance c/d</span>
              </span>
            </p>
          </td>
          <td height="14">
            <p align="right">
              <span>
                <span>{{ closingDr }}</span>
              </span>
            </p>
          </td>
          <td>
            <p align="right">
              <span>
                <span>{{ closingCr }}</span>
              </span>
            </p>
          </td>
          <td>
            <p align="right">
              <span>
                <span>{{ Math.abs(totalDr - totalCr) }}</span>
              </span>
            </p>
          </td>
        </tr>
        <tr valign="top" style="font-weight: bold">
          <td width="88" colspan="2">
            <p align="center">
              <span>
                <span>Closing Balance</span>
              </span>
            </p>
          </td>
          
          <td width="132" colspan="1">
            <p align="center">
              <span>{{ Math.abs(totalDr - totalCr) }}</span>
              <span v-if="totalDr - totalCr > 0">Dr</span>
              <span v-if="totalDr - totalCr < 0">Cr</span>
            </p>
          </td>
          <td width="132">
            <p align="left">Total :</p>
          </td>
          <td width="132">
            <p align="right">{{ totalDr + closingCr }}</p>
          </td>
          <td width="132">
            <p align="right">{{ totalCr + closingDr }}</p>
          </td>
          <td width="132">
            <p align="right">0.00</p>
          </td>
        </tr>
      </tbody>
    </table>
    <el-button style="text-align:center; display:block; margin: 0 auto" type="info" @click="print">Print</el-button>

  </div>
</template>


<script>
import LedgerReportTable from './components/LedgerReportTable.vue'
export default {
  components: { LedgerReportTable },
  data() {
    return {
      query: {},
      data: {},
      jounrals: [],
      openingBalance: {
        balance: 0,
        type: '',
      },
      totalDr: 0,
      totalCr: 0,
      closingDr: 0,
      closingCr: 0,
      closingBalances: [],
    };
  },
  created() {
    const query = this.$route.query;
    this.query = query;
    this.getReport(query);
  },
  methods: {
    getReport(query) {
      axios.post('/api/ledger-report', query).then(({ data }) => {
        this.jounrals = data.journals;
        this.openingBalance = data.openingBalance;
        this.calcTotal();
      });
    },
    calcTotal(){
      let totalDr = 0;
      let totalCr = 0;
      if (this.openingBalance.type === 'Dr') {
        this.jounrals[0].debit_amount =
          this.jounrals[0].debit_amount + this.openingBalance.balance;
      } else {
        this.jounrals[0].credit_amount =
          this.jounrals[0].credit_amount - this.openingBalance.balance;
      }
      this.jounrals.forEach(journal => {
        totalDr += journal.debit_amount;
        totalCr += journal.credit_amount;
        this.$set(journal, 'closing', Math.abs(totalCr - totalDr))
      });
      
      this.totalDr = totalDr;
      this.totalCr = totalCr;
      if(totalDr > totalCr){
        this.closingDr = totalDr - totalCr;
      } else if(totalDr < totalCr) {
        this.closingCr = totalCr - totalDr;
      }
    },
    print(){
      window.print();
    }
  },
};
</script>

<style scoped>
p {
  margin: 5px !important;
}
</style>