<template>
  <div class="app-container">
    <h3 style="text-align:center">View Accounts Reports</h3>
    <div class="filter-container">
      <el-button
          v-permission="['view reports']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
          @click="costCenterReport"
      >Cost Center Report</el-button>
      <el-button
          v-permission="['view reports']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
          @click="ledgerReport"
      >Ledger Report</el-button>
      <el-button
          v-permission="['view reports']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
          @click="trailBalanceReport"
      >Trial Balance Report</el-button>
    </div>

    <!-- cost center report modal -->
    <el-dialog :title="'View cost center report'" :visible.sync="dialogFormVisible">
      <el-form :model="costCenter" ref="costCenterForm" :rules="rules" class="demo-ruleForm">
        <el-form-item label="Cost Center name" prop="site_code">
          <el-autocomplete
            class="inline-input"
            v-model="costCenter.site_code"
            :fetch-suggestions="costCenterSearch"
            placeholder="Please Input"
            :trigger-on-focus="false"
            @select="costCentersSelect"
            width="500px"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.site_code }}</div>
            </template>
          </el-autocomplete>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="viewCostCenterReport">Confirm</el-button>
      </span>
    </el-dialog>

  <!-- ledger report modal -->
    <el-dialog :title="'View ledger report'" :visible.sync="ledgerDialogFormVisible">
      <el-form id="ledgerReportForm" :model="ledger" ref="ledgerForm" :rules="ledgerRules" class="demo-ruleForm">
        <el-form-item label="Ledger name" prop="name">
          <el-autocomplete
            class="inline-input"
            v-model="ledger.name"
            :fetch-suggestions="ledgerSearch"
            placeholder="Please Input"
            :trigger-on-focus="false"
            @select="ledgerSelect"
            width="500px"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.name }}</div>
            </template>
          </el-autocomplete>
        </el-form-item>
        <el-form-item label="From" prop="from">
          <el-date-picker
            v-model="ledger.from"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="To" prop="to">
          <el-date-picker
            v-model="ledger.to"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="ledgerDialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="viewLedgerReport">Confirm</el-button>
      </span>
    </el-dialog>

    <!-- trail balance modal -->

    <el-dialog :title="'View trial balance report'" :visible.sync="trailDialogFormVisible">
      <el-form id="trailBalanceReportForm" :model="trailBalance" ref="trailBalanceReportForm" :rules="trailBalanceRules" class="demo-ruleForm">
        <el-form-item label="From" prop="from">
          <el-date-picker
            v-model="trailBalance.from"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="To" prop="to">
          <el-date-picker
            v-model="trailBalance.to"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="trailDialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="viewTrailBalanceReport">Confirm</el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import Resource from '@/api/resource';
const journalResource = new Resource('journals');
const ledgerResource = new Resource('ledgers');
const costCenterResource = new Resource('journa-item-cost-center');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'GroupList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      loading: true,
      costCenter: {},
      ledger: {
        name: '',
      },
      trailBalance: {},
      dialogFormVisible: false,
      ledgerDialogFormVisible: false,
      trailDialogFormVisible: false,
      rules: {
        site_code: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
      ledgerRules: {
        name: [
          { required: true, message: 'Ledger Name is required', trigger: 'blur' },
        ],
      },
      trailBalanceRules: {},
    };
  },
  methods: {
    costCenterReport() {
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['costCenterForm'].clearValidate();
      });
    },
    viewCostCenterReport(){
      this.$refs['costCenterForm'].validate((valid) => {
          if (valid) {
            this.$router.push({ path: '/accounts/view/cost-center-report', query: this.costCenter })
          } else {
            console.log('error submit!!');
            return false;
          }
        });
    },
    ledgerReport() {
      this.ledgerDialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['ledgerForm'].clearValidate();
      });
    },
    viewLedgerReport(){
      this.$refs['ledgerForm'].validate((valid) => {
        if (valid) {
          this.$router.push({ path: '/accounts/view/ledger-report', query:  this.ledger })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    async ledgerSearch(queryString, cb) {
      const ledgerResponse = await ledgerResource.list(queryString);
      const ledgers = ledgerResponse.data;
      var results = queryString ? ledgers.filter(this.ledgerFilter(queryString)) : ledgers;
      // call callback function to return suggestions
      cb(results);
    },
    ledgerFilter(queryString) {
      return (ledger) => {
        return (ledger.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    ledgerSelect(ledger) {
      this.ledger.ledger_id = ledger.id;
      this.ledger.name = ledger.name;
    },
    async costCenterSearch(queryString, cb) {
      const costCenterResponse = await costCenterResource.list(queryString);
      const costCenters = costCenterResponse.data;
      var results = queryString ? costCenters.filter(this.costCentersFilter(queryString)) : costCenters;
      // call callback function to return suggestions
      cb(results);
    },
    costCentersFilter(queryString) {
      return (costCenter) => {
        return (costCenter.site_code.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    costCentersSelect(costCenter) {
      console.log(costCenter);
      this.costCenter.id = costCenter.id;
      this.costCenter.site_code = costCenter.site_code;
    },
    trailBalanceReport(){
      this.trailDialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['trailBalanceReportForm'].clearValidate();
      });
    },
    viewTrailBalanceReport(){
      this.$refs['trailBalanceReportForm'].validate((valid) => {
        if (valid) {
          this.$router.push({ path: '/accounts/view/trial-balance-report', query: this.trailBalance, props: true })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    }
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 220px !important; 
}

.el-form-item.is-error .el-input__inner {
    width: 200% !important;
}

.el-form-item.is-error .el-input__inner{
  width: 500px !important;
}
</style>


