<template>
  <div class="app-container">
    <div class="top">
      <h3>Dream Structure</h3>
      <p>House #21, Road#13, Sector#14, Uttara</p>
      <h4>Trial Balance (Ledger)</h4>
      
      <p>{{ query.from ? query.from : firstDate }} to {{  query.to ? query.to : lastDate }}</p>
    </div>
    <table class="item_table">
      <thead class="thead">
        <tr valign="top">
          <th rowspan="2">Particulars</th>
          <th colspan="2">Opening Balance</th>
          <th colspan="2">Transaction Details</th>
          <th colspan="2">Running Balance</th>
        </tr>
        <tr valign="top">
          <template>
            <th>Debit (TK)</th>
            <th>Credit (TK)</th>
          </template>
          <template>
            <th>Debit (TK)</th>
            <th>Credit (TK)</th>
          </template>
          <template>
            <th>Debit (TK)</th>
            <th>Credit (TK)</th>
          </template>
        </tr>
      </thead>
      <tbody class="tbody">
        <template v-for="(report, index) in reports">
          <trial-report-table :key="index" :report="report" :old="old_journals[index]" :index="index" />
        </template>
      </tbody>
    </table>
    <el-button style="text-align:center; display:block; margin: 0 auto; margin-top: 20px" type="info" @click="print">Print</el-button>
  </div>
</template>

<script>
import TrialReportTable from './components/TrialReportTable.vue'
export default {
  components: { TrialReportTable },
  data() {
    return {
      query: {},
      reports: [],
      old_journals: [],
      firstDate: '',
      lastDate: '',
    };
  },
  created() {
    const query = this.$route.query;
    this.query = query;
    this.getReport(this.query);
  },
  methods: {
    async getReport(query) {
      await axios.post('/api/trail-balance-report', query).then(({ data }) => {
        this.reports = data.journals;
        this.old_journals = data.old_journals;
        this.firstDate = data.firstDate;
        this.lastDate = data.lastDate;
      });
    },
    print(){
      window.print();
    }
  },
};
</script>

<style scoped>
.top {
  text-align: center;
}

table, td, th {
  border: 1px solid #555;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #e7e7e7;
}
.thead th, tfoot td {
    background-color: #c1eaf3;
    color: #000;
}
</style>