<template>
  <div class="app-container">
    <form-component mood="create" :projectTypes="projectTypes" :journal="newJournal" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
import { getCurrentDate } from '@/utils/helper.js';
import { getItemLastId } from '@/utils/helper.js';
export default {
  name: 'JournalCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newJournal: {
        branch_name: 'Dream Structure',
        trans_date: '',
        voucher_no: '',
        narration: '',
        ItemRows: [{
          type: 'Dr',
          particulars: '',
          debit_amount: 0,
          credit_amount: 0,
          costCenters: [{
            project_type_id: '',
            project_id: '',
            amount: 0,
          }],
        }]
      },
      projectTypes: [],
      SlNo: '',
    };
  },
  async created(){
    this.getAllProjectTypes();
    await getItemLastId('Journal').then(res => {
      this.newJournal.voucher_no = 'JV#'+res;
    })
    this.newJournal.trans_date = getCurrentDate();
  },
  methods: {
    async getAllProjectTypes(){
      const projectTypeResponse = await projectTypeResource.list();
      this.projectTypes = projectTypeResponse.data;
    },
  }
  
};
</script>

<style>
</style>