<template>
  <div class="app-container">
    <form-component mood="edit" :projectTypes="projectTypes" :journal="journal" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
const journalResource = new Resource('journals');
export default {
  name: 'JournalCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      projectTypes: [],
      journal: {},
    };
  },
  async created(){
    this.getAllProjectTypes();
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async getAllProjectTypes(){
      const projectTypeResponse = await projectTypeResource.list();
      this.projectTypes = projectTypeResponse.data;
    },
    async fetchData(id) {
      await journalResource.get(id).then(({ data }) => {
        this.journal = data;
        console.log(this.journal);
      });
    },
  }
  
};
</script>

<style>
</style>