<template>
  <div class="app-container">
    <div class="company_details">
      <h2>{{ journal.branch_name }}</h2>
      <p>House#31, Road#20, Block# K, Banani</p>
      <p>Dhaka</p>
      <h3>Journal</h3>
    </div>
    <div class="journal_details">
      <div class="journal_head">
        <p><span>Voucher No:</span> <span>{{ journal.voucher_no }}</span></p>
        <p><span>Date:</span> <span>{{ journal.trans_date }}</span></p>
      </div>
      <div class="journal_table">
        <table>
          <thead>
            <tr>
              <th rowspan="2">Accounts Head</th>
              <th colspan="2">Cost Centre</th>
              <th rowspan="2">Debit (BDT)</th>
              <th rowspan="2">Credit (BDT)</th>
            </tr>
            <tr valign="top">
              <th>Site Code</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in journal.ItemRows" :key="index">
              <td v-if="item.ledger">{{ item.ledger.name}}</td>
              <td colspan="2">
                <tr id="inner_tr" v-for="(costCenter, idx) in item.costCenters" :key="idx">
                  <td class="inner_td" v-if="costCenter.project" >{{ costCenter.project.site_code}}</td>
                  <td class="inner_td">{{ costCenter.amount}} {{ costCenter.cost_center_type}}</td>
                </tr>
              </td>
              <td>{{ item.debit_amount }}</td>
              <td>{{ item.credit_amount }}</td>
            </tr>
          </tbody>
          <tfoot class="tfoot">
            <tr>
              <td colspan="3"> Total </td>
              <td> {{ totalDebitAmount }}</td>
              <td> {{ totalCreditAmount }}</td>
            </tr>
          </tfoot>
        </table>
        <div>
          <p><b>Amount In Word (BDT)</b>: {{ netAmountInWord }} Taka Only </p>
          <p><b>Narration</b>: {{ journal.narration }}</p>
        </div>
      </div>
    </div>
    <div id="signs">
      <el-row :gutter="20">
        <el-col :span="6">
          <span></span>
          <p>Prepaired By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Checked By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Recommanded By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Approved By</p>
        </el-col>
      </el-row>
      <el-button type="info" @click="print">Print</el-button>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const journalResource = new Resource('journals');
const converter = require('number-to-words');
export default {
  data(){
    return {
      journal: {},
      totalDebitAmount: 0,
      totalCreditAmount: 0,
      netAmountInWord: null,
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id) {
      await journalResource.get(id).then(({ data }) => {
        this.journal = data;
        console.log(this.journal);
        this.calcDrCr();
      });
    },
    calcDrCr(){
      let totalDr = 0;
      let totalCr = 0;
      this.journal.ItemRows.forEach(item => {
        totalDr += item.debit_amount;
        totalCr += item.credit_amount;
      });
      this.totalDebitAmount = totalDr;
      this.totalCreditAmount = totalCr;
      this.netAmountInWord = converter.toWords(this.journal.net_amount);
    },
    print(){
      window.print();
    }
  },
};
</script>

<style scoped>
.company_details {
  text-align: center;
}
.journal_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
  font-weight: bold;
}
#inner_tr {
  width: 100% !important;
  display: block;
}
td,
th {
  min-width: 200px !important;
  
}
td.inner_td {
  min-width: 49% !important;
  display: inline-block;
}

/* project table css */
.journal_table,
.journal_table td,
.journal_table th {
  border: 1px solid #c1eaf3;
  border-left:0 ;
  border-right:0 ;
  text-align: left;
  vertical-align: top;
}
.journal_table th {
  text-align: center;
  background-color: #999;
}
.journal_table .numaric_td,
.journal_table .numaric_td .el-input__inner {
  text-align: right;
}

.journal_table {
  border-collapse: collapse;
}

.journal_table th,
.journal_table td {
  padding: 5px;
}
.journal_table .tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.tfoot {
  font-weight: bold;
  background-color: #999;
}

#signs {
  margin-top: 150px;
  text-align: center;
}
#signs span {
  width: 100%;
  height: 1px;
  background: #111;
  display: block;
}
.journal_head span{
  border: 2px solid #999;

  padding: 5px;
}
</style>