<template>
  <div>
    <h1>All Right Reserved By Bit Byte Technology</h1>
    <h3>Developed By Abdullah Al Noman</h3>
    <h4>https://github.com/Alnoman141</h4>
    <h5>nmnaba14@gmail.com</h5>
    <h6>01750603409</h6>
  </div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>

<style lang="scss" scoped>

</style>
