<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />
      <el-table-column align="center" sortable prop="product_name" label="Product Name">
        <template slot-scope="scope">
          <span>{{ scope.row.product_name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="total" label="Total">
        <template slot-scope="scope">
          <span>{{ scope.row.total }}</span>
        </template>
      </el-table-column>
    </el-table>

    <div class="block">
      <el-pagination
        background
        v-show="total > 0"
        :page-sizes="[2, 15, 20, 30, 50, 100, 250, 500, 1000]"
        :page-size="query.limit"
        @current-change="getList"
        @size-change="handleSizeChange"
        :current-page.sync="query.page"
        layout="sizes, prev, pager, next"
        :total="total">
      </el-pagination>
    </div>
  </div>
</template>

<script>
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import Resource from '@/api/resource';
const StockResource = new Resource('purchase-item');
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import { EventBus } from '@/app';
export default {
  name: 'StockList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 2,
        keyword: '',
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
        this.loading = true;
        console.log("query Before going to controller: ",this.query.page);
        const response 
            = await axios.get('/api/stock/list',{
              params: {
                page: this.query.page,
                limit: this.query.limit,
                keyword: this.query.keyword
              }
            })
            .then(response => {
                this.list = response.data.data;
                this.total = response.data.total;
                console.log("response: ",response);
                console.log("list: ",this.list);
                console.log("total: ",this.total);
                console.log("query: ",this.query);
            })
        this.loading = false;
        console.log("");
    },
    handleSizeChange(val) {
      this.query.limit = val;
      console.log(`${val} items per page`);
      this.getList();
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'product_id', 'quantity'];
        const filterVal = ['id', 'product_id', 'quantity'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'warehouse-inventory-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-select.el-select--medium {
     width: auto !important;
}
</style>
