<template>
  <div id="extra_info">
    <!-- trade licence -->
    <el-form-item label="Trade Licence" prop="trade_licence" class="new_image_label">
      <input type="file" name="trade_licence" @change="getTradeLicence($event)">
    </el-form-item>
    <el-form-item label="Selected Licence">
      <!-- <img
        id="trade_licence"
        :src="getCurrentImage(image.LicenceImage)"
        height="200px"
        width="200px"
      > -->
    </el-form-item>
    <!-- TIN -->
    <el-form-item label="TIN" prop="TIN" class="new_image_label">
      <input type="file" name="TIN" @change="getTIN($event)">
    </el-form-item>
    <el-form-item label="Selected TIN">
      <!-- <img
        id="TIN"
        :src="getCurrentImage(image.TINImage)"
        height="200px"
        width="200px"
      > -->
    </el-form-item>
    <!-- BIN -->
    <el-form-item label="BIN" prop="BIN" class="new_image_label">
      <input type="file" name="BIN" @change="getBIN($event)">
    </el-form-item>
    <el-form-item label="Selected BIN">
      <!-- <img
        id="BIN"
        :src="getCurrentImage(image.BINImage)"
        height="200px"
        width="200px"
      > -->
    </el-form-item>
    <!-- NID -->
    <el-form-item label="NID" prop="NID" class="new_image_label">
      <input type="file" name="NID" @change="getNID($event)">
    </el-form-item>
    <el-form-item label="Selected NID">
      <!-- <img
        id="NID"
        :src="getCurrentImage(image.NIDImage)"
        height="200px"
        width="200px"
      > -->
    </el-form-item>
  </div>
</template>
<script>
export default {

  props: {
    image: {
      type: Object,
      default: () => {
        return {
          LicenceImage: '',
          NIDImage: '',
          TINImage: '',
          BINImage: '',
        };
      },
    },
    getCurrentImage: { type: Function },
  },
  methods: {
    getTradeLicence(event){
      const Image = document.getElementById('trade_licence');
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e) => {
        Image.src = e.target.result;
        this.$emit('licence-image', e.target.result);
      };
      reader.readAsDataURL(file);
    },
    getTIN(event){
      const TinImage = document.getElementById('TIN');
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e) => {
        TinImage.src = e.target.result;
        this.$emit('tin-image', e.target.result);
      };
      reader.readAsDataURL(file);
    },
    getBIN(event){
      const BinImage = document.getElementById('BIN');
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e) => {
        BinImage.src = e.target.result;
        this.$emit('bin-image', e.target.result);
      };
      reader.readAsDataURL(file);
    },
    getNID(event){
      const NidImage = document.getElementById('NID');
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e) => {
        NidImage.src = e.target.result;
        this.$emit('nid-image', e.target.result);
      };
      reader.readAsDataURL(file);
    },

  },
};
</script>
<style scoped>
  .d-none {
    display: none;
  }
</style>
