<template>
  <div class="app-container">
    <form-component mood="create" :purchaseRequisition="newPurchaseRequisition" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const  purchaseRequisitionResource = new Resource('purchaseRequisitions');
import { getCurrentDate } from '@/utils/helper.js';
import { getItemLastId } from '@/utils/helper.js';
export default {
  name: 'RequisitionCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newPurchaseRequisition: {
        prn: '',
        requisition_date: '',
        delivery_date: '',
        requisition_by: '',
        requisition_type: '',
        selectedFromId: '',
        requisition_by: '',
        note: '',
        status: null,
        ItemRows: [
          {
            product_id: '',
            quantity: '',
            unit_id: '',
          },
        ]
      }
    };
  },
  async created(){
    // this.getAllProjectTypes();
    await getItemLastId('PurchaseRequisition').then(res => {
      console.log
      this.newPurchaseRequisition.prn = 'PRN#'+res;
    })
    this.newPurchaseRequisition.requisition_date = getCurrentDate();
  },
  methods: {
    // async getAllProjectTypes(){
    //   const projectTypeResponse = await projectTypeResource.list();
    //   this.projectTypes = projectTypeResponse.data;
    // },
  }
  
};
</script>

<style>
</style>