<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
        clearable
      />
      <el-date-picker
        v-model="query.date"
        type="date"
        class="filter-item"
        placeholder="Pick a Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        width="200px">
      </el-date-picker>
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      
      <router-link to="/purchase/requisitions/create">
          <el-button
            v-permission="['add delivery']"
            class="filter-item"
            style="margin-left: 10px"
            type="primary"
            icon="el-icon-plus"
        >
            {{ $t('table.add') }}
        </el-button>
      </router-link>
      
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" label="Ref Number">
        <template slot-scope="scope">
          <span>{{ scope.row.ref_number }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Gatepass Number">
        <template slot-scope="scope">
          <span>{{ scope.row.gatepass_number }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Transfer Date">
        <template slot-scope="scope">
          <span>{{ scope.row.delivery_date }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Type">
        <template slot-scope="scope">
          <span>
              <template v-if="scope.row.delivery_type == 1">Warehouse to Warehouse</template>
              <template v-if="scope.row.delivery_type == 2">Warehouse to Project</template>
              <template v-if="scope.row.delivery_type == 3">Project to Warehouse</template>
              <template v-if="scope.row.delivery_type == 4">Project to Project</template>
          </span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="From">
        <template slot-scope="scope">
          <span>{{ scope.row.fromInventory }}</span>
          <!-- <template v-if="scope.row.delivery_type == 1  || scope.row.delivery_type == 2">{{ scope.row.from_warehouse }}</template>
          <template v-else>{{ scope.row.from_project }}</template> -->
        </template>
      </el-table-column>
      <el-table-column align="center" label="To">
        <template slot-scope="scope">
          <span>{{ scope.row.toInventory }}</span>
          <!-- <template v-if="scope.row.delivery_type == 1  || scope.row.delivery_type == 3">{{ scope.row.to_warehouse }}</template>
          <template v-else>{{ scope.row.to_project }}</template> -->
        </template>
      </el-table-column>
      <el-table-column align="center" label="Transfered By Name">
        <template slot-scope="scope">
          <span>{{ scope.row.delivered_by }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Transfered By Phone">
        <template slot-scope="scope">
          <span>{{ scope.row.delivered_by_phone }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Product Quantity">
        <template slot-scope="scope">
          <span>{{ scope.row.quantity }}</span>
        </template>
      </el-table-column>

      <!-- <el-table-column label="Transfer Item">
        <el-table-column align="center" label="Product Name">
          <template slot-scope="scope">
            <p v-for="item in scope.row.delivery_items" :key="item.id">{{ item.product.name}} </p>
          </template>
        </el-table-column>
        <el-table-column align="center" label="Quantity">
          <template slot-scope="scope">
            <p v-for="item in scope.row.delivery_items" :key="item.id">{{ item.quantity}} </p>
          </template>
        </el-table-column>
      </el-table-column> -->

      <el-table-column align="center" label="Actions" width="200">
        <template slot-scope="scope">
          <router-link :to="'/inventory/deliveries/view/' + scope.row.id">
            <el-button
              v-permission="['view delivery']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <!-- <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    /> -->

    <div class="block">
      <el-pagination
        background
        v-show="total > 0"
        :page-sizes="[2, 15, 20, 30, 50, 100, 250, 500, 1000]"
        :page-size="query.limit"
        @current-change="getList"
        @size-change="handleSizeChange"
        :current-page.sync="query.page"
        layout="sizes, prev, pager, next"
        :total="total">
      </el-pagination>
    </div>
    
    <el-dialog :title="'View cost center report'" :visible.sync="dialogFormVisible">
      <el-form :model="costCenter" ref="costCenterForm" :rules="rules" class="demo-ruleForm">
        <el-form-item label="Cost Center name" prop="site_code">
          <el-input v-model="costCenter.site_code" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="viewReport">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const deliveryResource = new Resource('deliveries');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'GroupList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      costCenter: {},
      dialogFormVisible: false,
      rules: {
        site_code: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
        this.loading = true;
        console.log("query Before going to controller: ",this.query.page);
        const response 
            = await axios.get('/api/deliveries',{
              params: {
                page: this.query.page,
                limit: this.query.limit,
                keyword: this.query.keyword
              }
            })
            .then(response => {
                this.list = response.data.data;
                this.total = response.data.total;
                console.log("response: ",response);
                console.log("list: ",this.list);
                console.log("total: ",this.total);
                console.log("query: ",this.query);
            })
        this.loading = false;
        console.log("");
    },
    handleSizeChange(val) {
      this.query.limit = val;
      console.log(`${val} items per page`);
      this.getList();
    },
    // async getList() {
    //   this.loading = true;
    //   const response = await deliveryResource.list(this.query);
    //   this.list = response.data;
    //   this.total = response.meta.total;
    //   this.loading = false;
    //   console.log(this.list)
    // },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['costCenterForm'].clearValidate();
      });
    },
    viewReport(){
      this.$refs['costCenterForm'].validate((valid) => {
          if (valid) {
            this.$router.push({ path: '/accounts/view/cost-center-report', query: { costCenter: this.costCenter }})
          } else {
            console.log('error submit!!');
            return false;
          }
        });
    },
    
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name', 'parent group', 'default group', 'nature', 'effect gross profit', 'cash flow type'];
        const filterVal = ['id', 'name', 'parent_group', 'default_group', 'nature', 'effect_gross_profit', 'cash_flow_type'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'group-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-date-editor.el-input, .el-date-editor.el-input__inner {
     width: 220px !important; 
}
</style>
