<template>
  <div class="app-container">
    <div class="company_details">
      <h3>Type:
              <template v-if="delivery.delivery_type == 1">Warehouse to Warehouse</template>
              <template v-if="delivery.delivery_type == 2">Warehouse to Project</template>
              <template v-if="delivery.delivery_type == 3">Project to Warehouse</template>
              <template v-if="delivery.delivery_type == 4">Project to Project</template>
      </h3>
      <h3>From: {{ delivery.fromInventory }}</h3>
      <h3>To: {{ delivery.toInventory }}</h3>
      <h3>Transfered By Name: {{ delivery.delivered_by }}</h3>
      <h3>Transfered By Phone: {{ delivery.delivered_by_phone }}</h3>
    </div>
    <div class="delivery_details">
      <div class="delivery_head">
        <p>Gatepass No: {{ delivery.gatepass_number }}</p>
        <p>Date: {{ delivery.delivery_date }}</p>
      </div>
      <div class="delivery_table">
        <table>
          <thead>
            <tr>
              <th rowspan="2">ID</th>
              <th colspan="2">Products</th>
            </tr>
            <tr valign="top">
              <th>Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in delivery.deliveryItems" :key="index">
              <td>{{ item.id}}</td>
              <td colspan="2">
                <tr id="inner_tr">
                  <td class="inner_td" v-if="item.product" >{{ item.product.name}}</td>
                  <td class="inner_td">{{ item.quantity}}</td>
                </tr>
              </td>
            </tr>
          </tbody>
          <!-- <tfoot class="tfoot">
            <tr>
              <td colspan="3"> Total </td>
              <td> {{ totalDebitAmount }}</td>
              <td> {{ totalCreditAmount }}</td>
            </tr>
          </tfoot> -->
        </table>
      </div>
    </div>
    <div id="signs">
      <el-row :gutter="20">
        <el-col :span="6">
          <span></span>
          <p>Prepaired By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Checked By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Recommanded By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Approved By</p>
        </el-col>
      </el-row>
      <el-button type="info" @click="print">Print</el-button>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const deliveryResource = new Resource('deliveries');
const converter = require('number-to-words');
export default {
  data(){
    return {
      delivery: {},
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id) {
      await deliveryResource.get(id).then(({ data }) => {
        this.delivery = data;
        console.log(this.delivery);
      });
    },
    print(){
      window.print();
    }
  },
};
</script>

<style scoped>
.company_details {
  text-align: center;
}
.delivery_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
  font-weight: bold;
}
#inner_tr {
  width: 100% !important;
  display: block;
}
td,
th {
  min-width: 200px !important;
  
}
td.inner_td {
  min-width: 49% !important;
  display: inline-block;
}

/* delivery table css */
.delivery_table,
.delivery_table td,
.delivery_table th {
  border: 1px solid #c1eaf3;
  border-left:0 ;
  border-right:0 ;
  text-align: left;
  vertical-align: top;
}
.delivery_table th {
  text-align: center;
  background-color: #999;
}
.delivery_table .numaric_td,
.delivery_table .numaric_td .el-input__inner {
  text-align: right;
}

.delivery_table {
  border-collapse: collapse;
}

.delivery_table th,
.delivery_table td {
  padding: 5px;
}
.delivery_table .tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.tfoot {
  font-weight: bold;
  background-color: #999;
}

#signs {
  margin-top: 150px;
  text-align: center;
}
#signs span {
  width: 100%;
  height: 1px;
  background: #111;
  display: block;
}
</style>