<template>
  <div class="app-container">
    <el-form
      :model="projectTypeEstimate"
      :rules="rules"
      ref="projectTypeEstimateForm"
      label-width="120px"
      class="demo-ruleForm"
    >
      <el-form-item :label="$t('projectTypeEstimate.projectType')" prop="project_type_id">
        <p v-if="mood !== 'create' && projectTypeEstimate.projectType">{{ projectTypeEstimate.projectType.name }}</p>
        <el-select
          v-else
          v-model="projectTypeEstimate.project_type_id"
          class="filter-item el-select el-select--medium"
        >
          <el-option
            v-for="type in projectTypes"
            :key="type.id"
            :value="type.id"
            :label="type.name"
          ></el-option>
        </el-select>
      </el-form-item>
      <table style="overflow-x: auto; max-width: 100%; margin-bottom: 30px">
        <thead class="thead">
          <tr class="thead_row">
            <th style="width: 50px">SI.</th>
            <th>Product Name</th>
            <th>Unit Name</th>
            <th>Quantity</th>
            <th v-if="mood !== 'view'">Action</th>
            <th v-if="mood === 'view'">Cost</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <template v-for="(item, index) in projectTypeEstimate.projectTypeEstimateItems">
            <item-info
              :mood="mood"
              :products="products"
              :units="units"
              :item="item"
              :items="projectTypeEstimate.projectTypeEstimateItems"
              :index="index"
              :key="index"
            />
          </template>
        </tbody>
      </table>
      <el-button v-if="mood !== 'view'" type="success" size="mini" @click="addNew">+</el-button>
    </el-form>
    <div slot="footer" class="dialog-footer" style="margin-top: 10px; text-align: center">
      <el-button type="primary" v-if="mood === 'create'" @click="createProjectTypeEstimate">{{ $t('table.confirm') }}</el-button>
      <el-button type="primary" v-if="mood === 'edit'" @click="onSubmit">Update</el-button>
      <el-button type="info" @click="print">Print</el-button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Resource from '@/api/resource';
const projectTypeEstimateResource = new Resource('project-type-estimate');
import ItemInfo from './ItemInfo.vue';

export default {
  components: { ItemInfo },
  props: ['projectTypeEstimate', 'mood'],
  data() {
    return {
      activeActivity: 'first',
      updating: false,
      projectTypes: [],
      products: [],
      units: [],
      rules: {},
    };
  },
  created() {
    this.getModelData();
  },

  methods: {
    async getModelData() {
      const models = [
        { name: 'projectType', model: 'ProjectType' },
        { name: 'product', model: 'Product' },
        { name: 'unit', model: 'Unit' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.projectTypes = response.data[0].projectType;
        this.products = response.data[1].product;
        this.units = response.data[2].unit;
      });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    addNew() {
      this.projectTypeEstimate.projectTypeEstimateItems.push({
        product_id: '',
        unit_id: '',
        quantity: 1,
      });
    },
    createProjectTypeEstimate() {
      this.$refs['projectTypeEstimateForm'].validate(valid => {
        if (valid) {
          projectTypeEstimateResource
            .store(this.projectTypeEstimate)
            .then(response => {
              this.$message({
                message:
                  'New projectTypeEstimate has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              // this.resetNewProjectTypeEstimate();
            })
            .catch(error => {
              console.log(error);
            })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    onSubmit() {
      this.updating = true;
      projectTypeEstimateResource
        .update(this.projectTypeEstimate.id, this.projectTypeEstimate)
        .then((response) => {
          this.updating = false;
          this.$message({
            message:
              'Project Type Estimate information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
    print(){
      window.print();
    }
  },
};
</script>

<style lang="scss" scoped>
.unit-activity {
  .unit-block {
    .unitname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

table,
td,
th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
</style>
