<template>
  <tr>
    <td>{{ index+1 }}</td>
    <td>
      <p v-if="item.id">{{ item.product_name }}</p>
      <el-autocomplete
        v-else
        class="inline-input"
        v-model="item.product_name"
        :fetch-suggestions="querySearch"
        placeholder="Please Input"
        @select="handleSelect"
      >
        <template slot-scope="{ item }">
          <div class="value">{{ item.name }}</div>
        </template>
      </el-autocomplete>
    </td>
    <td>
      <p v-if="mood==='view' && item.unit">{{ item.unit.name }}</p>
      <el-select v-else v-model="item.unit_id" class="filter-item el-select el-select--medium">
        <el-option v-for="unit in units" :key="unit.id" :value="unit.id" :label="unit.name" />
      </el-select>
    </td>
    <td>
      <p v-if="mood === 'view'">{{ item.quantity }}</p>
      <el-input v-else v-model="item.quantity" placeholder="Enter Quantity" />
    </td>
    <td>
      <el-button v-if="mood !== 'view'" @click="remove(index, item.id)" type="danger" size="mini">X</el-button>
      <p v-else>{{ item.product_price * item.quantity }}</p>
    </td>
  </tr>
</template>

<script>
import axios from 'axios';
export default {
  props: ['index', 'item', 'items', 'units', 'products', 'mood'],
  methods: {
    remove(index, id) {
      if (this.items.length > 1) {
        if (id === undefined) {
          this.items.splice(index, 1);
          this.$message({
            message: 'Product removed successfully.',
            type: 'error',
            duration: 5 * 1000,
          });
        } else {
          this.$confirm(
            'Do you want to mute project type ' + name + '. Continue?',
            'Warning',
            {
              confirmButtonText: 'OK',
              cancelButtonText: 'Cancel',
              type: 'warning',
            }
          )
            .then(() => {
              axios
                .delete('/api/project-type-estimate-item/delete/' + id)
                .then((res) => {
                  this.items.splice(index, 1);
                  this.$message({
                    message: 'Product removed successfully.',
                    type: 'success',
                    duration: 5 * 1000,
                  });
                });
            })
            .catch((error) => {
              this.$message({
                type: 'info',
                message: 'mute canceled',
              });
              console.log(error);
            });
        }
      }
    },
    querySearch(queryString, cb) {
      let products = this.products;
      let results = queryString
        ? products.filter(this.createFilter(queryString))
        : products;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (product) => {
        return (
          product.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleSelect(item) {
      let pro = this.items.find((i) => i.product_id === item.id);
      if (pro) {
        this.$message({
          message: 'Product is already added. Please increase quantity',
          type: 'error',
          duration: 5 * 1000,
        });
      } else {
        this.item.product_id = item.id;
        this.item.product_name = item.name;
      }
    },
  },
};
</script>

<style scoped>
table,
td,
th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}
</style>