<template>
  <div class="app-container">
    <form-component mood="create" :transfer="newTransfer" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
import { getCurrentDate } from '@/utils/helper.js';
import { getItemLastId } from '@/utils/helper.js';
export default {
  name: 'TransferCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newTransfer: {
        transfer_date: '',
        ref_number: '',
        gatepass_number: '',
        transfered_by: '',
        transfered_by_phone: '',
        transfer_type: '',
        selectedFromId: '',
        selectedToId: '',
        ItemRows: [
          {
            product_id: '',
            quantity: '',
            availability: '',
          },
        ]
      }
    };
  },
  async created(){
    this.getAllProjectTypes();
    await getItemLastId('Transfer').then(res => {
      this.newTransfer.gatepass_number = 'GP#'+res;
    })
    this.newTransfer.transfer_date = getCurrentDate();
  },
  methods: {
    async getAllProjectTypes(){
      const projectTypeResponse = await projectTypeResource.list();
      this.projectTypes = projectTypeResponse.data;
    },
  }
  
};
</script>

<style>
</style>