<template>
  <div v-if="client.id" class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="" />
      </div>
    </div>
    <el-row :gutter="20">
      <el-col :span="6">
        <el-card>
          <div class="client-profile">
            <div class="client-avatar box-center">
              <img
                v-if="client.image"
                :src="imgURL + client.image"
                height="90px"
                width="90px"
              />
              <img
                v-else
                height="90px"
                width="90px"
                src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
              />
            </div>
            <div class="box-center">
              <div class="text-center client-name">
                {{ client.name }}
              </div>
              <div class="text-center client-role text-muted">
                {{ client.email }}
              </div>
              <div class="text-center client-role text-muted">
                {{ client.phone }}
              </div>
            </div>
          </div>
        </el-card>
      </el-col>
      <el-col :span="18">
        <el-tabs v-model="activeActivity" @tab-click="handleClick">
          <el-tab-pane id="view" v-loading="updating" label="View" name="first">
            <el-form>
              <el-form-item label="Name">
                <el-input v-model="client.name" />
              </el-form-item>
              <el-form-item label="Company">
                <el-input v-model="client.company" />
              </el-form-item>

              <el-form-item label="Email">
                <el-input v-model="client.email" />
              </el-form-item>
              <el-form-item label="Phone">
                <el-input v-model="client.phone" />
              </el-form-item>
              <el-form-item label="Tax Number">
                <el-input v-model="client.tax_number" />
              </el-form-item>

              <el-form-item :label="$t('client.street')" prop="street">
                <el-input v-model="client.street" />
              </el-form-item>

              <el-form-item :label="$t('client.country')" prop="country">
                <el-select
                  v-model="client.country"
                  class="filter-item"
                  placeholder="Please select Country"
                  @change="getState(client.country)"
                >
                  <el-option
                    v-for="country in countries"
                    :key="country.id"
                    :label="country.name | uppercaseFirst"
                    :value="country.id"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('client.state')" prop="state">
                <el-select
                  v-model="client.state"
                  class="filter-item el-select el-select--medium"
                  placeholder="Please select State"
                >
                  <el-option
                    v-for="state in states"
                    :key="state.id"
                    :value="state.id"
                    :label="state.name"
                  />
                </el-select>
              </el-form-item>

              <el-form-item :label="$t('client.city')" prop="city">
                <el-input v-model="client.city" />
              </el-form-item>
              <el-form-item :label="$t('client.zip_code')" prop="zip_code">
                <el-input v-model="client.zip_code" />
              </el-form-item>

              <el-form-item :label="$t('client.image')" prop="image">
                <input type="file" @change="imageChanged($event)" />
              </el-form-item>
              <el-form-item :label="$t('client.selected_image')">
                <img
                  v-if="client.image"
                  :src="imgURL + client.image"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                />
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                />
              </el-form-item>
            </el-form>
          </el-tab-pane>
          <el-tab-pane v-loading="updating" label="Edit" name="second">
            <el-form>
              <el-form-item label="Name">
                <el-input v-model="client.name" />
              </el-form-item>
              <el-form-item label="Company">
                <el-input v-model="client.company" />
              </el-form-item>

              <el-form-item label="Email">
                <el-input v-model="client.email" />
              </el-form-item>
              <el-form-item label="Phone">
                <el-input v-model="client.phone" />
              </el-form-item>
              <el-form-item label="Tax Number">
                <el-input v-model="client.tax_number" />
              </el-form-item>

              <el-form-item :label="$t('client.street')" prop="street">
                <el-input v-model="client.street" />
              </el-form-item>
              <el-form-item :label="$t('client.country')" prop="country">
                <el-select
                  v-model="client.country"
                  class="filter-item"
                  placeholder="Please select Country"
                  @change="getState(client.country)"
                >
                  <el-option
                    v-for="country in countries"
                    :key="country.id"
                    :label="country.name | uppercaseFirst"
                    :value="country.id"
                  />
                </el-select>
              </el-form-item>
              <el-form-item :label="$t('client.state')" prop="state">
                <el-select
                  v-model="client.state"
                  class="filter-item el-select el-select--medium"
                  placeholder="Please select State"
                >
                  <el-option
                    v-for="state in states"
                    :key="state.id"
                    :value="state.id"
                    :label="state.name"
                  />
                </el-select>
              </el-form-item>

              <el-form-item :label="$t('client.city')" prop="zip_code">
                <el-input v-model="client.city" />
              </el-form-item>
              <el-form-item :label="$t('client.zip_code')" prop="zip_code">
                <el-input v-model="client.zip_code" />
              </el-form-item>

              <el-form-item :label="$t('client.image')" prop="image">
                <input type="file" @change="imageChanged($event)" />
              </el-form-item>

              <el-form-item v-if="!imgurl" :label="$t('client.selected_image')">
                <img
                  v-if="client.image"
                  :src="imgURL + client.image"
                  height="200px"
                  width="200px"
                  @click="copySRC"
                />
                <img
                  v-else
                  height="200px"
                  width="200px"
                  src="https://media.istockphoto.com/vectors/no-image-available-sign-vector-id922962354?k=6&m=922962354&s=612x612&w=0&h=_KKNzEwxMkutv-DtQ4f54yA5nc39Ojb_KPvoV__aHyU="
                />
              </el-form-item>
              <el-form-item
                v-if="imgurl"
                class="preview"
                :label="$t('client.selected_image')"
              >
                <img :src="imgurl" />
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="onSubmit"> Update </el-button>
              </el-form-item>
            </el-form>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import axios from 'axios';
import { fetchClient } from '@/api/client';
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
import PanThumb from '@/components/PanThumb';
export default {
  components: { PanThumb },

  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgurl: null,
      imageSrc: '',
      activeActivity: 'first',
      updating: false,
      countries: [],
      states: [],
      districts: [],
      newClientImage: '',
      client: {},
      image: '',
      cities: [],
      imgURL: process.env.MIX_AWS_IMAGE_URL,
    };
  },
  watch: {
    client: function (nv, ov) {
      this.getState(this.client.country);
    },
  },

  created() {
    this.getCountries();
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    copySRC(event) {
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    fetchData(id) {
      fetchClient(id)
        .then((response) => {
          this.client = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    getCountries() {
      axios.get('/api/countries').then(({ data }) => {
        this.countries = data.data;
      });
    },
    getState(cid) {
      const country_id = cid;
      axios.get('/api/states/' + country_id).then(({ data }) => {
        this.states = data.states;
      });
    },

    imageChanged(e) {
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/clients/get-image', data).then((res) => {
        this.image = res.data.imageName;
      });
    },
    onSubmit() {
      this.client.image = this.image;
      this.updating = true;
      clientResource
        .update(this.client.id, this.client)
        .then((response) => {
          this.updating = false;
          this.$message({
            message: 'client information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.client-activity {
  .client-block {
    .clientname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .client-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

.client-profile {
  .client-name {
    font-weight: bold;
  }
  .box-center {
    padding-top: 10px;
  }
  .client-role {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
  }
  .box-social {
    padding-top: 30px;
    .el-table {
      border-top: 1px solid #dfe6ec;
    }
  }
  .client-follow {
    padding-top: 20px;
  }
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.client-avatar img {
  border-radius: 50%;
  object-fit: contain;
}

img {
  cursor: pointer;
}
</style>
