<template>
      <!-- Start Add Subcontract To Projects  -->

    <el-dialog
      :title="'Add Subcontract'"
      :visible.sync="subcontractDialogFormVisible"
    >
      <div class="form-container">
        <el-form
          ref="subcontractForm"
          :rules="rules"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
          :model="newProjectSubcontract"
        >
          <el-form-item
            :label="$t('projectSubcontract.contract_ref')"
            prop="contract_ref"
          >
            <el-input v-model="newProjectSubcontract.contract_ref" />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.department_id')"
            prop="department_id"
          >
            <el-select
              v-model="newProjectSubcontract.department_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in departments"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.subcontractor_id')"
            prop="subcontractor_id"
          >
            <el-select
              v-model="newProjectSubcontract.subcontractor_id"
              placeholder="Select"
            >
              <el-option
                v-for="item in subcontractors"
                :key="item.id"
                :label="item.name"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.task_details')"
            prop="task_details"
          >
            <el-input
              v-model="newProjectSubcontract.task_details"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.payable_amount')"
            prop="payable_amount"
          >
            <el-input v-model.number="newProjectSubcontract.payable_amount" />
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.issue_date')"
            prop="issue_date"
          >
            <el-date-picker
              v-model="newProjectSubcontract.issue_date"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>

          <el-form-item
            :label="$t('projectSubcontract.deadline')"
            prop="deadline"
          >
            <el-date-picker
              v-model="newProjectSubcontract.deadline"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
          <el-form-item
            :label="$t('projectSubcontract.finished_date')"
            prop="finished_date"
          >
            <el-date-picker
              v-model="newProjectSubcontract.finished_date"
              type="date"
              placeholder="Pick a day"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="subcontractDialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="addSubcontract()">
            {{ $t('table.update') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
</template>

<script>
export default {

}
</script>

<style>

</style>