<template>
  <div class="app-container">
    <div class="filter-container">
      <h3 style="text-align:center">Create new Project</h3>
      <project-form-component :project="newProject" mood="create" />
    </div>
  </div>
</template>
<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import ProjectFormComponent from './components/ProjectFormComponent.vue';

export default {
  name: 'ProjectCreate',
  directives: { waves, permission },
  components: { ProjectFormComponent },
  data() {
    return {
      newProject: {
        name: '',
        start_date: '',
        site_code: '',
        deadline: '',
        project_amount: '',
        zone_id: '',
        location: '',
        details: '',
        country_id: '',
        state_id: '',
        city_id: '',
        district_id: '',
        approved_date: '',
      },
    };
  },

};
</script>
<style scoped>
/* .el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
} */
h3 {
  text-align: center;
}
</style>
