<template>
  <div class="app-container">
    <div class="filter-container">
      <h3 style="text-align:center">Update Project</h3>
      <project-form-component :project="project" mood="edit" />
    </div>
  </div>
</template>
<script>
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import ProjectFormComponent from './components/ProjectFormComponent.vue';
import Resource from '@/api/resource';
const projectResource = new Resource('projects');

export default {
  name: 'ProjectCreate',
  directives: { waves, permission },
  components: { ProjectFormComponent },
  data() {
    return {
      project: {}
    }
  },
  created(){
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id){
      await projectResource.get(id).then((response) => {
          this.project = response.data;
      })
    }
  }

};
</script>
<style scoped>
/* .el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
} */
h3 {
  text-align: center;
}
</style>
