<template>
  <div class="app-container">
    <div id="project_list_top" class="filter-container">
      <el-input
        id="project_search"
        v-model="query.keyword"
        placeholder="WO ID, Code & Location"
        style="width: 200px"
        class="filter-item"
        clearable
        @keyup.enter.native="handleFilter"
      />
      <el-date-picker
        id="search_date"
        v-model="query.start_date"
        type="date"
        placeholder="Start Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        clearable
        @change="handleFilter"
      />
      <el-select
        id="primary_select_p_type"
        v-model="query.zone_id"
        v-waves
        placeholder="Filter By Project Zone"
        clearable
        style="width: 200px; color: #fff"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="zone in zones"
          :key="zone.id"
          :label="zone.name | uppercaseFirst"
          :value="zone.id"
        />
      </el-select>
      <el-select
        id="primary_select_status"
        v-model="query.project_status_id"
        v-waves
        placeholder="Project Status"
        clearable
        style="width: 200px; color: #fff"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="status in statuses"
          :key="status.id"
          :label="status.name | uppercaseFirst"
          :value="status.id"
        />
      </el-select>

      <el-link
        v-permission="['add project']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        href="#/projects/create"
      >
        {{ $t('table.createProject') }}
    </el-link>
    </div>
    <project-list :list="list" :loading="loading" />
   
    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

  </div>
</template>

<script>
import Resource from '@/api/resource';
const projectResource = new Resource('projects');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import waves from '@/directive/waves';
import ProjectList from './ProjectList.vue';
export default {
  name: 'List',
  components: { Pagination, ProjectList },
  directives: { permission, waves },
  data() {
    return {
      list: null,
      sineboardlist: [],
      total: 0,
      loading: true,
      downloading: false,
      activeName: 'third',
      project: {},
      query: {
        page: 1,
        limit: 100,
        keyword: '',
        user: '',
        date: '',
        project_status_id: '',
        request_from: 'project_list',
      },
      users: [],
      dialogFormVisible: false,
      states: [],
      districts: [],
      cities: [],
      countries: [],
      projects: [],
      zones: [],
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      statuses: [],
    };
  },

  created() {
    this.getList();
    this.getModelData();
  },

  methods: {
    async getList() {
      this.loading = true;
      await projectResource
        .list(this.query)
        .then(response => {
          const data = response.data;
          this.list = data;
          this.total = response.meta.total;
        })
        .catch(error => {
          console.log(error.response);
          this.$message({
            message: error.response.data.message,
            type: 'error',
            duration: 5 * 1000,
          });
        });
      this.loading = false;
    },

    async getModelData() {
      const models = [{ name: 'zone', model: 'Zone' },{ name: 'status', model: 'ProjectStatus' }];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.zones = response.data[0].zone;
        this.statuses = response.data[1].status;
      });
    },
  
    async handleFilter() {
      this.query.page = 1;
      await this.getList();
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}

#project-edit {
  margin: 10px 0px;
}
#project-edit-address {
  margin: 10px 0px;
}

#subcontract-add {
  margin: 10px 0px;
}

</style>
