<template>
  <div class="">
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="code" label="Site Code">
        <template slot-scope="scope">
          <span>{{ scope.row.site_code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="code" label="Site Location">
        <template slot-scope="scope">
          <span>{{ scope.row.site_location }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="code" label="Work Done">
        <template slot-scope="scope">
          <el-progress :text-inside="true" :stroke-width="26" :percentage="scope.row.totalWorkDone" status="success"></el-progress>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="200">
        <template slot-scope="scope">
          <router-link :to="'/projects/edit/'+ scope.row.id">
            <el-button
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              Edit
            </el-button>
          </router-link>
          <router-link :to="'/projects/view/'+ scope.row.id">
            <el-button
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
          
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  props: ['list', 'loading'],
}
</script>

<style>

</style>