<template>
  <div>
    <template>
      <el-card v-if="project.id" style="width: 100%; margin: auto">
        <el-tabs v-model="activeActivity" @tab-click="handleClick">
          <el-tab-pane
            v-for="(stage, index) in stages"
            :key="index"
            v-loading="updating"
            :label="stage.stage_name"
            :name="stage.stage_name"
          >
            <div class="form-container">
              <el-form
                ref="stageForm"
                label-position="left"
                label-width="150px"
                style
                enctype="multipart/form-data"
                :rules="StageRules"
                :model="stage"
              >
                <el-form-item :label="$t('stage.work_done')" prop="work_done">
                  <el-input v-model.number="stage.work_done" />
                </el-form-item>
                <!-- {{ stage.stage_amount }} -->
                <el-form-item :label="$t('stage.stage_amount')" prop="stage_amount">
                  <el-input v-model.number="stage.stage_amount" />
                </el-form-item>
                <el-form-item label="Client Bill" prop="inbound_amount">
                  <table style="width: 100%; text-align: center">
                    <thead>
                      <tr>
                        <th width="20%">Total Submited Amount</th>
                        <th width="20%">Received</th>
                        <th width="20%">Pending</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ clientSubmited }}</td>
                        <td>{{ clientReceived }}</td>
                        <td>{{ clientPending }}</td>
                      </tr>
                    </tbody>
                  </table>
                </el-form-item>
                <el-form-item label="Subcontract Bill" prop="outbound_amount">
                  <table style="width: 100%; text-align: center">
                    <thead>
                      <tr>
                        <th width="20%">Total Submited Amount</th>
                        <th width="20%">Received</th>
                        <th width="20%">Pending</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ subcontractorSubmited }}</td>
                        <td>{{ subcontractorReceived }}</td>
                        <td>{{ subcontractorPending }}</td>
                      </tr>
                    </tbody>
                  </table>
                </el-form-item>
                <el-form-item label="Client Target Date" prop="start_date">
                  <el-date-picker
                    v-model="stage.start_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
                <el-form-item label="Subcontractor Target Date" prop="end_date">
                  <el-date-picker
                    v-model="stage.end_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
                <el-form-item :label="$t('stage.finished_date')" prop="finished_date">
                  <el-date-picker
                    v-model="stage.finished_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
                <!-- <el-form-item label="Current Image">
                  <ul>
                    <li v-for="(image, index) in currentImages" :key="index" style="position: relative; display:inline-block">
                      <img
                        id="image"
                        :src="getImagePath(image)"
                        height="200px"
                        width="200px"
                      >
                      <span class="close" style="position: absolute;top: 0;cursor: pointer;color: red; left:0" @click="removeCurrentImage(index)">X</span>
                    </li>
                  </ul>
                </el-form-item>
                <el-form-item v-model="stage.files" label="Project Image" prop="">
                  <input type="file" name="image" multiple @change="getImage($event)">
                </el-form-item>
                <el-form-item label="Selected Image">
                  <ul>
                    <li v-for="(image, index) in images" :key="index" style="position: relative; display:inline-block">
                      <img
                        id="image"
                        :src="image"
                        height="200px"
                        width="200px"
                        class="selectedImage"
                      >
                      <span class="close" style="position: absolute;top: 0;cursor: pointer;color: red; left:0" @click="removeSelectedImage(index)">X</span>
                    </li>
                  </ul>
                </el-form-item>-->

                <el-form-item label="Stage Image" prop="image">
                  <input type="file" multiple @change="imageChanged($event)" />
                </el-form-item>

                <!-- <el-form-item label="Selected Image"> -->
                <el-row :gutter="20">
                  <el-col v-for="(image,index) in images" :key="index" :span="6">
                    <img
                      :src="imgURL + image.image"
                      height="200px"
                      width="200px"
                      class="stage_image"
                    />
                    <span class="close" style="color:red" @click="removeCurrentImage(index)">X</span>
                  </el-col>
                </el-row>
                <!-- </el-form-item> -->
                <!-- <el-form-item v-show="imgurl" class="preview" label="Selected Image">
                <img :src="imgurl">
                </el-form-item>-->
              </el-form>
              <div slot="footer" class="dialog-footer" style="margin-left: 14%">
                <el-button
                  :disabled="project.status === 1"
                  type="primary"
                  @click="onSubmit(stage.id, stage)"
                >{{ $t('table.update') }}</el-button>

                <el-button
                  v-if="project.status === 0"
                  type="primary"
                  @click="goNext(stage.id, stage)"
                >
                  <div v-if="currentStage < nextStage">{{ $t('table.go_next_stage') }}</div>
                  <div v-else>{{ $t('table.finish_project') }}</div>
                </el-button>
                <el-button
                  v-if="project.status === 1"
                  disabled
                  type="primary"
                  @click="goNext(stage.id, stage)"
                >{{ $t('table.finished') }}</el-button>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </el-card>
    </template>
  </div>
</template>
<script>
import { fetchProject } from '@/api/project';
import axios from 'axios';
import Resource from '@/api/resource';
const projectStage = new Resource('project-stage');
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import { fetchProjectStage } from '@/api/projectStage';

export default {
  directives: { permission, waves },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      activeActivity: '',
      updating: false,
      stages: [],
      // stageUpdating: false,
      totalInbound: '',
      totalOutbound: '',
      project: {},
      dialogImageUrl: '',
      dialogVisible: false,
      disabled: false,
      images: [],
      currentImages: [],
      clientSubmited: 0,
      clientReceived: 0,
      clientPending: 0,
      subcontractorSubmited: 0,
      subcontractorReceived: 0,
      subcontractorPending: 0,
      activeActivityId: '',
      Imgs: '',
      clickedImage: {},
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      currentStage: '',
      clickedStage: '',
      nextStage: '',
      previousStage: '',
      stageInfo: {},
      rules: {
        status: [
          { required: true, message: 'Status is required', trigger: 'blur' },
        ],
        stage_amount: [
          { required: true, message: 'Amount is required', trigger: 'blur' },
          {
            type: 'number',
            message: 'Stage Amount Must Be A Number',
            trigger: 'blur',
          },
        ],
        date: [
          { required: true, message: 'Date is required', trigger: 'blur' },
        ],
        due_date: [
          { required: true, message: 'Due Date is required', trigger: 'blur' },
        ],
      },
      StageRules: {
        stage_amount: [
          {
            type: 'number',
            message: 'Stage Amount Must Be A Number',
            trigger: 'blur',
          },
        ],
        work_done: [
          {
            type: 'number',
            message: 'Work Done Must Be A Number',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  watch: {
    clickedImage: function () {
      console.log();
    },
  },

  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    fetchData(id) {
      fetchProject(id)
        .then((response) => {
          this.project = response.data;
          this.getStageImages(this.project.id, this.project.stage_id);
          this.getStageInfo(this.project.stage_id);
          this.activeActivity = this.project.currentStage.stage_name;
          this.activeActivityId = this.project.stage_id;
          this.currentStage = this.project.stage_id;
          this.fetchStage(this.project.id);
        })
        .catch((err) => {
          console.log(err);
        });
    },

    fetchStage(pid) {
      axios.get('/api/get/project-stage/' + pid).then(({ data }) => {
        this.stages = data.data;
        // console.log(this.stages);
        const stage_ids = this.stages.map(function (e) {
          return e.id;
        });
        const current_id_idx = stage_ids.indexOf(this.currentStage);
        const prev_idx = current_id_idx - 1 < 0 ? 0 : current_id_idx - 1;
        const next_idx = Math.min(stage_ids.length - 1, current_id_idx + 1);
        this.previousStage = stage_ids[prev_idx];
        this.nextStage = stage_ids[next_idx];
      });
    },
    getStageInfo(sid) {
      fetchProjectStage(sid).then(({ data }) => {
        this.stageInfo = data;
        this.calcStageAmount(this.stageInfo);
      });
    },
    calcStageAmount(data) {
      let clientSubmited = 0;
      let clientReceived = 0;
      let clientPending = 0;
      let subcontractorSubmited = 0;
      let subcontractorReceived = 0;
      let subcontractorPending = 0;
      if (data.clientBill.length > 0) {
        data.clientBill.forEach((bill) => {
          clientSubmited += bill.amount;
          clientReceived += bill.cheque_amount;
          clientPending +=
            bill.amount -
            (bill.cheque_amount + bill.vat + bill.tax + bill.deduction);
        });
      }
      if (data.subcontractorBill.length > 0) {
        data.subcontractorBill.forEach((bill) => {
          subcontractorSubmited += bill.amount;
          subcontractorReceived += bill.cheque_amount;
          subcontractorPending +=
            bill.amount - (bill.cheque_amount + bill.deduction);
        });
      }
      this.clientSubmited = clientSubmited;
      this.clientReceived = clientReceived;
      this.clientPending = clientPending;
      this.subcontractorSubmited = subcontractorSubmited;
      this.subcontractorReceived = subcontractorReceived;
      this.subcontractorPending = subcontractorPending;
    },
    imageChanged(e) {
      const imageList = e.target.files;
      imageList.forEach((image) => {
        let img = '';
        const data = new FormData();
        img = data.append('photo', image);
        axios
          .post(
            '/api/stages/get-image/' +
              this.project.id +
              '/' +
              this.currentStage,
            data
          )
          .then((res) => {
            this.images.push(res.data.image);
          });
      });
      console.log(this.images);
    },
    onSubmit(id, stage) {
      if (stage.stage_amount > this.project.project_amount) {
        this.$message({
          message: 'Project Stage Amount must be lower than project amount',
          type: 'error',
          duration: 5 * 1000,
        });
      } else {
        this.$refs['stageForm'][0].validate((valid) => {
          if (valid) {
            this.updating = true;
            stage.imageList = this.images;
            stage.project_id = this.project.id;
            projectStage
              .update(id, stage)
              .then((response) => {
                this.updating = false;
                this.$message({
                  message:
                    'Project Stage information has been updated successfully',
                  type: 'success',
                  duration: 5 * 1000,
                });
              })
              .catch((error) => {
                console.log(error);
                this.updating = false;
              });
          }
        });
      }
    },
    goNext(sid) {
      const pid = this.project.id;
      // const tid = this.project.project_type;
      this.updating = true;
      axios
        .post('/api/stage/go-next/' + pid + '/' + this.nextStage + '/' + sid)
        .then((response) => {
          this.fetchData(pid);
          this.$message({
            message: 'Project Stage information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
          this.updating = false;
        })
        .catch((error) => {
          // console.log(error.message);
          this.$message({
            message: 'Please Upload Project Image For This Stage',
            type: 'error',
            duration: 5 * 1000,
          });
          this.updating = false;
        });
    },
    getStageImages(pid, sid) {
      axios
        .get('/api/stage/current/images/' + pid + '/' + sid)
        .then((response) => {
          this.Imgs = response.data.images;
          const images = [];
          this.Imgs.forEach((img) => {
            images.push(img);
          });
          this.images = images;
        });
    },
    removeSelectedImage(index) {
      this.images.splice(index, 1);
    },
    getImagePath(img) {
      return 'images/project/' + img;
    },
    removeCurrentImage(index) {
      this.clickedImage = this.images[index];
      axios
        .delete(
          '/api/project-image/delete/' +
            this.project.id +
            '/' +
            this.project.stage_id +
            '/' +
            this.clickedImage.id
        )
        .then((response) => {
          this.images.splice(index, 1);
          this.clickedImage = '';
        });
    },

    handleClick(tab, event) {
      const index = tab.index;
      this.currentStage = this.stages[index].id;
      this.getStageImages(this.project.id, this.currentStage);
      this.getStageInfo(this.currentStage);
    },
  },
};
</script>
<style lang="scss" scoped>
.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.stage_image {
  position: relative;
}
.close {
  position: absolute;
  cursor: pointer;
}
</style>
