<template>
  <div class="app-container">
    <h3>Project Milestone</h3>
    <template>
      <el-tabs v-model="activeActivity" @tab-click="handleClick">
        <el-tab-pane
          v-for="(milestone, index) in this.project.milestones"
          :key="index"
          v-loading="updating"
          :label="milestone.milestone_name"
          :name="'milestone'+index"
        >
          <el-form
            ref="stageForm"
            label-position="left"
            label-width="150px"
            style
            enctype="multipart/form-data"
            :model="milestone"
          >
            <el-row :gutter="20">
              <el-col :span="12">
                <el-form-item :label="$t('stage.work_done')" prop="work_done">
                  <el-input v-model.number="milestone.work_done" />
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="Amount" prop="amount">
                  <el-input v-model.number="milestone.amount" />
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Start Date" prop="start_date">
                  <el-date-picker
                    v-model="milestone.start_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Deadline Date" prop="end_date">
                  <el-date-picker
                    v-model="milestone.end_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="Finish Date" prop="finished_date">
                  <el-date-picker
                    v-model="milestone.finished_date"
                    type="date"
                    placeholder="Pick a day"
                    format="yyyy/MM/dd"
                    value-format="yyyy-MM-dd"
                  />
                </el-form-item>
              </el-col>
            </el-row>
            <div class="btn">
              <el-button type="success">Mark As Done</el-button>
            </div>
          </el-form>
          <h3>Milestone Work Breakdown</h3>
          <template>
            <el-tabs v-model="wbcActiveActivity" @tab-click="handleClick">
              <el-tab-pane
                v-for="(wbc, index) in milestone.projectWbcs"
                :key="index"
                v-loading="updating"
                :label="wbc.wbc_name"
                :name="'wbc'+index"
              >
                <el-form
                  ref="stageForm"
                  label-position="left"
                  label-width="150px"
                  style
                  enctype="multipart/form-data"
                  :model="wbc"
                >
                  <el-row :gutter="20">
                    <el-col :span="12">
                      <el-form-item :label="$t('stage.work_done')" prop="work_done">
                        <el-input v-model.number="wbc.work_done" />
                      </el-form-item>
                    </el-col>
                    <el-col :span="12">
                      <el-form-item label="Amount" prop="amount">
                        <el-input v-model.number="wbc.amount" />
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Start Date" prop="start_date">
                        <el-date-picker
                          v-model="wbc.start_date"
                          type="date"
                          placeholder="Pick a day"
                          format="yyyy/MM/dd"
                          value-format="yyyy-MM-dd"
                        />
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Deadline Date" prop="end_date">
                        <el-date-picker
                          v-model="wbc.end_date"
                          type="date"
                          placeholder="Pick a day"
                          format="yyyy/MM/dd"
                          value-format="yyyy-MM-dd"
                        />
                      </el-form-item>
                    </el-col>
                    <el-col :span="8">
                      <el-form-item label="Finish Date" prop="finished_date">
                        <el-date-picker
                          v-model="wbc.finished_date"
                          type="date"
                          placeholder="Pick a day"
                          format="yyyy/MM/dd"
                          value-format="yyyy-MM-dd"
                        />
                      </el-form-item>
                    </el-col>
                  </el-row>
                  <el-form-item label="Upload New Images" prop="image">
                    <input
                      multiple
                      type="file"
                      name="image"
                      @change="getImage($event)"
                    /><br />
                    <span style="color: red">Upload 640 x 425 for better view</span>
                  </el-form-item>
                  <el-form-item label="Exsisting Images">
                  <el-row :gutter="20">
                    <el-col :span="6" v-for="(img, i) in wbc.images" :key="i">
                      <div class="grid-content">
                        <div class="product_image">
                          <img
                            id="product_image"
                            :src="imgURL+img.image_name"
                            height="200px"
                            width="200px"
                          />
                        </div>
                        <span @click="removeImage(i)" class="close">X</span>
                      </div>
                    </el-col>
                  </el-row>
                  </el-form-item>
                  <el-form-item label="New Images">
                  <el-row :gutter="20">
                    <el-col :span="6" v-for="(img, i) in Images" :key="i">
                      <div class="grid-content">
                        <div class="product_image">
                          <img
                            id="product_image"
                            :src="imgURL+img"
                            height="200px"
                            width="200px"
                          />
                        </div>
                        <span @click="removeImage(i)" class="close">X</span>
                      </div>
                    </el-col>
                  </el-row>
                </el-form-item>
                  <div class="btn">
                    <el-button type="primary" @click="updateMilestone(milestone, wbc)">Update</el-button>
                    <el-button type="success">Mark As Done</el-button>
                  </div>
                </el-form>
              </el-tab-pane>
            </el-tabs>
          </template>
        </el-tab-pane>
      </el-tabs>
    </template>
  </div>
</template>
<script>
import Resource from '@/api/resource';
import axios from 'axios';
const projectResource = new Resource('projects');
const projectMilestoneResource = new Resource('project-milestones');
export default {
  data() {
    return {
      activeActivity: 'milestone0',
      wbcActiveActivity: 'wbc0',
      updating: false,
      project: {},
      Images: [],
      imgURL: process.env.MIX_AWS_IMAGE_URL,
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    async fetchData(id) {
      await projectResource.get(id).then((response) => {
        this.project = response.data;
      });
    },
    handleClick(tab, event) {
      console.log('Switching tab ', tab, event);
    },
    async updateMilestone(milestone, wbc){
      wbc.images = this.Images;
      await projectMilestoneResource.update(milestone.id, milestone).then(res => {
        this.$message({
          message: 'Milestone updated successfully',
          type: 'success'
        });
      })
    },
    getImage(event) {
      const files = event.target.files;
      files.forEach(image => {
        const data = new FormData();
        data.append('photo', image);
        axios.post('/api/upload-image/wbc', data).then(res => {
          this.Images.push(res.data.imageName);
        });
      });
    },
    removeImage(index) {
      this.Images.splice(index, 1);
    },
  },
};
</script>
<style scoped>
h3 {
  text-align: center;
}
.btn {
  text-align: center;
} 
</style>
