<template>
  <div v-loading="transferCreating" class="form-container">
    <el-form
      ref="transferForm"
      :model="transfer"
      label-position="left"
      label-width="150px"
    >
      <h3 style="text-align:center">Create New Transfer</h3>
      <el-row :gutter="10">
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Transfer Date" prop="transfer_date">
              <p v-if="mood === 'view'">{{ transfer.transfer_date }}</p>
              <el-date-picker
                v-else
                v-model="transfer.transfer_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              ></el-date-picker>
            </el-form-item>
          </div>
        </el-col>


        <!-- <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Ref No" prop="ref_no">
              <el-select
                v-model="transfer.ref_no"
                placeholder="Ref No"
                @change="getDeliveries"
              >
                <el-option
                  v-for="(val, index) in deliveries"
                  :key="index"
                  :label="val.id"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col> -->
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Ref Number" prop="ref_number">
              <p v-if="mood === 'view'">{{ transfer.ref_number }}</p>
              <el-input placeholder="Ref No" v-else v-model="transfer.ref_number" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Gatepass Number" prop="gatepass_number">
              <p v-if="mood === 'view'">{{ transfer.gatepass_number }}</p>
              <el-input placeholder="Gatepass No" v-else v-model="transfer.gatepass_number" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Transfered By" prop="transfered_by">
              <p v-if="mood === 'view'">{{ transfer.transfered_by }}</p>
              <el-input placeholder="Transfered By" v-else v-model="transfer.transfered_by" />
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Transfered By Phone" prop="transfered_by_phone">
              <p v-if="mood === 'view'">{{ transfer.transfered_by_phone }}</p>
              <el-input placeholder="Transfered By Phone" v-else v-model="transfer.transfered_by_phone" />
            </el-form-item>
          </div>
        </el-col>


        <el-col :span="6" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="Transfer Type" prop="transfer_type">
              <el-select
                v-model="transfer.transfer_type"
                placeholder="Select Transfer Type"
                @change="getTransferRoutes"
              >
                <el-option
                  v-for="(val, index) in transferTypes"
                  :key="index"
                  :label="val.text"
                  :value="val.value"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>

        <el-col :span="10" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="From">
              <el-select
                v-model="transfer.selectedFromId"
                filterable
                placeholder="Select From"
                @change="changeFromId"
              >
                <el-option
                  v-for="(val, index) in froms"
                  :key="index"
                  :label="val.site_code ? val.site_code : val.name"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>


        <el-col :span="10" :offset="2" class="inline">
          <div class="grid-content">
            <el-form-item label="To">
              <el-select
                v-model="transfer.selectedToId"
                filterable
                placeholder="Select To"
              >
                <el-option
                  v-for="(val, index) in toesList"
                  :key="index"
                  :label="val.site_code ? val.site_code : val.name"
                  :value="val.id"
                />
              </el-select>
            </el-form-item>
          </div>
        </el-col>


        <el-col :span="24">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th width="50%">Product</th>
                <th width="30%">Quantity</th>
                <th width="20%">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(itemRow, index) in transfer.ItemRows">
                <transfer-item-component
                  :ItemRows="transfer.ItemRows"
                  :itemRow="itemRow"
                  :key="index"
                  :mood="mood"
                  :index="index"
                  :transfer="transfer"
                  :products="products"
                />
              </template>
            </tbody>
          </table>
        </el-col>
      </el-row>
    </el-form>

    <div >
      <el-button type="primary" icon="el-icon-plus" @click="addItem">
        {{ $t('table.add') }}
      </el-button>
      <el-button
        type="primary"
        v-if="mood === 'create'"
        @click="checkValidation"
      >{{ $t('table.confirm') }}</el-button>
      <el-button type="primary" v-if="mood === 'edit'" @click="checkValidation">Update</el-button>
    </div>
  </div>
</template>

<script>
import TransferItemComponent from './TransferItemComponent.vue';
import Resource from '@/api/resource';
const transferResource = new Resource('transfers');
import { getItemLastId } from '@/utils/helper.js';
import { getCurrentDate } from '@/utils/helper.js';
export default {
  props: ['transfer', 'mood'],
  components: { TransferItemComponent },
  created() {
    this.transfer.transfer_type = 1;
    this.getModelData();
  },
  data() {
    return {
      transferCreating: false,
      transferTypes: [
        { text: 'From Warehouse to Warehouse', value: 1 },
        { text: 'From Warehouse to Project', value: 2 },
        { text: 'From Project to Warehouse', value: 3 },
        { text: 'From Project to Project', value: 4 },
      ],
      projects: [],
      warehouses: [],
      froms: [],
      toes: [],
      toesList: [],
      products: [],
      deliveries: [],
      // itemRow: {},
      index: 0,
    };
  },
  mounted() {},
  // created(){
  //   this.getDeliveries();        
  // },
  methods: {
    addItem(){
      var item = {
            product_id: '',
            product_name: '',
            quantity: '',
            availability: '',
      };
      this.transfer.ItemRows.push(item);
      console.log('Create', this.transfer.ItemRows);
    },
    getTransferRoutes(){
      switch(this.transfer.transfer_type)
      {
        case 1:      //if transfer_type = 1
          this.froms = this.warehouses;
          this.toes = this.warehouses;
          this.toesList = this.warehouses;
          break;
        case 2:      //if transfer_type = 2
          this.froms = this.warehouses;
          this.toes = this.projects;
          this.toesList = this.projects;
          break;
        case 3:      //if transfer_type = 3
          this.froms = this.projects;
          this.toes = this.warehouses;
          this.toesList = this.warehouses;
          break;
        case 4:      //if transfer_type = 4
          this.froms = this.projects;
          this.toes = this.projects;
          this.toesList = this.projects;
          break;
        default:    //if day doesn't match any of above
          console.log("Invalid");
      }
      this.transfer.selectedFromId = '';
      this.transfer.selectedToId = '';
      console.log("Type -- ",this.transfer.transfer_type, this.froms,this.toes, this.toesList);
    },
    changeFromId(){
      if(this.transfer.transfer_type <= 2){
        axios.get('/api/warehouse/get-inventory-products/' + this.transfer.selectedFromId).then(({ data }) => {
          this.products = data;
          console.log(data);
        })
      } else {
        axios.get('/api/project/get-inventory-products/' + this.transfer.selectedFromId).then(({ data }) => {
          this.products = data;
          console.log(data);
        });
      }
    },
    // getDeliveries(){
    //     console.log('getDeliveries');
    //     axios.get('/api/inventory/get-deliveries/').then(({ data }) => {
    //       this.deliveries = data;
    //       console.log(data);
    //     })
    // },
    async getModelData(){
      const models = [{name: 'project', model: 'Project'}, {name: 'warehouse', model: 'Warehouse'}];
      await axios.post('/api/get-model-data', models).then(response => {
        this.projects = response.data[0].project;
        this.warehouses = response.data[1].warehouse;
        this.froms = this.warehouses;
        this.toes = this.warehouses;
        this.toesList = this.warehouses;
        // getTableLastID(Project);
      })
      console.log("getModelData: -- ",this.froms,this.toes);
    },
    checkValidation() {
      let valid = true;
      let multipleProduct = false;
      let unavalailableProducts = '';
      console.log('checkValidation');
      this.transfer.ItemRows.forEach((item) => {
        console.log(item);
        if(item.quantity > item.availability){
          if(multipleProduct) unavalailableProducts += ', '+item.product_name;
          else unavalailableProducts += item.product_name;
          multipleProduct = true;
          valid = false;
        }
      });
      // console.log(unavalailableProducts);
      // if(unavalailableProducts){
      //   this.$message.error('Not enough '+unavalailableProducts+' avalailable');
      // }
      if (valid === true) {
        if (this.mood === 'create') {
          this.createTransfer();
        } else if (this.mood === 'edit') {
          this.updateTransfer();
        }
      } else {
        this.$message.error('Not enough '+unavalailableProducts+' avalailable');
      }
    },
    createTransfer() {
      transferResource
        .store(this.transfer)
        .then((res) => {
          this.resetTransferForm();
          this.$message({
            message: 'Transfer Has been created successfully.',
            type: 'success',
          });
        })
        .catch((error) => {
          this.$message.error(error.message);
        });
    },
    async resetTransferForm() {
      let gatepass_number = '';
      await getItemLastId('Transfer').then((res) => {
        gatepass_number = 'GP#' + res;
      });
      this.transfer = {
        transfer_date: getCurrentDate(),
        ref_number: '',
        gatepass_number: gatepass_number,
        transfer_type: '',
        froms: [],
        toes: [],
        transfered_by: '',
        transfered_by_phone: '',
        note: '',
        ItemRows: [
          {
            product_id: '',
            product_name: '',
            quantity: '',
            availability: '',
          },
        ],
      };
      
    },
  },
  watch: {
    'transfer.selectedFromId': function(){
      if(this.transfer.transfer_type == 1 || this.transfer.transfer_type == 4){
        this.toesList = this.toes.filter(item => 
             item.id != this.transfer.selectedFromId 
        );
      }
      console.log('');
    }
  },
};
</script>

<style scoped>
.inline .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
.el-dialog {
  width: 70% !important;
}
</style>