<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['view country list']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="150" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="allaw_change_due_amount" label="Allaw Change Due Amount">
        <template slot-scope="scope">
          <span>{{ scope.row.allaw_change_due_amount }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="300">
        <template slot-scope="scope">
          <!-- <router-link :to="'/accounts/parent-group/edit/' + scope.row.id"> -->
            <el-button
              v-permission="['view country list']"
              type="primary"
              size="small"
              icon="el-icon-view"
              @click="handleEdit(scope.row.id)"
            >
              Edit
            </el-button>
          <!-- </router-link> -->
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new parent group'" :visible.sync="dialogFormVisible">
      <div v-loading="paymentMethodCreating" class="form-container">
        <el-form
          ref="PaymentMethodForm"
          :rules="rules"
          :model="newPaymentMethod"
          label-position="left"
          label-width="150px"
          style="max-width: 500px;margin-bottom: 10px"
        >
          <el-form-item label="Name" prop="name">
            <el-input v-model="newPaymentMethod.name" />
          </el-form-item>

          <el-checkbox v-model="newPaymentMethod.allaw_change_due_amount">Allaw Change Due Amount</el-checkbox>
          
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createPaymentMethod()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
    <el-dialog :title="'Edit parent group'" :visible.sync="dialogEditFormVisible">
      <div v-loading="paymentMethodCreating" class="form-container">
        <el-form
          ref="paymentMethodEditForm"
          :rules="rules"
          :model="editPaymentMethod"
          label-position="left"
          label-width="150px"
          style="max-width: 500px;margin-bottom: 10px"
        >
        
          <el-form-item label="Name" prop="name">
            <el-input v-model="editPaymentMethod.name" />
          </el-form-item>
          <el-checkbox v-model="editPaymentMethod.allaw_change_due_amount">Allaw Change Due Amount</el-checkbox>
          
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogEditFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="updatePaymentMethod()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const paymentMethodResource = new Resource('payment-method');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'PaymentMethodList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      paymentMethodCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newPaymentMethod: {
        name: '',
        allaw_change_due_amount: 0,
      },
      editPaymentMethod: {},
      dialogFormVisible: false,
      dialogEditFormVisible: false,
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
      editRules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      }
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await paymentMethodResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewPaymentMethod();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['PaymentMethodForm'].clearValidate();
      });
    },
    
    createPaymentMethod() {
      this.$refs['PaymentMethodForm'].validate(valid => {
        if (valid) {
          this.paymentMethodCreating = true;
          paymentMethodResource
            .store(this.newPaymentMethod)
            .then(response => {
              this.$message({
                message:
                  'New payment method has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewPaymentMethod();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            })
            .finally(() => {
              this.paymentMethodCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewPaymentMethod() {
      this.newPaymentMethod = {
        name: '',
        allaw_change_due_amount: 0,
      };
    },
    handleEdit(id) {
      this.$nextTick(() => {
        this.getPaymentMethod(id);
      });
      this.dialogEditFormVisible = true;
      
    },
    async getPaymentMethod(id){
      await paymentMethodResource.get(id).then(({ data }) => {
        this.editPaymentMethod = data;
      })
    },
    updatePaymentMethod() {
      // console.log(this.$refs['paymentMethodEditForm']);
      this.$refs['paymentMethodEditForm'].validate(valid => {
        if (valid) {
          this.paymentMethodCreating = true;
          paymentMethodResource
            .update(this.editPaymentMethod.id, this.editPaymentMethod)
            .then(response => {
              this.$message({
                message:
                  'Payment method has been updated successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.paymentMethodCreating = false;
              this.handleFilter();
            })
            .catch(error => {
              this.paymentMethodCreating = false;
              console.log(error);
            })
            .finally(() => {
              this.dialogEditFormVisible = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name' ];
        const filterVal = ['id', 'name'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'payment-method-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
