<template>
  <div class="app-container">
    <form-component mood="create" :ledger="newLedger" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import axios from 'axios';
export default {
  name: 'GroupCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newLedger: {
        currency: 'BDT',
      },
      
    };
  },
  created(){
  },
  methods: {
        
  }
};
</script>

<style>

</style>