<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="View" name="view">
        <form-component mood="view" :ledger="ledger" />
      </el-tab-pane>
      <el-tab-pane label="Edit" name="edit">
        <form-component mood="edit" :groups="groups" :ledger="ledger" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const ledgerResource = new Resource('ledgers');
const groupResource = new Resource('groups');
export default {
  components: { FormComponent },
  data(){
    return {
      ledger: {},
      groups: [],
      activeName: 'view',
      
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id){
      await ledgerResource.get(id).then(({ data}) => {
        this.ledger = data;
        console.log(this.ledger);
      })
    },
    async getData(){
      await axios.get('/api/get-all-groups').then(response => {
        this.groups = response.data.data;
      })
    },
    handleClick(){
      console.log('click');
    }
  }
}
</script>

<style>

</style>