\<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <router-link to="/accounts/ledgers/create">
          <el-button
            v-permission="['add ledger']"
            class="filter-item"
            style="margin-left: 10px"
            type="primary"
            icon="el-icon-plus"
            
        >
            {{ $t('table.add') }}
        </el-button>
      </router-link>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="group_id" label="Group Name">
        <template slot-scope="scope">
          <span v-if="scope.row.group">{{ scope.row.group.name }}</span>
        </template>
      </el-table-column>
      

      <el-table-column align="center" label="Actions" width="150">
        <template slot-scope="scope">
          <router-link :to="'/accounts/ledgers/edit/' + scope.row.id">
            <el-button
              v-permission="['update ledger']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new ledger'" :visible.sync="dialogFormVisible">
      
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const ledgerResource = new Resource('ledgers');
// const groupResource = new Resource('groups');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
export default {
  name: 'GroupList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      ledgerCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newGroup: {},
      dialogFormVisible: false,

      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await ledgerResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name', 'group', 'currency', 'cost_center', 'address', 'phone', 'email', 'post_code', 'city', 'comments', 'inactive'];
        const filterVal = ['id', 'name', 'group_id', 'currency', 'cost_center', 'address', 'phone', 'email', 'post_code', 'city', 'comments', 'inactive'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'ledger-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
