<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        placeholder="Search By Topsheet ID"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <!-- <el-button
        v-permission="['add department']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button> -->
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" :min-width="10" type="index" />

      <el-table-column align="center" label="Topsheet ID" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.topsheet_id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="PR Number" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.bill_received_number }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Send Date" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.send_date }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Estimated Payment Date" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.estimated_payment_date }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Amount" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.total_amount }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" :min-width="30">
        <template slot-scope="scope">
          <el-button
            v-if="scope.row.bill_received_number === null"
            v-permission="['set client bill pr number']"
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="handleCreate(scope.row.id)"
          >
            Set PR
          </el-button>
          <router-link v-if="scope.row.payment_date === null" :to="'/accounts/client-bill/receive/' + scope.row.id">
            <el-button
              v-permission="['receive client bill']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              Receive
            </el-button>
          </router-link>
          <router-link :to="'/accounts/topsheet/view/' + scope.row.id">
            <el-button
              v-permission="['receive client bill']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Set PR Number'" :visible.sync="dialogFormVisible">
      <div v-loading="setPR" class="form-container">
        <el-form
          ref="setPRForm"
          :rules="rules"
          :model="newPR"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item label="Payment Received Number" prop="bill_received_number">
            <el-input v-model="newPR.bill_received_number" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="setBRNumber()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const topSheetResource = new Resource('client-topsheet');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
export default {
  name: 'DepartmentList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      setPR: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newPR: {},
      dialogFormVisible: false,
      TopSheetID: '',
      rules: {
        bill_received_number: [
          { required: true, message: 'PR Number is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await topSheetResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate(id) {
      this.dialogFormVisible = true;
      this.TopSheetID = id;
      this.$nextTick(() => {
        this.$refs['setPRForm'].clearValidate();
      });
    },
    setBRNumber() {
      this.$refs['setPRForm'].validate(valid => {
        if (valid) {
          this.setPR = true;
          axios.post('/api/client-topsheet/set-br-number/' + this.TopSheetID, this.newPR).then(response => {
            this.setPR = false;
            this.dialogFormVisible = false;
            this.resetsetPRForm();
            this.handleFilter();
            this.$message({
              message:
                  'PR Number Set successfully.',
              type: 'success',
              duration: 5 * 1000,
            });
          }).catch(error => {
            console.log(error);
            this.setPR = false;
          });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetsetPRForm() {
      this.newPR = {
        bill_received_number: '',
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name', 'code', 'status'];
        const filterVal = ['id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'department-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
