<template>
  <el-card>
    <div v-loading="clientPaymentReceived" class="form-container">
      <el-form
        v-if="receiveData"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row>
          <el-col :span="6">
            <div v-if="receiveData.supervise" class="grid-content">
              <el-form-item label="Supervised By">
                {{ receiveData.supervise.name }}
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="grid-content">
              <el-form-item label="Payment Date" prop="payment_date">
                {{ receiveData.payment_date }}
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="grid-content">
              <el-form-item
                label="Payment Received Number"
                prop="bill_received_number"
              >
                {{ receiveData.bill_received_number }}
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="6">
            <div class="grid-content">
              <el-form-item
                label="Topsheet ID"
                prop="topsheet_id"
              >
                {{ receiveData.topsheet_id }}
              </el-form-item>
            </div>
          </el-col>
        </el-row>
        <el-form-item label="Bill Details">
          <table class="item_table">
            <thead class="thead">
              <tr class="thead_row">
                <th>No.</th>
                <th>Bill ID.</th>
                <th>Amount</th>
                <th>Vat</th>
                <th>Tax</th>
                <th>SD</th>
                <th>Deduction</th>
                <th>Cheque Amount</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <tr v-for="(item, index) in receiveData.bills" :key="index" class="tbody_row">
                <td>{{ 1 }}</td>
                <td>{{ item.bill_id }}</td>
                <td>{{ item.amount }}</td>
                <td>
                  {{ item.vat }}
                </td>
                <td>
                  {{ item.tax }}
                </td>
                <td>
                  {{ item.sd }}
                </td>
                <td>
                  {{ item.deduction }}
                </td>
                <td>
                  {{ item.cheque_amount }}
                </td>
              </tr>
            </tbody>
          </table>
        </el-form-item>
      </el-form>
    </div>
  </el-card>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      receiveData: {},
      users: [],
      clientTopsheetCreating: false,
      bills: null,
      totalBillAmount: 0,
      clientPaymentReceived: false,
      rules: {
        send_date: [
          { required: true, message: 'Send Date is required', trigger: 'blur' },
        ],
        project_id: [
          { required: true, message: 'Project is required', trigger: 'blur' },
        ],
        supervised_by: [
          {
            required: true,
            message: 'Supervised is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id) {
      await axios.get('/api/client-topsheet/receive/' + id).then(({ data }) => {
        this.receiveData = data.data;
      });
    },
  },
};
</script>

<style scoped>
.el-input.is-disabled .el-input__inner {
    background-color: #F5F7FA;
    border: none;
    color: #606266;
    cursor: not-allowed;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
</style>
