<template>
  <div>
    <el-form
      ref="saleForm"
      :model="sale"
      :rules="rules"
      label-width="120px"
      v-loading="loading"
    >
      <el-row :gutter="20">
        <el-col :span="17">
          <el-row :gutter="20">
            <!-- <el-col :span="6">
              <el-form-item
                label="Sale Date"
                prop="sale_date"
              >
                <el-date-picker
                  v-model="sale.sale_date"
                  type="date"
                  placeholder="Pick a Date"
                  format="yyyy/MM/dd"
                  value-format="yyyy-MM-dd">
                </el-date-picker>
              </el-form-item>
            </el-col> -->
            <el-col :span="8">
              <el-form-item
                label="Sale Date & Time"
                prop="sale_date"
              >
                <div class="block">
                <el-date-picker
                  :disabled="mood === 'view'"
                  v-model="sale.sale_date"
                  type="datetime"
                  placeholder="Select date and time">
                </el-date-picker>
              </div>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item
                label="Sale ID"
                prop="sale_id"
                v-if="mood !== 'create'"
              >
                <el-input disabled v-model="sale.sale_id" />
              </el-form-item>
            </el-col>
            <el-col :span="18">
              <el-form-item
                id="productSearch"
                label="Product"
                class="full-width"
              >
                <el-autocomplete
                  :disabled="mood === 'view'"
                  v-model="state"
                  class="inline-input"
                  :fetch-suggestions="querySearch"
                  placeholder="Please Input"
                  :trigger-on-focus="false"
                  @select="handleSelect"
                  style="width: 100%"
                  hide-loading
                >
                  <template slot-scope="{ item }">
                    <div class="value">{{ item.name }} ({{ item.code }})</div>
                  </template>
                </el-autocomplete>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <div class="panel-head">
                <b>Total Items:</b>
                <b>{{ sale.totalItems }}</b>
              </div>
            </el-col>
            <el-col :span="24">
              <table class="saleItem_table">
                <thead class="thead">
                  <tr class="thead_row">
                    <th>SL</th>
                    <th>code</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th>Available Qty</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Total Vat</th>
                    <th>Total + Vat</th>
                    <th v-if="mood === 'create'">X</th>
                  </tr>
                </thead>
                <tbody class="tbody">
                  <tr
                    v-for="(saleItem, index) in sale.saleItems"
                    :key="saleItem.id"
                    class="tbody_row"
                  >
                    <td>{{ index + 1 }}</td>
                    <td>{{ saleItem.code }}</td>
                    <td>
                      {{ saleItem.name }}
                    </td>
                    <td>
                      <input
                        :disabled="mood === 'view'"
                        v-model="saleItem.quantity"
                        type="text"
                        style="height: 30px; line-height: 36px; width: 80px"
                        @blur="checkItemChange()"
                      />
                      <span>{{ saleItem.unit_name }}</span>
                    </td>
                    <td>
                      {{ saleItem.availableQty }}
                    </td>

                    <td v-if="salePriceEdit==false">
                      <span v-if="shopInfo.vat_status === 'including_vat'">{{
                        saleItem.price
                      }}</span>
                      <span v-else>{{ saleItem.price.toFixed(2) }}</span>
                      <el-button
                        class="unblock"
                        type="primary"
                        size="small"
                        icon="el-icon-edit"
                        style="
                          color: white;
                          padding: 3px;
                          cursor: pointer;
                        "
                        @click="editPermission()"
                      ></el-button>
                    </td>

                  <td v-if="salePriceEdit==true">
                      <input
                        :disabled="mood === 'view'"
                         v-model="saleItem.price"
                        type="text"
                        style="height: 30px; line-height: 36px; width: 80px"
                        @blur="checkItemChange()"
                      />
                    </td> 
                    <td>
                      <span>{{
                        (saleItem.discount_amount * saleItem.quantity).toFixed(
                          2
                        )
                      }}</span>
                    </td>
                    <td>
                      <span>{{
                        parseFloat(saleItem.totalVat).toFixed(2)
                      }}</span>
                    </td>
                    <td>
                      <span>{{ ((saleItem.sub_total) + (saleItem.totalVat)).toFixed(2) }}</span>
                    </td>
                    <td
                      v-if="mood === 'create'"
                      style="width: 5%; color: red; cursor: pointer"
                      @click.prevent="deleteRow(index)"
                    >
                      X
                    </td>
                  </tr>
                </tbody>
              </table>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="7" class="right-panel">
          
          <div class="panel-body">
            <b>Sub total
              <span v-if="shopInfo">({{ shopInfo.vat_status }})</span>:</b
            >
            <b>{{ parseFloat(sale.subTotal).toFixed(2) }}</b>
          </div>
          <hr />
          <!-- <div class="panel-body" v-if="sale.tax > '0%'">
            <b>Order TAX: ({{ sale.tax }})</b>
            <div>
              <span>{{ taxAmount.toFixed(2) }}</span>
              <el-input
                class="numeric_val"
                disabled
                @blur="checkItemChange"
                v-model="taxAmount"
              ></el-input>
            </div>
          </div> 
          <hr /> -->
          <div class="panel-body" v-if="sale.vat > '0%'">
            <b>VAT: ({{ sale.vat }})</b>
            <div>
              <span>{{ parseFloat(vatAmount).toFixed(2) }}</span>
              <!-- <el-input
                class="numeric_val"
                disabled
                @blur="checkItemChange"
                v-model="vatAmount"
              ></el-input> -->
            </div>
          </div>
          <hr />
          <div class="panel-body">
            <b>Sale Discount:</b>
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <el-input
                class="numeric_val"
                :disabled="mood === 'view'"
                @blur="checkItemChange"
                v-model="sale.discount"
              ></el-input>
              <span style="padding: 0px 5px">=</span>
              <span>{{ discountOnTotal.toFixed(2) }}</span>
            </div>
          </div>
          <hr />
          <div class="panel-body">
            <b>Total Discount:</b>
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <span style="padding: 0px 5px"> = </span>
              <span>{{ discountAmount.toFixed(2) }}</span>
            </div>
          </div>
          <hr />

          <div class="panel-foot">
            <b>Total:</b>
            <b>{{ sale.grand_total + vatAmount}}</b>
          </div>
          <hr />
          <el-form-item
            id="warehouseSearch"
            label="Warehouse"
            class="full-width"
          >
            <el-autocomplete
              :disabled="mood === 'view'"
              v-model="sale.warehouse_name"
              class="inline-input"
              :fetch-suggestions="warehouseSearch"
              placeholder="Please Input"
              :trigger-on-focus="false"
              @select="warehouseSelect"
              style="width: 100%"
            >
              <template slot-scope="{ item }">
                <div class="value">{{ item.name }}</div>
              </template>
            </el-autocomplete>
          </el-form-item>
          <hr />
          <el-form-item id="customerSearch" label="Customer" class="full-width">
            <el-autocomplete
              :disabled="mood === 'view'"
              v-model="sale.customer_name"
              class="inline-input"
              :fetch-suggestions="customerSearch"
              placeholder="Please Input"
              :trigger-on-focus="false"
              @select="customerSelect"
              style="width: 100%"
            >
              <template slot-scope="{ item }">
                <div class="value">{{ item.name }}</div>
              </template>
            </el-autocomplete>
          </el-form-item>
          <div style="margin-bottom: 20px">
            <el-radio
              v-model="sale.pay_type"
              label="Cash"
              border
              @change="checkPayType"
              :disabled="mood === 'view'"
              >Cash</el-radio
            >
            <el-radio
              v-model="sale.pay_type"
              label="Credit"
              border
              @change="checkPayType"
              :disabled="mood === 'view'"
              >Credit</el-radio
            >
          </div>
          <el-row
            :gutter="20"
            v-for="(payment, index) in sale.paymentInfos"
            :key="index"
            style="margin-bottom: 10px"
          >
            <el-col :span="10">
              <el-select
                v-model="payment.payment_method_id"
                placeholder="Select"
                :disabled="
                  mood === 'view' ||
                  creditSaleExist ||
                  payment.payment_method_id === 2
                "
                @change="
                  payment.payment_method_id === 5
                    ? (creditSaleExist = true)
                    : false
                "
              >
                <el-option
                  v-for="item in paymentMethods"
                  :key="item.id"
                  :label="item.name"
                  :value="item.id"
                  :disabled="item.id === 2 || item.id === 5"
                ></el-option>
              </el-select>
            </el-col>
            <el-col :span="12">
              <el-input
                :disabled="
                  mood === 'view' ||
                  payment.payment_method_id === '' ||
                  creditSaleExist ||
                  payment.payment_method_id === 2
                "
                v-model="payment.amount"
                @blur="addNewPaymentRow()"
              ></el-input>
            </el-col>
            <el-col :span="2">
              <!-- <i
                v-if="index+1 === sale.paymentInfos.length"
                @click="addNew"
                class="el-icon-plus"
                style="color: white; background-color:#85ce61 ; padding: 3px; cursor:pointer"
              ></i>-->
              <i
                @click="removePaymentRow(index)"
                class="el-icon-close"
                style="
                  color: white;
                  background-color: #df676c;
                  padding: 3px;
                  cursor: pointer;
                "
              ></i>
            </el-col>
          </el-row>
          <el-col
            v-if="mood === 'create'"
            :span="24"
            style="
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
            "
          >
            <el-button type="warning" @click="saleSuspend" style="width: 150px"
              >Suspend</el-button
            >
            <el-button type="primary" @click="salePayment" style="width: 150px"
              >Payment</el-button
            >
            <el-button type="danger" @click="clearSaleForm" style="width: 150px"
              >Cancel</el-button
            >
          </el-col>
        </el-col>
      </el-row>
    </el-form>

    <el-dialog title="Print Invoice" :visible.sync="dialogVisible" width="30%">
      <div id="printMe" ref="invoice" style="font-size: 10px; margin: 0 auto">
        <invoice-component
          :shopInfo="shopInfo"
          :sale="saleData"
          :vatAmount="vatAmount"
          :taxAmount="taxAmount"
          :discountAmount="discountAmount"
          :paidAmount="paidAmount"
        />
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import { getItemLastId } from '@/utils/helper.js';
const productResource = new Resource('products');
const clientResource = new Resource('clients');
const warehouseResource = new Resource('warehouses');
const saleResource = new Resource('sales');
const posSettingResource = new Resource('pos-setting');
import InvoiceComponent from './InvoiceComponent.vue';
import axios from 'axios';
import moment from 'moment';

export default {
  props: ['sale', 'paymentMethods', 'shopInfo', 'mood', 'warehouseInventories'],
  components: {
    InvoiceComponent,
  },

  data() {
    return {
      loading: false,
      dialogVisible: false,
      showInvoice: false,
      creditSaleExist: false,
      discountOnTotal: 0,
      salePriceEdit:false,
      state: '',
      totalItems: 0,
      subTotal: 0,
      Total: 0,
      clients: [],
      vatAmount: 0,
      taxAmount: 0,
      discountAmount: 0,
      paidAmount: 0,
      saleData: {},
      totalVat: 0,
      vat: 0,
      rules: {
        sale_id: [
          { required: true, message: 'Sale ID is required', trigger: 'change' },
        ],
        sale_date: [
          {
            required: true,
            message: 'Sale date is required',
            trigger: 'change',
          },
        ],
        sale_time: [
          {
            required: true,
            message: 'Sale time is required',
            trigger: 'change',
          },
        ],
      },
    };
  },
  mounted() {
    setTimeout(() => {
      this.checkItemChange();
      if(this.sale.sale_date === '') {
        this.sale.sale_date = new Date().toLocaleString();
      }
    }, 1000);  
  },
  methods: {
    async querySearch(queryString, cb) {
      let query = {
        keyword: queryString,
      };
      const productResponse = await productResource.list(query);
      let products = productResponse.data;
      const results = queryString
        ? products.filter(this.createFilter(queryString))
        : '';
      if (results.length === 1) {
        this.handleSelect(results[0]);
      }

      // call callback function to return suggestions
      if (results.length > 1) {
        cb(results);
      } else {
        this.handleSelect((results[0] = null));
        this.state = '';
      }
    },

    createFilter(queryString) {
      return (product) => {
        return (
          product.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    async handleSelect(product) {
      let warehouseProduct = {};
      if (product === null) {
        this.state = '';
      } else {
        let vat = this.calcProductVat(product);
        if (this.itemExist(product)) {
          this.sale.saleItems.forEach((item) => {
            if (item.id && item.id == product.id) {
              const newQuantity = parseFloat(item.quantity) + 1;
              item.quantity = newQuantity;
            }
          });
        } else {
          await axios
            .get('/api/check-product-in-warehouse/' + product.id)
            .then(({ data }) => {
              if (data.status == 'success') {
                const item = {
                  id: product.id,
                  code: product.code,
                  name: product.name,
                  quantity: 1,
                  availableQty: data.data.quantity,
                  price: parseFloat(product.price) - parseFloat(vat).toFixed(2),
                  purchase_price: product.purchase_price,
                  discount_price: product.discount_price,
                  discount_amount:
                    parseFloat(product.discount_price) > 0
                      ? parseFloat(product.price) -
                        parseFloat(product.discount_price)
                      : 0,
                  unit_name: product.unit_name,
                  vat: vat,
                  totalVat: 0,
                  sub_total: 0,
                  totalWithOutVat:0,
                  totalDiscount: 0,
                };
                this.sale.saleItems.unshift(item);
              } else {
                this.$message({
                  type: 'error',
                  message: 'Product not in warehouse',
                });
              }
            });
        }
        this.checkItemChange();
      }
    },
    itemExist(item) {
      if (this.sale.saleItems.length > 0) {
        return this.sale.saleItems.some(function (el) {
          return el.id === item.id;
        });
      }
    },
    async itemExistInWarehouse(item, product) {
      if (product.product_id === item.id && product.quantity > 0) {
        return true;
      } else {
        return false;
      }
      // })
      // if (this.warehouseInventories.length > 0) {
      //   return this.warehouseInventories.some(function (el) {
      //     return el.product_id === item.id && el.quantity > 0;
      //   });
      // }
    },
    async customerSearch(queryString, cb) {
      const customerResponse = await clientResource.list(queryString);
      let customers = customerResponse.data;
      const results = queryString
        ? customers.filter(this.customerFilter(queryString))
        : customers;

      // call callback function to return suggestions
      cb(results);
    },
    customerFilter(queryString) {
      return (customer) => {
        return (
          customer.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    customerSelect(item) {
      this.sale.customer_id = item.id;
      this.sale.customer_name = item.name;
    },
    async warehouseSearch(queryString, cb) {
      const warehouseResponse = await warehouseResource.list(queryString);
      let warehouses = warehouseResponse.data;
      const results = queryString
        ? warehouses.filter(this.warehouseFilter(queryString))
        : warehouses;

      // call callback function to return suggestions
      cb(results);
    },
    warehouseFilter(queryString) {
      return (warehouse) => {
        return (
          warehouse.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    warehouseSelect(item) {
      this.sale.warehouse_id = item.id;
      this.sale.warehouse_name = item.name;
    },
    editPermission(){
      this.salePriceEdit=true;
    },
    checkItemChange() {
      let subtotal = 0;
      let oldTotal = 0;
      let discountAmount = 0;
      let discountOnTotal = 0;
      let vatAmount = 0;
      let taxAmount = 0;
      let totalItems = 0;
      let subTotalIncludingVat = 0;
      // calculate Item Total
      this.sale.saleItems.forEach((item) => {
        totalItems += parseFloat(item.quantity);
        item.totalVat = this.calcProductVat(item);
        item.totalDiscount = this.calcProductDiscount(item);
        item.totalWithOutVat = this.calcProductPrice(item);
        item.sub_total = this.calcProductSubTotal(item);
        discountAmount += parseFloat(item.totalDiscount);
        vatAmount += parseFloat(item.totalVat);
        subtotal += parseFloat(item.sub_total);
      });
      this.vatAmount = vatAmount;
      this.discountAmount = discountAmount;
      this.sale.subTotal = subtotal;
      this.sale.totalItems = totalItems;
      // if (this.sale.vat !== 0) {
      //   if (this.sale.vat.charAt(this.sale.vat.length - 1) === '%') {
      //     if(this.shopInfo.vat_status === 'including_vat'){
      //       subTotalIncludingVat = subtotal - ((subtotal * parseFloat(this.sale.vat)) / 100);
      //       vatAmount = (subTotalIncludingVat * parseFloat(this.sale.vat)) / 100;
      //     } else {
      //       vatAmount = (subtotal * parseFloat(this.sale.vat)) / 100;
      //     }

      //   } else {
      //     if(this.shopInfo.vat_status === 'including_vat'){
      //       subTotalIncludingVat = subtotal - parseFloat(this.sale.vat);
      //       vatAmount = subtotal - subTotalIncludingVat;
      //     }else {
      //       vatAmount = parseFloat(this.sale.vat);
      //     }
      //   }
      //   this.vatAmount = vatAmount;
      // }
      // if (this.sale.tax !== 0) {
      //   if (this.sale.tax.charAt(this.sale.tax.length - 1) === '%') {
      //     taxAmount = (subtotal * parseFloat(this.sale.tax)) / 100;
      //   } else {
      //     taxAmount = parseFloat(this.sale.tax);
      //   }
      //   this.taxAmount = taxAmount;
      // }
      if (this.sale.discount !== 0) {
        if (this.sale.discount.charAt(this.sale.discount.length - 1) === '%') {
          discountOnTotal += (subtotal * parseFloat(this.sale.discount)) / 100;
        } else {
          discountOnTotal += parseFloat(this.sale.discount);
        }
        this.discountOnTotal = discountOnTotal;
        this.discountAmount += discountOnTotal;
      }

      if (this.sale.discount !== 0) {
        this.sale.grand_total = subtotal - discountOnTotal;
      } else {
        this.sale.grand_total = subtotal;
      }

      if (this.mood === 'create') {
        this.sale.paymentInfos = [
          {
            amount:(this.sale.grand_total + this.vatAmount),
            payment_method_id: '',
            allaw_change_due_amount: 0,
          },
        ];
      }
      // this.addNewPaymentRow();
    },
    addNew(amount) {
      this.sale.paymentInfos.push({
        amount: amount ,
        payment_method_id: '',
        allaw_change_due_amount: 0,
      });
    },
    checkPayType() {
      if (this.sale.pay_type === 'Debit Sale') {
        this.creditSaleExist = false;
        this.sale.paymentInfos = [
          {
            amount:
              Math.round((this.sale.grand_total + Number.EPSILON) * 100) / 100,
            payment_method_id: '',
            allaw_change_due_amount: 0,
          },
        ];
        // addNewPaymentRow();
      } else {
        this.sale.paymentInfos = [
          {
            amount:
              Math.round((this.sale.grand_total + Number.EPSILON) * 100) / 100,
            payment_method_id: 5,
            allaw_change_due_amount: 0,
          },
        ];
        this.creditSaleExist = true;
      }
    },
    async addNewPaymentRow() {
      let entryAmount = 0;
      let amountDiff = 0;
      let checkAllawChangeDue = 0;
      this.sale.paymentInfos.forEach((element) => {
        entryAmount += parseFloat(element.amount);

        let selectedPaymentMethod = this.paymentMethods.find(
          (paymentMethod) => paymentMethod.id === element.payment_method_id
        );
        if (selectedPaymentMethod) {
          element.allaw_change_due_amount =
            selectedPaymentMethod.allaw_change_due_amount;
        }
        if (element.allaw_change_due_amount === 1) {
          checkAllawChangeDue = 1;
        }
      });
      amountDiff = this.sale.grand_total - entryAmount;
      amountDiff = Math.round((amountDiff + Number.EPSILON) * 100) / 100;
      let saleAmount =
        Math.round((this.sale.grand_total + Number.EPSILON) * 100) / 100;

      if (amountDiff > 0) {
        this.addNew(amountDiff);
      } else if (amountDiff < 0) {
        let changeDue = amountDiff;
        if (checkAllawChangeDue === 1) {
          let changeDueExsist = this.sale.paymentInfos.find(
            (paymentMethod) => paymentMethod.payment_method_id === 2
          );
          if (!changeDueExsist) {
            this.checkPaymentMethod(changeDue);
          }
        } else {
          alert('Please do not take much than sale amount');
          this.sale.paymentInfos[this.sale.paymentInfos.length - 1].amount -=
            Math.abs(amountDiff);
          return false;
        }
      }
      this.paidAmount = Math.round((entryAmount + Number.EPSILON) * 100) / 100;
    },
    checkPaymentMethod(changeDue) {
      this.sale.paymentInfos.push({
        amount: Math.abs(changeDue),
        payment_method_id: this.paymentMethods[1].id,
        allaw_change_due_amount: this.paymentMethods[1].allaw_change_due_amount,
      });
    },
    calcProductVat(product) {
      let vatAmount = 0;
      let priceIncludeVat = 0;
      if (this.sale.vat !== 0) {
        if (this.sale.vat.charAt(this.sale.vat.length - 1) === '%') {
          if (this.shopInfo.vat_status === 'including_vat') {
            priceIncludeVat =
              (parseFloat(product.price) * parseFloat(this.sale.vat)) / 100;
            vatAmount = (priceIncludeVat);
          } else {
            vatAmount =
              (parseFloat(product.price) * parseFloat(this.sale.vat)) / 100;
          }
        } else {
          if (this.shopInfo.vat_status === 'including_vat') {
            priceIncludeVat =
              parseFloat(product.price) - parseFloat(this.sale.vat);
            vatAmount = parseFloat(product.price) - priceIncludeVat;
          } else {
            vatAmount = parseFloat(this.sale.vat);
          }
        }
      }
      vatAmount = vatAmount * parseFloat(product.quantity);
      return vatAmount;
    },
    calcProductDiscount(product) {
      let discountAmount = 0;
      if (product.discount_amount > 0) {
        discountAmount = product.discount_amount * parseFloat(product.quantity);
      }
      return discountAmount;
    },
    calcProductPrice(product) {
      let price = 0;
      if (this.shopInfo.vat_status === 'including_vat') {
        // price = (product.price) - product.vat;
        price = product.price * parseFloat(product.quantity) - product.totalVat;
      } else {
        // price = (product.price);
        price = product.price * parseFloat(product.quantity);
      }
      return price;
    },
    calcProductSubTotal(product) {
      let subTotal = 0;
      if (product.price > 0) {
        subTotal =
          product.totalWithOutVat + product.totalVat - product.totalDiscount;
      }
      return subTotal;
    },
    saleSuspend() {},
    salePayment() {
      let entryAmount = 0;
      this.sale.paymentInfos.forEach((element) => {
        entryAmount += parseFloat(element.amount);
      });
      this.paidAmount = entryAmount;
      this.loading = true;
      this.sale.sale_id_prefix = this.shopInfo.sale_id_prefix;
      this.sale.sale_date = new Date(this.sale.sale_date).toLocaleString();
      this.sale.sale_date = moment(this.sale.sale_date).format('DD-MM-YYYY HH:mm:ss A');
      this.$refs['saleForm'].validate((valid) => {
        if (valid) {
          if (this.sale && this.sale.saleItems.length > 0) {
            if (this.paidAmount < this.sale.grand_total) {
              alert('Please check payment amount carefully');
              this.loading = false;
              return false;
            } else {
              let checkChangeDue = this.sale.paymentInfos.find(
                (paymentMethod) => paymentMethod.payment_method_id === 2
              );
              if (
                !checkChangeDue &&
                this.paidAmount !== this.sale.grand_total
              ) {
                alert('Please add change due amount');
                this.loading = false;
                return false;
              } else {
                saleResource
                  .store(this.sale)
                  .then((response) => {
                    this.saleData = response.data;
                    this.$message({
                      message: 'Sale Done',
                      type: 'success',
                    });
                    this.loading = false;
                    this.showInvoice = true;
                    this.dialogVisible = true;
                    setTimeout(() => {
                      this.$print(this.$refs['invoice']);
                      this.clearSaleForm();
                    }, 200);
                    this.loading = false;
                  })
                  .catch((error) => {
                    this.dialogVisible = false;
                    this.showInvoice = false;
                    this.loading = false;
                  })
                  .finally(() => {
                    this.dialogVisible = false;
                    this.showInvoice = false;
                    this.loading = false;
                  });
              }
            }
          } else {
            this.$message.error('You have to select at least one item');
            this.loading = false;
          }
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    async clearSaleForm() {
      let sale_id = '';
      let vat = '';
      let tax = '';
      let customer_id = '';
      let customer_name = '';
      let warehouse_id = '';
      let warehouse_name = '';
      await getItemLastId('Sale').then((res) => {
        sale_id = 'Sale#' + res;
      });
      await posSettingResource
        .get(1)
        .then((response) => {
          vat = response.data.vat;
          tax = response.data.tax;
          customer_id = response.data.customer_id;
          customer_name = response.data.customer.name;
          warehouse_name = response.data.warehouse.name;
          warehouse_id = response.data.warehouse_id;
        })
        .catch((err) => {
          console.log(err.message);
        });
      this.vatAmount = 0;
      this.taxAmount = 0;
      this.discountAmount = 0;
      this.sale = {
        sale_id: sale_id,
        sale_date: new Date().toLocaleString(),
        customer_id: customer_id,
        customer_name: customer_name,
        warehouse_id: warehouse_id,
        warehouse_name: warehouse_name,
        saleItems: [],
        vat: vat,
        tax: tax,
        discount: 0,
        subTotal: 0,
        grand_total: 0,
        paymentInfos: [
          {
            amount: 0,
            payment_method_id: '',
            allaw_change_due_amount: 0,
          },
        ],
      };
    },
    removePaymentRow(index) {
      let entryAmount = 0;
      if (this.sale.paymentInfos.length > 1) {
        this.sale.paymentInfos.splice(index, 1);
        this.sale.paymentInfos.forEach((element) => {
          entryAmount += parseFloat(element.amount);
        });
        this.paidAmount = entryAmount;
      }
      // console.log(this.paidAmount);
    },
    deleteRow(index) {
      this.sale.saleItems.splice(index, 1);
      this.checkItemChange();
    },
  },
};
</script>

<style scoped>
.saleItem_table {
  width: 100%;
}
thead.thead {
  background-color: #555;
  color: #fff;
}

.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
  /* background-color: #c1eaf3; */
}
/* .tbody tr:nth-child(odd) {
  background-color: #12353f;
} */

.tbody td {
  padding: 5px;
}

.right-panel .panel-head,
.right-panel .panel-foot {
  padding: 15px 30px;
  border: 2px solid #c1eaf3;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.right-panel .panel-body {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
}
.panel-body .el-input--medium .el-input__inner {
  height: 36px;
  line-height: 36px;
  text-align: right !important;
}
</style>