<template>
  <div>
    <div class="text-center">
      <h3>Invoice</h3>
      <!-- <el-row :gutter="20">
        <el-col :span="8">
          <p>سعدت بلقائك.</p>
          <p>CR: ...............</p>
        </el-col>
        <el-col :span="8">
          <img src="logo (1).png" id="invoice_logo" width="100px" />
          <br />
          <br />
          
        </el-col>
        <el-col :span="8"> 
          <p>{{ shopInfo.shop_name }}</p>
          <p>CR .................</p>
        </el-col>
      </el-row> -->
      <!-- 
      <br />
      <br />
      <address>{{ shopInfo.address }}</address>
      <span>Office Phone: {{ shopInfo.office_phone }}</span>
      <br />
      <span v-if="shopInfo.vat_registration_number"
        >BIN - {{ shopInfo.vat_registration_number }}</span
      >
      <br />
      <span v-if="shopInfo.mushak > 0">Mushak - {{ shopInfo.mushak }}</span>
      <br />
      <strong>{{ shopInfo.shop_name }} Cash Memo</strong> -->
    </div>
    <div :style="{ padding: '0px 30px', fontSize: '14px' }">
      <el-row :gutter="20">
        <el-col :span="8">
          <p>Tax No : {{ shopInfo.tax_registration_number }}</p>
          <p>Invoice No : {{ sale.sale_id }}</p>
          <p>Pay Type : {{ sale.pay_type }}</p>
        </el-col>
        <el-col :span="8">
          <div
            style="
              width: 100%;
              margin: 0 auto;
              display: flex;
              justify-content: center;
            "
          >
            <qr-code
              error-level="L"
              :size="150"
              :text="qrCodeText"
              id="qr_code"
            ></qr-code>
          </div>
        </el-col>
        <el-col :span="8" style="text-align: right">
          <p>Date: {{ sale.sale_date }} </p>
          <p>Customer: {{ sale.customer_name }}</p>
          <p>Customer Tax: {{ sale.customer_tax_number }}</p>
        </el-col>
      </el-row>
    </div>

    <br />
    <br />
    <div :style="{ padding: '0px 30px', fontSize: '14px' }">
      <table style="font-size: 14px; word-break: break-all; text-align: left">
        <thead>
          <th>No.</th>
          <th style="word-wrap: break-word; white-space: nowrap">Code</th>
          <th style="word-wrap: break-word; white-space: nowrap">Name</th>
          <th style="word-wrap: break-word; white-space: nowrap">Unit</th>
          <th :style="{ textAlign: 'right' }">Qty</th>
          <th :style="{ textAlign: 'right' }">Unit Price</th>
          <th :style="{ textAlign: 'right' }">Discount</th>
          <th :style="{ textAlign: 'right' }">Vat Amount</th>
          <th :style="{ textAlign: 'right' }">Total + Vat</th>
        </thead>
        <tbody class="tbody">
          <tr v-for="(saleItem, index) in sale.saleItems" :key="saleItem.id">
            <td>{{ index + 1 }}</td>
            <td>{{ saleItem.code }}</td>
            <td>{{ saleItem.name }}</td>
            <td>{{ saleItem.unit_name }}</td>
            <td :style="{ textAlign: 'right' }">{{ saleItem.quantity }}</td>

            <td :style="{ textAlign: 'right' }">
              <span v-if="shopInfo.vat_status === 'including_vat'">{{
                (parseFloat(saleItem.price) - parseFloat(saleItem.vat)).toFixed(
                  2
                )
              }}</span>
              <span v-else>{{ saleItem.price.toFixed(2) }}</span>
            </td>
            <td :style="{ textAlign: 'right' }">
              {{ saleItem.discount_amount.toFixed(2) }}
            </td>
            <td :style="{ textAlign: 'right' }">
              {{ saleItem.vat.toFixed(2) }}
            </td>
            <td :style="{ textAlign: 'right' }">
              {{ saleItem.sub_total.toFixed(2) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      :style="{
        textAlign: 'right',
        padding: '0px 30px',
        marginTop: '30px',
        fontSize: '14px',
      }"
    >
      <strong>Bill Summary</strong>
      <br />
      <hr />
      <span v-if="totalItems > 0">
        <span :style="{ paddingRight: '50px' }"
          ><strong> Total Item :</strong></span
        >
        {{ totalItems }}
      </span>
      <br />
      <span>
        <span :style="{ paddingRight: '50px' }"
          ><strong>Sub Total ({{ shopInfo.vat_status }}):</strong></span
        >
        {{ sale.subTotal.toFixed(2) }}
      </span>
      <br />
      <br />
      <span v-if="vatAmount > 0">
        <span :style="{ paddingRight: '50px' }">Total Vat:</span>
        {{ vatAmount.toFixed(2) }}
      </span>
      <br />
      <span v-if="taxAmount > 0">
        <span :style="{ paddingRight: '50px' }">Total Tax:</span>
        {{ taxAmount.toFixed(2) }}
      </span>
      <br />
      <span>
        <span :style="{ paddingRight: '50px' }">Total Discount:</span>
        {{ discountAmount.toFixed(2) }}
      </span>
      <br />
      <hr />
      <strong>
        <span :style="{ paddingRight: '50px' }">Net Payable Amount :</span>
        {{ sale.grand_total.toFixed(2) }}
      </strong>
      <br />

      <br />
      <hr />
      <strong>
        <span :style="{ paddingRight: '50px' }">Paid Amount:</span>
        {{ paidAmount }}
      </strong>
      <br />
      <hr />
      <strong>
        <span :style="{ paddingRight: '50px' }">Change Amount:</span>
        {{
          paidAmount - sale.grand_total > 0
            ? (paidAmount - sale.grand_total).toFixed(2)
            : 0
        }}
      </strong>
      <br />
    </div>
    <hr />
    <div :style="{ textAlign: 'left', textTransform: 'capitalize', padding: '0px 30px' }">
      <span>
        <strong>Net Payable Amount In Word:</strong>
        {{ amountInWord }} <strong> {{ shopInfo.currency }} Only</strong>
      </span>
    </div>
    <div :style="{ padding: '0px 30px' }">
      <span v-html="shopInfo.bill_footer"></span>
    </div>
  </div>
</template>

<script>
import Stage from '../../project/Stage.vue';
const converter = require('number-to-words');
export default {
  components: { Stage },
  props: [
    'sale',
    'shopInfo',
    'vatAmount',
    'paidAmount',
    'discountAmount',
    'taxAmount',
  ],
  data() {
    return {
      qrCodeText: '',
      amountInWord: '',
      totalItems: 0,
    };
  },
  mounted() {
    this.calcTotalItems();
    this.amountInWord = converter.toWords(this.sale.grand_total);
    this.setQRCode();
  },
  methods: {
    setQRCode(){
      this.qrCodeText = `
        TaxNumber : ${this.shopInfo.vat_registration_number}
        Invoice Number : ${this.sale.sale_id}
        Invoice Date : ${this.sale.sale_date}
        Total With Vat : ${this.sale.grand_total}
        Vat : ${this.vatAmount.toFixed(2)}
      `;
    },
    calcTotalItems() {
      let totalItems = 0;
      this.sale.saleItems.forEach((item) => {
        totalItems += parseFloat(item.quantity);
      });
      this.totalItems = totalItems;
    },
  },
  watch: {
    sale: function(){
      this.setQRCode();
    }
  }
};
</script>

<style scoped>
table {
  border-collapse: collapse;
}
table th {
  word-wrap: break-word !important;
  white-space: nowrap !important;
  border-bottom: 1px solid #000;
  padding: 10px;
}
.tbody tr {
  border-bottom: 1px solid #000;
}

.tbody td {
  padding: 10px;
  word-wrap: break-word !important;
  white-space: nowrap !important;
}
</style>