<template>
  <div>
    <el-dialog
      :title="'Create New Project Estimation'"
      :visible.sync="dialogFormVisible"
    >
      <div v-loading="projectEstimationCreating" class="form-container">
        <el-form
          ref="projectEstimationForm"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
          :rules="rules"
        >
          <el-form-item
            label="Product"
            prop="product_name"
          >
            <el-autocomplete
              class="inline-input"
              v-model="projectEstimation.product_name"
              :fetch-suggestions="querySearch"
              placeholder="Please Input"
              @select="handleSelect"
            >
              <template slot-scope="{ item }">
                <div class="value">{{ item.name }}</div>
              </template>
            </el-autocomplete>
          </el-form-item>
          <el-form-item
            label="Unit"
            prop="unit_id"
          >
            <el-select
              v-model="projectEstimation.unit_id"
              placeholder="Select"
            >
              <el-option
                v-for="unit in units"
                :key="unit.id"
                :label="unit.name"
                :value="unit.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            label="Quantity"
            prop="quantity"
          >
            <el-input
              v-model="projectEstimation.quantity"
              placeholder="Enter Quantity"
            />
          </el-form-item>
          <el-form-item
            label="Price"
            prop="price"
          >
            <el-input
              v-model="projectEstimation.price"
              placeholder="Enter Quantity"
            />
          </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="onSubmit">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const productResource = new Resource('products');
const projectEstimateResource = new Resource('project-estimate');

export default {
  props: ['project', 'list'],

  data() {
    return {
      projectEstimationCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      products: [],
      units: [],
      projectEstimation: {},
      rules: {
        product_name: [
          { required: true, message: 'Product is required', trigger: 'blur' },
        ],
        quantity: [
          { required: true, message: 'Quantity is required', trigger: 'blur' },
        ],
      },
    };
  },
  created() {
    this.getModelData();
  },
  methods: {
    handleCreateModal() {
      this.dialogFormVisible = true;
      // this.getList();
      this.$nextTick(() => {
        this.$refs['projectEstimationForm'].clearValidate();
      });
    },

    async getModelData() {
      const models = [
        { name: 'product', model: 'Product' },
        { name: 'unit', model: 'Unit' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.products = response.data[0].product;
        this.units = response.data[1].unit;
      });
    },
    querySearch(queryString, cb) {
      
      let products = this.products;
      let results = queryString
        ? products.filter(this.createFilter(queryString))
        : products;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (product) => {
        return (
          product.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    },
    handleSelect(item) {
      let pro = this.list.find(i => i.product_id === item.id);
      if(pro){
        this.$message({
          message:
            'Product is already added. Please increase quantity',
          type: 'error',
          duration: 5 * 1000,
        });
      } else {
        this.projectEstimation.product_id = item.id;
        this.projectEstimation.product_name = item.name;
      };
    },

    onSubmit() {
      this.updating = true;
      this.projectEstimation.project_id = this.project.id;
      projectEstimateResource
        .store(this.projectEstimation)
        .then((response) => {
          this.updating = false;
          this.$emit('newEstimation', response.data);
          this.$message({
            message:
              'Project Estimation information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
          this.dialogFormVisible = false;
          // this.handleFilter();
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>
<style scoped>
.dialog-footer {
  text-align: center;
}
</style>
