<template>
  <div class="app-container">
    <div id="addBtn">
      <el-button
        v-permission="['add project estimation']"
        type="primary"
        size="small"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        Add New
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-printer"
        @click="handlePrint"
      >
        Print
      </el-button>
    </div>
    <el-table
      id="projectEstimation"
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" :min-width="10" type="index" />

      <el-table-column align="center" label="Product Name" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.product.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Unit Name" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.unit.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Quantity" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.quantity }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Unit Price" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.price }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="SubTotal" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.total }}</span>
        </template>
      </el-table-column>

      <el-table-column id="pe_action" align="center" label="Actions" :min-width="20">
        <template slot-scope="scope">
          <el-button
            v-permission="['update project estimation']"
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="handleUpdate(scope.row.id)"
          >
            Edit
          </el-button>

          <el-button
            v-permission="['delete project estimation']"
            type="danger"
            size="small"
            icon="el-icon-delete"
            @click="handleDelete(scope.row.id)"
          >
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <div id="total">
      <div>
        <h3>Total Cost : </h3>
      </div>
      <div>
        <h3>{{ totalCost }}</h3>
      </div>
    </div>
    <!-- create Modal -->
    <create
      ref="handleCreate"
      :project="project"
      :list="list"
      @newEstimation="getNewEstimation"
    />
    <!-- edit Modal -->
    <update
      ref="handleUpdate"
      :project="project"
      :list="list"
      @newEstimation="getNewEstimation"
    />
  </div>
</template>

<script>
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import Update from './Update';
import Create from './Create';
import Resource from '@/api/resource';
import axios from 'axios';
const projectEstimateResource = new Resource('project-estimate');

export default {
  name: 'ProjectList',
  components: { Update, Create },
  directives: { permission, waves },
  props: {
    project: {
      type: Object,
      default: () => {
        return {};
      },
    },
  },

  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      projectType: '',
      totalCost: '',
    };
  },
  created() {
    this.getList(this.project.id);
  },
  methods: {
    async getList(pid) {
      this.loading = true;
      axios.get('/api/get/project-estimate/' + pid).then(({ data }) => {
        this.list = data.data;
        this.calculateTotalCost(this.list);
      });
      this.loading = false;
    },
    handleFilter() {
      this.getList(this.project.id);
    },

    calculateTotalCost(elements){
      let total = 0;
      elements.forEach(element => {
        total += element.total;
      });
      this.totalCost = total;
    },

    handlePrint(){
      window.print();
    },

    getNewEstimation(){
      this.getList(this.project.id);
    },

    handleCreate() {
      this.$refs.handleCreate.handleCreateModal();
    },

    handleUpdate(id) {
      this.$refs.handleUpdate.handleUpdateModal(id);
    },

    handleDelete(id){
      this.$confirm(
        'Do You Want To Delete This Project Estimate . Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          projectEstimateResource.destroy(id)
            .then(response => {
              this.$message({
                type: 'success',
                message: 'Deleted',
              });
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled',
          });
        });
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'Product Name', 'Unit Price', 'Quantity', 'Total'];
        const filterVal = ['id', 'productName', 'price', 'quantity', 'total'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'project-estimation',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
    background: #1682e6;
    border-color: #1682e6;
    color: #FFFFFF;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.el-link--primary:hover{
  color: #fff;
  text-decoration: none;
}
.filter-container {
    text-align: center;
}

#addBtn {
  display: block;
  margin-left: 67%;
  margin-bottom: 20px;
}
#total {
  display: flex;
  margin-left: 40%;
}

#total div {
  width: 33%;
  text-align: center;
}
</style>
