<template>
  <div>
    <el-dialog
      :title="'Update Project Estimation'"
      :visible.sync="dialogFormVisible"
    >
      <div v-loading="projectEstimationCreating" class="form-container">
        <el-form
          ref="projectEstimationForm"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item
            label="Product"
            prop="product_id"
          >
            <el-select
              v-model="projectEstimation.product_id"
              placeholder="Select"
              disabled
            >
              <el-option
                :key="product.id"
                :label="product.name"
                :value="product.id"
              />
            </el-select>
          </el-form-item>
          <el-form-item
            label="Unit"
            prop="unit_id"
          >
            <el-select
              v-model="projectEstimation.unit_id"
              placeholder="Select"
            >
              <el-option
                v-for="unit in units"
                :key="unit.id"
                :label="unit.name"
                :value="unit.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item
            label="Quantity"
            prop="quantity"
          >
            <el-input
              v-model="projectEstimation.quantity"
            />
          </el-form-item>

          <el-form-item
            label="Unit Price"
            prop="price"
          >
            <el-input
              v-model="projectEstimation.price"
              placeholder="Enter Price"
            />
          </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="onSubmit">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const productResource = new Resource('products');
import { fetchProjectEstimate } from '@/api/projectEstimate';
const projectEstimateResource = new Resource('project-estimate');

export default {
  props: ['project'],

  data() {
    return {
      projectEstimationCreating: false,
      dialogFormVisible: false,
      dialogPermissionVisible: false,
      dialogPermissionLoading: false,
      products: [],
      units: {},
      projectEstimation: {},

    };
  },
  created() {
    this.getModelData();
  },
  methods: {
    async getModelData() {
      const models = [
        { name: 'unit', model: 'Unit' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.units = response.data[0].unit;
      });
    },
    handleUpdateModal(id) {
      fetchProjectEstimate(id).then(({ data }) => {
        // console.log(data);
        this.projectEstimation = data;
        this.product = data.product;
      });
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['projectEstimationForm'].clearValidate();
      });
    },

    onSubmit() {
      this.updating = true;
      projectEstimateResource
        .update(this.projectEstimation.id, this.projectEstimation)
        .then((response) => {
          this.updating = false;
          this.$emit('newEstimation', response.data);
          this.$message({
            message:
              'Project Estimation information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
          this.dialogFormVisible = false;
          // this.handleFilter();
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
    },
  },
};
</script>
<style scoped>
.dialog-footer {
  text-align: center;
}
</style>
