<template>
  <div class="app-container">
    <form-component mood="create" :projectTypeEstimate="projectTypeEstimate"  />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const projectTypeEstimateResource = new Resource('project-type-estimate');
import FormComponent from './components/FormComponent.vue';
export default {
  components: { FormComponent },
  data() {
    return {
      updating: false,
      projectTypes: [],
      products: [],
      projectTypeEstimate: {
        project_type_id: '',
        projectTypeEstimateItems: [{
          product_id: '',
          unit_id: '',
          quantity: 1,
        }]
      },
    };
  },
  created() {
  },
  methods: {
    
  },
};
</script>

<style>
</style>