<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >{{ $t('table.search') }}</el-button>
      <router-link to="/projects/project-type-estimate/create">
        <el-button
          v-permission="['add project type estimate']"
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-plus"
        >{{ $t('table.add') }}</el-button>
      </router-link>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >{{ $t('table.export') }}</el-button>
    </div>
    <table style="overflow-x: auto; max-width: 100%; margin-bottom: 30px">
      <thead class="thead">
        <tr valign="top">
          <th rowspan="2">SL No.</th>
          <th rowspan="2">Project Type Name</th>
          <th colspan="4">Product Details</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr valign="top">
          <th>Product Name</th>
          <th>Unit Name</th>
          <th>Quantity</th>
          <th>Sale Price</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr v-for="(listItem, index) in list" :key="index">
          <td>{{ index+1 }}</td>
          <td v-if="listItem.projectType">{{ listItem.projectType.name }}</td>
          <td colspan="4">
            <tr class="inner_td" v-for="item in listItem.projectTypeEstimateItems" :key="item.id">
              <td v-if="item.product">{{ item.product.name }}</td>
              <td v-if="item.unit">{{ item.unit.name }}</td>
              <td>{{ item.quantity }}</td>
              <td v-if="item.product">{{ item.product.price * item.quantity }}</td>
            </tr>
          </td>
          <td>
            <router-link :to="'/projects/project-type-estimate/edit/' + listItem.id">
              <el-button
                v-permission="['update project type estimate']"
                type="primary"
                size="small"
                icon="el-icon-view"
              >
                View
              </el-button>
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const projectTypeEstimateResource = new Resource('project-type-estimate');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import { mute, unmute } from '@/api/projectTypeEstimate';
import ItemInfo from './components/ItemInfo.vue';

export default {
  name: 'ProjectTypeEstimateList',
  components: { Pagination, ItemInfo },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await projectTypeEstimateResource.list(this.query);
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'name', 'code', 'status'];
        const filterVal = ['id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'projectTypeEstimate-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

table,
td,
th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.thead th {
  background-color: #555;
  color: #fff;
}
th,
td {
  padding: 10px 5px;
  width: 220px;
}

</style>

