<template>
  <div class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
       <el-tab-pane label="View" name="view">
         <form-component mood="view" :projectTypeEstimate="projectTypeEstimate" />
       </el-tab-pane>
       <el-tab-pane label="Edit" name="edit">
         <form-component mood="edit" :projectTypeEstimate="projectTypeEstimate" />
       </el-tab-pane>
    </el-tabs>
    
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue';
import { fetchProjectTypeEstimate } from '@/api/projectTypeEstimate';
export default {
  components: { FormComponent },
  data(){
    return {
      projectTypeEstimate: {},
      activeName: 'view'
    }
  },
    created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    fetchData(id) {
      fetchProjectTypeEstimate(id)
        .then((response) => {
          this.projectTypeEstimate = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    handleClick(tab, event) {
        console.log(tab, event);
      }
  },
};
</script>

<style>
</style>