<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <el-button
        v-permission="['add unit']"
        class="filter-item"
        style="margin-left: 10px"
        type="primary"
        icon="el-icon-plus"
        @click="handleCreate"
      >
        {{ $t('table.add') }}
      </el-button>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>

    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" width="80" type="index" />

      <el-table-column align="center" sortable prop="name" label="Name">
        <template slot-scope="scope">
          <span>{{ scope.row.name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Code">
        <template slot-scope="scope">
          <span>{{ scope.row.code }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Status">
        <template slot-scope="scope">
          <span v-if="scope.row.status == 1">Muted</span>
          <span v-if="scope.row.status == 0">Active</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="350">
        <template slot-scope="scope">
          <router-link :to="'/inventory/units/edit/' + scope.row.id">
            <el-button
              v-permission="['update unit']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>

          <el-button
            v-if="scope.row.status == '0'"
            v-permission="['manage unit']"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleMute(scope.row.id)"
          >
            Mute
          </el-button>
          <el-button
            v-if="scope.row.status == '1'"
            v-permission="['manage unit']"
            class="unblock"
            type="warning"
            size="small"
            icon="el-icon-edit"
            @click="handleUnmute(scope.row.id)"
          >
            Unmute
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />

    <el-dialog :title="'Create new unit'" :visible.sync="dialogFormVisible">
      <div v-loading="unitCreating" class="form-container">
        <el-form
          ref="unitForm"
          :rules="rules"
          :model="newUnit"
          label-position="left"
          label-width="150px"
          style="max-width: 500px"
        >
          <el-form-item :label="$t('unit.name')" prop="name">
            <el-input v-model="newUnit.name" />
          </el-form-item>
          <el-form-item :label="$t('unit.code')" prop="code">
            <el-input v-model="newUnit.code" />
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">
            {{ $t('table.cancel') }}
          </el-button>
          <el-button type="primary" @click="createUnit()">
            {{ $t('table.confirm') }}
          </el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const unitResource = new Resource('units');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import { validURL } from '@/utils/validate';
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import checkPermission from '@/utils/permission'; // Permission checking
import axios from 'axios';
import { mute, unmute } from '@/api/unit';

export default {
  name: 'UnitList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      headers: {
        'Content-Type': 'multipart/form-data',
      },
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      unitCreating: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      newUnit: {},
      dialogFormVisible: false,

      countries: [],
      states: [],
      districts: [],
      rules: {
        name: [
          { required: true, message: 'Name is required', trigger: 'blur' },
        ],
      },
    };
  },
  watch: {
    list: function(){
      console.log(this.list);
    },
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await unitResource.list({});
      this.list = response.data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    handleCreate() {
      // this.resetNewUnit();
      this.dialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['unitForm'].clearValidate();
      });
    },
    handleMute(id, name) {
      this.$confirm(
        'Do you want to mute unit ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          mute(id)
            .then(response => {
              this.$message({
                type: 'success',
                message: 'Muted',
              });
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(error => {
          this.$message({
            type: 'info',
            message: 'mute canceled',
          });
          console.log(error);
        });
    },
    handleUnmute(id, name) {
      this.$confirm(
        'Do you want to unmute unit ' + name + '. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          unmute(id)
            .then(response => {
              this.$message({
                type: 'success',
                message: 'Unmuted',
              });
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            });
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: 'unmuted canceled',
          });
        });
    },

    createUnit() {
      this.$refs['unitForm'].validate(valid => {
        if (valid) {
          this.unitCreating = true;
          unitResource
            .store(this.newUnit)
            .then(response => {
              this.$message({
                message:
                  'New unit ' +
                  this.newUnit.name +
                  ' has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetNewUnit();
              this.dialogFormVisible = false;
              this.handleFilter();
            })
            .catch(error => {
              console.log(error);
            })
            .finally(() => {
              this.unitCreating = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    resetNewUnit() {
      this.newUnit = {
        name: '',
        code: '',
      };
    },
    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then(excel => {
        const tHeader = ['id', 'name', 'code', 'status'];
        const filterVal = ['id', 'name', 'code', 'status'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'unit-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
