<template>
  <tr>
    <td>{{ index+1 }}</td>
    <td>
      <template>
        <el-form-item prop="site_code">
          <el-autocomplete
            v-model="billRow.site_code"
            class="inline-input"
            :fetch-suggestions="querySearch"
            placeholder="Please Search By Site Code"
            :trigger-on-focus="false"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.site_code }}</div>
            </template>
          </el-autocomplete>
        </el-form-item>
      </template>
    </td>
    <td><el-form-item prop="project_type_name">
      <el-input v-model="billRow.project_type" readonly />
    </el-form-item>
    </td>
    <td>
      <el-form-item prop="details">
        <el-input v-model="billRow.details" placeholder="Please Enter Bill Details" />
      </el-form-item>
    </td>
    <td class="numaric_td">
      <el-form-item prop="amount">
        <el-input v-model.number="billRow.project_amount" readonly placeholder="Please Enter Bill Amount" />
      </el-form-item>
    </td>
    <td class="numaric_td">
      <el-form-item prop="amount">
        <el-input v-model.number="billRow.amount" class="numaric_td" placeholder="Please Enter Bill Amount" @blur="checkChange" />
      </el-form-item>
    </td>
    <td>
      <el-form-item prop="remarks">
        <el-input v-model="billRow.remarks" placeholder="Please Bill Remarks" />
      </el-form-item>
    </td>
    <td class="p-hide">
      <el-button size="mini" type="danger" @click="remove(index)">X</el-button>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
const projectTypeResource = new Resource('project-type');

export default {
  props: ['BillRows', 'billRow', 'index', 'projects'],
  data() {
    return {
      projectTypeName: '',
      state: null,
      results: null,
      links: null,
      projectTypes: null,
    };
  },
  created() {
    // this.links = this.projects;
  },
  methods: {
    querySearch(queryString, cb) {
      const projects = this.projects;
      const results = queryString ? projects.filter(this.createFilter(queryString)) : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
      };
    },
    handleSelect(item) {
      const bill = this.BillRows.find(i => i.site_code == item.site_code);
      if (bill){
        alert('Already Selected');
      } else {
        this.billRow.site_code = item.site_code;
        this.billRow.project_id = item.id;
        this.billRow.stage_id = item.stage_id;
        this.billRow.project_amount = item.project_amount;
        this.billRow.work_order_id = item.work_order_id;
        this.checkChange();
        this.getProjectType(item.project_type);
      }
    },
    async getProjectType(id){
      const response = await projectTypeResource.get(id);
      this.billRow.project_type = response.data.name;
    },
    checkChange(){
      this.$emit('checkChange');
    },
    remove(index) {
      this.BillRows.splice(index, 1);
      this.checkChange();
    },
  },
};
</script>

<style>
</style>
