<template>
  <div class="app-container">
    <el-card>
      <el-form
        ref="clientBillForm"
        :rules="rules"
        :model="newClientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <!-- <el-col :span="12">
            <div class="logo" style="display:block">
              <h3 style="visibility: hidden;">Comapny Logo</h3>
              <el-image
                style="width: 150px; height: 120px;display:block;margin-bottom:20px;margin-left: auto"
                :src="url + logo"
              />
            </div>
          </el-col>-->
          <el-col :span="4">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <el-input v-model="newClientBill.bill_id" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Supervised By Name" prop="supervised_by">
              <el-select v-model="newClientBill.supervised_by" placeholder="Select">
                <el-option v-for="item in users" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Submite Date" prop="send_date">
              <el-date-picker
                v-model="newClientBill.send_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="Payment Details" prop="payment_details">
              <el-input
                v-model="newClientBill.payment_details"
                type="textarea"
                :rows="1"
                placeholder="Please input"
              />
            </el-form-item>
          </el-col>
          <el-col :span="4">
            <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
              <el-date-picker
                v-model="newClientBill.estimated_payment_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <div>
              <!-- <h3>Create Client Bill For</h3> -->
              <el-form-item label="Client Company" prop="client_id">
                <template>
                  <el-select
                    v-model="newClientBill.client_id"
                    placeholder="Select"
                    @change="getClientProjects(newClientBill.client_id)"
                  >
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    />
                  </el-select>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <div class="grid-content bg-purple-light">
              <el-form-item>
                <el-input v-model="newClientBill.prepared_date" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24">
            <h4>To</h4>
            <template v-if="client">
              <tinymce v-model="newClientBill.to" :height="170" placeholder="Please input" />
            </template>
          </el-col>

          <br>
          <el-col :span="24" class="referance" style="margin-top: 20px">
            <el-form-item label="Site Name:">
              <el-input v-if="newClientBill.BillRows" v-model="newClientBill.BillRows[0].project_name" placeholder="Please input" />
            </el-form-item>
          </el-col>
          <el-col :span="24" class="referance">
            <el-form-item label="Purchase Order No: ">
              <el-input v-if="newClientBill.BillRows" v-model="newClientBill.BillRows[0].work_order_id" placeholder="Please input" />
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-input
              v-model="newClientBill.msg1"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <table class="item_table">
              <thead class="thead">
                <tr valign="top">
                  <th style="width: 20px">No.</th>
                  <th>Site</th>
                  <!-- <th>Item Number</th> -->
                  <th>Description</th>
                  <th>Quantity</th>
                  <!-- <th>UOM</th> -->
                  <th>Unit Price</th>
                  <th>Project Amount</th>
                  <th>Net Price (BDT)</th>
                  <th>Remarks</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in newClientBill.BillRows">
                  <edotco-bill-info v-if="client.projects" :key="index" :BillRows="newClientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" @checkChange="checkChange" />
                </template>
                <el-button @click="addNew">Add New</el-button>
              </tbody>
              <tfoot class="tfoot">
                <tr valign="top">
                  <td colspan="6">Supply of tower (without VAT Amount)</td>
                  <td>{{ totalAmount }}</td>
                  <td />
                  <td />
                </tr>
                <tr valign="top">
                  <td colspan="6"> <el-input
                    v-model.number="newClientBill.vat"
                    placeholder="Please input"
                    style="width: 100px"
                    @blur="checkChange"
                  /> % VAT Amount</td>
                  <td>
                    {{ newClientBill.vat_amount }}
                  </td>
                  <td />
                  <td />
                </tr>

                <tr valign="top">
                  <td colspan="6">Net Payable amount as per Purchase order with VAT (BDT)</td>
                  <td>{{ grandTotalAmount }}</td>
                  <td />
                  <td />
                </tr>
              </tfoot>
            </table>

          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <h4>In Word: Taka {{ totalAmountWord }} only</h4>
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <el-input
              v-model="newClientBill.msg2"
              type="textarea"
              :rows="8"
              placeholder="Please input"
            />
          </el-col>
        </el-row>
      </el-form>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button type="info" @click="resetBillForm">Clear</el-button>
        <el-button type="primary" @click="createClientBill()">{{ $t('table.confirm') }}</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from './Tinymce';
const clientBillResource = new Resource('client-bill');
import EdotcoBillInfo from './components/EdotcoBillInfo.vue';
const converter = require('number-to-words');
export default {
  components: { Tinymce, EdotcoBillInfo },
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      newClientBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
            project_name: '',
            work_order_id: '',
          },
        ],
        from: `
        <h4>Dream Structure</h4>
        <p>Md. Ziaur Rahman Mithu</p>
        <p>Implementer</p>
      `,
        subject: 'dgsgs',
        po_no: '',
        date: '',
        pr_no: '',
        msg1: '',
        vat: 0,
        vat_amount: 0,
      },
      state: '',
      rules: {},
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      margedDetails: '',
      to: null,
      referance: '',
      totalAmount: 0,
      grandTotalAmount: 0,
      totalAmountWord: '',
      totalQuantity: 0,
      zero: 0,
      projectName: '',
      PoNumber: '',
    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
    },
    async getClientProjects(cid) {
      this.client = this.clients.find((c) => c.id === cid);
      this.setSendToAddress(this.client);
    },
    querySearch(queryString, cb) {
      const projects = this.client.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    addNew(){
      this.newClientBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
        }
      );
    },
    handleSelect(item) {
      // this.newClientBill.BillRows.push(item);
      this.newClientBill.project_name = item.name;
      this.newClientBill.work_order_id = item.work_order_id;
      let margedDetails = '';
      this.newClientBill.BillRows.forEach((element) => {
        margedDetails = margedDetails + ', ' + element.details;
        element.project_id = item.id;
        element.stage_id = item.stage_id;
      });
      this.setData();
    },
    checkChange() {
      let amount = 0;
      let quantity = 0;
      const vatAmount = ((this.totalAmount * this.newClientBill.vat) / 100);
      this.newClientBill.vat_amount = vatAmount;
      this.newClientBill.BillRows.forEach((element) => {
        amount = amount += parseInt(element.amount) || 0;
        quantity = quantity += element.quantity;
      });
      this.totalAmount = amount;

      this.grandTotalAmount = this.totalAmount - parseInt(this.newClientBill.vat_amount);
      this.totalQuantity = quantity;
      this.setData();
    },

    remove(index) {
      this.newClientBill.BillRows.splice(index, 1);
      this.checkChange();
    },
    setData() {
      this.totalAmountWord = converter.toWords(this.grandTotalAmount);
      this.newClientBill.subject = `Subject: <b>Finial bill for ${this.margedDetails.substring(
        2
      )}</b> `;
      //   this.newClientBill.msg1 = `Dear Sir
      //        With due respect, we like to inform you that as per the work order for Grameenphone Ltd. We have completed ${this.margedDetails
      //          .substring(2)
      //          .replace(/(<([^>]+)>)/gi, '')}`;
      this.newClientBill.msg2 = `
        Thanks and best regards.

        Sincerely


        Md. Mizanur Rahman
        Director
        `;
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/ClientBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newClientBill.bill_id = 'CSB-' + this.SlNo;
      });
    },
    setSendToAddress(client) {
      this.newClientBill.to = `
        <h4>${client.name}</h4>
        <p>Country Director</p>
        <p>${client.company}</p>
        <p>Bangladesh Office</p>
        <p>${client.street}</p>
      `;
    },
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}/${
        current.getMonth() + 1
      }/${current.getDate()}`;
      this.newClientBill.prepared_date = 'date: ' + this.currentDate;
    },
    addNew() {
      this.newClientBill.BillRows.push({
        site_code: '',
        project_type: '',
        details: '',
        remarks: '',
        amount: 0,
      });
    },
    createClientBill() {
      console.log(this.newClientBill);
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          clientBillResource
            .store(this.newClientBill)
            .then((response) => {
              this.$message({
                message: 'New client bill has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetBillForm();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    resetBillForm() {
      this.newClientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table {
  margin-top: 20px;
}
thead.thead {
  background-color: #555;
  color: #fff;
}
.tfoot td {
  background-color: #555;
  color: #fff;
  padding: 15px;
}
.thead th {
  padding: 15px;
}

.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}

.tfoot td {
  padding: 15px;
  text-align: right;
}
.tbody td {
  padding: 15px;
  text-align: center;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_17,
div#mceu_54-body {
  display: none !important;
}
.referance .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
</style>
