<template>
  <tr valign="top">
    <td width="88">
      <p align="left" v-if="journal.journal">
        <span>
          <span>{{ journal.journal.trans_date.substring(0,10) }}</span>
        </span>
      </p>
    </td>
    <td width="421" height="12">
      <p align="left">
        <span>
          <span v-if="journal.journalItems.length > 2">As per Details</span>
        </span>
      </p>

      <tr
        v-for="item in journal.journalItems"
        :key="item.id"
        :class="query.name === item.ledger_name ? 'd-none': 'd-block'"
        style="width: 100%"
      >
        <td style="width: 80%;border: 0px;">{{ item.ledger_name }}</td>
        <td style="width: 80%;border: 0px;">
          <span v-if="item.credit_amount !== 0">{{ item.credit_amount }}</span>
          <span v-if="item.debit_amount !== 0">{{ item.debit_amount }}</span>
        </td>
        <td style="width: 20%;border: 0px;">{{ item.type }}</td>
      </tr>
    </td>
    <td width="132">
      <p align="left">Journal Voucher</p>
    </td>
    <td width="132">
      <p align="left">{{ journal.journal.voucher_no }}</p>
    </td>
    <td width="132">
      <p align="right">{{ journal.debit_amount }}</p>
    </td>
    <td width="132">
      <p align="right">{{ journal.credit_amount }}</p>
    </td>
    <td width="94">
      <p align="right">
        <span>{{journal.closing }}</span>
        <span v-if="journal.debit_amount > journal.credit_amount && journal.closing !== 0">Dr</span>
        <span v-if="journal.debit_amount < journal.credit_amount && journal.closing !== 0">Cr</span>
      </p>
    </td>
  </tr>
</template>

<script>
export default {
  props: ['journal', 'query', 'openingBalance', 'jounrals'],
  data() {
    return {
      totalDr: 0,
      totalCr: 0,
    };
  },
  mounted() {
    this.calulateTotal();
  },
  methods: {
    calulateTotal() {
      // if (this.openingBalance.type === this.journal.type) {
      //   this.jounrals[0].closing =
      //     this.jounrals[0].closing + this.openingBalance.balance;
      // } else {
      //   this.jounrals[0].closing =
      //     this.jounrals[0].closing - this.openingBalance.balance;
      // }
    },
  },
};
</script>

<style scoped>
p {
  margin: 2px !important;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
</style>