<template>
  <tr valign="top">
    <td colspan="2" width="321" height="12">
      <p align="right">
        <span>
          <span>{{ costCenter.journal.voucher_no }}</span>
        </span>
      </p>
    </td>
    <td width="88">
      <p align="center">
        <span>
          <span>{{ costCenter.created_at }}</span>
        </span>
      </p>
    </td>
    <td width="112">
      <p align="right">
        <span v-if="costCenter.cost_center_type === 'Dr'">{{ costCenter.amount }}</span>
        <span v-else>0.00</span>
      </p>
    </td>
    <td width="112">
      <p align="right">
        <span v-if="costCenter.cost_center_type === 'Cr'">{{ costCenter.amount }}</span>
        <span v-else>0.00</span>
      </p>
    </td>
    <td width="94">
      <p align="right">
        <span>
          <span>{{ costCenter.amount }}</span>
          <span style="margin-left: 10px">
            <span>{{ costCenter.cost_center_type }}</span>
          </span>
        </span>
      </p>
    </td>
  </tr>
</template>

<script>
export default {
  props: ['costCenter', 'data'],
  mounted(){
    this.calulateTotal(this.data);
  },
  methods: {
    calulateTotal(data){
      let totalDr = 0;
      let totalCr = 0;
      data.forEach(element => {
        if(element.cost_center_type === 'Dr'){
          totalDr += element.amount;
        } else {
          totalCr += element.amount;
        }
      });
      let total = {
        totalDr: totalDr,
        totalCr: totalCr
      }
      this.data = Object.assign(this.data , total);
      this.$emit('calulateTotal'); 
    },
  }
};
</script>

<style scoped>
p {
  margin: 2px !important;
}
</style>