<template>
  <tr>
    <td>{{ report[0].ledger_name }}</td>
    <td>{{ totalOpeningDr }}</td>
    <td>{{ totalOpeningCr }}</td>
    <td>{{ totalDr }}</td>
    <td>{{ totalCr }}</td>
    <td>{{ totalDr - totalCr > 0 ? (totalDr + totalOpeningDr ) - (totalCr + totalOpeningCr ) : 0 }}</td>
    <td>{{ totalCr - totalDr > 0 ? (totalCr + totalOpeningCr) - ( totalDr + totalOpeningDr ) : 0 }}</td>
  </tr>
</template>

<script>
export default {
  props: ['report', 'index', 'old'],
  data() {
    return {
      totalCr: 0,
      totalDr: 0,
      totalOpeningCr: 0,
      totalOpeningDr: 0,
    };
  },
  mounted() {
    this.calcAmount();
    if(this.old){
        this.calcOpening();
    }
    
  },
  methods: {
    calcAmount() {
      let totalCr = 0;
      let totalDr = 0;
      this.report.forEach((element) => {
        totalCr += element.credit_amount;
        totalDr += element.debit_amount;
      });
      this.totalCr = totalCr;
      this.totalDr = totalDr;
    },
    calcOpening() {
      let totalCr = 0;
      let totalDr = 0;
      this.old.forEach((element) => {
        totalCr += element.credit_amount;
        totalDr += element.debit_amount;
      });
      this.totalOpeningCr = totalCr;
      this.totalOpeningDr = totalDr;
    },
  },
};
</script>

<style scoped>
td {
  padding: 7px;
}
</style>