<template>
  <div id="bill_print" class="app-container">
    <el-card>
      <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
      <el-form
        ref="clientBillForm"
        :rules="rules"
        :model="newClientBill"
        label-position="left"
        label-width="150px"
        style="max-width: 100%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <!-- <el-col :span="12">
            <div class="logo" style="display:block">
              <h3 style="visibility: hidden;">Comapny Logo</h3>
              <el-image
                style="width: 150px; height: 120px;display:block;margin-bottom:20px;margin-left: auto"
                :src="url + logo"
              />
            </div>
          </el-col>-->

          <el-col :span="6" class="p-hide">
            <el-form-item label="Supervised By Name" prop="supervised_by">
              <el-select v-model="newClientBill.supervised_by" placeholder="Select">
                <el-option v-for="item in users" :key="item.id" :label="item.name" :value="item.id" />
              </el-select>
            </el-form-item>
          </el-col>
          <!-- <el-col :span="4" class="p-hide">
            <el-form-item label="Submite Date" prop="send_date">
              <el-date-picker
                v-model="newClientBill.send_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col> -->
          <el-col :span="10" class="p-hide">
            <el-form-item label="Payment Details" prop="payment_details">
              <el-input
                v-model="newClientBill.payment_details"
                type="textarea"
                :rows="1"
                placeholder="Please input"
              />
            </el-form-item>
          </el-col>
          <!-- <el-col :span="4" class="p-hide">
            <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
              <el-date-picker
                v-model="newClientBill.estimated_payment_date"
                type="date"
                placeholder="Pick a Date"
                format="yyyy/MM/dd"
                value-format="yyyy-MM-dd"
              />
            </el-form-item>
          </el-col> -->
          <el-col :span="12" class="p-hide">
            <div>
              <!-- <h3>Create Client Bill For</h3> -->
              <el-form-item label="Client Company" prop="client_id">
                <template>
                  <el-select
                    v-model="newClientBill.client_id"
                    placeholder="Select"
                    @change="getClientProjects(newClientBill.client_id)"
                  >
                    <el-option
                      v-for="item in clients"
                      :key="item.id"
                      :label="item.company"
                      :value="item.id"
                    />
                  </el-select>
                </template>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24" class="p-hide">
            <div class="grid-content bg-purple-light">
              <el-form-item>
                <el-input v-model="newClientBill.prepared_date" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <h4>To</h4>
            <template v-if="client">
              <tinymce v-model="newClientBill.to" :height="190" placeholder="Please input" />
            </template>
          </el-col>
          <el-col :span="6" :offset="3" class="referance" style="text-align: right">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <el-input v-model="newClientBill.bill_id" placeholder="Please input" readonly />
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="24" class="referance" style="margin-top: 20px">
            <el-form-item label="Site Name:">
              <el-input v-if="newClientBill.BillRows[0].work_order_id" v-model="newClientBill.BillRows[0].project_name" placeholder="Please input" />
            </el-form-item>
          </el-col>
          <el-col :span="24" class="referance">
            <el-form-item label="Purchase Order No: ">
              <el-input v-if="newClientBill.BillRows[0].work_order_id" v-model="newClientBill.BillRows[0].work_order_id" placeholder="Please input" />
            </el-form-item>
          </el-col>

          <el-col :span="24">
            <el-input
              v-model="newClientBill.msg1"
              type="textarea"
              :rows="2"
              placeholder="Please input"
            />
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <table class="item_table">
              <thead class="thead">
                <tr valign="top">
                  <th style="width: 20px">No.</th>
                  <th>Site</th>
                  <!-- <th>Item Number</th> -->
                  <th>Description</th>
                  <th>Quantity</th>
                  <!-- <th>UOM</th> -->
                  <th>Unit Price</th>
                  <th>Project Amount</th>
                  <th>Net Price (BDT)</th>
                  <th>Remarks</th>
                  <th class="p-hide">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in newClientBill.BillRows">
                  <edotco-bill-info v-if="client.projects" :key="index" :BillRows="newClientBill.BillRows" :projects="client.projects" :billRow="billRow" :index="index" @checkChange="checkChange" />
                </template>
                <el-button @click="addNew">Add New</el-button>
              </tbody>
              <tfoot class="tfoot">
                <tr valign="top">
                  <td colspan="6">Supply of tower (without VAT Amount)</td>
                  <td>{{ totalAmount }}</td>
                  <td />
                  <td />
                </tr>
                <tr valign="top">
                  <td colspan="6"> <el-input
                    v-model="newClientBill.vat"
                    placeholder="Please input"
                    style="width: 100px"
                    @blur="checkChange"
                  /> % VAT Amount</td>
                  <td>
                    {{ newClientBill.vat_amount }}
                  </td>
                  <td />
                  <td />
                </tr>

                <tr valign="top">
                  <td colspan="6">Net Payable amount as per Purchase order with VAT (BDT)</td>
                  <td>{{ grandTotalAmount }}</td>
                  <td />
                  <td class="p-hide" />
                </tr>
              </tfoot>
            </table>

          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <h4>In Word: Taka {{ totalAmountWord }} only</h4>
          </el-col>
          <el-col :span="24" style="margin-top: 20px">
            <el-input
              v-model="newClientBill.msg2"
              type="textarea"
              :rows="8"
              placeholder="Please input"
            />
          </el-col>
        </el-row>
      </el-form>
      <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
        <el-button type="info" @click="resetBillForm">Clear</el-button>
        <el-button type="primary" @click="saveAsDraft"> Save As Draft </el-button>
        <el-button type="success" @click="createClientBill()">{{ $t('table.confirm') }}</el-button>
      </div>
    </el-card>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
import EdotcoBillInfo from '../components/EdotcoBillInfo.vue';
const converter = require('number-to-words');
export default {
  components: { Tinymce, EdotcoBillInfo },
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      newClientBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
            project_name: '',
            work_order_id: '',
            vat: 0,
            tax: 0,
            sd: 0,
            deduction: 0,
            cheque_amount: 0,
          },
        ],
        from: `
        <h4>Dream Structure</h4>
        <p>Md. Ziaur Rahman Mithu</p>
        <p>Implementer</p>
      `,
        subject: '',
        po_no: '',
        date: '',
        pr_no: '',
        msg1: '',
        vat: 0,
        vat_amount: 0,
        bill_format: 'edotco-format',
      },
      state: '',
      rules: {
        client_id: [
          { required: true, message: 'Client company name is required', trigger: 'blur' },
        ],
      },
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      margedDetails: '',
      to: null,
      referance: '',
      totalAmount: 0,
      grandTotalAmount: 0,
      totalAmountWord: '',
      totalQuantity: 0,
      zero: 0,
      projectName: '',
      PoNumber: '',

    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
  },
  mounted(){
    let bills = Object.entries(this.$route.query);
    if (this.$route.query[0]) {
      let BillRows = [];
      Object(bills).map(([key, value]) => {
        this.newClientBill.client_id = value.client_id;
        let billRow = {
          project_id : value.id,
          stage_id: value.stage_id,
          site_code: value.site_code,
          project_type: value.project_type,
          details: value.details,
          quantity: value.quantity,
          unit_price: value.unit_price,
          project_amount:  value.project_amount,
          remarks: '',
          amount: 0,
          project_name: value.name,
          work_order_id: '',
          vat: 0,
          tax: 0,
          sd: 0,
          deduction: 0,
          cheque_amount: 0,
        };
        BillRows.push(billRow);
      });
      this.newClientBill.BillRows = BillRows;
      this.getClientProjects(this.newClientBill.client_id);
      this.checkChange();
    }
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
    },
    async getClientProjects(cid) {
      const clientRes = await clientResource.get(cid);
      this.client = clientRes.data;
      this.setSendToAddress(this.client);
    },
    querySearch(queryString, cb) {
      const projects = this.client.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    addNew(){
      this.newClientBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
          vat: 0,
          tax: 0,
          sd: 0,
          deduction: 0,
          cheque_amount: 0,
        }
      );
    },
    checkChange() {
      let amount = 0;
      let quantity = 0;
      const vatAmount = ((this.totalAmount * parseFloat(this.newClientBill.vat)) / 100);
      this.newClientBill.vat_amount = vatAmount;
      this.newClientBill.BillRows.forEach((element) => {
        amount = amount += parseInt(element.amount) || 0;
        quantity = quantity += element.quantity;
      });
      this.totalAmount = amount;

      this.grandTotalAmount = this.totalAmount + parseFloat(this.newClientBill.vat_amount);
      this.totalQuantity = quantity;
      this.setData();
    },

    remove(index) {
      this.newClientBill.BillRows.splice(index, 1);
      this.checkChange();
    },
    setData() {
      this.totalAmountWord = converter.toWords(this.grandTotalAmount);
      this.newClientBill.subject = `Subject: <b>Finial bill for ${this.margedDetails.substring(
        2
      )}</b> `;
      //   this.newClientBill.msg1 = `Dear Sir
      //        With due respect, we like to inform you that as per the work order for Grameenphone Ltd. We have completed ${this.margedDetails
      //          .substring(2)
      //          .replace(/(<([^>]+)>)/gi, '')}`;
      this.newClientBill.msg2 = `
        Thanks and best regards.

        Sincerely


        Md. Mizanur Rahman
        Director
        `;
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/ClientBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newClientBill.bill_id = 'CSB-' + this.SlNo;
      });
    },
    setSendToAddress(client) {
      this.newClientBill.to = `
        <h4>${client.name}</h4>
        <p>Country Director</p>
        <p>${client.company}</p>
        <p>Bangladesh Office</p>
        <p>${client.street}</p>
      `;
    },
    getCurrentDate() {
      const current = new Date();
      this.currentDate = `${current.getFullYear()}/${
        current.getMonth() + 1
      }/${current.getDate()}`;
      this.newClientBill.prepared_date = 'date: ' + this.currentDate;
    },

    createClientBill() {
      this.newClientBill.total_bill_amount = this.totalAmount;
      this.newClientBill.total_cheque_amount = this.grandTotalAmount;
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          clientBillResource
            .store(this.newClientBill)
            .then((response) => {
              this.printBill();
              // this.resetBillForm();
              this.clientBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    saveAsDraft(){
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          this.newClientBill.total_bill_amount = this.totalAmount;
          axios.post('/api/client-bill/save-draft', this.newClientBill).then(res => {
            this.$message({
              message: 'Successfully saved as Draft',
              type: 'success',
            });
            this.resetBillForm();
            this.clientBillCreating = false;
          }).catch(error => {
            console.log(error);
            this.clientBillCreating = false;
          });
        }
      });
    },
    printBill() {
      this.$confirm('Do you like to print this bill. Continue?', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning',
      }).then(() => {
        window.print();
        this.resetBillForm();
      }).catch(() => {
        this.resetBillForm();
        this.$message({
          type: 'info',
          message: 'Delete canceled',
        });
      });
    },
    resetBillForm() {
      this.newClientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
        subject: '',
        po_no: '',
        date: '',
        pr_no: '',
        msg1: '',
        vat: 0,
        vat_amount: 0,
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_25,
div#mceu_54-body {
  display: none !important;
}
.referance .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
</style>
