<template>
  <div id="bill_print" class="app-container">
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="View" name="first">
        <view-component v-if="clientBill" mood="view" :client-bill="clientBill" />
      </el-tab-pane>
      <el-tab-pane label="Edit" name="second" v-if="clientBill && clientBill.bill_status !== 'received' && clientBill.bill_status !== 'canceled'">
        <view-component v-if="clientBill" mood="edit" :client-bill="clientBill" />
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const clientBillResource = new Resource('client-bill');
import ViewComponent from './ViewComponent.vue';
export default {
  components: { ViewComponent },
  data() {
    return {
      activeName: 'first',
      clientBill: {},
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    async fetchData(id) {
      clientBillResource.get(id).then(({ data }) => {
        this.clientBill = data;
      });
    },
  },
};
</script>
