<template>
  <tr :class="`tbody_row ${billRow.status === 'canceled' ? 'warning-color':''}`">
    <td style="width: 20px">{{ index+ 1 }}</td>
    <td style="width: 180px">
      <template>
        <el-form-item prop="site_code" v-if="mood === 'edit' && !billRow.status && billRow.status !== 'canceled'">
          <el-autocomplete
            v-model="billRow.site_code"
            class="inline-input"
            :fetch-suggestions="querySearch"
            placeholder="Please Search By Site Code"
            :trigger-on-focus="false"
            @select="handleSelect"
          >
            <template slot-scope="{ item }">
              <div class="value">{{ item.site_code }}</div>
            </template>
          </el-autocomplete>
        </el-form-item>
        <p v-else>{{ billRow.site_code }}</p>
      </template>

    </td>
    <!-- <td>unknown</td> -->
    <td v-if="billRow">{{ billRow.details }}</td>
    
    <template v-if="mood !== 'receive'">
      <td v-if="billRow" class="numaric_td">{{ billRow.project_amount }}</td>
      <td v-if="billRow" class="numaric_td">{{ billRow.quantity }}</td>
      <td v-if="billRow" class="numaric_td">{{ billRow.unit_price }}</td>
    </template>
    <td class="numaric_td">
      <el-input v-if="mood === 'edit'" v-model.number="billRow.amount" class="numaric_td" placeholder="Please input" @blur="checkChange" />
      <p v-else>{{ billRow.amount }}</p>
    </td>
    <template v-if="mood ==='receive'">
      <td class="numaric_td">
        <el-form-item prop="vat" v-if="mood ==='receive' && billRow.status !== 'canceled'">
          <el-input
            v-model.number="billRow.vat"
            :disabled="mood === 'view'"
            class="numaric_td"
            placeholder="Please Enter Bill Amount"
            @blur="checkChange"
          />
        </el-form-item>
        <template v-else>{{ billRow.vat}}</template>
      </td>
      <td class="numaric_td">
        <el-form-item prop="tax" v-if="mood ==='receive' && billRow.status !== 'canceled'">
          <el-input
            v-model.number="billRow.tax"
            :disabled="mood === 'view'"
            class="numaric_td"
            placeholder="Please Enter Bill Amount"
            @blur="checkChange"
          />
        </el-form-item>
        <p v-else>{{ billRow.tax }}</p>
      </td>
      <td class="numaric_td">
        <el-form-item prop="sd" v-if="mood ==='receive'  && billRow.status !== 'canceled'">
          <el-input
            v-model.number="billRow.sd"
            :disabled="mood === 'view'"
            class="numaric_td"
            placeholder="Please Enter Bill Amount"
            @blur="checkChange"
          />
        </el-form-item>
        <p v-else>{{ billRow.sd }}</p>
      </td>
      <td class="numaric_td">
        <el-form-item prop="deduction" v-if="mood ==='receive'  && billRow.status !== 'canceled'">
          <el-input
            v-model.number="billRow.deduction"
            :disabled="mood === 'view'"
            class="numaric_td"
            placeholder="Please Enter Bill Amount"
            @blur="checkChange"
          />
        </el-form-item>
        <p v-else>{{ billRow.deduction}}</p>
      </td>
      <td class="numaric_td">
        <p v-if="billRow.cheque_amount">{{billRow.cheque_amount}}</p>
      </td>
    </template>
    
    <td>
      <el-input v-if="mood === 'edit'" v-model="billRow.remarks" placeholder="Please input" />
      <p v-else>{{ billRow.remarks }}</p>
    </td>
    <td class="p-hide">
      <el-button :disabled="mood === 'view'" size="mini" type="danger" @click="remove(index, billRow.id)">X</el-button>
    </td>
  </tr>
</template>

<script>
import Resource from '@/api/resource';
const clientResource = new Resource('clients');
const projectTypeResource = new Resource('project-type');

export default {
  props: ['BillRows', 'billRow', 'index', 'projects', 'mood'],
  data() {
    return {
      projectTypeName: '',
      state: null,
      results: null,
      links: null,
      projectTypes: null,
    };
  },
  created() {
    this.setData(this.billRow.project);
  },
  methods: {
    setData(item){
      if (item){
        this.billRow.site_code = item.site_code;
        this.billRow.details = item.details;
        this.billRow.project_amount = item.project_amount;
        this.billRow.unit_price = item.unit_price;
        this.billRow.quantity = item.quantity;
        this.billRow.stage_id = item.stage_id;
        this.billRow.project_name = item.name;
        this.billRow.work_order_id = item.work_order_id;
      }
      this.checkChange();
    },
    querySearch(queryString, cb) {
      const projects = this.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },
    handleSelect(item) {
      const bill = this.BillRows.find((i) => i.site_code == item.site_code);
      if (bill) {
        alert('Already Selected');
      } else {
        this.billRow.site_code = item.site_code;
        this.billRow.details = item.details;
        this.billRow.project_amount = item.project_amount;
        this.billRow.unit_price = item.unit_price;
        this.billRow.quantity = item.quantity;
        this.billRow.project_id = item.id;
        this.billRow.stage_id = item.stage_id;
        this.billRow.stage_id = item.stage_id;
        this.billRow.project_name = item.name;
        this.billRow.work_order_id = item.work_order_id;
        this.checkChange();
      }
    },
    checkChange() {
      this.$emit('checkChange');
      this.billRow.cheque_amount =
        parseFloat(this.billRow.amount) -
        (parseFloat(this.billRow.vat) +
          parseFloat(this.billRow.tax) +
          parseFloat(this.billRow.sd) +
          parseFloat(this.billRow.deduction));
    },
    remove(index, id) {
      if (id !== undefined) {
        this.$confirm(
          'Are you sure to cancel this bill item . Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            axios.put('/api/client-topsheet/remove/' +id)
              .then((response) => {
                this.$message({
                  type: 'success',
                  message: 'Bill item deleted Successfully',
                });
                this.BillRows.splice(index, 1);
                this.checkChange();
              })
              .catch((error) => {
                console.log(error);
              });
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled',
            });
          });
      } else {
        this.$confirm(
          'Are you sure to cancel this bill item . Continue?',
          'Warning',
          {
            confirmButtonText: 'OK',
            cancelButtonText: 'Cancel',
            type: 'warning',
          }
        )
          .then(() => {
            this.BillRows.splice(index, 1);
            this.checkChange();
          })
          .catch(() => {
            this.$message({
              type: 'info',
              message: 'Canceled',
            });
          });
      }
    },
  },
};
</script>

<style>
.warning-color {
  background-color: rgb(247, 143, 143) !important;
}
</style>
