<template>
  <div id="bill_print" class="app-container">
    <h3 style="text-align:center; text-decoration: underline;">Invoice</h3>
    <el-form
      ref="clientBillForm"
      :rules="rules"
      :model="clientBill"
      label-position="left"
      label-width="150px"
      style="max-width: 100%; margin: 0 auto"
    >
      <el-row :gutter="20">
        <el-col :span="6" class="p-hide">
          <el-form-item label="Supervised By Name" prop="supervised_by">
            <el-select
              :disabled="mood === 'view' || mood === 'receive'"
              v-model="clientBill.supervised_by"
              placeholder="Select"
            >
              <el-option v-for="item in users" :key="item.id" :label="item.name" :value="item.id" />
            </el-select>
          </el-form-item>
        </el-col>

        <el-col :span="12" class="p-hide">
          <el-form-item label="Payment Details" prop="payment_details">
            <el-input
              v-if="mood === 'edit'"
              v-model="clientBill.payment_details"
              type="textarea"
              :rows="1"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.payment_details }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_submission_date" class="p-hide">
          <el-form-item label="Bill Submission Date" prop="bill_submission_date">
            <el-date-picker
              v-model="clientBill.bill_submission_date"
              v-if="mood === 'edit'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.bill_submission_date }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_submission_number" class="p-hide">
          <el-form-item label="Bill Submission Number" prop="bill_submission_number">
            <el-input v-if="clientBill.bill_submission_number && mood === 'edit'" v-model="clientBill.bill_submission_number"  placeholder="Please input" />
            <span v-else>{{ clientBill.bill_submission_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.estimated_payment_date" class="p-hide">
          <el-form-item label="Estimated Payment Date" prop="estimated_payment_date">
            <el-date-picker
              v-model="clientBill.estimated_payment_date"
              v-if="mood === 'edit'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.estimated_payment_date }}</span>
          </el-form-item>
        </el-col>

        <el-col :span="6" v-if="clientBill.bill_received_date || mood === 'receive'" class="p-hide">
          <el-form-item label="Bill Receive Date" prop="bill_received_date">
            <el-date-picker
              v-model="clientBill.bill_received_date"
              v-if="mood === 'receive' && clientBill.bill_status === 'pending'"
              type="date"
              placeholder="Pick a Date"
              format="yyyy/MM/dd"
              value-format="yyyy-MM-dd"
            />
            <span v-else>{{ clientBill.bill_received_date }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="6" v-if="clientBill.bill_received_number || mood === 'receive'" class="p-hide">
          <el-form-item label="Bill Receive Number" prop="bill_received_number">
            <el-input
              v-model="clientBill.bill_received_number"
              v-if="mood === 'receive' && clientBill.bill_status === 'pending'"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.bill_received_number }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="24" class="p-hide">
          <div style="width: 50%">
            <!-- <h3>Create Client Bill For</h3> -->
            <el-form-item label="Client Company" prop="client_id">
              <template>
                <el-select
                  disabled
                  v-model="clientBill.client_id"
                  placeholder="Select"
                  @change="getClientProjects(clientBill.client_id)"
                >
                  <el-option
                    v-for="item in clients"
                    :key="item.id"
                    :label="item.company"
                    :value="item.id"
                  />
                </el-select>
              </template>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="24" class="p-hide">
          <div class="grid-content bg-purple-light">
            <el-form-item>
              <el-input
                v-if="mood === 'edit'"
                v-model="clientBill.prepared_date"
                placeholder="Please input"
                readonly
              />
              <span v-else>{{ clientBill.prepared_date }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="12">
          <h4>To</h4>
          <template v-if="client">
            <tinymce v-if="mood === 'edit'" v-model="clientBill.to" :height="190" placeholder="Please input" />
            <span v-else v-html="clientBill.to"></span>
          </template>
        </el-col>
        <el-col :span="6" :offset="3" class="referance" style="text-align: right">
          <div class="grid-content bg-purple">
            <el-form-item label="Bill ID">
              <el-input v-if="mood === 'edit'" v-model="clientBill.bill_id" placeholder="Please input" readonly />
              <span v-else>{{ clientBill.bill_id }}</span>
            </el-form-item>
          </div>
        </el-col>
        <el-col :span="24" class="referance" style="margin-top: 20px">
          <el-form-item label="Site Name:">
            <el-input
              v-if="clientBill.BillRows && mood === 'edit'"
              v-model="clientBill.BillRows[0].project_name"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.BillRows[0].project_name }}</span>
          </el-form-item>
        </el-col>
        <el-col :span="24" class="referance">
          <el-form-item label="Purchase Order No: ">
            <el-input
              
              v-if="clientBill.BillRows && mood === 'edit'"
              v-model="clientBill.BillRows[0].work_order_id"
              placeholder="Please input"
            />
            <span v-else>{{ clientBill.BillRows[0].work_order_id }}</span>
          </el-form-item>
        </el-col>

        <el-col :span="24">
          <el-input
            v-model="clientBill.msg1"
            type="textarea"
            :rows="2"
            placeholder="Please input"
            v-if="mood === 'edit'"
          />
          <span v-else>{{ clientBill.msg1 }}</span>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <table class="item_table">
            <thead class="thead">
              <tr valign="top">
                <th style="width: 20px">No.</th>
                <th style="width: 180px">Site</th>
                <!-- <th>Item Number</th> -->
                <th>Description</th>
                <template v-if="mood !== 'receive'">
                  <th>Project Amount</th>
                  <th>Quantity</th>
                  <th>Unit Price (with VAT)</th>  
                </template>
                <th>Net Price (BDT)</th>
                <template v-if="mood === 'receive'">
                  <th>Vat</th>
                  <th>Tax</th>
                  <th>SD</th>
                  <th>Deduction</th>
                  <th>Cheque Amount</th>
                </template>
                <th>Remarks</th>
                <th class="p-hide">Action</th>
              </tr>
            </thead>
            <tbody class="tbody">
              <template v-for="(billRow, index) in clientBill.BillRows">
                <edotco-bill-info-view
                  v-if="client.projects"
                  :mood="mood"
                  :key="index"
                  :BillRows="clientBill.BillRows"
                  :projects="client.projects"
                  :billRow="billRow"
                  :index="index"
                  @checkChange="checkChange"
                />
              </template>
              <el-button :disabled="mood === 'view'" @click="addNew">Add New</el-button>
            </tbody>
            <tfoot class="tfoot" v-if="mood !== 'receive'">
              <tr valign="top">
                <td colspan="6">Supply of tower (without VAT Amount)</td>
                <td>{{ totalAmount }}</td>
                <td />
                <td class="p-hide"/>
              </tr>
              <tr valign="top">
                <td colspan="6">
                  <el-input
                    v-model.number="clientBill.vat"
                    placeholder="Please input"
                    style="width: 100px"
                    @blur="checkChange"
                    v-if="mood === 'edit'"
                  />
                  <span v-else>{{ clientBill.vat }}</span>
                  % VAT Amount
                </td>
                <td>{{ clientBill.vat_amount }}</td>
                <td />
                <td class="p-hide" />
              </tr>

              <tr valign="top">
                <td colspan="6">Net Payable amount as per Purchase order with VAT (BDT)</td>
                <td>{{ grandTotalAmount }}</td>
                <td />
                <td class="p-hide" />
              </tr>
            </tfoot>
            <tfoot class="tfoot" v-if="mood === 'receive'">
              <tr valign="top">
                <td colspan="8">Total</td>
                <td>{{ totalAmount }}</td>
                <td colspan="2" class="p-hide" />
              </tr>
              <tr>
                <td colspan="8">Total Vat</td>
                <td v-if="this.clientBill.BillRows">{{ totalVat }}</td>
                <td colspan="2" />
              </tr>
              <tr>
                <td colspan="8">Total Tax</td>
                <td v-if="this.clientBill.BillRows">{{ totalTax }}</td>
                <td colspan="2" />
              </tr>
              <tr>
                <td colspan="8">Total SD</td>
                <td v-if="this.clientBill.BillRows">{{ totalSD }}</td>
                <td colspan="2" />
              </tr>
              <tr>
                <td colspan="8">Total Deduction</td>
                <td v-if="this.clientBill.BillRows">{{ totalDeduction }}</td>
                <td colspan="2" />
              </tr>
              <tr>
                <td colspan="8">Total Cheque Amount</td>
                <td v-if="this.clientBill.BillRows">{{ totalChequeAmount }}</td>
                <td colspan="2" />
              </tr>
            </tfoot>
          </table>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <h4>In Word: Taka {{ totalAmountWord }} only</h4>
        </el-col>
        <el-col :span="24" style="margin-top: 20px">
          <el-input
            v-if="mood === 'edit'"
            v-model="clientBill.msg2"
            type="textarea"
            :rows="8"
            placeholder="Please input"
          />
          <pre v-else>{{ clientBill.msg2 }}</pre>
        </el-col>
      </el-row>
    </el-form>
    <div class="dialog-footer" style="margin-left: 35%; margin-top:20px">
      <el-button type="info" v-if="mood === 'edit'" @click="resetBillForm">Clear</el-button>
      <el-button type="info" v-if="mood === 'view'" @click="printBill">Print</el-button>
      <el-button
        type="primary"
        v-if="mood !== 'view'"
        @click="updateClientBill()"
      >{{ $t('table.confirm') }}</el-button>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const clientResource = new Resource('clients');
const userResource = new Resource('users');
import Tinymce from '../Tinymce';
const clientBillResource = new Resource('client-bill');
import EdotcoBillInfoView from './EdotcoBillInfoView.vue';
const converter = require('number-to-words');
export default {
  components: { Tinymce, EdotcoBillInfoView },
  props: ['clientBill', 'mood'],
  data() {
    return {
      url: process.env.MIX_AWS_IMAGE_URL,
      logo: 'logo.png',
      state: '',
      rules: {},
      clients: [],
      users: [],
      client: {},
      projects: [],
      SlNo: null,
      margedDetails: '',
      to: null,
      referance: '',
      totalAmount: 0,
      grandTotalAmount: 0,
      totalAmountWord: '',
      totalQuantity: 0,
      zero: 0,
      projectName: '',
      PoNumber: '',
      totalVat: 0,
      totalTax: 0,
      totalDeduction: 0,
      totalSD: 0,
    };
  },
  created() {
    this.getData();
    this.checkChange();
    console.log(this.clientBill);
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await clientResource.list();
      const userResponse = await userResource.list();
      this.clients = response.data;
      this.users = userResponse.data;
      this.loading = false;
      this.getClientProjects(this.clientBill.client_id);
    },
    async getClientProjects(cid) {
      this.client = this.clients.find((c) => c.id === cid);
    },
    querySearch(queryString, cb) {
      const projects = this.client.projects;
      const results = queryString
        ? projects.filter(this.createFilter(queryString))
        : projects;
      // call callback function to return suggestions
      cb(results);
    },
    createFilter(queryString) {
      return (project) => {
        return (
          project.site_code.toLowerCase().indexOf(queryString.toLowerCase()) ===
          0
        );
      };
    },

    checkChange() {
      let amount = 0;
      let quantity = 0;
      let totalVat = 0;
      let totalTax = 0;
      let totalDeduction = 0;
      let totalSD = 0;
      const vatAmount = (this.totalAmount * this.clientBill.vat) / 100;
      this.clientBill.vat_amount = vatAmount;
      if (this.clientBill.BillRows) {
        this.clientBill.BillRows.forEach((element) => {
          amount = amount += parseInt(element.amount) || 0;
          quantity = quantity += element.quantity;
          totalVat = totalVat + parseFloat(element.vat);
          totalTax = totalTax + parseFloat(element.tax);
          totalDeduction = totalDeduction + parseFloat(element.deduction);
          totalSD = totalSD + parseFloat(element.sd);
        });
        this.grandTotalAmount =
          this.totalAmount + parseInt(this.clientBill.vat_amount);
      }
      this.totalAmount = amount;
      this.totalQuantity = quantity;
      this.totalVat = totalVat;
      this.totalTax = totalTax;
      this.totalDeduction = totalDeduction;
      this.totalSD = totalSD;
      this.totalChequeAmount =
        this.totalAmount - (totalVat + totalTax + totalSD + totalDeduction);
      this.clientBill.total_cheque_amount = this.totalChequeAmount;
      this.clientBill.total_bill_amount = amount;
    },

    remove(index) {
      this.clientBill.BillRows.splice(index, 1);
      this.checkChange();
    },

    addNew() {
      this.clientBill.BillRows.push({
        site_code: '',
        project_type: '',
        details: '',
        remarks: '',
        amount: 0,
        vat: 0,
        tax: 0,
        deduction: 0,
        cheque_amount: 0,
      });
    },
    updateClientBill() {
      this.clientBill.total_bill_amount = this.totalAmount;
      this.clientBill.total_cheque_amount = this.grandTotalAmount;
      this.$refs['clientBillForm'].validate((valid) => {
        if (valid) {
          this.clientBillCreating = true;
          this.clientBill.mood = this.mood;
          clientBillResource
            .update(this.clientBill.id, this.clientBill)
            .then((response) => {
              this.$message({
                message: 'Bill Updated Successfully',
                type: 'success',
              });
              this.clientBillCreating = false;
              this.$router.push('/accounts/client-bill/list');
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.clientBillCreating = false;
            });
        }
      });
    },
    printBill() {
      window.print();
    },
    resetBillForm() {
      this.clientBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table,
td,
th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #c1eaf3;
}
.thead th,
tfoot td {
  background-color: #555;
  color: #fff;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
div#mceu_25,
div#mceu_54-body {
  display: none !important;
}
.referance .el-form-item.el-form-item--medium {
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
.el-input.is-disabled .el-input__inner {
  color: #606266 !important;
}
.el-textarea.is-disabled .el-textarea__inner {
  color: #606266 !important;
}
</style>
