<template>
  <el-card>
    <show-component :subcontractorBill="subcontractorBill" @billItemDelete="handleFilter" />
    <div class="dialog-footer" style="margin-left: 45%">
      <el-button
        v-if="subcontractorBill.bill_status != 'checked'"
        type="primary"
        @click="checkedSubcontractorBill()"
      >Checked</el-button>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
const subcontractorBillResource = new Resource('subcontractor-bill');
import ShowComponent from './components/ShowComponent.vue';
export default {
  components: { ShowComponent },
  data() {
    return {
      subcontractorBill: {},
      alredayPaidAmount: 0,
      subcontractorBillLoading: false,
      ID: '',
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.ID = id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id) {
      this.subcontractorBillLoading = true;
      await subcontractorBillResource.get(id).then(({ data }) => {
        this.subcontractorBill = data;
        this.subcontractorBillLoading = false;
      });
    },
    checkedSubcontractorBill() {
      const current = new Date();
      this.subcontractorBill.checked_date = `${current.getFullYear()}-${
        current.getMonth() + 1
      }-${current.getDate()}`;
      this.$confirm(
        'Do you want to maked this bill as checked. Continue?',
        'Warning',
        {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning',
        }
      )
        .then(() => {
          subcontractorBillResource
            .update(this.ID, this.subcontractorBill)
            .then((response) => {
              this.$message({
                type: 'success',
                message: 'Checked',
              });
              this.fetchData(this.ID);
            })
            .catch((error) => {
              console.log(error);
            });
        })
        .catch((error) => {
          this.$message({
            type: 'info',
            message: 'canceled',
          });
          console.log(error);
        });
    },
    handleFilter() {
      this.fetchData(this.ID);
    },
  },
};
</script>

<style>
</style>
