<template>
  <el-card>
    <div v-loading="subcontractorBillCreating" class="form-container">
      <el-form
        ref="subcontractorBillForm"
        :rules="rules"
        :model="newSubcontractorBill"
        label-position="left"
        label-width="150px"
        style="max-width: 98%; margin: 0 auto"
      >
        <el-row :gutter="20">
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <el-form-item label="Bill ID">
                <p>BRS-{{ SlNo }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple-light">
              <el-form-item label="Receive Date">
                <p>{{ currentDate }}</p>
              </el-form-item>
            </div>
          </el-col>
          <el-col :span="12">
            <el-row>
              <el-col :span="24">
                <div class="grid-content bg-purple-dark">
                  <el-form-item label="Subcontractor Company" prop="subcontractor_id">
                    <template>
                      <el-select v-model="newSubcontractorBill.subcontractor_id" placeholder="Select" @change="getSubcontractorWorkOrder(newSubcontractorBill.subcontractor_id)">
                        <el-option
                          v-for="item in subcontractors"
                          :key="item.id"
                          :label="item.company"
                          :value="item.id"
                        />
                      </el-select>
                    </template>
                  </el-form-item>
                </div>
              </el-col>
              <el-col :span="24">
                <el-form-item label="Subcontractor Name" prop="subcontractor_name">
                  <el-input v-model="subcontractor.name" placeholder="Please input" class="b-0" readonly="" />
                </el-form-item>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Submited By Name" prop="submited_by">
              <el-input v-model="newSubcontractorBill.submited_by" placeholder="Please input" />
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="Submited By Phone Number" prop="submited_by_phone_number">
              <el-input
                v-model="newSubcontractorBill.submited_by_phone_number"
                placeholder="Please input"
              />
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <table class="item_table">
              <thead class="thead">
                <tr class="thead_row">
                  <th>No.</th>
                  <th>WO ID</th>
                  <th>Site Code</th>
                  <th>Project Type</th>
                  <th>Bill Details</th>
                  <th>Receive Amount</th>
                  <th>Remarks</th>
                  <th width="50">Action</th>
                </tr>
              </thead>
              <tbody class="tbody">
                <template v-for="(billRow, index) in newSubcontractorBill.BillRows">
                  <bill-info :workOrders="workOrders" @checkChange="checkChange" v-if="subcontracts" :key="index" :BillRows="newSubcontractorBill.BillRows" :billRow="billRow" :index="index" />
                </template>
              </tbody>
              <tfoot class="tfoot">
              <tr>
                <td colspan="5">Total Receive Amount</td>
                <td >{{ totalReceiveAmount }}</td>
                <td class="p-hide" />
                <td class="p-hide" />
              </tr>
            </tfoot>
            </table>
            <el-button @click="addNew">Add New</el-button>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer" style="margin-left: 35%">
        <el-button type="info" @click="resetBillForm"> Clear </el-button>
        <el-button type="primary" @click="createSubcontractorBill()">
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
import axios from 'axios';
const subcontractorResource = new Resource('subcontractors');
const subcontractorBillResource = new Resource('subcontractor-bill');
import BillInfo from './components/BillInfo.vue';
export default {
  components: { BillInfo },
  data() {
    return {
      newSubcontractorBill: {
        BillRows: [
          {
            site_code: '',
            project_type: '',
            details: '',
            remarks: '',
            amount: 0,
          },

        ],
      },
      subcontractors: [],
      subcontractor: {},
      subcontracts: [],
      workOrders: [],
      selectedWorkOrder: [],
      projects: [],
      projectTypeName: '',
      subcontractorBillCreating: false,
      state: null,
      item: {},
      SlNo: '',
      currentDate: '',
      paidAmount: 0,
      projectSubcontract: null,
      totalReceiveAmount: 0,
      rules: {
        subcontractor_id: [
          { required: true, message: 'Client is required', trigger: 'blur' },
        ],
        work_order_id: [
          { required: true, message: 'Work Order ID is required', trigger: 'blur' },
        ],
        submited_by: [
          {
            required: true,
            message: 'Submited By is required',
            trigger: 'blur',
          },
        ],
        submited_by_phone_number: [
          {
            required: true,
            message: 'Phone Number is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  created() {
    this.getData();
    this.getItemLastId();
    this.getCurrentDate();
    
  },
  methods: {
    async getData() {
      this.loading = true;
      const response = await subcontractorResource.list();
      this.subcontractors = response.data;
      this.loading = false;
    },
    async getSubcontractorWorkOrder(scid){
      const response = await subcontractorResource.get(scid);
      this.subcontractor = response.data;
      this.workOrders = this.subcontractor.workOrders;
    },

    addNew(){
      this.newSubcontractorBill.BillRows.push(
        {
          site_code: '',
          project_type: '',
          details: '',
          remarks: '',
          amount: 0,
        }
      );
    },

    handleSelect(item) {
      this.item = item;
      this.newSubcontractorBill.stage_id = item.stage_id;
      this.newSubcontractorBill.project_id = item.id;
      this.newSubcontractorBill.site_code = item.site_code;
    },
    getType(e){
      this.projectTypeName = e;
    },
    getSelectedWorkOrder(id) {
      let workOrder = this.workOrders.find(w => w.id === id);
      this.selectedWorkOrder = workOrder;
    },
    getItemLastId() {
      axios.get('/api/get-table-last-id/SubcontractorBill').then((res) => {
        this.SlNo = res.data + 1;
        this.newSubcontractorBill.bill_id = this.SlNo;
      });
    },
    getCurrentDate(){
      const current = new Date();
      this.currentDate = `${current.getFullYear()}-${
        current.getMonth() + 1
      }-${current.getDate()}`;
      this.newSubcontractorBill.entry_date = this.currentDate;
    },
    checkChange(){
      let amount = 0;
      this.newSubcontractorBill.BillRows.forEach(bill => {
        amount += bill.amount;
      });
      this.totalReceiveAmount = amount;
      this.newSubcontractorBill.total_receive_amount = amount;
    },
    createSubcontractorBill() {
      console.log(this.newSubcontractorBill);
      this.$refs['subcontractorBillForm'].validate((valid) => {
        if (valid) {
          this.subcontractorBillCreating = true;
          subcontractorBillResource
            .store(this.newSubcontractorBill)
            .then((response) => {
              this.$message({
                message:
                  'New subcontractor bill has been created successfully.',
                type: 'success',
                duration: 5 * 1000,
              });
              this.resetBillForm();
              this.subcontractorBillCreating = false;
            })
            .catch((error) => {
              console.log(error);
            })
            .finally(() => {
              this.subcontractorBillCreating = false;
            });
        }
      });
    },
    resetBillForm() {
      this.newSubcontractorBill = {
        client_id: '',
        amount: 0,
        entry_date: '',
        payment_details: '',
      };
      this.item = {};
      this.projects = [];
      this.project = {};
      this.projectSubcontract = null;
    },
  },
};
</script>

<style>
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
table, td, th {
  border: 1px solid #c1eaf3;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td, .numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even){
  background-color: #c1eaf3;
}
.thead th, tfoot td {
    background-color: #555;
    color: #fff;
}

#calc .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.b-0 {
  border: 0;
}
</style>
