<template>
  <div class="app-container">
    <div id="project_list_top" class="filter-container">
      <el-input
        id="project_search"
        v-model="query.keyword"
        placeholder="Bill ID"
        clearable
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-date-picker
        id="search_date"
        v-model="query.date"
        type="date"
        placeholder="Search By Date"
        format="yyyy/MM/dd"
        value-format="yyyy-MM-dd"
        @change="handleFilter"
      />

      <el-select
        id="primary_select_subcontractor"
        v-model="query.subcontractor_id"
        v-waves
        placeholder="Subcontractor Name"
        clearable
        style="width: 200px"
        class="filter-item"
        @change="handleFilter"
      >
        <el-option
          v-for="subcontractor in subcontractors"
          :key="subcontractor.id"
          :label="subcontractor.name"
          :value="subcontractor.id"
        />
      </el-select>
      <router-link to="/accounts/subcontractor-bill/create">
        <el-button
          v-permission="['create subcontractor bill']"
          type="primary"
          style="width: 200px"
          class="filter-item"
        >Bill Receive</el-button>
      </router-link>

    </div>
    <div style="width: 95%; margin: 10px auto">
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Received Bills" name="received">
          <list-component :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Checked Bills" name="checked">
          <list-component :tableData="bills" />
        </el-tab-pane>
        <el-tab-pane label="Approved Bills" name="approved">
          <list-component :tableData="bills" />
        </el-tab-pane>
        <!-- <el-tab-pane label="Paid Bills" name="paid">
          <list-component :tableData="bills" />
        </el-tab-pane> -->
        <el-tab-pane label="Cancleed Bills" name="canceled">
          <canceled-bills-list :tableData="canceledBills" />
        </el-tab-pane>
        <el-tab-pane label="All Bills" name="all">
          <list-component :tableData="bills" />
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>
<script>
import Resource from '@/api/resource';
const subcontractorResource = new Resource('subcontractors');
const subcontractorBillResource = new Resource('subcontractor-bill');
import permission from '@/directive/permission'; // Permission directive
import waves from '@/directive/waves';
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import ListComponent from './components/ListComponent';
import { EventBus } from '@/app';
import CanceledBillsList from './components/CanceledBillsList.vue';
export default {
  name: 'SubmitedClientBills',
  directives: { permission, waves },
  components: { Pagination, ListComponent, CanceledBillsList },
  data() {
    return {
      activeName: 'received',
      subcontractors: [],
      projects: [],
      allBill: [],
      bills: [],
      receivedBills: [],
      submitedBills: [],
      canceledBills: [],
      query: {
        page: 1,
        limit: 100,
        keyword: '',
        bill_status: 'received',
      },
      multipleSelection: [],
    };
  },
  created(){
    this.getList();
    this.getData();

    EventBus.$on('bill-selected', (bills) => {
      this.multipleSelection = bills;
    });
  },
  methods: {
    handleClick(tab, event) {
      if(tab.name === 'canceled'){
        this.getCanceledBillItem();
      } else {
        this.query.bill_status = tab.name;
        this.getList();
      }
    },
    async getCanceledBillItem(){
      await axios.get('/api/get-all-subcontractor-canceled-bill').then(({ data }) => {
        this.canceledBills = data.data;
        console.log(this.canceledBills);
      })
    },
    handleFilter(){
      this.query.page = 1;
      this.getList();
    },
    async getList() {
      const billResponse = await subcontractorBillResource.list(this.query);
      this.bills = billResponse.data;
    },
    async getData(){
      this.loading = true;
      const response = await subcontractorResource.list();
      // const proResponse = await projectResource.list();
      this.subcontractors = response.data;
      // this.projects = proResponse.data;
      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.pagination-container {
  display: block !important;
}
.el-link--primary {
  background: #1682e6;
  border-color: #1682e6;
  color: #ffffff;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}
.el-link--primary:hover {
  color: #fff;
  text-decoration: none;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
</style>
