<template>
  <el-card>
    <show-component :subcontractorBill="subcontractorBill" />
    <div style="text-align:center">
      <el-button type="info" @click="print"> Print </el-button>
    </div>
  </el-card>
</template>

<script>
import Resource from '@/api/resource';
const subcontractorBillResource = new Resource('subcontractor-bill');
import ShowComponent from './components/ShowComponent.vue';
export default {
  components: { ShowComponent },
  data(){
    return {
      subcontractorBill: {},
      alredayPaidAmount: 0,
      subcontractorBillLoading: false,

    };
  },
  created(){
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id){
      this.subcontractorBillLoading = true;
      await subcontractorBillResource.get(id).then(({ data }) => {
        this.subcontractorBill = data;
        console.log(this.subcontractorBill);
        this.subcontractorBillLoading = false;
      });
    },
    print(){
      window.print();
    }
  },

};
</script>

<style>

</style>
