<template>
  <el-card v-if="brand.id" class="app-container">
    <div v-if="imageSrc" class="modal">
      <span class="close" @click="closeModal">&times;</span>
      <div class="lightBox">
        <img :src="imageSrc" alt="">
      </div>
    </div>
    <el-tabs v-model="activeActivity">
      <el-tab-pane id="view" v-loading="updating" label="View" name="first">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="brand.name" />
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="brand.code" />
          </el-form-item>
          <el-form-item label="Description">
            <el-input v-model="brand.description" />
          </el-form-item>
          <el-form-item :label="$t('brand.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>

          <el-form-item v-if="!imgurl" :label="$t('brand.selected_image')">
            <img
              :src="imgURL + brand.image"
              height="200px"
              width="200px"
              @click="copySRC"
            >
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('brand.selected_image')">
            <img :src="imgurl">
          </el-form-item>
          <!-- <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item> -->
        </el-form>
      </el-tab-pane>

      <el-tab-pane v-loading="updating" label="Edit" name="second">
        <el-form>
          <el-form-item label="Name">
            <el-input v-model="brand.name" />
          </el-form-item>
          <el-form-item label="Code">
            <el-input v-model="brand.code" />
          </el-form-item>
          <el-form-item label="Description">
            <el-input v-model="brand.description" />
          </el-form-item>
          <el-form-item :label="$t('brand.image')" prop="image">
            <input type="file" @change="imageChanged($event)">
          </el-form-item>

          <el-form-item v-if="!imgurl" :label="$t('brand.selected_image')">
            <img

              :src="imgURL + brand.image"
              height="200px"
              width="200px"
            >
          </el-form-item>
          <el-form-item v-if="imgurl" class="preview" :label="$t('brand.selected_image')">
            <img :src="imgurl">
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit"> Update </el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
    </el-tabs>
  </el-card>
</template>

<script>
import { fetchBrand } from '@/api/brand';
import Resource from '@/api/resource';
const brandResource = new Resource('brands');

export default {

  data() {
    return {
      activeActivity: 'first',
      updating: false,
      newbrandImage: '',
      image: '',
      brand: {},
      imgurl: null,
      imgURL: process.env.MIX_AWS_IMAGE_URL,
      imageSrc: '',
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id); // fetch the requested brand
  },

  methods: {

    copySRC(event){
      this.imageSrc = event.target.src;
    },

    closeModal() {
      this.imageSrc = '';
    },
    // fecth the requested brand data
    fetchData(id) {
      fetchBrand(id)
        .then((response) => {
          this.brand = response.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },

    // get the brand image while selected new image
    imageChanged(e){
      const image = e.target.files[0];
      this.imgurl = URL.createObjectURL(image);
      const data = new FormData();
      data.append('photo', image);
      axios.post('/api/brands/get-image', data).then(res => {
        this.image = res.data.imageName;
        // console.log(this.image);
      });
    },
    // update new brand
    onSubmit() {
      // this.$store.dispatch('checkPin').then((res, err) => {
      this.updating = true;
      this.brand.image = this.image;
      brandResource
        .update(this.brand.id, this.brand)
        .then((response) => {
          this.updating = false;
          // this.$router.push({name: 'brandList'})
          this.$message({
            message: 'brand information has been updated successfully',
            type: 'success',
            duration: 5 * 1000,
          });
        })
        .catch((error) => {
          console.log(error);
          this.updating = false;
        });
      // });
    },
  },
};
</script>

<style lang="scss" scoped>
.brand-activity {
  .brand-block {
    .brandname,
    .description {
      display: block;
      margin-left: 50px;
      padding: 2px 0;
    }
    img {
      width: 40px;
      height: 40px;
      float: left;
    }
    :after {
      clear: both;
    }
    .img-circle {
      border-radius: 50%;
      border: 2px solid #d2d6de;
      padding: 2px;
    }
    span {
      font-weight: 500;
      font-size: 12px;
    }
  }
  .post {
    font-size: 14px;
    border-bottom: 1px solid #d2d6de;
    margin-bottom: 15px;
    padding-bottom: 15px;
    color: #666;
    .image {
      width: 100%;
    }
    .brand-images {
      padding-top: 20px;
    }
  }
  .list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 13px;
    }
    .link-black {
      &:hover,
      &:focus {
        color: #999;
      }
    }
  }
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n + 1) {
    background-color: #d3dce6;
  }
}

.el-select--medium {
  width: 100%;
  padding: 8px;
  border-color: #c0c4cc;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}
img{
  cursor: pointer;
}
</style>
