<template>
  <div class="app-container">
    <form-component mood="create" :purchaseOrder="newPurchaseOrder" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const  purchaseOrderResource = new Resource('purchaseOrders');
import { getCurrentDate } from '@/utils/helper.js';
import { getItemLastId } from '@/utils/helper.js';
export default {
  name: 'OrderCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newPurchaseOrder: {
        pon: '',
        purchase_requisition_id: null,
        order_date: '',
        delivery_date: '',
        order_by: '',
        order_type: null,
        order_by: '',
        project_id: '',
        warehouse_id: '',
        note: '',
        status: null,
        ItemRows: [
          {
            product_id: '',
            quantity: '',
            unit_id: '',
          },
        ]
      }
    };
  },
  async created(){
    // this.getAllProjectTypes();
    await getItemLastId('PurchaseOrder').then(res => {
      console.log
      this.newPurchaseOrder.pon = 'PON#'+res;
    })
    this.newPurchaseOrder.order_date = getCurrentDate();
  },
  methods: {
    
  }
  
};
</script>

<style>
</style>