<template>
  <div class="app-container">
    <form-component mood="edit" :purchaseOrder="purchaseOrder" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const purchaseOrderResource = new Resource('purchaseOrders');
export default {
  name: 'PurchaseOrderEdit',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      purchaseOrder: {},
    };
  },
  created(){
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },

  methods: {
    async fetchData(id) {
      await purchaseOrderResource.get(id).then(({ data }) => {
        this.purchaseOrder = data;
        console.log('Edit.vue',this.purchaseOrder);
      });
    },
  }
  
};
</script>

<style>
</style>