<template>
  <div class="app-container">
    <div class="company_details">
      <h3>Type:
              <template v-if="purchaseOrder.order_type == 1">From Warehouse</template>
              <template v-if="purchaseOrder.order_type == 2">From Project</template>
      </h3>
      <h3>
        <template v-if="purchaseOrder.order_type == 1">Warehouse: {{purchaseOrder.warehouse}}</template>
        <template v-if="purchaseOrder.order_type == 2">Project: {{purchaseOrder.project}}</template>
      </h3>
      <h3>Delivery Date: {{ purchaseOrder.delivery_date }}</h3>
      <h3>Order by: {{ purchaseOrder.order_by }}</h3>
      <h3>Status: {{ purchaseOrder.status }}</h3>
      <h3>Note: {{ purchaseOrder.note }}</h3>
    </div>
    <div class="purchaseOrder_details">
      <div class="purchaseOrder_head">
        <p>PRN No: {{ purchaseOrder.pon }}</p>
        <p>Date: {{ purchaseOrder.order_date }}</p>
      </div>
      <div class="purchaseOrder_table">
        <table>
          <thead>
            <tr>
              <th rowspan="2">ID</th>
              <th colspan="3">Products</th>
            </tr>
            <tr valign="top">
              <th>Name</th>
              <th>Quantity</th>
              <th>Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in purchaseOrder.ItemRows" :key="index">
              <td>{{ item.id}}</td>
              <td colspan="3">
                <tr id="inner_tr">
                  <td class="inner_td" v-if="item.product" >{{ item.product.name}}</td>
                  <td class="inner_td">{{ item.quantity}}</td>
                  <td class="inner_td">{{ item.unit.name}}</td>
                </tr>
              </td>
            </tr>
          </tbody>
          <!-- <tfoot class="tfoot">
            <tr>
              <td colspan="3"> Total </td>
              <td> {{ totalDebitAmount }}</td>
              <td> {{ totalCreditAmount }}</td>
            </tr>
          </tfoot> -->
        </table>
      </div>
    </div>
    <div id="signs">
      <el-row :gutter="20">
        <el-col :span="6">
          <span></span>
          <p>Prepaired By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Checked By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Recommanded By</p>
        </el-col>
        <el-col :span="6">
          <span></span>
          <p>Approved By</p>
        </el-col>
      </el-row>
      <el-button type="info" @click="print">Print</el-button>
    </div>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const purchaseOrderResource = new Resource('purchaseOrders');
const converter = require('number-to-words');
export default {
  data(){
    return {
      purchaseOrder: {},
    }
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
  },
  methods: {
    async fetchData(id) {
      await purchaseOrderResource.get(id).then(({ data }) => {
        this.purchaseOrder = data;
        console.log(this.purchaseOrder);
      });
    },
    print(){
      window.print();
    }
  },
};
</script>

<style scoped>
.company_details {
  text-align: center;
}
.purchaseOrder_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 50px;
  font-weight: bold;
}
#inner_tr {
  width: 100% !important;
  display: block;
}
td,
th {
  min-width: 200px !important;
  
}
td.inner_td {
  min-width: 33% !important;
  display: inline-block;
}

/* purchaseOrder table css */
.purchaseOrder_table,
.purchaseOrder_table td,
.purchaseOrder_table th {
  border: 1px solid #ddd;
  border-left:0 ;
  border-right:0 ;
  text-align: left;
  vertical-align: top;
}
.purchaseOrder_table th {
  text-align: center;
  background-color: #999;
}
.purchaseOrder_table .numaric_td,
.purchaseOrder_table .numaric_td .el-input__inner {
  text-align: right;
}

.purchaseOrder_table {
  border-collapse: collapse;
}

.purchaseOrder_table th,
.purchaseOrder_table td {
  padding: 5px;
}
.purchaseOrder_table .tbody tr:nth-child(even) {
  background-color: #ddd;
}
.tfoot {
  font-weight: bold;
  background-color: #999;
}

#signs {
  margin-top: 150px;
  text-align: center;
}
#signs span {
  width: 100%;
  height: 1px;
  background: #111;
  display: block;
}
</style>