<template>
  <div class="app-container">
    <form-component mood="create" :delivery="newDelivery" />
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const projectTypeResource = new Resource('project-type');
import { getCurrentDate } from '@/utils/helper.js';
import { getItemLastId } from '@/utils/helper.js';
export default {
  name: 'DeliveryCreate',
  components: { Pagination, FormComponent },
  directives: { waves, permission },
  data() {
    return {
      newDelivery: {
        delivery_date: '',
        ref_no: '',
        gatepass_number: '',
        delivered_by: '',
        delivered_by_phone: '',
        delivery_type: '',
        selectedFromId: '',
        selectedToId: '',
        ItemRows: [
          {
            product_id: '',
            quantity: '',
            availability: '',
          },
        ]
      }
    };
  },
  async created(){
    this.getAllProjectTypes();
    await getItemLastId('Delivery').then(res => {
      this.newDelivery.gatepass_number = 'GP#'+res;
    })
    this.newDelivery.delivery_date = getCurrentDate();
  },
  methods: {
    async getAllProjectTypes(){
      const projectTypeResponse = await projectTypeResource.list();
      this.projectTypes = projectTypeResponse.data;
    },
  }
  
};
</script>

<style>
</style>