<template>
  <div class="app-container">
    <form-component :shopInfo="shopInfo" :warehouseInventories="warehouseInventories" :sale="newSale" :paymentMethods="paymentMethods" v-if="registerOpen" mood="create" />
    <el-dialog title="Open new Register" :visible.sync="dialogVisible" width="50%">
      <el-form
        :model="registerData"
        :rules="rules"
        ref="registerForm"
        label-width="120px"
        class="demo-ruleForm"
      >
        <el-form-item label="Opening Balance" prop="opening_balance">
          <el-input
            v-model="registerData.opening_balance"
            placeholder="Please Enter Opening Balance"
          ></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <!-- <el-button @click="dialogVisible = false">Cancel</el-button> -->
        <el-button type="primary" @click="openNewRegister">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue';
import { getItemLastId } from '@/utils/helper.js';
import Resource from '@/api/resource';
import axios from 'axios';
const registerResource = new Resource('sale-register');
const posSettingResource = new Resource('pos-setting');
import { EventBus } from '@/app';
export default {
  components: { FormComponent },
  data() {
    return {
      dialogVisible: false,
      shopInfo: {},
      newSale: {
        sale_date: '',
        sale_time: '',
        customer_id: null,
        customer_name: '',
        warehouse_id: null,
        warehouse_name: '',
        printPaperSize: '',
        saleItems: [],
        vat: '',
        tax: '',
        discount: 0,
        subTotal: 0,
        grand_total: 0,
        totalItems: 0,
        shopInfo: {},
        pay_type: 'Debit Sale',
        paymentInfos: [
          {
            amount: 0.0,
            method_id: '',
            allaw_change_due_amount: 0,
          },
        ],
      },
      paymentMethods: [],
      warehouseInventories: [],
      registerOpen: '',
      posSetting: {},
      registerData: {
        opening_balance: 0,
      },
      rules: {
        opening_balance: [
          {
            required: true,
            message: 'Opening Balance is required',
            trigger: 'blur',
          },
        ],
      },
    };
  },
  async created() {
    this.getModelData();
    this.getPosSetting();
    this.checkRegister();
    EventBus.$on('register-closed', () => {
      this.checkRegister();
    });
  },
  methods: {
    async getModelData() {
      const models = [
        { name: 'paymentMethod', model: 'PaymentMethod' },
        { name: 'warehouseInventory', model: 'WarehouseInventory' },
      ];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.paymentMethods = response.data[0].paymentMethod;
        this.warehouseInventories = response.data[1].warehouseInventory;
      });
      this.newSale.paymentInfos[0].amount = 0;
      this.newSale.paymentInfos[0].method_id = '';
      this.newSale.paymentInfos[0].allaw_change_due_amount = 0;
    },
    async getPosSetting() {
      await posSettingResource
        .get(1)
        .then((response) => {
          this.shopInfo = response.data;
          this.newSale.vat = response.data.vat;
          this.newSale.tax = response.data.tax;
          this.newSale.customer_id = response.data.customer_id;
          this.newSale.customer_name = response.data.customer.name;
          this.newSale.warehouse_name = response.data.warehouse.name;
          this.newSale.warehouse_id = response.data.warehouse.id;
          this.newSale.printPaperSize = response.data.printPaperSize.dimension;
        })
        .catch((err) => {
          console.log(err.message);
        });
    },
    async checkRegister() {
      await axios
        .get('/api/check-opened-sale-register')
        .then(({ data }) => {
          if (data.data && data.data.close_by === null) {
            this.registerOpen = true;
            this.dialogVisible = false;
          } else {
            this.registerOpen = false;
            this.dialogVisible = true;
          }
          this.registerData = {
            opening_balance: 0,
          };
        })
        .catch((error) => {
          console.log(error.message);
        });
    },
    openNewRegister() {
      this.$refs['registerForm'].validate((valid) => {
        if (valid) {
          registerResource.store(this.registerData).then(({ data }) => {
            this.checkRegister();
          });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
  },
  watch: {
    registerOpen(newVal) {
      this.checkRegister();
    },
  },
};
</script>

<style>
</style>