<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <router-link to="/sales/create">
        <el-button
        v-waves
        v-permission="['add purchase']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-plus"
        >
          Create Sale
        </el-button>
      </router-link>

      <el-button
          class="filter-item"
          style="margin-left: 10px"
          type="primary"
          icon="el-icon-view"
          @click="salesReport"
      > Sales Report</el-button>

  <!-- trail balance modal -->
    <el-dialog :title="'View Sales Report'" :visible.sync="SalesReportDialogFormVisible">
      <el-form id="salesReportForm" :model="sales" ref="salesReportForm" class="demo-ruleForm">
        <el-form-item label="From" prop="from">
          <el-date-picker
            v-model="sales.from"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="To" prop="to">
          <el-date-picker
            v-model="sales.to"
            type="date"
            placeholder="Pick a Date"
            format="yyyy/MM/dd"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="SalesReportDialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="viewSalesReport">Confirm</el-button>
      </span>
    </el-dialog>

      
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" :min-width="10" type="index" />

      <el-table-column align="center" sortable prop="sale_date" label="Sale Date" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.sale_date }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="sale_id" label="Sale ID" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.sale_id }}</span>
        </template>
      </el-table-column>

       <el-table-column align="center" label="Pay Type" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.pay_type }}</span>
        </template>
      </el-table-column>
<!--
      <el-table-column align="center" label="Status" :min-width="10">
        <template slot-scope="scope">
          <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="supplier_id" label="Supplier" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.supplier }}</span>
        </template>
      </el-table-column> -->

      <el-table-column align="center" label="Total" :min-width="20">
        <template slot-scope="scope">
          <span>{{ scope.row.grand_total }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" :min-width="15">
        <template slot-scope="scope">
          <router-link :to="'/sales/view/' + scope.row.id">
            <el-button
              v-permission="['view purchase']"
              type="primary"
              size="small"
              icon="el-icon-view"
            >
              View
            </el-button>
          </router-link>
          <el-button
              v-permission="['view purchase']"
              type="primary"
              size="small"
              icon="el-icon-printer"
              @click="getSale(scope.row.id)"

            >
              Print
            </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />


    <el-dialog title="Print Invoice" :visible.sync="dialogVisible" width="30%">
      <div id="printMe" ref="invoice" style="font-size: 10px; margin: 0 auto">
        <invoice-component
          :shopInfo="shopInfo"
          :sale="sale"
          :vatAmount="vatAmount"
          :taxAmount="taxAmount"
          :discountAmount="discountAmount"
          :paidAmount="paidAmount"
        />
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const saleResource = new Resource('sales');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive
import axios from 'axios';
import InvoiceComponent from './components/InvoiceComponent.vue';
const posSettingResource = new Resource('pos-setting');

export default {
  name: 'ProductList',
  components: { Pagination, InvoiceComponent },
  directives: { waves, permission },
  data() {
    return {
      list: null,
      total: 0,
      sales: {},
      SalesReportDialogFormVisible: false,
      loading: true,
      downloading: false,
      productCreating: false,
      dialogVisible: false,
      vatAmount: 0,
      taxAmount: 0,
      discountAmount: 0,
      paidAmount: 0,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      values: {},
      newProductImage: '',
      dialogFormVisible: false,

      categories: [],
      brands: [],
      units: [],
      suppliers: [],
      warehouses: [],
      products: [],
      sale: {},
      shopInfo: {},
    };
  },
  created() {
    this.getList();
    this.getActiveItems();
    this.getPosSetting();
  },
  methods: {
    getProductImage(img) {
      return 'images/product/' + img;
    },
    getActiveItems() {
      axios
        .get('/api/active/items')
        .then(({ data }) => {
          this.suppliers = data.suppliers;
          this.warehouses = data.warehouses;
          this.products = data.products;
          this.categories = data.categories;
          this.brands = data.brands;
          this.units = data.units;
        })
        .catch((error) => console.log(error));
    },
    async getList() {
      this.loading = true;
      const response = await saleResource.list(this.query);
      const data = response.data;
      this.list = data;
      
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },
    async getPosSetting() {
      await posSettingResource
        .get(1)
        .then((response) => {
          this.shopInfo = response.data;
        })
        .catch((err) => {
          console.log(err.message);
        });
    },
    getSale(id){
      this.sale = this.list.find(el => el.id === id);
      this.checkItemChange();
      this.dialogVisible = true;
      setTimeout(() => {
        this.$print(this.$refs['invoice']);
      }, 200);
      setTimeout(() => {
        this.dialogVisible = false;
      }, 200);
      
    },
    checkItemChange() {
      let subtotal = 0;
      let oldTotal = 0;
      let discountAmount = 0;
      let discountOnTotal = 0;
      let vatAmount = 0;
      let taxAmount = 0;
      let totalItems = 0;
      let subTotalIncludingVat = 0;
      // calculate Item Total
      this.sale.saleItems.forEach((item) => {
        totalItems += parseFloat(item.quantity);
        item.totalVat = this.calcProductVat(item);
        item.totalDiscount = this.calcProductDiscount(item);
        item.totalWithOutVat = this.calcProductPrice(item);
        item.sub_total = this.calcProductSubTotal(item);
        discountAmount += parseFloat(item.totalDiscount);
        vatAmount += parseFloat(item.totalVat);
        subtotal += parseFloat(item.sub_total);
      });
      this.vatAmount = vatAmount;
      this.discountAmount = discountAmount;
      this.sale.subTotal = subtotal;
      this.sale.totalItems = totalItems;
      
    },
    
    calcProductVat(product) {
      let vatAmount = 0;
      let priceIncludeVat = 0;
      if (this.sale.vat !== 0) {
        if (this.sale.vat.charAt(this.sale.vat.length - 1) === '%') {
          if (this.shopInfo.vat_status === 'including_vat') {
            priceIncludeVat =
              parseFloat(product.price) -
              (parseFloat(product.price) * parseFloat(this.sale.vat)) / 100;
            vatAmount = (priceIncludeVat * parseFloat(this.sale.vat)) / 100;
          } else {
            vatAmount =
              (parseFloat(product.price) * parseFloat(this.sale.vat)) / 100;
          }
        } else {
          if (this.shopInfo.vat_status === 'including_vat') {
            priceIncludeVat =
              parseFloat(product.price) - parseFloat(this.sale.vat);
            vatAmount = parseFloat(product.price) - priceIncludeVat;
          } else {
            vatAmount = parseFloat(this.sale.vat);
          }
        }
      }
      vatAmount = vatAmount * parseFloat(product.quantity);
      return vatAmount;
    },
    calcProductDiscount(product) {
      let discountAmount = 0;
      if (product.discount_amount > 0) {
        discountAmount = product.discount_amount * parseFloat(product.quantity);
      }
      return discountAmount;
    },
    calcProductPrice(product) {
      let price = 0;
      if (this.shopInfo.vat_status === 'including_vat') {
        // price = (product.price) - product.vat;
        price = product.price * parseFloat(product.quantity) - product.totalVat;
      } else {
        // price = (product.price);
        price = product.price * parseFloat(product.quantity);
      }
      return price;
    },
    calcProductSubTotal(product) {
      let subTotal = 0;
      if (product.price > 0) {
        subTotal =
          product.totalWithOutVat + product.totalVat - product.totalDiscount;
      }
      return subTotal;
    },
    salesReport(){
      this.SalesReportDialogFormVisible = true;
      this.$nextTick(() => {
        this.$refs['salesReportForm'].clearValidate();
      });
    },
    viewSalesReport(){
      this.$refs['salesReportForm'].validate((valid) => {
        if (valid) {
          this.$router.push({ path: '/sales/sale-report', query: this.sales, props: true })
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },

    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'purchase date', 'purchase by', 'referance number', 'discount', 'discount type', 'warehouse', 'supplier', 'shipping cost', 'status', 'grand_total'];
        const filterVal = ['id', 'entry_date', 'creator', 'ref_number', 'discount', 'discount_type', 'warehouse', 'supplier', 'shipping_cost', 'status', 'grand_total'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'purchase-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
