<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input
        v-model="query.keyword"
        :placeholder="$t('table.keyword')"
        style="width: 200px"
        class="filter-item"
        @keyup.enter.native="handleFilter"
      />
      <el-button
        v-waves
        class="filter-item"
        type="primary"
        icon="el-icon-search"
        @click="handleFilter"
      >
        {{ $t('table.search') }}
      </el-button>
      <router-link to="/sales/create">
        <el-button
        v-waves
        v-permission="['add purchase']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-plus"
        >
          Create Sale
        </el-button>
      </router-link>
      <el-button
        v-waves
        v-permission="['manage export']"
        :loading="downloading"
        class="filter-item"
        type="primary"
        icon="el-icon-download"
        @click="handleDownload"
      >
        {{ $t('table.export') }}
      </el-button>
    </div>
    <el-table
      v-loading="loading"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%"
    >
      <el-table-column align="center" label="ID" :min-width="10" type="index" />

      <el-table-column align="center" sortable prop="open_by" label="Open By" :min-width="15">
        <template slot-scope="scope">
          <span v-if="scope.row.open_by_user">{{ scope.row.open_by_user.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="open_date_time" label="Open Date Time" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.open_date_time }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="opening_balance" label="Opening Balance" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.opening_balance }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" sortable prop="close_by" label="Closed By" :min-width="15">
        <template slot-scope="scope">
          <span v-if="scope.row.close_by_user">{{ scope.row.close_by_user.name }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="close_date_time" label="Close Date Time" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.close_date_time }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="closing_balance" label="Closing Balance" :min-width="15">
        <template slot-scope="scope">
          <span>{{ scope.row.closing_balance }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" sortable prop="closing_balance" label="Status" :min-width="15">
        <template slot-scope="scope">
          <span v-if="scope.row.close_date_time === null">Open</span>
          <span v-if="scope.row.close_date_time !== null">Closed</span>
        </template>
      </el-table-column>

      <!-- <el-table-column align="center" label="Actions" :min-width="25">
        <template slot-scope="scope">
          <router-link :to="'/purchase/purchases/edit/' + scope.row.id">
            <el-button
              v-permission="['update purchase']"
              type="primary"
              size="small"
              icon="el-icon-edit"
            >
              Edit
            </el-button>
          </router-link>

          <router-link :to="'/purchase/purchases/view/' + scope.row.id">
            <el-button
              v-permission="['view purchase']"
              type="primary"
              size="small"
              icon="el-icon-edit"
            >
              View
            </el-button>
          </router-link>
        </template>
      </el-table-column> -->
    </el-table>

    <pagination
      v-show="total > 0"
      :total="total"
      :page.sync="query.page"
      :limit.sync="query.limit"
      @pagination="getList"
    />
  </div>
</template>

<script>
import Resource from '@/api/resource';
const saleRegisterResource = new Resource('sale-register');
import Pagination from '@/components/Pagination'; // Secondary package based on el-pagination
import waves from '@/directive/waves'; // Waves directive
import permission from '@/directive/permission'; // Permission directive

export default {
  name: 'ProductList',
  components: { Pagination },
  directives: { waves, permission },
  data() {
    return {
      list: null,
      total: 0,
      loading: true,
      downloading: false,
      query: {
        page: 1,
        limit: 100,
        keyword: '',
      },
      values: {},
    };
  },
  created() {
    this.getList();
  },
  methods: {
    async getList() {
      this.loading = true;
      const response = await saleRegisterResource.list(this.query);
      const data = response.data;
      this.list = data;
      this.total = response.meta.total;
      this.loading = false;
    },
    handleFilter() {
      this.query.page = 1;
      this.getList();
    },

    handleDownload() {
      this.downloading = true;
      import('@/vendor/Export2Excel').then((excel) => {
        const tHeader = ['id', 'purchase date', 'purchase by', 'referance number', 'discount', 'discount type', 'warehouse', 'supplier', 'shipping cost', 'status', 'grand_total'];
        const filterVal = ['id', 'entry_date', 'creator', 'ref_number', 'discount', 'discount_type', 'warehouse', 'supplier', 'shipping_cost', 'status', 'grand_total'];
        const data = this.formatJson(filterVal, this.list);
        excel.export_json_to_excel({
          header: tHeader,
          data,
          filename: 'purchase-list',
        });
        this.downloading = false;
      });
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
  },
};
</script>
<style lang="scss" scoped>
.d-none {
  display: none;
}
.edit-input {
  padding-right: 100px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.dialog-footer {
  text-align: left;
  padding-top: 0;
  margin-left: 150px;
}
.app-container {
  flex: 1;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  .block {
    float: left;
    min-width: 250px;
  }
  .clear-left {
    clear: left;
  }
}
.unblock {
  background-color: green;
  border: 0;
}
</style>
