<template>
  <div class="app-container">
    <div class="top">
      <h4>Sales Report</h4>
      <p>
        {{ query.from ? query.from : firstDate }} to
        {{ query.to ? query.to : lastDate }}
      </p>
    </div>
    <table class="item_table" v-loading="loading">
       <thead class="thead">
        <tr valign="top">
          <th >Sale Date</th>
          <th >warehouse_name</th>
          <th >customer_name</th>
          <th >product code</th>
          <th >product name</th>
          <th >product price</th>
          <th >Qty</th>
          <th >Sub-Total</th>
          <th >vat</th>
          <th>Total</th>
        </tr>
        </tr>
        </tr>
        </tr>
      </thead>              

      <tbody class="tbody" v-for="(report, index) in saleReports" :key="index">
        <tr> 
          <td >{{report.sale_date}}</td>
          <td >{{report.warehouse_name}}</td>
          <td >{{report.customer_name}}</td>
            <td>
              <tr v-for="(item) in report.saleItems">
                <td class="items">{{item.code}}</td>
            </tr>
          </td>
              <td>
              <tr v-for="(item) in report.saleItems">
                <td class="items">{{item.name}}</td>
                    </tr>
                    
          </td>
              <td>
              <tr v-for="(item) in report.saleItems">
                <td class="items">{{item.price}}</td>         
              </tr>
          </td>
              <td>
              <tr v-for="(item) in report.saleItems">
                <td class="items">{{item.quantity}}</td>           
                </tr>
          </td>
          <td>
              <tr v-for="(item) in report.saleItems">
                <td class="items">{{item.sub_total}}</td>
             </tr>
          </td>
              <td>
              <tr  v-for="(item) in report.saleItems">
                <td class="items">{{item.vat}}</td>           
              </tr>
          </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>Total</b></td>
            <td>{{report.saleItems.reduce((acc, item) => acc + item.quantity, 0)}}</td>
            <td>{{$totalPrice=report.saleItems.reduce((acc, item) => acc + item.sub_total, 0)}}</td>  
            <td>{{$totalVat=report.saleItems.reduce((acc, item) => acc + item.vat, 0)}}</td>
            <td>{{$totalPrice+$totalVat}}</td>
          </tr>
      </tbody>
    </table>
    <el-button
      style="
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
      "
      type="info"
      @click="print"
      >Print</el-button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  name: 'saleReport',
  data() {
    return {
      loading: false,
      query: {},
      list:null,
      totalVat:0,
      totalPrice:0,
      saleReports: [],
      firstDate: '',
      lastDate: '',
    };
  },
  computed: {
    ...mapGetters(['office_info']),
  },
  created() {
    const query = this.$route.query;
    this.query = query;
    this.getReport(this.query);
  },
  methods: {
    async getReport(query) {
      this.loading = true;
      await axios
        .post('/api/sales-report', query)
        .then(({ data }) => {
         // this.saleReport = data.saleReport;
          this.saleReports=data.saleReport;
          this.firstDate = data.firstDate;
          this.lastDate = data.lastDate;
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          this.$message.error(error.response.data.message);
        });
    },
    print() {
      window.print();
    },
  },
};
</script>

<style scoped>
.top {
  text-align: center;
}

table,
td,
th {
  border: 1px solid #555;
  text-align: left;
}
table th {
  text-align: center;
}
.numaric_td,
.numaric_td .el-input__inner {
  text-align: right;
}
table .tfoot td {
  text-align: right;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 5px;
}
.tbody tr:nth-child(even) {
  background-color: #e7e7e7;
}
.thead th,
tfoot td {
  background-color: #ddd;
  color: #000;
}
.tbody tr td tr .items{
  border:none;
}
</style>
