<template>
  <div class="app-container">
    <form-component
      v-if="shopInfo"
      :sale="sale"
      :paymentMethods="paymentMethods"
      mood="view"
      :shopInfo="shopInfo"
    />
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue';
import Resource from '@/api/resource';
const saleResource = new Resource('sales');
const posSettingResource = new Resource('pos-setting');
export default {
  components: { FormComponent },
  data() {
    return {
      sale: {},
      activeName: 'view',
      paymentMethods: [],
      shopInfo: {},
    };
  },
  created() {
    const id = this.$route.params && this.$route.params.id;
    this.fetchData(id);
    this.getModelData();
    // this.getPosSetting();
  },
  methods: {
    async fetchData(id) {
      await posSettingResource
        .get(1)
        .then((response) => {
          this.sale.shopInfo = response.data;
          this.shopInfo = response.data;
        })
        .catch((err) => {
          console.log(err.message);
        });
      await saleResource.get(id).then(({ data }) => {
        this.sale = data;
        // console.log(this.sale);
      });
    },
    async getModelData() {
      const models = [{ name: 'paymentMethod', model: 'PaymentMethod' }];
      await axios.post('/api/get-model-data', models).then((response) => {
        this.paymentMethods = response.data[0].paymentMethod;
      });
    },
  
  },
};
</script>

<style>
</style>